<template>
  <div class="container mt-3">
    <div class="about-section">
      <h2 class="about-section__name">{{ $t("aboutPage.team.caption") }}</h2>
      <div class="about-section__container justify-content-center">
        <div class="row justify-content-center">
          <div :key="item.id" v-for="item in persons" class="ml-2 mr-2">
            <TeamCard
              :personID="item.id"
              :info="item.info"
              :name="item.name"
              :position="item.position"
              :shortInfo="item.shortInfo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { I18N } from "../config";
import TeamCard from "../components/TeamCard";
import ModalAbout from "../components/ModalAbout";

export default {
  name: "about",
  head() {
      return {
          title: this.metaTitleData,
          meta: [{
              hid: 'description',
              name: 'description',
              content: 'Узнать больше о команде профессионалов и наешм уникальном проекте iFinik Investments.'
          }]
      }
  },
  components: { TeamCard, ModalAbout },
  computed: {
    aboutText() {
      return I18N.vueI18n.messages[this.$i18n.locale].aboutPage.description;
    },
    persons() {
      return I18N.vueI18n.messages[this.$i18n.locale].aboutPage.team.persons;
    },
    metaTitleData() {
        if(this.lang === 'ru') {
            return 'Наша Команда | О проекте | iFinik'
        } else if (this.lang === 'en') {
            return 'Our Team | About Project | iFinik'
        } else {
            return 'Наша Команда | About Project | iFinik'
        }
    }
  }
};
</script>

<style lang="scss" scoped>
.about-section {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $spacer;
  margin-bottom: $spacer * 5;

  &__container {
    padding: $spacer * 6;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    box-shadow: inset 0 -1px 0 $primary-bg;
    width: 100%;
    padding: $spacer * 6;
  }
}
</style>
