<template>
  <div>
    <FullNews :rating="0" :selectedNews="selectedNews"/>
    <div class="section-title">
      <h3 class="section-title__text">{{ $t('newsPage.relatedNews') }}</h3>
    </div>
    <div>
      <masonry
        :cols="{default: 3, 1180: 2, 768: 1}"
        :gutter="20"
      >
        <div :key="item" v-for="item in 3">
          <NewsCard :news="relatedNews[item]"/>
        </div>
      </masonry>
    </div>
  </div>
</template>

<script>
import NewsCard from '../../../components/News/NewsCard';
import FullNews from '../../../components/News/FullNews';

export default {
  components: {
    FullNews,
    NewsCard,
  },
  asyncData({ store, params }) {
    let selectedNews;
    const allNews = store.state.modules.news.news;
    const relatedNews = Object.values(store.state.modules.news.news);
    selectedNews = allNews[params.id];
    return {
      allNews: allNews,
      selectedNews: selectedNews,
      relatedNews: relatedNews.reverse()
    };
  },
  name: 'topID'
};
</script>

<style lang="scss" scoped>
  .section-title {
    margin-bottom: ($spacer * 5);
    background: $white;
    border-radius: $border-radius;

    &__text {
      padding: ($spacer * 6);
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-xl;
      color: $text-color;
    }

  }
</style>
