<template>
  <div v-if="selectedNews">
    <div class="full-news">
      <div class="full-news__header">
        <div class="full-news__info">
          <span class="full-news__company-name">{{selectedNews.source}}&nbsp;•&nbsp;</span>
          <TimeAgoTicker :date="normalizeDate"/>
        </div>
        <div class="full-news__buttons">
          <SocialBtnGroup :path="this.$route.path" :title="selectedNews.title"/>
        </div>
      </div>
      <h1 class="full-news__title">{{selectedNews.title}}</h1>
      <p v-if="selectedNews.subTitle" class="full-news__sub-title">{{selectedNews.subTitle}}</p>
      <div class="mb-4">
        <img alt="News image"
             :src="`https://api.ifinik.com/${selectedNews.photos[0]}`"
             v-if="selectedNews.photos[0]"
             class="full-news__image">
      </div>
      <p class="full-news__alt-text" v-if="selectedNews.altText">{{selectedNews.altText}}</p>
      <div>
        <p :key="n" class="full-news__description" v-for="n in selectedNews.text.split('\n')">{{ n }}<br></p>
      </div>
      <div class="row no-gutters full-news__footer" v-if="selectedNews.author">
        <div class="author-block">
          <span class="author-block__name">{{by}}&nbsp;{{selectedNews.source}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import TimeAgoTicker from '../TimeAgoTicker';
import SocialBtnGroup from '../SocialBtnGroup';
import BookmarkBtn from '../BookmarkBtn';
import NewsRating from './NewsRating';

export default {
  name: 'FullNews',
  components: {
    NewsRating,
    BookmarkBtn,
    SocialBtnGroup,
    TimeAgoTicker
  },
  props: {
    selectedNews: Object,
    rating: Number,
  },
  computed: {
    normalizeDate() {
      const date = this.selectedNews.date;
      return date.replace(/(\d+)\.(\d+)\.(\d+)/, '$2/$1/$3');
    },
    by() {
      return this.$i18n.locale === 'ru' ? '' : 'by'
    }
  }
};
</script>

<style lang="scss" scoped>
  .full-news {
    margin: 0 0 ($spacer * 5);
    background: $white;
    border-radius: $border-radius;
    padding: ($spacer * 12) ($spacer * 27.5) ($spacer * 27.5);
    
    @media #{$tabletLg} {
      padding-top: $spacer * 10;
      padding-bottom: $spacer * 15;
      margin-bottom: $spacer * 4;
    }
    
    @media #{$tablet} {
      padding: ($spacer * 10) ($spacer * 12) ($spacer * 14.5);
    }
    
    @media #{$mobile} {
      border-radius: 0;
      margin: 0 (-$spacer * 4) ($spacer * 4);
      padding: ($spacer * 8) ($spacer * 6) ($spacer * 10.5);
    }

    &__header {
      margin-bottom: ($spacer * 8);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      @media #{$tabletLg} {
        margin-bottom: $spacer * 6;
      }
  
      @media #{$mobile} {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: $spacer * 5;
      }
    }

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__company-name {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-xs;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: $text-color-pale;
      padding-top: 2px;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
  
      @media #{$mobile} {
        margin-top: $spacer * 5;
      }
    }

    &__title {
      font-weight: bold;
      margin-bottom: ($spacer * 4);
      font-style: normal;
      font-size: $font-size-lg * 2;
      line-height: $line-height-lg;
  
      @media #{$tabletLg} {
        line-height: $line-height-xs;
      }
  
      @media #{$tablet} {
        font-size: $font-size-md * 2;
      }
  
      @media #{$mobile} {
        font-size: $font-size-xs * 2;
      }
    }

    &__sub-title {
      margin-bottom: ($spacer * 6);
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }

    &__image {
      width: 100%;
    }

    &__alt-text {
      margin-bottom: ($spacer * 6);
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-md;
      line-height: $line-height-md;
      color: $text-color-pale;
    }

    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      margin-bottom: ($spacer * 6);
    }

    &__footer {
      height: 56px;
    }

    .author-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid $border-light;
      border-radius: $border-radius;
      height: inherit;
      width: 100%;
      padding: ($spacer * 3);

      &__image {
        width: 32px;
        height: 32px;
        border-radius: 2px;
        background-color: $border-light;
        margin: 0 ($spacer * 2);
      }

      &__name {
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        letter-spacing: 0.02em;
        color: $text-color-pale;
      }
    }
  }


</style>
