<template>
  <div>
    <div class="news-card">
      <nuxt-link :to="localePath('/news/feed/' + news.id)"
        ><img
          :src="`https://api.ifinik.com/${news.photos[0]}`"
          alt=""
          class="news-card__image"
          v-if="news.photos[0]"
      /></nuxt-link>

      <div class="news-card__content">
        <div class="content-item__info">
          <nuxt-link :to="localePath('news')" class="info-item__caption">{{
            $t(`menuList[1].name`)
          }}</nuxt-link>
          <span class="info-item__point">&nbsp;•&nbsp;</span>
          <TimeAgoTicker :date="normalizeDate" />
        </div>
        <!-- <div
          class="content-item__info"
          v-if="arrTickers[0] && arrTickers.length <= 2"
        >
          <MarketsRateBtn
            v-for="el in arrTickers"
            :key="el.id"
            :shortCompanyName="el.ticker"
            :value="fixedNumber(el.value)"
          />
        </div> -->
        <!-- <div class="content-item__info" v-if="arrTickers.length > 2">
          <MarketsRateBtn
            v-for="item in 2"
            :key="item"
            :shortCompanyName="arrTickers[item].ticker"
            :value="fixedNumber(arrTickers[item].value)"
          />
          <NumberTicker :number="arrTickers.length - 2" />
        </div> -->
        <h4 class="content-item__title">
          <nuxt-link
            class="content-item__link"
            :to="localePath('/news/feed/' + news.id)"
          >
            {{ news.title }}</nuxt-link
          >
        </h4>
        <p v-if="news.description" class="content-item__description">
          {{ cutTheDescription(news.description) }}&nbsp;...
        </p>
        <p v-if="news.text" class="content-item__description">
          {{ cutTheDescription(news.text) }}&nbsp;...
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import TimeAgoTicker from "../TimeAgoTicker";
import MarketsRateBtn from "../MarketsRateBtn";
import NumberTicker from "~/components/Markets/NumberTickers.vue";

export default {
  name: "NewsCard",
  components: {
    MarketsRateBtn,
    TimeAgoTicker,
    NumberTicker
  },
  mounted() {
  },
  data() {
    return {
      tickers: {}
    };
  },
  props: {
    news: Object
  },
  computed: {
    normalizeDate() {
      const date = this.news.date;
      return date.replace(/(\d+)\.(\d+)\.(\d+)/, "$2/$1/$3");
    },
    arrTickers() {
      return Object.values(this.tickers);
    }
  },
  methods: {
    fixedNumber(number) {
      let num = number;
      const f = x =>
        x.toString().includes(".")
          ? x
              .toString()
              .split(".")
              .pop().length
          : 0;
      if (!isNaN(num) && f(num) > 1) {
        num = Math.floor(num * 100) / 100;
      }
      return num;
    },
    cutTheDescription(str) {
      return str.substring(0, 180);
    },
  }
};
</script>

<style lang="scss" scoped>
.news-card {
  background: $white;
  border-radius: $border-radius;
  margin-bottom: $spacer * 5;
  width: 100%;

  @media #{$tabletLg} {
    margin-bottom: $spacer * 4;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: $spacer * 6;
  }

  &__image {
    cursor: pointer;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: $spacer $spacer 0 0;
  }

  .content-item {
    &__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: $spacer * 4;

      .info-item {
        &__image {
          cursor: pointer;
          width: 100%;
          max-height: 200px;
          object-fit: cover;
          border-radius: $spacer $spacer 0 0;
        }

        &__caption {
          font-style: normal;
          font-weight: bold;
          font-size: $font-size-md;
          color: $primary-light-color;
          line-height: $line-height-md;
          cursor: pointer;
        }

        &__point {
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-xs;
          line-height: $line-height-md;
          letter-spacing: 0.02em;
          color: $text-color-pale;
          padding-top: 2px;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-xl;
      line-height: 24px;
      margin-bottom: $spacer * 2;
    }

    &__link {
      color: $text-color;
      text-decoration: none;
      transition: color $delay ease-in-out;

      &:hover {
        color: $primary-light-color;
        cursor: pointer;
      }
    }

    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-md;
      line-height: $line-height-md;
      margin-bottom: $spacer * 4;
      color: $text-color;
    }
  }
}
</style>
