<template>
  <div>
    <div :class="{ active: $route.params.id === news.id }" class="list-item">
      <TimeAgoTicker :date="normalizeDate(news.date)" />
      <nuxt-link
        :to="localePath('/news/feed/' + news.id)"
        :class="{ active: $route.params.id === news.id }"
        class="list-item__title"
        >{{ news.title }}</nuxt-link
      >
      <div
        class="list-item__markets-btn"
        v-if="arrTickers[0] && arrTickers.length <= 2"
      >
        <!-- <MarketsRateBtn
          v-for="el in arrTickers"
          :key="el.id"
          :shortCompanyName="el.ticker"
          :value="fixedNumber(el.value)"
        />
      </div>
      <div class="list-item__markets-btn" v-if="arrTickers.length > 2">
        <MarketsRateBtn
          v-for="item in 2"
          :key="item"
          :shortCompanyName="arrTickers[item].ticker"
          :value="fixedNumber(arrTickers[item].value)"
        />
        <NumberTicker :number="arrTickers.length - 2" /> -->
      </div>
    </div>
  </div>
</template>

<script>
import TimeAgoTicker from "../TimeAgoTicker";
import MarketsRateBtn from "../MarketsRateBtn";
import NumberTicker from "~/components/Markets/NumberTickers.vue";
export default {
  mounted() {
  },
  components: {
    TimeAgoTicker,
    MarketsRateBtn,
    NumberTicker
  },
  data() {
    return {
      tickers: {}
    };
  },
  computed: {
    arrTickers() {
      return Object.values(this.tickers);
    }
  },
  props: {
    news: Object
  },
  methods: {
    navigateToNews(id) {
      this.$router.push(`/news/feed/${id}`);
    },
    normalizeDate(item) {
      return item.replace(/(\d+)\.(\d+)\.(\d+)/, "$2/$1/$3");
    },
    fixedNumber(number) {
      let num = number;
      const f = x =>
        x.toString().includes(".")
          ? x
              .toString()
              .split(".")
              .pop().length
          : 0;
      if (!isNaN(num) && f(num) > 1) {
        num = Math.floor(num * 100) / 100;
      }
      return num;
    },
  }
};
</script>

<style lang="scss" scoped>
.list-item {
  padding: ($spacer * 4) ($spacer * 6);
  display: flex;
  flex-direction: column;

  &__markets-btn {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-top: $spacer;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    cursor: pointer;
    margin-bottom: $spacer * 2;
    color: $text-color;
    transition: color $delay ease-in-out;

    &:hover {
      text-decoration: none;
      color: $primary-light-color;
    }

    &.active {
      color: $text-color-pale;
    }
  }
}
.active {
  background-color: $border-light;
}
</style>
