<template>
  <div class="news-list">
    <h4 class="news-list__title" v-if="!isLinkTitle">{{title}}</h4>
    <div class="news-list__link-container" v-if="isLinkTitle">
      <nuxt-link :to="localePath('/news/feed/')" class="news-list__title-link">{{title}}</nuxt-link>
      <img src="~/assets/icons/icon-link-arrow.svg?inline" alt="">
    </div>
    <NewsListItem v-for="el in newsFeed" :key="el.id" :news="el"/>
    <ShowMoreBlue/>
  </div>
</template>

<script>
import TimeAgoTicker from '../TimeAgoTicker';
import MarketsRateBtn from '../MarketsRateBtn';
import ShowMoreBlue from "./ShowMoreBlue";
import NewsListItem from "./NewsListItem";

export default {
  name: 'NewsList',
  components: {ShowMoreBlue, MarketsRateBtn, TimeAgoTicker, NewsListItem },
  data() {
    return {
      isActive: false,
    };
  },
  props: {
    newsFeed: Array,
    title: String,
    isLinkTitle: Boolean,
    path: String,
  },
  methods: {
    navigateToNews(id) {
      this.$router.push(`/news/feed/${id}`);
    },
    normalizeDate(item) {
      return item.replace(/(\d+)\.(\d+)\.(\d+)/, '$2/$1/$3');
    }
  }
};
</script>

<style lang="scss" scoped>
  .news-list {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: ($spacer * 6) 0;
    border-radius: $border-radius;
    cursor: pointer;
   

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      margin: 0 0 ($spacer * 4) ($spacer * 6);
    }

    &__link-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__title-link {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      color: $text-color;
      margin: 0 ($spacer * 2) 0 ($spacer * 6);
    }

    &__item {
      padding: ($spacer * 4) ($spacer * 6);
      display: flex;
      flex-direction: column;
    }

    .active {
      background-color: $border-light;
    }

    .item-title {
      margin-top: $spacer;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: $line-height-md;
      cursor: pointer;
      margin-bottom: $spacer * 2;
      color: $text-color;
      transition: color $delay ease-in-out;

      &:hover {
        text-decoration: none;
        color: $primary-light-color;
      }

      &.active {
          color: $text-color-pale;
      }
    }

    &__markets-btn {
      display: flex;
      flex-direction: row;
    }
  }
</style>
