<template>
  <div class="news-rating">
    <button class="news-rating__btn like">
      <img alt="Like icon" src="~/assets/icons/icon-like.svg?inline">
    </button>
    <span :class="[{positive: isPositive}, {negative: isNegative}]"
          class="news-rating__number">{{addPlus}}{{ rating }}</span>
    <button class="news-rating__btn">
      <img alt="Dislike icon" class="rotate" src="~/assets/icons/icon-like.svg?inline">
    </button>
  </div>
</template>

<script>
export default {
  name: 'NewsRating',
  props: {
    rating: Number,
  },
  computed: {
    isPositive() {
      return this.rating > 0;
    },
    isNegative() {
      return this.rating < 0;
    },
    addPlus() {
      return this.isPositive ? '+' : '';
    }
  }
};
</script>

<style lang="scss" scoped>
  .news-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    border: 1px solid $border-light;
    border-radius: $border-radius;
    margin-left: $spacer * 4;

    &__btn {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .like {
      padding-bottom: $spacer * 1.5;
    }

    &__number {
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      color: $text-color-pale;
    }


    .rotate {
      padding-bottom: 4px;
      transform: rotate(180deg);
    }

    .positive {
      color: $succes-color;
    }

    .negative {
      color: $danger-color;
    }
  }
</style>
