<template>
  <div class="show-more">
    <button class="show-more__btn" @click="loadMore">{{btnCaption}}</button>
  </div>
</template>

<script>
import {I18N} from "../../config";

export default {
  name: "ShowMoreBlue",
  computed: {
    btnCaption() {
      return I18N.vueI18n.messages[this.$i18n.locale].newsPage.showMore;
    }
  },
  methods: {
    loadMore() {
      this.$store.commit('modules/news/loadingStarted');
      setTimeout(() => {
        this.$store.commit('modules/news/doNextPage');
        this.$store.dispatch('modules/news/loadNews');
      }, 10);

    }
  }
}
</script>

<style lang="scss" scoped>
  .show-more {
    padding: ($spacer * 6) ($spacer * 6) 0 ($spacer * 6);

    &__btn {
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: $line-height-lg;
      color: $primary-light-color;
    }
  }

</style>
