<template>
  <div class="stocks-table" v-if="arrTickers[0] && loadingData">
    <div
      class="stocks-table__item"
      v-for="el in arrTickers"
      :key="el.id"
      @click="navigateToInstrument(el.ticker)"
    >
      <div class="stocks-table__logo-container">
        <img :src="logos[el.companyId].logoUrl" class="stocks-table__logo" />
      </div>
      <div class="stocks-table__text-container">
        <span class="stocks-table__ticker">{{ el.ticker }}</span>
        <span class="stocks-table__name"
          >{{ logos[el.companyId].fullName }} {{ stockType(el.type) }}</span
        >
      </div>
      <div class="stocks-table__numbers-container">
        <p class="stocks-table__value">$ {{ numFixedPrice(el.price) }}</p>
        <div class="stocks-table__row-numbers">
          <span
            class="stocks-table__value mr-1"
            :class="[
              { 'positive-value': el.change > 0 },
              { 'negative-value': el.change < 0 }
            ]"
            >{{ addPlus(el.change > 0) }}{{ el.changeFormating }}</span
          >
          <span
            class="stocks-table__value"
            :class="[
              { 'positive-value': el.changePerc > 0 },
              { 'negative-value': el.changePerc < 0 }
            ]"
            >({{ numIcludeZero(el.changePerc) }}%)</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { I18N } from "~/config";
export default {
  mounted() {
  },
  props: {
    newsCompanies: Array
  },
  data() {
    return {
      companies: this.newsCompanies,
      tickers: {},
      logos: {},
      loadingData: false
    };
  },
  watch: {
    newsCompanies() {
      this.tickers = {};
      this.logos = {};
    }
  },
  computed: {
    arrTickers() {
      Object.values(this.tickers).forEach((itemObj, i) => {
        if (itemObj.price.toString().split(".")[1]) {
          const fixedNum = itemObj.price.toString().split(".")[1].length;
          if (fixedNum < 2) {
            return (itemObj.changeFormating = itemObj.change.toFixed(2));
          } else {
            return (itemObj.changeFormating = itemObj.change.toFixed(fixedNum));
          }
        } else {
          return (itemObj.changeFormating = itemObj.change.toFixed(2));
        }
      });

      return Object.values(this.tickers);
    },
    lang() {
      return this.$i18n.locale;
    },
    loadindLogo() {
      if (this.logos === {}) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    stockType(type) {
      if (type === "preferred_share") {
        return (
          "(" +
          I18N.vueI18n.messages[this.$i18n.locale].stocksPage.prefShare +
          ")"
        );
      } else if (type === "depositary_receipt") {
        return (
          "(" +
          I18N.vueI18n.messages[this.$i18n.locale].stocksPage.depoRec +
          ")"
        );
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val = (number / 1).toFixed(2);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      return val;
    },
    numFixedPrice(number) {
      if (number.toString().split(".")[1]) {
        if (number.toString().split(".")[1].length < 2) {
          return number.toFixed(2);
        } else {
          return number;
        }
      } else {
        return number.toFixed(2);
      }
    },
    addPlus(e) {
      return e ? "+" : "";
    },
    navigateToInstrument(id) {
      this.$router.push(this.localePath(`/instruments/summary-${id}`));
    }
  }
};
</script>

<style lang="scss" scoped>
th {
  height: 48px;
  background-color: $border-light;
  color: #333333;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: $spacer * 4;
  border-right: 2px solid #fff;
}
tr {
  height: 48px;
  box-shadow: inset 0px -1px 0px #f2f4f6;
  cursor: pointer;
  &:hover {
    background-color: $hover-table-item;
  }
}

.stocks-table {
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    box-shadow: inset 0px -1px 0px #f2f4f6;
    cursor: pointer;
    &:hover {
      background-color: $hover-table-item;
    }
  }
  &__row-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    width: 32px;
    width: 32px;
    border-radius: 2px;
    @media #{$mobile} {
      width: 32px !important;
      height: 32px !important;
    }
  }
  &__logo-container {
    width: 5%;
    height: 48px;
    display: flex;
    align-items: center;
    @media #{$mobile} {
      width: 32px;
    }
  }

  &__text-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      align-items: flex-start;
    }
  }

  &__numbers-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end;
    width: 30%;
    height: 48px;
    padding-top: 6px;
    @media #{$mobile} {
      padding-top: $spacer;
    }
  }

  &__ticker {
    width: 65px !important;
    padding-left: $spacer * 4;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    @media #{$mobile} {
      box-sizing: content-box;
      height: 16px;
      padding-bottom: 2px;
    }
  }
  &__name {
    padding-left: $spacer * 4;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #333333;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    @media #{$mobile} {
      box-sizing: content-box;
    }
  }
  &__value {
    margin: 0;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #333333;
    box-sizing: content-box;
    height: 16px;
  }
}

.positive-value {
  color: $succes-color;
}

.negative-value {
  color: $danger-color;
}
</style>

