.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.1s ease;
}
.slide-fade-leave-active {
    transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.flip-list-move {
  transition: transform 1s;
}
