.checkbox-item {
  font-weight: 700;
  font-size: $font-size-xxs;
  line-height: $line-height-extra;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $text-color-pale;
  min-height: 20px;
  padding: 0;
  
  .custom-control-label {
    padding-left: $spacer * 7;
    
    &::before {
      width: 18px;
      height: 18px;
      border: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 12C16 11.4477 16.4477 11 17 11C17.5523 11 18 11.4477 18 12V15C18 16.6569 16.6569 18 15 18H12C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16H15C15.5523 16 16 15.5523 16 15V12ZM8 16C8.55229 16 9 16.4477 9 17C9 17.5523 8.55229 18 8 18H3C1.34315 18 0 16.6569 0 15V3C0 1.34315 1.34315 0 3 0H15C16.6569 0 18 1.34315 18 3V8C18 8.55229 17.5523 9 17 9C16.4477 9 16 8.55229 16 8V3C16 2.44772 15.5523 2 15 2H3C2.44772 2 2 2.44772 2 3V15C2 15.5523 2.44772 16 3 16H8Z' fill='%238E9AAA'/%3E%3C/svg%3E%0A") no-repeat center;
      background-size: 100% 100%;
      top: 2px;
      left: 0;
    }
    
    &::after {
      width: 8px;
      height: 8px;
      border-radius: 2px;
      top: 7px;
      left: 5px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: transparent;
    }

    &::after {
      background: $primary-light-color;
    }
  }
  
  &--right {
    .custom-control-label {
      padding: 0 $spacer * 7 0 0;
    
      &::before {
        left: auto;
        right: 0;
      }
    
      &::after {
        left: auto;
        right: 5px;
      }
    }
  }
}
