@font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('~assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('~assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('~assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('~assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
