.vue-phone-number-input {
    display: flex;

    .flex-1 {
        flex: 1;
    }
}

.select-country-container {
    width: 88px;
}

.country-selector {
    position: relative;

    &__list {
        width: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        z-index: 3;
        box-shadow: 0px 2px 13px -2px $disabled-color;
        background: $white;
    }

    &__list__item {
        display: flex;
        font-size: $font-size-xs;
        text-align: left;
        cursor: pointer;
        padding: 0 $spacer * 2;
        width: 100%;

        &:hover {
            background: $text-color-pale;
        }

        .dots-text {
            flex: 1;
        }
    }

    &__list__item__calling-code {
        margin-right: $spacer * 2;
        width: 40px;
    }

    &__toggle {
        position: absolute;
        left: 19px;
        top: 23px;
        transition: all $delay cubic-bezier(.645,.045,.355,1);
        text-align: center;
        display: inline-block;
        cursor: pointer;
        height: 7px;
        width: 10px;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            border-radius: $spacer /2;
            border: 5px solid transparent;
            border-top: 5px solid $primary-light-color;
        }
    }

    &__label {
        display: none;
    }

    &__input {
        height: 50px;
        border: 1px solid $border-input !important;
        background: $light-color;
        border-radius: $border-radius / 2;
        outline: none !important;
        box-shadow: none !important;
        font-size: $font-size-md;
        font-weight: 600;
        padding-left: $spacer * 9;
        color: $text-color;
        cursor: pointer;
        border-right: 0 !important;
        padding-right: $spacer * 2;
    }

    &__toggle__arrow {
        fill: $primary-light-color;
        width: 14px;
        position: relative;
        display: none;
    }
}

.country-selector__input {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.input-tel__input {
    height: 50px;
    border: 1px solid $border-input !important;
    background: $light-color;
    border-radius: 0;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    outline: none !important;
    box-shadow: none !important;
    border-left: 0 !important;
    color: $dark-bg;
    font-weight: 600;
}

.input-tel__label {
    display: none;
}

.input-phone-number {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 24px;
        background: $border-input;
        left: 0;
        top: 13px;
    }
}
