/* The switch - the box around the switch-slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 24px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The switch-slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $disabled-color;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 5.5px;
  background-color: white;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  transform: translateX(18px);
}

/* Rounded switch-sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}
