.table {
    thead {
        th {
            background: $border-light;
            border: none;
            border-right: 2px solid $white;
            color: $dark-bg;
            font-size: $font-size-xxs;
            line-height: $line-height-extra;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            @media #{$mobile} {
                padding: $spacer *3 $spacer * 2;
            }

            &:last-child {
                border: none;
            }
        }
    }

    td {
        color: $dark-bg;
        font-size: $font-size-md;
        line-height: $line-height-xl;
        letter-spacing: 0.02em;
        font-weight: 600;
        padding: $spacer *3 $spacer * 4;
        border-color: $border-light;

        @media #{$mobile} {
            padding: $spacer *3 $spacer * 2;
            font-size: $font-size-xs;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: 1px solid $border-light;
            }
        }
    }
}

.table-small {
    td {
        font-size: $font-size-xs;
    }
}

.table-four {
    th:nth-child(3), td:nth-child(3) {
        text-align: right;
    }

    th:last-child, td:last-child {
        text-align: right;
    }
}

.table-transform-move {
  transition: transform 1s;
}
