$f_base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$f_base2: 'playfair_display', sans-serif;

//Breakpoint
//$desktop: 'screen and (max-width: 1920px)';
$display: 'screen and (max-width: 1440px)';
$tabletLg: 'screen and (max-width: 1199px)';
$tablet: 'screen and (max-width: 899px)';
$mobile: 'screen and (max-width: 599px)';

//Colors
$primary-bg: #F2F4F6;
$white: #fff;
$dark-bg: #333333;

$text-color: #333333;
$text-reverse-color: rgba(255, 255, 255, 0.6);
$text-color-pale: #8E9AAA;

$primary-light-color: #1B7AFA;
$primary-color: #145CBA;
$dark-blue: #51587b;
$succes-color: #00B68A;
$danger-color: #F34161;
$warning-color: #FEBA0C;
$disabled-color: #C7D0DB;
$light-color: #F7F9FC;
$deep-blue: #3B5998;
$deep-green: #008464;
$deep-red: #f00f38;
$deep-gray: #F2F4F7;
$pale-green: #00B6A0;
$hover-table-item: #F7F9FC;
$footer-color: #131F30;
$input-shadow: #EFF0F0;
$light-blue: #E9F2FF;

//Borders

$border-dark: #E0E5ED;
$border-light: #F6F7F8;
$border-input: #EEECF7;
$light-blue-border: rgba(27, 122, 250, 0.2);

//Fonts

$font-size-xxl: 20px !default;
$font-size-xl: 20px !default;
$font-size-lg: 16px !default;
$font-size-md: 14px !default;
$font-size-xs: 12px !default;
$font-size-xxs: 10px !default;

$font-size-base: 14px !default;
$font-size-extra: 32px !default;
$font-size-extra-middle: 24px !default;
$font-size-extra-lg: 28px !default;

$line-height-xl: 1.5 !default;
$line-height-lg: 1.4 !default;
$line-height-md: 1.33 !default;
$line-height-xs: 1.2 !default;
$line-height-xxs: 1.14 !default;

$line-height-extra: 2 !default;

$spacer: 4px !default;

$delay: 0.25s;
$border-radius: $spacer;

// bootstrap vars
$spacers: (
  0: 0,
  1: (1rem * .25),
  2: (1rem * .5),
  3: 1rem,
  4: (1rem * 1.5),
  5: (1rem * 3)
);

/*
320 - 599 = xs
600 - 767 = sm
768 - 899 = md
900 - 1199 = lg
1200+ = xl
*/
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1200px
);

$nav-link-padding-y: $spacer * 3;
