@import "vue-select/src/scss/vue-select.scss";
@import "vars";

.v-select span,
.vs__dropdown-menu li {
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $text-color;
  text-transform: capitalize;
  min-height: 32px;
  margin-top: 0;
}
.vs__dropdown-menu {
  min-width: 121px !important;
}
.vs--open {
  width: 121px !important;
}
.vs__selected {
  opacity: 1 !important;
  border: 2px solid red;
  padding-left: $spacer * 2.5;
  padding-right: 0;
  margin: 0;
  border: none;
}

.vs__dropdown-menu li {
    border: 1px solid transparent;
  padding: $spacer * 3;
  display: flex;
  justify-content: flex-start;
}

.vs__dropdown-option--highlight {
  background: #f5f5f5 !important;
}

.vs__dropdown-option {
  white-space: normal;
}

.vs__dropdown-menu,
.vs__dropdown-toggle {
  border-radius: 0;
}

.vs--open {
  background: #ffffff;
  border-bottom: none;
}

.vs__dropdown-menu {
  background: #ffffff;
  border: 1px solid #f2f4f6;
  border-top: none;
  box-shadow: none !important;
  box-sizing: border-box;
}

.vs__dropdown-toggle {
  border: 1px solid #f2f4f6;
  width: 121px !important;
  box-sizing: border-box;
  height: 32px;
}

.vs__search,
.vs__search:focus {
  font-size: $font-size-xs;
  font-weight: bold;
  max-height: 32px !important;
}
.vs__actions {
  padding-right: $spacer * 3;
  transform: scale(0.7);
}

.vs__clear,
.vs__open-indicator {
  fill: $text-color !important;
}
