<template>
  <div class="chartPfls">
    <button :click="handlerSP500" class="chartPfls__btn-top btn--light">
      <span class="chartPfls__btn-top_name">S&P500 INDEX </span>
      <img :src="enter" class="chartPfls__btn-top_icon" />
    </button>
    <img :src="chart"  class="chartPfls__chart" />
    <div class="chartPfls__btn-down">
      <div v-for="(item,index) in downButtons" :key="item.id" > 
       <button v-if="index == indexBtnActive" @click="handlerIndexBtn(index)" class="chartPfls__btn-down_small" :style="btnActiveStyle">{{item.name}}</button>
       <button v-else @click="handlerIndexBtn(index)" class="chartPfls__btn-down_small">{{item.name}}</button>
      </div>
    </div>
  </div>
</template>

<script>
const enter = require('~/assets/svg/invest/enter.svg?inline');
const chart = require('~/assets/svg/invest/chart.svg?inline');

export default {
  data() {
    return {
      enter,
      chart,
      indexBtnActive: null,
      downButtons: [{name: '1D'}, {name: '1W'}, {name: '1M'}, {name: '6M'}, {name: '1Y'}, {name: '5Y'}, {name: 'All'}]
    } 
  },
  computed: {
    btnActiveStyle() {return this.indexBtnActive !== null ? 'background:#51587B;color:white;' : null}
  },
  methods: {
    handlerIndexBtn(index) {
      this.indexBtnActive = index;
    },
    handlerSP500() {}
  }    
}
//console.log('indexButtonActive: ', indexButtonActive);
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main";
//@import '~/assets/scss/base/base.scss';
.chartPfls {
  position: relative;
  &__btn-top {
    //margin-left: 24px; 
    margin-top: 16px;
    width: 130px; 
    height: 32px;    
    background: #f6f7fc;
    box-shadow: inset 3px 0px 0px #1b7afa;
    display: block;
    &:nth-child(1) {
      position: absolute;
      left:0px;
      top: 0px;
    };
    &_name {
      position:absolute;
      left:12px;
      top:8px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    };
    &_icon {
      position:absolute;
      left:105px;
      top:12px;
    };
  };
  &__chart {
    position:absolute;
    left:0px;
    top: 56px;
  };
  &__btn-down {
    position:absolute;
    left:238px;
    top:275px;
    width:336px;
    height: 34px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding:0px;
    background: #f6f7fc;
    &_small {
      width: 48px;
      height: 34px;
      padding:8px;
      font-size:14px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.16);
      border-radius: 4px;
    };
  };
}
</style>