<template lang="html">
  <div class="myPfls">
    <div class="myPfls__quotes">
      <div v-for="(quote, index) in quotes" :key="quote.id" class="myPfls__quotes-box" :style="quote.styleName">
        <span class="myPfls__quotes-box_cntt" :style="quote.title1Style">{{index==0?title1:index==1?titleFrdmFin1:titleOpnBrk1}}</span>
        <span v-show="index==0 || ((index==1 || index==2) && btnActive1)" class="myPfls__quotes-box_cntt">{{quote.title2}}</span>        
        <span class="myPfls__quotes-box_cntt">{{quote.subtitle1}}</span>
        <span class="myPfls__quotes-box_cntt" :style="quote.title1Style">{{index==0?totalValue:index==1?marketValueFrdmFin:marketValueOpnBrk}}</span>
        <span class="myPfls__quotes-box_cntt">{{subtitle2}}</span>
        <span class="myPfls__quotes-box_cntt" :style="index==0?totalStyle:index==1?totalFrdmFinStyle:totalOpnBrkStyle">{{index==0?total:index==1?totalFrdmFin:totalOpnBrk}}</span>
        <img v-if="index!==0" class=" myPfls__quotes-box_cntt" :src="pntVert" />
      </div>  
      <div class="myPfls__quotes-plus">
        <img :src="plus" class="myPfls__quotes-plus_stl" />
      </div>
    </div>  
  </div>
</template>

<script>
  const pntVert = require('~/assets/svg/invest/pnt_vrt.svg?inline');
  const plus = require('~/assets/svg/invest/plus.svg?inline');

  export default {
    props: ['btnActive1'],
    data() {
      return {
        plus,
        pntVert,
        totalValue: '$20,474.09',
        totalGain: '-1,788.11 (-3.22%)',
        totalChange: '+2,363.55 (+4.98%)',
        totalGainFrdmFin: '+2,387.77 (+8.46%)',
        totalGainOpnBrk: '-24.22 (-0.12%)',
        totalChangeFrdmFin: '-3,819.09 (-13.86%)',
        totalChangeOpnBrk: '+30.56 (+1.33%)',
        marketValueFrdmFin: '$18,984.65',
        marketValueOpnBrk: '$1,390.56',
        quotes: [
          {
            styleName: "background:#51587b;",
            title1Style: "color:white;",
            title2: "AllBrokers",
            subtitle1: "TOTAL VALUE"
          }, 
          {
            title2: "Freedon Finance",
            subtitle1: "MARKET VALUE"
          }, 
          {
            title2: "Open Broker",
            subtitle1: "MARKET VALUE"
          }
        ]       
      }
    },
    computed: {
      title1() {
        return this.btnActive1 === true ? 'All Accounts' : 'All Portfolios'
      },
      subtitle2() {
        return this.btnActive1 === true ? 'TOTAL CHANGE' : 'TOTAL GAIN'
      },
      titleFrdmFin1() {
        return this.btnActive1 === true ? 'Broker Account' : 'My Top'
      },
      titleOpnBrk1() {
        return this.btnActive1 === true ? 'Broker Account' : 'REITs'
      },
      total() {
        return this.btnActive1 === true ? this.totalChange : this.totalGain
      },
      totalFrdmFin() {
        return this.btnActive1 === true ? this.totalChangeFrdmFin : this.totalGainFrdmFin
      },
      totalOpnBrk() {
        return this.btnActive1 === true ? this.totalChangeOpnBrk : this.totalGainOpnBrk 
      },
      totalStyle() {
        return this.total.match(/\+/) ? 'color:#00B68A;' : 'color:#F34161;'
      },
      totalFrdmFinStyle() {
        return this.totalFrdmFin.match(/\+/) ? 'color:#00B68A;' : 'color:#F34161;'
      },
      totalOpnBrkStyle() {
        return this.totalOpnBrk.match(/\+/) ? 'color:#00B68A;' : 'color:#F34161;'
      }
    },
    methods: { 
    },
    watch: {
    }
  }
</script>

<style lang="scss">
  @import "~/assets/scss/main";
  .myPfls {  
    &__quotes {
      padding-bottom: 20px;
      margin-left: 24px;       
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family:'Open Sans'; 
      &-box {
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        width: 280px; 
        height: 170px;
        background-color: #f6f7fC;
        border-radius: 4px;
        &_cntt {
          padding-left: 16px;
          font-size: 16px;
          font-weight: 600;
          background: transparent;
          color: #8E9AAA;
          &:nth-child(1) {
            margin-top: 12px;
            line-height: 20px;
            font-size:16px;
            color: black;
          };
          &:nth-child(2) {
            font-size:16px;
            line-height: 20px;
          };  
          &:nth-child(3) {
            margin-top: 16px;
            font-size: 10px;
            font-weight:700;
            line-height: 13.62px;
          };
          &:nth-child(4) {
            color:black;
            font-size:20px;
            font-weight:700;
            line-height:24px;
          };
          &:nth-child(5) {
            margin-top: 16px;
            font-size:10px;
            font-weight:700;
            line-height: 13.62px;
          };
          &:nth-child(6) {
            margin-bottom: 34px;
            font-size:14px; 
            font-weight:700;
            line-height: 20px;
          };
          &:nth-child(7) {
            position: absolute;
            top:12px;
            right:14px;
            width:20px;
            height: 30px;
          };
        }
      }
      &-plus {
        width: 70px; 
        height: 170px;
        background-color: #f6f7fC;
        border-radius: 4px;
        &_stl {
          padding-top: 80px;
          padding-left: 26px;
          font-size: 32px;
          font-weight: 600;
        }
      }
    };
  }

</style>