<template lang="html">
  <div class="statPfls">
    <div class="statPfls__heading">
      <h2>{{ $t("prtflData.title") }}</h2>
    </div>
    <div class="statPfls__inner">
      <div class="statPfls__wrap">
        <span v-for="(item,index) in stat" :key="item.id" class="statPfls__item">
          <span class="statPfls__name">{{$t(item.name)}}</span>
          <span v-if="index===0||index===2||index===3" class="statPfls__num">{{item.num}}</span>
          <span v-else class="statPfls__num" :style="statStyle(item.num)">{{item.num}}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { data } from "~/assets/tempData/prtflData.js";
export default {
  data() {
    return {
      styleUp: 'color:#00b68a;',
      styleDown: 'color:#f34161;',
      priceNumLength: 0,
      //data: data,
      stat: [
        {
          name: "prtflData.consensusPE",
          num: data.cnsPE
        }, 
        {
          name: "prtflData.consensusGrowth",
          num: data.cnsGrw
        }, 
        {
          name: "prtflData.epsGrowth",
          num: data.epsGrw
        }, 
        {
          name: "prtflData.dividendYield",
          num: data.dvdYield
        }, 
        {
          name: "prtflData.volatility",
          num: data.vlt
        }, 
        {
          name: "prtflData.betaTrend",
          num: data.betaTrend 
        }
      ]
    }
  },
  props: {

  },
  methods: {
    getPriceNumCount(price) {
      let str = price.toString();
      let newStr;
      if (str.includes(".")) {
        this.priceNumLength = str.split(".")[1].length;
        newStr = (price / 1).toFixed(this.priceNumLength);
        return newStr;
      } else {
        newStr = (price / 1).toFixed(0);
        return Number(newStr).toLocaleString();
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val;
      if (this.priceNumLength > 0) {
        val = (number / 1).toFixed(this.priceNumLength);
        return val;
      } else {
        return Number(num).toLocaleString();
      }
    },
    statStyle(val) {
      return val.match(/\+/) ? 'color:#00B68A;' : 'color:#F34161;'
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main";

.statPfls {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 22px;
  width: 100%;
  &__heading {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;

    @media #{$mobile} {
      padding: $spacer * 6 $spacer * 3;
    }
  }

  &__wrap {
    padding-top: 25px;
    display: flex;
    flex-direction: column;

    @media #{$mobile} {
      padding: 0 $spacer * 4 0;
    }

    &:nth-child(2) {
      padding: 0 $spacer * 6 $spacer * 2;

      @media #{$mobile} {
        padding: 0 $spacer * 4 $spacer * 2;
      }

      .statPfls__item:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.05); 

        @media #{$tabletLg} {
          border: none;
        }

        @media #{$mobile} {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
      }
    }

    @media #{$tabletLg} {
      width: 100%;
    }
  }

  &__item {
    color: $text-color;
    font-size: $font-size-md;
    line-height: $line-height-md;
    padding: $spacer * 4 0;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }

  &__num {
    font-weight: bold;
    white-space: nowrap;
  }

  &__inner {
    @media #{$tabletLg} {
      display: flex;
    }

    @media #{$mobile} {
      flex-direction: column;
    }
  }
}
</style>