<template lang="html">
  <div class="pfNews">
    <div class="container">
      <div class="pfNews__header">
          <span class="pfNews__header pfNews__header_title">Portfolio Related News</span>
      </div>
      <div class="pfNews__content">
        <div class="pfNews__content-row">
          <div class="pfNews__content-row-left">
            <span class="pfNews__content-row-left pfNews__content-row-left_ttl">News</span>
            <span class="pfNews__content-row-left pfNews__content-row-left_cnt">{{News}}</span>
          </div>
          <div class="pfNews__content-row-right">
            <span class="pfNews__content-row-right pfNews__content-row-right_ttl">News</span>
            <span class="pfNews__content-row-right pfNews__content-row-right_cnt">{{News}}</span>
          </div>
        </div>
      </div>    
    </div>      
  </div>
</template>

<script>
  export default {
    props: {News: Object},
    data() {
      return {
        //News
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~/assets/scss/base/base.scss';

.pfNews {
  font-size: 20px;
  font-weight: 800;  
  &__header {
    margin-top:10px;
    //background-color: transparent;
    border-radius: 4px;  
    &_title {
      height: 72px;
      background-color: white;
      border-radius: 4px;
    };
  };
  &__content {
    display: flex;
    flex-direction: column;
    &-row {
      display: flex;
      flex-direction: row;
      /*&-left {
        &_cnt {

        };
      };
      &-right {
        &_cnt {

        };
      };*/
    }
  }
}
.container {
  @media #{$mobile} {
    padding: 0;
    }
  }
</style>