<template lang="html">
    <div class="structure" v-if="dataShareholders">
        <div class="structure__diagram">
            <span class="structure__num">{{number}}</span>
            <canvas ref="canvas" width="400" height="400"></canvas>
        </div>
        <div class="structure__data">
          <div class="structure__item" v-for="(item, index) in dataShareholders"
            v-bind:key="index"
            :class="{'active': activeEl == index}"
            @click="choiceHolders(index)">
                <span class="structure__data-color" :style="{background: backgroundColor[index]}"></span>
                <span class="structure__data-text">{{item.name}}</span>
          </div>
        </div>
    </div>
</template>

<script>
import {Doughnut, mixins} from 'vue-chartjs'
import {data} from '../../assets/tempData/structureData.js'

export default {
    extends: Doughnut,
    //props: ['dataShareholders'],
    data() {
        return {
            dataShareholders: [{name:'Consumer Goods', amount: '4289'}, {name:'Finances', amount: '4500'}, {name:'Tech', amount: '1211'}],
            number: null,
            activeEl: 0,
            backgroundColor: [
                'rgba(27,122,250, 1)',
                'rgba(255,168,0, 1)',               
                'rgba(0,182,138, 1)',
                'rgba(192,224,0, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 111, 64, 1)',
                'rgba(12,182,123, 1)',
                'rgba(123,123,123, 1)',
                'rgba(255,132,132, 1)',
                'rgba(123,255,123, 1)',
                'rgba(123,132,255, 1)',
            ],
            data: {
                labels: [],
                datasets: [{
                    data: [],
                }]
            },
            options: {
                animation: false,
                layout: {
                    padding: {
                       left: 10,
                       right: 10,
                       top: 10,
                       bottom: 10
                   }
                },
                events: ['click'],
                rotation: 0,
                legend: {display: false},
                tooltips: {enabled: false},
                hover: {mode: null},
            }
        }
    },
    methods: {
        choiceHolders(index) {
            this.activeEl = index;
            this.number = this.dataShareholders[index].amount / 100 + '%';
            this.setChartShadow(index);
        },
        setChartShadow(index) {
            const backgroundColor = this.backgroundColor[index].substring(0, this.backgroundColor[index].length - 3) + '0.4)'
            const changeData = this.data;
            changeData.datasets[0].borderWidth.forEach((item, i) => {
                changeData.datasets[0].borderWidth[i] = 0;
            });
            changeData.datasets[0].borderWidth[index] = 15;
            changeData.datasets[0].borderColor[index] = backgroundColor;
            this.options.layout.padding = 2;
            this.renderChart(changeData, this.options)
        },
        renderGraph() {
            if(this.dataName) {
                this.data.labels = this.dataName;
                this.data.datasets[0].data = this.dataNum;
                this.data.datasets[0].borderWidth = [];
                this.data.datasets[0].borderColor = [];
                for (var i = 0; i < this.data.labels.length; i++) {
                    this.data.datasets[0].borderWidth.push(0);
                }
                this.data.datasets[0].backgroundColor = this.backgroundColor;
                this.renderChart(this.data, this.options)
            }
        },
        startRender() {
            if(this.dataShareholders) {
                this.number = this.dataShareholders[0].amount / 100 + '%';
                this.data.datasets[0].borderWidth[0] = 15;
                this.data.datasets[0].borderColor[0] = 'rgba(27,122,250, 0.4)';
                this.options.layout.padding = 2;
                this.renderChart(this.data, this.options)
            }
        }
    },
    computed: {
        dataName() {
            const nameArr = [];
            if(this.dataShareholders) {
                this.dataShareholders.filter((name) => {
                    nameArr.push(name.shareholder)
                })
                return nameArr;
            }
        },
        dataNum() {
            const numArr = [];
            this.dataShareholders.filter((num) => {
                numArr.push(num.amount / 100);
            })
            return numArr;
        },
        lang() {
          return this.$i18n.locale;
        }
    },
    mounted() {
        setTimeout(() => {
            this.renderGraph();
            this.startRender();
        }, 1500)
    }
}
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main";

    .structure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media #{$tabletLg} {
            justify-content: flex-start;
            align-items: center;
        }

        @media #{$mobile} {
            flex-direction: column;
        }

        &__diagram {
            flex: 0 0 33.333333%;
            max-width: 40%;
            position: relative;

            @media #{$tabletLg} {
                margin-right: 26px;
            }

            @media #{$tablet} {
                flex: 100%;
                margin-left: 18px;
                max-width: 245px;
                // margin: 0 auto;
            }

            @media #{$mobile} {
                margin-bottom: $spacer * 6;
            }
        }

        &__data {
            margin-top: 30px;
            padding-top: 28px;
            border-radius: $border-radius;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 100%;
            border-top: 2px solid #eceff1;
            border-top-width: 100%;

            @media #{$tablet} {
                flex: 100%;
                width: 100%;
                max-width: 100%;
            }

            @media #{$mobile} {
                padding: $spacer * 3;
            }
        }

        &__item {
            padding-left: 4px;
            padding-right: 22px;
            cursor: pointer;
            display: flex;
            height:20px;

            &.active {
                .structure__data-text {
                    // border-bottom: 1px solid $dark-bg;
                    text-decoration: underline;
                }
            }

            &:last-child {
                margin: 0;
            }
        }

        &__data-text {
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            color: black;
        }

        &__data-color {
            min-width: 16px;
            height: 16px;
            margin-right: $spacer * 2;
            border-radius: 100%;
        }

        &__num {
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 17.5px;
            font-weight: 600;
            transform: translate(-50%, -50%);
            color: black;
        }

        canvas {
            position: relative;
            z-index: 1;
        }
    }
</style>