<template>
 <div class="trnsPfls">
    <div class="trnsPfls__heading">
      <span class="trnsPfls__heading_caption">{{title}}</span>
      <a href="" class="trnsPfls__heading_link">See All</a>
    </div>
    <div class="trnsPfls__inner">
      <div class="trnsPfls__wrap">
        <span v-for="item in trsacData" :key="item.id" class="trnsPfls__item">          
          <span class="trnsPfls__name">
            <span class="trnsPfls__name_up">{{item.name_up}}</span>
            <span class="trnsPfls__name_down">{{name_down}}</span>
          </span>
          <span class="trnsPfls__num">
            <span class="trnsPfls__num_up">{{item.num_up}}</span>
            <span class="trnsPfls__num_down" :style="trsacStyle(item.num_down)">{{item.num_down}}</span>
          </span>
        </span >
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "TransactionsList",
  data() {
    return {
      title: 'Last Transactions',
      name_down: 'Freedom Finance',
      trsacData: [
        {
          name_up: 'Broker Comission',
          num_up: 'September 25',
          num_down: '-0.24 $'
        }, 
        {
          name_up: 'Sold 100 shares Apple, Inc',
          num_up: 'September 25',
          num_down: '+1.160 $'
        }, 
        {
          name_up: 'Broker Comission',
          num_up: 'August 6',
          num_down: '-0.24 $'
        }, 
        {
          name_up: 'Bought 100 shares Apple, In',
          num_up: 'August 6',
          num_down: '-950.56 $'
        }
      ]
    }
  },
  props: {

  },
  computed: {

  },
  methods: {
    trsacStyle(val) {
      return val.match(/\+/) ? 'color:#00B68A;' : 'color:#51587b;'
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main";

.trnsPfls {
  width: 100%;

  &__heading {
    font-size: 20px;
    font-weight: 800;
    padding-right:24px;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);
    &_caption {
      font-size: 20px;
      font-weight: 800;
      color:black;
    }
    &_link {
      padding-top: 3px;
      font-size:14px;
      line-height: 20px;
      font-weight: 600;
      text-align: right;
    }

    @media #{$mobile} {
      padding: $spacer * 6 $spacer * 3;
    }
  }

  &__wrap {
    margin-top: $spacer * 6;
    padding-right: $spacer * 6;
    display: flex;
    flex-direction: column;

    @media #{$mobile} {
      padding: 0 $spacer * 4 0;
    }

    &:nth-child(2) {
      padding: 0 $spacer * 6 $spacer * 2;

      @media #{$mobile} {
        padding: 0 $spacer * 4 $spacer * 2;
      }

      .trnsPfls__item:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.05); 

        @media #{$tabletLg} {
          border: none;
        }

        @media #{$mobile} {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
      }

    }

    @media #{$tabletLg} {
      width: 100%;
    }
  }

  &__item {
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    &:last-child() {box-shadow:none;}
  }

  &__name {
    position:relative;
    color:#333333;
    &_up {
      font-weight: bold;
      line-height:20px;
      display:flex;
      align-items:center;
    }
    &_down {
      font-weight: normal;
      line-height:24px;
      display:flex;
      align-items:center;      
    }
  }

  &__num {
    line-height: 19px;
    white-space: nowrap;
    &_up {
      font-weight: normal;
      display:flex;
      align-items:center;
      text-align:right;
      color: #8e9aaa; 
    }
    &_down {
      font-weight: bold;
      display:block;
      text-align:right;
    }
  }

  &__inner {
    @media #{$tabletLg} {
      display: flex;
    }

    @media #{$mobile} {
      flex-direction: column;
    }
  }
}
</style>