<template>
  <div class="add-filter">
    <button
      :id="'button' + `-${filterID}`"
      class="add-filter__btn"
      :class="{ 'active-btn': isActive }"
      @click="showDropdown(filterID)"
      @click.stop
    >
      <img
        :src="add"
        alt=""
        class="add-filter__icon-add"
        :class="{ 'active-icon': isActive }"
      />
      {{ $t("screener.add") }}
    </button>
    <ul class="dropdown-list" :id="'dropdown' + `-${filterID}`" v-click-outside="closeList">
      <li
        class="dropdown-list__item"
        v-for="el in Object.values(options)"
        :key="el.id"
        @click="addItem(el)"
      >
        <img :src="imgUrl(el)" class="dropdown-list__item-img" />
        <span class="dropdown-list__item-text">{{ $t(el.name) }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
const add = require("~/assets/icons/icon-add.svg?inline");
const checked = require("~/assets/icons/icon-checked.svg?inline");
const nonChecked = require("~/assets/icons/icon-not-checked.svg?inline");
import ClickOutside from "vue-click-outside";
export default {
  data() {
    return {
      isActive: false,
      isSelected: false,
      add,
      checked,
      nonChecked,
      idBtn: '',
    };
  },
  props: {
    options: Object,
    filterID: String,
  },
  directives: {
    ClickOutside
  },
  methods: {
    closeList() {
      const idElement = 'dropdown' + `-${this.filterID}`;
      document.getElementById(`${idElement}`).style.visibility = "hidden";
      this.isActive = false;
    },
    imgUrl(el) {
      if (el.isAdded) {
        return checked;
      } else {
        return nonChecked;
      }
    },
    addItem(el) {
      const idElement = 'dropdown' + `-${this.filterID}`;
      if (el.isAdded) {
        this.$store.commit('modules/screener/deleteOption', {filterID: this.filterID, optionID: el.optionID});
        document.getElementById(`${idElement}`).style.visibility = "hidden";
        this.isActive = false;
      } else {
        this.$store.commit('modules/screener/addOption', {filterID: this.filterID, optionID: el.optionID});
        document.getElementById(`${idElement}`).style.visibility = "hidden";
        this.isActive = false;
      }
    },
    showDropdown(filterID) {
      const idElement = 'dropdown' + `-${filterID}`;
      const idBtn = 'button' + `-${filterID}`;
      const offset = document.getElementById(`${idBtn}`).offsetWidth + 6;
      document.getElementById(`${idElement}`).style.visibility = "visible";
      document.getElementById(`${idElement}`).style.left = `${offset}px`;
      if (this.isActive) {
        document.getElementById(`${idElement}`).style.visibility = "hidden";
      }
      this.idBtn = idBtn;
      this.isActive = !this.isActive;
    }
  }
};
</script>

<style lang="scss" scoped>
.add-filter {
  position: relative;
  margin: $spacer * 1.5;
  &__icon-add {
    padding-right: $spacer * 3;
  }
  &__btn {
    background: rgba(27, 122, 250, 0.1);
    border-radius: 2px;
    padding: $spacer * 1.5 $spacer * 3;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: #51587b;
    display: flex;
    align-items: center;
    &:hover {
      color: $primary-color;
    }
  }

  .dropdown-list {
    z-index: 999;
    padding: $spacer * 4 $spacer * 4.5 $spacer / 2 $spacer * 4;
    visibility: hidden;
    max-height: 260px;
    box-sizing: content-box;
    overflow-y: scroll;
    background: $white;
    position: absolute;
    top: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;
    border-radius: 0px 0px $spacer $spacer;
    margin-bottom: 0;
    width: 100% !important;
    &__item {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-bottom: $spacer * 4;
      cursor: pointer;
    }
    &__item-text {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      color: $text-color;
    }
    &__item-img {
      width: 22px;
      height: 22px;
      margin-right: $spacer;
    }
  }
}

.active-btn {
  background: $text-color;
  color: $white;
  &:hover {
    color: $white;
  }
}
.active-icon {
  opacity: 1;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg)
    brightness(105%) contrast(101%);
}
</style>
