<template>
  <div class="checkbox" @click="changeFilterStatus(filter)">
    <img :src="checked" v-if="isSelected(filter.id)" class="checkbox__icon-checked" />
    <img :src="nonChecked" v-if="!isSelected(filter.id)" class="checkbox__icon-checked" />
    <span class="checkbox__name"
      ><p class="name-text mb-0">{{ name }}</p>
      <Tooltip
    /></span>
  </div>
</template>

<script>
import Tooltip from "./Tooltip";
const checked = require("~/assets/icons/icon-checked.svg?inline");
const nonChecked = require("~/assets/icons/icon-not-checked.svg?inline");
export default {
  data() {
    return {
      checked,
      nonChecked,
      selected: false,
    };
  },
  components: {
    Tooltip
  },
  props: {
    filter: Object,
    name: String,
    isChecked: Boolean
  },
  computed: {
    icon() {
      if (this.selected) {
        return checked;
      } else {
        return nonChecked;
      }
    }
  },
  methods: {
    isSelected(filterID) {
      const currentID = this.$store.state.modules.screener.currentScreener;
      const currentScreener = this.$store.state.modules.screener.savedScreeners[currentID].selectedFilters;
      if (currentScreener[filterID]) {
        this.selected = true;
      } else {
        this.selected = false;
      }
      return this.selected;
    },
    changeFilterStatus(filter) {
      if (this.selected) {
        this.selected = true;
        this.$store.commit("modules/screener/deleteFilter", filter);
      } else {
        this.selected = false;
        this.$store.commit("modules/screener/addFilter", filter);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $spacer * 4;
  cursor: pointer;
  &__name {
    margin: 0 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__icon-checked {
    width: 22px;
  }

  &__img {
    margin-left: 7px;
  }
  .name-text {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: $text-color;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
