<template lang="html">
  <div class="dropdown">
    <span
      class="dropdown__btn"
      href="#"
      @click="showDropdown"
      v-click-outside="hide"
    >
      {{ selectedFilters[filterID].selectedOption }}
      <span class="dropdown__btn-arrow"></span>
    </span>

    <transition name="slide-fade">
      <div v-if="isOpen" class="dropdown__menu">
        <span
          class="dropdown__item"
          v-for="el in selectedFilters[filterID].options"
          :key="el.id"
          @click="selectOption(el.value, filterID)"
          >{{ el.value }}
        </span>
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import {mapState} from 'vuex';

export default {
  data() {
    return {
      isOpen: false,
      swLang: null,
      selected: "Russia",
    };
  },
  props: {
    filterID: String,
  },
  methods: {
    selectOption(value, filterID) {
      this.$store.commit('modules/screener/selectOption', {filterID: filterID, option: value});
    },
    showDropdown() {
      this.isOpen = !this.isOpen;
    },
    hide() {
      this.isOpen = false;
    }
  },
  computed: {
    ...mapState({
      selectedFilters: state => state.modules.screener.selectedFilters,
    })
  },
  directives: {
    ClickOutside
  },
  watch: {
    curentLang(data) {
      this.swLang = data[0].name;
    }
  }
};
</script>

<style lang="scss" scoped>
.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  position: relative;

  &__btn {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-md;
    border: 1px solid $border-input;
    padding-left: 10px;
    width: 100%;
    border-radius: $border-radius * 0.5;
    cursor: pointer;
  }

  &__item {
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-md;
    text-decoration: none;
    padding: $spacer * 2 10px;
    transition: background $delay ease-in-out;
    cursor: pointer;

    &:hover {
      background: $light-color;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    border: 1px solid $disabled-color;
    position: absolute;
    width: 100%;
    top: 30px + $spacer;
    left: 0;
    border-radius: $spacer;
    background: $white;
    z-index: 999;
  }

  &__btn-arrow {
    width: 30px;
    height: 30px;
    border-left: 1px solid $border-input;
    border-radius: $border-radius * 0.5;
    position: relative;
    background: $border-light;

    &::before {
      position: absolute;
      content: "";
      left: 9px;
      top: 13px;
      border: 6px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 6px solid $primary-light-color;
      border-radius: 2px;
      width: 10px;
      height: 5px;
    }
  }
}
</style>
