<template>
  <div class="dropdown-btn" @click="open">
    <img
      src="~/assets/icons/icon-dropdown-blue.svg?inline"
      alt=""
      class="dropdown-btn__icon"
      :class="{ 'dropdown-btn__icon-rotate': isOpen }"
    />
    <span class="dropdown-btn__text"
      >{{ countFilters(filtersNumber) }}</span>
      <Tooltip
    />
  </div>
</template>

<script>
import Tooltip from "./Tooltip";
export default {
  components: {
    Tooltip
  },
  props: {
    isOpen: Boolean,
    filtersNumber: Number
  },
  methods: {
    countFilters(count) {
      if (this.$i18n.locale === "ru") {
        return `Выбрано ${count} фильтров`;
      } else {
        return `Selected ${count} filters`;
      }
    },
    open() {
      if (this.isOpen) {
        this.$emit("change", {
          isOpen: false
        });
      } else {
        this.$emit("change", {
          isOpen: true
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.dropdown-btn {
  cursor: pointer;
  &__icon {
    margin: 0 $spacer * 1.5;
  }
  &__icon-rotate {
    transform: rotate(-180deg);
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $text-color-pale;
    border-bottom: 1px dashed $disabled-color;
  }
}
</style>
