<template>
  <div class="filters-modal" @click="turnOff" v-if="isActive">
    <div class="filters-modal__box" @click.stop>
      <div class="filters-modal__header">
        <span class="filters-modal__caption">{{
          $t("screener.addFilter")
        }}</span>
        <img
          src="~/assets/icons/icon-close.svg?inline"
          alt=""
          @click="turnOff"
          class="filters-modal__close-btn"
        />
      </div>
      <form action="index.html" method="post" class="filters-modal__form">
        <input
          type="text"
          class="filters-modal__input"
          name=""
          v-model="searchValue"
          :placeholder="$t('screener.searchFilters')"
        />
        <span class="filters-modal__icon">
          <img src="~/assets/icons/icon-search-gray.svg?inline" />
        </span>
      </form>
      <div>
        <div class="filters-modal__lists">
          <div>
            <div v-if="searchValue">
              <h3 class="filters-modal__list-name">
                {{ resHeader }}
              </h3>
              <CheckBox
                v-for="el in sortedFilters"
                :key="el.id"
                :name="$t(el.name)"
                :isChecked="el.isAdded"
                :filter="el"
              />
            </div>
            <div v-if="!searchValue">
              <h3 class="filters-modal__list-name">
                {{ $t("screener.filters.general") }}
              </h3>
              <CheckBox
                v-for="el in filtersCopy.general"
                :key="el.id"
                :name="$t(el.name)"
                :isChecked="el.isAdded"
                :filter="el"
              />
            </div>
            <div v-if="!searchValue">
              <h3 class="filters-modal__list-name">
                {{ $t("screener.filters.statistics") }}
              </h3>
              <CheckBox
                v-for="el in filtersCopy.statistics"
                :key="el.id"
                :name="$t(el.name)"
                :isChecked="el.isAdded"
                :filter="el"
              />
            </div>
          </div>
          <div v-if="!searchValue">
            <h3 class="filters-modal__list-name">
              {{ $t("screener.filters.fundamental") }}
            </h3>
            <CheckBox
              v-for="el in filtersCopy.fundamental"
              :key="el.id"
              :name="$t(el.name)"
              :isChecked="el.isAdded"
              :filter="el"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CheckBox from "./CheckBox";
import { mapState } from "vuex";
export default {
  components: {
    CheckBox
  },
  data() {
    return {
      searchValue: "",
      filtersCopy: {
        general: [
          {
            id: "region",
            name: "screener.filters.region",
            kind: "value",
            section: "general",
            isAdded: false,
            options: {
              ru: {
                optionID: "ru",
                name: "screener.regions.russia",
                isAdded: true
              }
            }
          },
          {
            id: "stockExchange",
            name: "screener.filters.stockExchange",
            kind: "value",
            section: "general",
            isAdded: false,
            options: {
              micex: {
                optionID: "micex",
                name: "screener.stockExchanges.micex",
                isAdded: true
              }
            }
          },
          {
            id: "industry",
            name: "screener.filters.industry",
            kind: "value",
            section: "general",
            isAdded: false,
            options: {
              one: {
                optionID: "one",
                name: "screener.default",
                isAdded: false
              },
              two: {
                optionID: "two",
                name: "screener.default",
                isAdded: false
              },
              three: {
                optionID: "three",
                name: "screener.default",
                isAdded: false
              }
            }
          },
          {
            id: "sector",
            name: "screener.filters.sector",
            kind: "value",
            section: "general",
            isAdded: false,
            options: {
              one: {
                optionID: "one",
                name: "screener.default",
                isAdded: false
              },
              two: {
                optionID: "two",
                name: "screener.default",
                isAdded: false
              },
              three: {
                optionID: "three",
                name: "screener.default",
                isAdded: false
              }
            }
          },
          {
            id: "currency",
            name: "screener.filters.currency",
            kind: "value",
            section: "general",
            isAdded: false,
            options: {
              ru: {
                optionID: "ru",
                name: "screener.currencies.mlnRub",
                isAdded: true
              }
            }
          }
        ],
        statistics: [
          {
            id: "volume",
            name: "screener.filters.volume",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "priceChangeOneD",
            name: "screener.filters.priceChangeOneD",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "priceChangeOneW",
            name: "screener.filters.priceChangeOneW",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "priceChangeOneM",
            name: "screener.filters.priceChangeOneM",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "priceChangeSixM",
            name: "screener.filters.priceChangeSixM",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "priceChangeOneY",
            name: "screener.filters.priceChangeOneY",
            kind: "min-max",
            section: "statistics",
            isAdded: false,
            range: [0, 100]
          }
        ],
        fundamental: [
          {
            id: "period",
            name: "screener.filters.period",
            kind: "dropdown",
            section: "fundamental",
            selectedOption: 2020,
            isAdded: false,
            options: [
              { value: 2020 },
              { value: 2019 },
              { value: 2018 },
              { value: 2017 },
              { value: 2016 }
            ]
          },
          {
            id: "revenue",
            name: "screener.filters.revenue",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "netProfit",
            name: "screener.filters.netProfit",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "ebitda",
            name: "screener.filters.ebitda",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "operatingActivities",
            name: "screener.filters.operatingActivities",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "endOfThePeriod",
            name: "screener.filters.endOfThePeriod",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "totalAssets",
            name: "screener.filters.totalAssets",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "currentAssets",
            name: "screener.filters.currentAssets",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "nonCurrentAssets",
            name: "screener.filters.nonCurrentAssets",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "totalLiabilities",
            name: "screener.filters.totalLiabilities",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "longDebt",
            name: "screener.filters.longDebt",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "shortDebt",
            name: "screener.filters.shortDebt",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          },
          {
            id: "totalEquity",
            name: "screener.filters.totalEquity",
            kind: "min-max",
            section: "fundamental",
            isAdded: false,
            range: [0, 100]
          }
        ]
      }
    };
  },
  props: {
    isActive: Boolean
  },
  computed: {
    ...mapState({
      addedFilters: state =>
        state.modules.screener.savedScreeners[state.currentScreener]
          .selectedFilters
    }),
    searchArray() {
      let arr = [
        ...this.filtersCopy.general,
        ...this.filtersCopy.statistics,
        ...this.filtersCopy.fundamental
      ];
      return arr;
    },
    sortedFilters() {
      let searchResults = this.searchArray.filter(el => {
        if (!this.searchValue) return true;
        return this.$t(el.name)
          .toUpperCase()
          .includes(this.searchValue.toUpperCase());
      });
      return searchResults;
    },
    resHeader() {
      if (this.lang === "en") {
        return "Search results";
      } else {
        return "Результаты поиска";
      }
    }
  },
  methods: {
    turnOff() {
      if (this.isActive) {
        this.$emit("turnOff", { isActive: false });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.filters-modal {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(34, 34, 34, 0.2);
  backdrop-filter: blur(8px);
  z-index: 555;
  padding: $spacer * 4;

  &__box {
    margin: 40px auto;
    max-width: 720px;
    background: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;
    border-radius: 0px 0px $spacer $spacer;
    padding: $spacer * 6;
    @media #{$mobile} {
      margin: $spacer * 4 auto;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer * 4;
  }
  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    color: $text-color;
  }
  &__close-btn {
    cursor: pointer;
  }

  &__form {
    display: flex;
    background: transparent;
  }
  &__input {
    background: $white;
    border: 1px solid $primary-bg;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $text-color;
    height: 40px;
    padding: $spacer * 2.5 $spacer * 4;
    border-right: none;
    ::placeholder {
      color: $text-color-pale;
    }
  }
  &__icon {
    border: 1px solid $primary-bg;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  }

  &__list-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: $spacer * 3;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    @media #{$mobile} {
      flex-direction: column;
    }
  }
}
</style>
