<template>
  <div class="filter-btn" @mouseenter="hoverTrue" @mouseleave="hoverFalse">
    <span class="filter-btn__text">{{ $t(option.name) }}</span>
    <img :src="icon" class="filter-btn__icon" @click="deleteFilter(option)"/>
  </div>
</template>

<script>
const removeIcon = require("~/assets/icons/icon-remove-light.svg?inline");
const removeIconOrange = require("~/assets/icons/icon-remove-orange.svg?inline");
export default {
  data() {
    return {
      isHover: false,
      removeIcon
    };
  },
  props: {
    option: Object,
    filterID: String
  },
  computed: {
    icon() {
      if (this.isHover) {
        return removeIconOrange;
      } else {
        return removeIcon;
      }
    }
  },
  methods: {
    hoverTrue() {
      this.isHover = true;
    },
    hoverFalse() {
      this.isHover = false;
    },
    deleteFilter(option) {
      if (option.isAdded) {
        this.$store.commit('modules/screener/deleteOption', {filterID: this.filterID, optionID: option.optionID});
      } else {
        this.$store.commit('modules/screener/addOption', {filterID: this.filterID, optionID: option.optionID});
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.filter-btn {
  padding: $spacer * 1.5 $spacer * 3;
  margin: $spacer * 1.5;
  background: $dark-blue;
  border-radius: $spacer / 2;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $white;
    padding-right: $spacer * 3;
  }
}
</style>
