<template>
  <div class="filterless">
    <p class="filterless__text">
      No filters selected. Add a few filters to narrow your search.
    </p>
    <button class="btn btn--blue" @click="openModal">{{ $t("screener.addFilter") }}</button>
    <FiltersModal :isActive="active" @turnOff="closeModal($event.isActive)"/>
  </div>
</template>

<script>
import FiltersModal from "./FiltersModal";
export default {
  components: {
    FiltersModal
  },
  data() {
    return {
        active: false,
    };
  },
  methods: {
      openModal() {
          this.active = true;
      },
      closeModal(value) {
          this.active = value;
      }
  }
};
</script>

<style lang="scss" scoped>
.filterless {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacer * 5 0 $spacer * 8 0;
  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: $text-color;
  }
}
</style>
