<template>
  <div class="range-selector">
    <input type="number" v-model="range[0]" class="range-selector__input" />
    <div class="range-selector__slider">
      <vue-slider
        :dot-size="[24, 24]"
        :enable-cross="false"
        :height="4"
        :interval="setIntervalValue"
        :lazy="true"
        :max="maxValue"
        :min="minValue"
        :process-dragable="true"
        :silent="true"
        :value="range"
        @dragging="func"
        tooltip="none"
      >
      </vue-slider>
    </div>
    <div class="range-selector__dash">
      <p class="mb-0">-</p>
    </div>
    <input type="number" v-model="range[1]" class="range-selector__input" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      minValue: 1,
      maxValue: 1000,
      range: [2, 10]
    };
  },
  computed: {
    setIntervalValue() {
      let intervalValue = 1;
      const f = x =>
        x.toString().includes(".")
          ? x
              .toString()
              .split(".")
              .pop().length
          : 0;
      if (f(this.minValue) > 1 || f(this.maxValue) > 1) {
        intervalValue = 0.01;
      }
      if (f(this.minValue) === 1 || f(this.maxValue) === 1) {
        intervalValue = 0.1;
      }
      if (f(this.minValue) === 0 && f(this.maxValue) === 0) {
        intervalValue = 1;
      }
      return intervalValue;
    }
  },
  methods: {
    changeRange(range) {
      this.range = range;
      // this.$emit("input", range);
    },
    func(value) {
      this.range = value;
    }
  }
};
</script>

<style lang="scss" scoped>
.range-selector {
  display: flex;
  flex-direction: row;
  &__input {
    width: 80px;
    height: 30px;
    background: $white;
    border: 1px solid $primary-bg;
    box-sizing: border-box;
    border-radius: $spacer / 2;
    color: $text-color;
    text-align: center;
  }
  &__slider {
    width: 340px;
    margin: 0 $spacer * 4;
    @media #{$tablet} {
      width: 200px;
    }
    @media #{$mobile} {
      display: none;
    }
  }
  &__dash {
     display: none;
     padding: 0 $spacer *4;
    @media #{$mobile} {
      display: flex;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
