<template>
  <div class="smart-sort mr-1" v-if="screener.id !== 'default-screener'">
    <button
      :class="{ active: screener.id === currentScreener }"
      class="smart-sort__btn"
      @click="turnOn(screener.id)"
    >
      {{ screenerName(screener) }}
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SmartSortBtn",
  props: {
    screener: Object
  },
  computed: {
    ...mapState({
      currentScreener: state => state.modules.screener.currentScreener
    })
  },
  methods: {
    screenerName(screener) {
      if (screener.translatable) {
        return this.$t(screener.name);
      } else {
        return screener.name;
      }
    },
    turnOn(id) {
      const currentSort = this.$store.state.modules.screener.savedScreeners[this.currentScreener].sort
      this.$store.commit("modules/screener/selectScreener", id);
      this.$store.commit("modules/stocks/changeSorting", {
        metric: currentSort.metric,
        active: currentSort.active,
        ascending: currentSort.ascending,
        sortKind: currentSort.sortKind
      });
      this.$store.dispatch('modules/screener/loadFirstTwentyInstruments', {lang: this.lang, changeSorting: true});
    }
  }
};
</script>

<style lang="scss" scoped>
.smart-sort {
  &__btn {
    height: 32px;
    width: auto;
    padding: ($spacer * 2) ($spacer * 4);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $border-light;
    color: $text-color-pale;
  }

  .active {
    background-color: $text-color;
    color: $white;
  }
}
</style>
