<template>
  <div class="save-modal" @click="cancel" v-if="isActive">
    <div class="save-modal__box" @click.stop>
      <div class="save-modal__header">
        <span class="save-modal__caption">{{ $t("screener.nameCaption") }}</span>
        <img
          src="~/assets/icons/icon-close.svg?inline"
          alt=""
          @click="cancel"
          class="save-modal__close-btn"
        />
      </div>
      <form action="index.html" method="post" class="filters-modal__form">
        <input
          type="text"
          class="save-modal__input"
          v-model="screenerName"
          :placeholder="$t('screener.typeName')"
        />
      </form>
    <div class="save-modal__btns">
        <button class="save-modal__btn gray mr-3" @click="cancel">{{ $t("screener.cancel") }}</button>
        <button class="save-modal__btn deep" @click="save">{{ $t("screener.save") }}</button>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      screenerName: ""
    };
  },
  props: {
    isActive: Boolean
  },
  methods: {
    save() {
      if (this.screenerName === "") {
        return;
      } else {
        this.$store.commit('modules/screener/saveScreener', this.screenerName)
      }
      if (this.isActive) {
        this.$emit("turnOff", { isActive: false });
      }
    },
    cancel() {
      if (this.isActive) {
        this.$emit("turnOff", { isActive: false });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.save-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(34, 34, 34, 0.2);
  backdrop-filter: blur(8px);
  z-index: 555;
  padding: $spacer * 4;

  &__box {
    width: 360px;
    background: $white;
    margin-bottom: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;
    border-radius: 0px 0px $spacer $spacer;
    padding: $spacer * 6;
    overflow: hidden;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer * 4;
  }
  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    color: $text-color;
  }
  &__close-btn {
    cursor: pointer;
  }
  &__form {
    display: flex;
    background: transparent;
  }
  &__input {
    background: $white;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $text-color;
    height: 40px;
    padding: $spacer * 2.5 $spacer;
    border-right: none;
    ::placeholder {
      color: $text-color-pale;
    }
  }
  &__btns {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  &__btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: $primary-light-color;
    border-radius: 2px;
    color: #fff;
    box-shadow: none;
    white-space: nowrap;
    cursor: pointer;
    padding: $spacer * 2 $spacer * 4;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    transition: background $delay ease-in-out, color $delay ease-in-out;
  }
}
.gray {
  background: $disabled-color;
  color: $white;
  border: 1px solid $disabled-color;
}

.deep {
  background: $primary-light-color;
  color: $white;
  border: 1px solid $primary-light-color;
}
</style>
