<template>
  <div>
    <FiltersModal :isActive="active" @turnOff="closeModal($event.isActive)" />
    <div class="mb-3 screners-btns">
      <SavedScrennerBtn
        v-for="el in Object.values(savedScreeners)"
        :key="el.id"
        :screener="el"
      />
    </div>
    <div class="screener mb-3">
      <div class="screener__header">
        <DropdwnBtn
          :isOpen="isShown"
          @change="open($event.isOpen)"
          :filtersNumber="Object.values(filters).length"
        />
        <span class="screener__filters-count"
          >{{ resultNumber }} {{ $t("screener.results")}} {{stocksCount}}</span
        >
      </div>
      <div
        v-if="Object.values(filters).length === 0 && isShown"
        class="screener__filterless-container"
      >
        <p class="filterless-text">
          {{ $t("screener.isNonSelected") }}
        </p>
        <button class="btn btn--blue" @click="openModal">
          {{ $t("screener.addFilter") }}
        </button>
      </div>
      <div
        class="screener__filters-container"
        v-if="Object.values(filters).length !== 0 && isShown"
      >
        <h3 class="screener__caption">{{ $t("screener.caption") }}</h3>
        <SelectedFilter
          v-for="el in Object.values(filters)"
          :key="el.id"
          :filter="el"
        />
      </div>
      <div
        class="screener__btns"
        v-if="Object.values(filters).length !== 0 && isShown"
      >
        <button class="btn btn--blue mr-3" @click="openModal">
          {{ $t("screener.addFilter") }}
        </button>

        <button class="screener__btn gray mr-3" @click="saveSettings">
          {{ $t("screener.saveScr") }}
        </button>
        <button class="screener__btn deep" @click="openSaveModal">
          {{ $t("screener.saveScrAsNew") }}
        </button>
        <SaveModal
          :isActive="saveModal"
          @turnOff="closeSaveModal($event.isActive)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DropdwnBtn from "./DropdownBtn";
import SelectedFilter from "./SelectedFilter";
import FiltersModal from "./FiltersModal";
import SaveModal from "./SaveModal";
import SortBtnGroup from "~/components/Markets/SortBtnGroup";
import SavedScrennerBtn from "./SavedScrennerBtn";
export default {
  components: {
    DropdwnBtn,
    SelectedFilter,
    FiltersModal,
    SaveModal,
    SortBtnGroup,
    SavedScrennerBtn
  },
  data() {
    return {
      isShown: false,
      active: false,
      saveModal: false,
      names: [
        { name: "Filter" },
        { name: "Filter" },
        { name: "Filter" },
        { name: "Filter" },
        { name: "Filter" }
      ]
    };
  },
  props: {
    resultNumber: Number
  },
  computed: {
    ...mapState({
      filters: state =>
        state.modules.screener.savedScreeners[
          state.modules.screener.currentScreener
        ].selectedFilters,
      savedScreeners: state => state.modules.screener.savedScreeners,
      stocksCount: state => state.modules.screener.stocksCount,
    })
  },
  methods: {
    openModal() {
      this.active = true;
    },
    closeModal(value) {
      this.active = value;
    },
    closeSaveModal(value) {
      this.saveModal = value;
    },
    open(value) {
      this.isShown = value;
    },
    openSaveModal() {
      this.saveModal = true;
    },
    saveSettings() {
      this.isShown = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.screener {
  background: $primary-bg;
  border: 1px solid $border-input;
  padding: $spacer * 4;
  z-index: 444;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__filters-count {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $text-color;
    @media #{$mobile} {
      display: none;
    }
  }
  &__filters-container {
    padding: $spacer * 5 0;
  }
  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: $line-height-md;
  }
  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media #{$mobile} {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: $primary-light-color;
    border-radius: 2px;
    color: #fff;
    box-shadow: none;
    white-space: nowrap;
    cursor: pointer;
    padding: $spacer * 2 $spacer * 4;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    transition: background $delay ease-in-out, color $delay ease-in-out;
    @media #{$mobile} {
      margin-top: $spacer * 4;
    }
  }
  &__filterless-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacer * 5 0 $spacer * 8 0;
    .filterless-text {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      color: $text-color;
    }
  }
}

.screners-btns {
  display: flex;
  flex-direction: row;
}
.gray {
  background: $disabled-color;
  color: $white;
  border: 1px solid $disabled-color;
}
.deep {
  background: $primary-light-color;
  color: $white;
  border: 1px solid $primary-light-color;
}
</style>
