<template>
  <div class="selected-filter">
    <div class="filter-container" v-if="filter.kind === 'value'">
      <div class="selected-filter__header">
        <span class="selected-filter__name"
          >{{ $t(filter.name) }}<Tooltip
        /></span>
      </div>
      <div class="selected-filter__add-btns">
        <div v-for="el in Object.values(filter.options)" :key="el.id">
          <FilterBtn v-if="el.isAdded" :option="el" :filterID="filter.id" />
        </div>
        <AddBtn :options="filter.options" :filterID="filter.id" />
      </div>
    </div>
    <div class="filter-container" v-if="filter.kind === 'dropdown'">
      <div class="selected-filter__header">
        <span class="selected-filter__name"
          >{{ $t(filter.name) }}<Tooltip
        /></span>
      </div>
      <Dropdown :filterID="filter.id" />
    </div>
    <div
      class="selected-filter__range-selector"
      v-if="filter.kind === 'min-max'"
    >
      <div
        class="selected-filter__header mb-2"
        :class="{ 'range-header': filter.kind === 'min-max' }"
      >
        <span class="selected-filter__name"
          >{{ $t(filter.name) }}<Tooltip
        /></span>
      </div>
      <RangeSelector />
    </div>
    <div
      class="btn-container"
      :class="{ 'range-filter': filter.kind === 'min-max' }"
    >
      <img
        @mouseenter="isHover = true"
        @mouseleave="isHover = false"
        :src="imgUrl"
        @click="deleteFilter(filter)"
        class="selected-filter__delete-btn"
      />
    </div>
  </div>
</template>

<script>
import AddBtn from "./AddFilterBtn";
import FilterBtn from "./FilterBtn";
import Dropdown from "./Dropdown";
import RangeSelector from "./RangeSelector";
import Tooltip from "./Tooltip";
const redClose = require("~/assets/icons/icon-circle-closeRed.svg?inline");
const grayClose = require("~/assets/icons/icon-circle-closeGray.svg?inline");
export default {
  components: {
    AddBtn,
    FilterBtn,
    Dropdown,
    RangeSelector,
    Tooltip
  },
  data() {
    return {
      isHover: false,
      redClose,
      grayClose
    };
  },
  props: {
    filter: Object
  },
  computed: {
    imgUrl() {
      if (this.isHover) {
        return redClose;
      } else {
        return grayClose;
      }
    }
  },
  methods: {
    deleteFilter(filter) {
      this.$store.commit("modules/screener/deleteFilter", filter);
    }
  }
};
</script>

<style lang="scss" scoped>
.selected-filter {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacer * 2;

  &__delete-btn {
    cursor: pointer;
  }
  &__header {
    min-width: 21%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media #{$mobile} {
    width: 100%;
    margin-bottom: $spacer * 3;
  }
  }
  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $text-color;
  }
  &__range-selector {
    width: 97.5%;
    background: $white;
    box-shadow: inset 0px -1px 0px $input-shadow;
    border-radius: $spacer;
    height: 88px;
    padding: $spacer * 3 $spacer * 4;
    display: flex;
    flex-direction: column;
  }
  &__add-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter-container {
  width: 97.5%;
  background: $white;
  box-shadow: inset 0px -1px 0px $input-shadow;
  border-radius: $spacer;
  min-height: 56px;
  padding: $spacer * 3 $spacer * 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media #{$mobile} {
    flex-direction: column;
    align-items: flex-start;
  }
}
.btn-container {
  width: 30px;
  background: transparent;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.range-filter {
  min-height: 88px;
}
.range-header {
  width: 100%;
}
</style>
