<template>
  <span class="tooltip-item">
    <img
      :src="imgUrl"
      @mouseenter="show"
      @mouseleave="hide"
      class="tooltip-item__img"
    />
    <div class="tooltip-item__box" v-if="isShown">
      <p class="tooltip-item__text">Stock Exchange where equity is traded and located.</p>
      <span class="tooltip-item__arrow"></span>
    </div>
  </span>
</template>

<script>
const iconClue = require("~/assets/icons/icon-clue.svg?inline");
const iconClueActive = require("~/assets/icons/icon-clue-active.svg?inline");
export default {
  data() {
    return {
      isShown: false
    };
  },
  computed: {
    imgUrl() {
      if (this.isShown) {
        return iconClueActive;
      } else {
        return iconClue;
      }
    }
  },
  methods: {
    show() {
      this.isShown = true;
    },
    hide() {
      this.isShown = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.tooltip-item {
  position: relative;
  padding-bottom: 5px;
  &__img {
    margin-left: 7px;
    cursor: default;
  }
  &__box {
    display: block;
    position: absolute;
    background-color: $border-light;
    width: 240px;
    border-radius: 0.25em;
    padding: $spacer * 4;
    border: 1px solid $disabled-color;
    bottom: 130%;
    left: -100px;
    z-index: 1111 !important;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $text-color;
    margin: 0;
  }
  &__arrow {
    display: block;
    height: 10px;
    width: 10px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 10px);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-45deg);
    border-radius: 0 0 0 0.35em;
  }
}
</style>
