<template lang="html">
  <div class="personal">
      <div class="container">
            <div class="personal__wrap row">
                <div class="col-md-3" v-if="isShowCollumn">
                    <PersonalCard :fullName="fullName" :createAccountTime="creationTime"/>
                </div>
                <div class="col-lg-9">
                    <div class="" v-if="pageType == 'profile'">

                        <div class="personal__header">
                            <span class="personal__title">{{$t('personal.account')}}</span>
                        </div>

                        <div class="personal__info" v-bind:class="{ active: editState }">
                            <div class="personal__card-top">
                                <span class="personal__caption">{{$t('personal.caption')}}</span>
                                <span class="personal__label">
                                    {{$t('personal.subcaption')}}
                                </span>
                            </div>
                            <PersonalAvatar class="personal__avatar"/>
                            <span class="personal__item" v-if="!editState">
                                <label class="personal__label">{{$t('personal.name')}}:</label>
                                <input type="text" name="" class="personal__value" v-model="fullName">
                            </span>

                            <div class="personal__group" v-if="editState">
                                <span class="personal__item">
                                    <div class="account-card__input-group">
                                        <input type="text" @input="changeLabelClass" name="" class="js-account-input" v-model="firstName">
                                        <label class=" account-card__label">{{$t('personal.firstName')}}:</label>
                                    </div>
                                </span>
                                <span class="personal__item">
                                     <div class="account-card__input-group">
                                        <input type="text" @input="changeLabelClass" name="" class="js-account-input" v-model="lastName">
                                        <label class=" account-card__label">{{$t('personal.lastName')}}:</label>
                                    </div>
                                </span>
                            </div>

                            <span class="personal__item"> 
                                <div class="account-card__input-group">
                                   <input type="text" @input="changeLabelClass" name="" class="personal__value js-account-input" v-model.trim="location" >
                                   <label class="account-card__label" v-if="editState">{{$t('personal.location')}}:</label>
                                   <label class="account-card__label" style="font-size: 14px" v-if="!editState">{{$t('personal.location')}}:</label>
                               </div>
                            </span>

                            <span class="personal__item">
                                <div class="account-card__input-group">
                                    <input class="personal__value is-active" :value="dateMask(birthDay)" type="text" v-if="!editState"></input>
                                    <label class=" account-card__label  account-card__label--static"> {{$t('personal.birth')}}:</label>
                                    <label class=" account-card__label  account-card__label--static text-danger" v-if="editState && errDate"> {{$t('personal.errDate')}}</label>
                                </div>


                                <div class="personal__plug">
                                    <div class="personal__item-inner">
                                        <div class="personal__select">
                                            <b-form-select @change="getMonth" v-model="selectedMonth" :options="month" v-if="lang == 'en'"></b-form-select>
                                            <b-form-select @change="getMonth" v-model="selectedMonth" :options="monthRu" v-else></b-form-select>
                                            <img src="~/assets/icons/icon-arrow-gray.svg?inline" alt="">
                                        </div>

                                        <div class="personal__select">
                                            <b-form-select v-model="selectedDay" :options="days"></b-form-select>
                                            <img src="~/assets/icons/icon-arrow-gray.svg?inline" alt="">
                                        </div>

                                        <div class="personal__select">
                                            <b-form-select @change="getYear" v-model="selectedYear" :options="years" style="width: 80px"></b-form-select>
                                            <img src="~/assets/icons/icon-arrow-gray.svg?inline" alt="">
                                        </div>
                                    </div>
                                </div>

                            </span>

                            <span class="personal__item personal__item--full">
                                <div class="account-card__input-group">
                                   <input type="text" @input="changeLabelClass" name="" class="personal__value js-account-input" v-if="about || editState" v-model.trim="about" >
                                   <label class="account-card__label" v-if="editState">{{$t('personal.about')}}:</label>
                                   <label class="account-card__label" v-if="!editState" style="font-size: 14px">{{$t('personal.about')}}:</label>
                               </div>

                            </span>


                            <button type="button" name="button" class="btn btn--big btn--outline"
                             v-bind:class="{ hidden: editState }"
                             @click="changeEdit">
                             {{$t('personal.editBtn')}}
                            </button>

                            <button type="button" name="button" class="btn btn--big btn--deep"
                             v-bind:class="{ hidden: !editState }"
                             @click="editData">
                                {{$t('personal.saveBtn')}}
                            </button>

                        </div>
                    </div>

                    <div class="" v-if="pageType == 'settings'">
                        <div class="personal__header">
                            <span class="personal__title">
                                {{$t('AccountSettings.title')}}
                            </span>
                        </div>
                        <Phone :currentPhone="phone"/>
                        <Email :currentEmail="email"/>
                        <Password class=" mb-4"/>
                        <SocialAcc class=" mb-4"/>
                        <Delete/>
                    </div>

                    <div class="" v-if="pageType == 'notification'">
                        <div class="personal__header">
                            <span class="personal__title">{{$t('personal.menuNotification')}}</span>
                        </div>
                        <NotificationSafety/>
                        <NotificationPrice/>
                        <NotificationSubscriptions/>
                    </div>

                </div>
            </div>
      </div>
  </div>
</template>

<script>
import  { I18N }  from '../../config';
// import ClickOutside from 'vue-click-outside';
import PersonalCard from "../../components/PersonalCard";
import Password from "~/components/AccountSettings/Password";
import Phone from "~/components/AccountSettings/Phone";
import Email from "~/components/AccountSettings/Email";
import SocialAcc from "~/components/AccountSettings/SocialAcc";
import Delete from "~/components/AccountSettings/Delete";
import NotificationSafety from "~/components/AccountSettings/NotificationSafety";
import NotificationPrice from "~/components/AccountSettings/NotificationPrice";
import NotificationSubscriptions from "~/components/AccountSettings/NotificationSubscriptions";
import PersonalAvatar from "~/components/PersonalAvatar";

export default {
    components: {PersonalCard, Password, Email, Phone, SocialAcc, Delete,
    NotificationSafety, NotificationPrice, NotificationSubscriptions, PersonalAvatar},
    async asyncData({store, params}) {
        return {
            pageType: params.detail
        }
    },
    data() {
        return {
            errDate: false,
            user: null,
            fullName: '',
            firstName: '',
            lastName: '',
            email: '',
            creationTime: '',
            phone: '',
            birthDay: '',
            birthDayDate: '',
            about: '-',
            location: '-',
            editState: false,
            selectedMonth: '',
            selectedYear: '',
            startYear: '',
            selectedDay: '',
            years: [],
            days: [],
            month: [{text:'January', value: "01"}, {text:'February', value: "02"}, {text:'March', value: "03"}, {text:'April', value: "04"}, {text:'May', value: "05"}, {text:'June', value: "06"}, {text:'July', value: "07"}, {text:'August', value: "08"}, {text:'September', value: "09"}, {text:'October', value: "10"}, {text:'November', value: "11"}, {text:'December', value: "12"}],
            monthRu: [{text:'Январь', value: "01"}, {text:'Февраль', value: "02"}, {text:'Март', value: "03"}, {text:'Апрель', value: "04"}, {text:'Май', value: "05"}, {text:'Июнь', value: "06"}, {text:'Июль', value: "07"}, {text:'Август', value: "08"}, {text:'Сентябрь', value: "09"}, {text:'Октябрь', value: "10"}, {text:'Ноябрь', value: "11"}, {text:'Декабрь', value: "12"}],
            isShowCollumn: true
        }
    },
    methods: {
        changeEdit() {
            this.editState = true;
            setTimeout(() => {
                this.changeLabelClass();
            }, 100)
        },
        dateMask(date) {
            if (!date) {
                return '';
            } else {
              var options = {
                month: 'long',
                day: 'numeric',
                year: 'numeric',
              };
              const birthDayDate = this.selectedYear + '-' + this.selectedMonth + '-' + this.selectedDay;
              const creationTime = new Date(date).toLocaleDateString(this.lang, options);
              return creationTime;
            }
           
        },
        async editData() {
            if (this.validateDate) {
                this.errDate = true;
                setTimeout(() => {
                    this.errDate = false;
                }, 3000);
            } else {
                const birthDayDate = this.selectedYear + '-' + this.selectedMonth + '-' + this.selectedDay;
                const dataForm = {
                name: this.firstName || null,
                last_name: this.lastName || null,
                location: this.location || null,
                birthday: birthDayDate || null,
                about: this.about || null
            }
            this.$api.post('/auth/user', dataForm, {auth: true})
            .then(res => {
                this.$store.dispatch("modules/auth/getCurrentUser");
                this.editState = false;
            })
            .catch(e => {console.log(e);})
            }
            
        },
        daysInMonth (month, year) {
            return new Date(year, month, 0).getDate();
        },
        formirateYears() {
            for (var i = 1920; i < new Date().getFullYear()+1;) {
                this.years.push(i++);
            }
        },
        formirateDays(month, year ) {
            for (var i = 1; i < this.daysInMonth(month, year) + 1;) {
                this.days.push(i++)
            }
        },
        defaultDays() {
            for (var i = 1; i < 32;) {
                this.days.push(i++)
            }
        },
        getMonth(e) {
            if(this.lang == 'ru') {
                var month = this.monthRu.indexOf(this.selectedMonth) + 1;
            } else {
                var month = this.month.indexOf(this.selectedMonth) + 1;
            }
            const year = this.selectedYear;
            this.days = [];
            this.formirateDays(month, year);
        },
        getYear(e) {
            if(this.lang == 'ru') {
                var month = this.monthRu.indexOf(this.selectedMonth) + 1;
            } else {
                var month = this.month.indexOf(this.selectedMonth) + 1;
            }

            const year = this.selectedYear;
            this.days = [];
            this.formirateDays(month, year);
        },
        getShowCollumn() {
            if(window.innerWidth < 900) {
                this.isShowCollumn = false;
            } else {
                this.isShowCollumn = true;
            }
        },
        changeLabelClass() {
            document.querySelectorAll('.js-account-input').forEach((item, i) => {
                if(item.value.length > 0) {
                    item.classList.add('is-active')
                } else {
                    item.classList.remove('is-active')
                }
            });
        }
    },
    computed: {
        menuData() {
            return I18N.vueI18n.messages[this.$i18n.locale].acountMenu;
        },
        lang() {
          return this.$i18n.locale;
        },
        validateDate() {
            return ((this.selectedMonth || this.selectedDay || this.selectedYear) && (!this.selectedMonth || !this.selectedDay || !this.selectedYear)) ? true : false;
               
        },
        userInfo() {
            return this.$store.state.modules.auth.currentUser;
               
        },
    },
    watch: {
      menuData(langData) {
        this.menuList = langData;
      },
      userInfo(data) {
        const user = data;
        var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
        };
        this.creationTime = new Date(user.create_date).toLocaleDateString(this.lang, options);
        this.firstName = user.name || "";
        this.lastName = user.last_name || "";
        this.email = user.email;
        this.phone = user.phoneNumber;
        this.fullName = this.firstName + ' ' +  this.lastName;
        if (user.birthday) {
            this.selectedMonth = user.birthday.split('-')[1] || '';
            this.selectedYear = user.birthday.split('-')[0] || '';
            this.selectedDay = parseInt(user.birthday.split('-')[2]) || '';
        };
        this.birthDay = user.birthday || '';
        this.about = user.about || '';
        this.location = user.location || '';
      }
    },
    mounted() {
        this.$store.dispatch('modules/auth/getCurrentUser');
        this.formirateYears();
        this.defaultDays();
        this.changeLabelClass();
        setTimeout(() => {
            this.splitFullName();
        }, 500)
        this.$nextTick(() => {
            window.addEventListener('resize', this.getShowCollumn);
            this.getShowCollumn()
        });
    }
}
</script>

<style lang="scss" scoped>
    .personal {
        padding: $spacer * 5 0;

        @media #{$tablet} {
            overflow: hidden;
        }

        &__title {
            font-size: 30px;
            color: $text-color;
            font-weight: bold;
            margin: 0 0 $spacer *4;

            @media #{$tablet} {
                font-size: $font-size-extra-middle;
                font-weight: 800;
            }
        }

        &__header {
            background: $white;
            border-radius: $border-radius;
            padding: $spacer * 6 $spacer * 12;
            margin: 0 0 $spacer * 5;

            @media #{$tablet} {
                margin: $spacer * 5 0;
                padding: $spacer * 6;
            }

            @media #{$mobile} {
                border-radius: 0;
            }
        }

        &__card-top {
            margin: 0 0 $spacer * 8;
            display: flex;
            flex-direction: column;

            @media #{$tablet} {
                margin: 0 0 $spacer * 10;
            }
        }


        &__item {
            font-size: $font-size-md;
            margin: 0 0 $spacer * 13;
            flex-direction: column;
            display: flex;
            width: 300px;
            margin-right: 24px;

            @media #{$tablet} {
                width: 100%;
                // margin: 0;
            }

            &--full {
                width: 100%;
                margin: 0 0 $spacer * 9;

                .personal__value {
                    width: 100%;
                }
            }

             .account-card__label {
                top: -26px;
             }
        }

        &__item-inner {
            display: flex;
            margin: $spacer * 2 0 0;

            @media #{$mobile} {
                flex-direction: column;
            }
        }

        &__label {
            font-size: $font-size-md;
            line-height: $line-height-md;
            color: $text-color-pale;
            pointer-events: none;
        }

        &__value {
            width: 300px;
            max-width: 100%;
            font-size: $font-size-lg;
            font-weight: 600;
            background: none;
            border: none;
            color: $text-color;
            // border-bottom: 1px solid transparent;
            pointer-events: none;
            margin: 0;
            margin-right: $spacer * 8;
            height: auto;
            padding: 0 0 $spacer * 2;

            &:focus {
                color: $primary-light-color;
            }
        }

        &__caption {
            font-weight: bold;
            margin: 0 0 $spacer;
            font-size: $font-size-xl;
        }

        &__info {
            display: flex;
            flex-direction: column;
            color: $text-color;
            background: $white;
            border-radius: $border-radius;
            padding: $spacer * 12;
            align-items: flex-start;

            @media #{$tablet} {
                padding: $spacer * 6;
            }

            &.active {
                .personal__value {
                    pointer-events: auto;
                    border-bottom: 1px solid #EFF0F0;
                    padding: 25px 0 8px;

                    &:active {
                        border-bottom: 1px solid $primary-light-color;
                    }

                    &:focus {
                        border-bottom: 1px solid $primary-light-color;
                    }

                    &--smart {
                        display: none;
                    }

                    &--hide {
                        display: none;
                    }

                }

                .personal__item {
                    margin: 0 24px $spacer * 8 0;
                }

                input.is-active + .account-card__label {
                    top: -1px;
                }

                input:focus + .account-card__label {
                    top: -1px;
                }

                input:active + .account-card__label {
                    top: -1px;
                }

                input {
                    margin-bottom: 0;
                }

                .account-card__label {
                    top: 18px;
                    pointer-events: none;

                    &--static {
                        position: static;
                        font-size: $font-size-md;
                    }
                }

                .personal__twice {
                    display: flex;
                }

                .personal__plug {
                    display: block;
                }
            }
        }

        &__plug {
            display: none;
        }

        &__twice {
            display: none;
        }

        &__select {
            position: relative;

            img {
                position: absolute;
                right: 20px;
                top: 13px;
                pointer-events: none;
                transform: rotate(90deg);
                width: 7px;
                filter: grayscale(100%);
            }

            &:first-child {
                width: 156px;
                margin-right: $spacer * 2;
            }

            &:nth-child(2) {
                width: 94px;
                margin-right: $spacer * 2;
            }

            &:last-child {
                width: 80px;
                margin-right: $spacer * 2;
            }

            @media #{$mobile} {
                width: 100% !important;
            }
        }

        &__group {
            display: flex;

            @media #{$tablet} {
                flex-direction: column;
                width: 100%;
            }
        }

        &__avatar {
            display: none;

            @media #{$tablet} {
                display: block;
                margin: 0 0 $spacer * 10;
            }
        }

        .btn {
            width: 160px;
            color: $text-color-pale;
            border: 2px solid $text-color-pale;
            font-weight: bold;

            &--deep {
                border: none;
                color: $white;
                border-radius: $border-radius;
            }
        }

        .hidden {
            display: none;
        }

        .custom-select {
            background: $border-light;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            border-radius: 2px;

            @media #{$tablet} {
                width: 100% !important;
                margin: 0 0 $spacer * 2;
            }
        }

    }

    .container {
        @media #{$mobile} {
            padding: 0;
        }
    }

    input {
        border: none;
        border-bottom: 1px solid $input-shadow;
        border-radius: 0;
        background: none;
        color: $text-color;
        font-size: $font-size-lg;
        padding-left: 0;
        margin: 0 0 $spacer * 8;
        padding: 25px 0 8px;
        font-weight: bold;

        &::placeholder {
            color: $text-color-pale;
        }

        &.active {
            color: $primary-light-color;
            border-bottom: 1px solid $primary-light-color;
        }

        &.is-active  + label {
            font-size: $font-size-md;
            top: 5px;
        }

        &.is-value  + label {
            font-size: $font-size-md;
            top: 5px;
        }

        &:focus {
            color: $primary-light-color;
            border-bottom: 1px solid $primary-light-color;
        }

    }

    input:focus + label {
        font-size: $font-size-md;
        top: 5px;
    }
    select {
        padding: 5px;
    }

</style>
