<template>
  <div class="fifth">
    <div class="fifth__container">
      <div class="fifth__left-section">
        <img class="fifth__img" :src="phones" alt="Phones image" />
      </div>
      <div class="fifth__right-section">
        <div class="fifth__text-container">
          <p class="fifth__title">{{ $t("lp.fourth.title") }}</p>
          <p class="fifth__description">{{ $t("lp.fourth.description") }}</p>
        </div>
        <div class="fifth__links-container">
          <a :href="getLinks.apple" target="_blank" class="fifth__link" rel="nofollow noopener noreferrer">
            <img :src="appStore" alt="App store link" />
          </a>
          <a :href="getLinks.android" target="_blank" rel="nofollow noopener noreferrer">
            <img :src="googleStore" alt="Google store link" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const phones = require("~/assets/img/lp/Phones.png");
const appStore = require("~/assets/svg/app-store-download.svg?inline");
const googleStore = require("~/assets/svg/google-store-download.svg?inline");

export default {
  name: "FourthScreen",
  data() {
    return {
      phones,
      appStore,
      googleStore
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    getLinks() {
      return this.$store.state.modules.links;
    }
  }
};
</script>

<style lang="scss" scoped>
.fifth {
  background-color: $border-light;
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    @media #{$tablet} {
      flex-direction: column;
    }
  }
  &__left-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
    @media #{$tablet} {
      width: 100%;
    }
  }
  &__right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $spacer * 5;
    @media #{$tablet} {
      width: 100%;
      padding: 0 $spacer * 4;
      align-items: center;
    }
  }
  &__text-container {
    margin-bottom: 24px;
    @media #{$tablet} {
      width: 100%;
    }
  }
  &__title {
    width: inherit;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 16px;
    @media #{$tablet} {
      text-align: center;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__link {
    margin-right: $spacer * 6;
  }

  &__description {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    max-width: 420px;
    font-size: 18px;
    line-height: 150%;
    color: $text-color;
    margin: 0;
    @media #{$tablet} {
      max-width: 100%;
      text-align: center;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__links-container {
    display: flex;
    @media #{$tablet} {
      padding-left: 0;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
    }
  }
}
</style>
