<template>
  <div class="bottom-shadow">
    <div class="container">
      <div class="first-screen">
        <div class="first-screen__info">
          <h2 class="info-item__caption">
            Все для инвестирования на фондовом рынке
          </h2>
          <p class="info-item__description">
            Читай самые важные новости и аналитику в нашем Telegram канале на
            своем устройстве
          </p>
          <a href="https://t.me/ifinikinvest" target="_self" class="info-item__btn" rel="nofollow noopener noreferrer">ПОДПИСАТЬСЯ</a>
        </div>
        <div>
          <img :src="firstImg" alt="" class="first-screen__img" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const firstImg = require("~/assets/img/tlgm-lp/first-screen-img.jpg");
export default {
  data() {
    return {
      firstImg
    };
  }
};
</script>

<style lang="scss" scoped>
.bottom-shadow {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.first-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  @media #{$mobile} {
    flex-direction: column-reverse;
    padding-bottom: 48px !important;
  }
  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media #{$mobile} {
      width: 100%;
      align-items: center;
    }
    .info-item {
      &__caption {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        color: $text-color;
        margin-bottom: $spacer * 8;
        @media #{$tablet} {
          font-size: 24px;
          line-height: 32px;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
      &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $text-color;
        margin-bottom: $spacer * 8;
        @media #{$tablet} {
          font-size: 16px;
          line-height: 150%;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
      &__btn {
        background: #1b7afa;
        border-radius: 3px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 45px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 180px;
      }
    }
  }
  &__img {
    max-height: 500px;
    @media #{$mobile} {
      padding-bottom: $spacer * 6;
      max-width: 360px;
    }
  }
}
</style>
