<template>
  <div class="fourth-screen">
    <div class="container fourth-screen__centered">
      <h2 class="fourth-screen__header">Наши преимущества</h2>
      <p class="fourth-screen__sub-header">
        Все для того, чтобы заработать, а не потерять!
      </p>
      <div class="fourth-screen__grid-wrapper">
        <div class="card" v-for="el in cards" :key="el.id" :class="el.class">
          <div class="card__img-container">
            <img :src="el.imgUrl" alt="" class="card__img" />
          </div>
          <div class="card__text-container">
            <h4 class="card__caption">{{ el.caption }}</h4>
            <p class="card__description">{{ el.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const relevance = require("~/assets/img/tlgm-lp/fourth/rel.jpg");
const study = require("~/assets/img/tlgm-lp/fourth/study.jpg");
const time = require("~/assets/img/tlgm-lp/fourth/time.jpg");
const efficiency = require("~/assets/img/tlgm-lp/fourth/eff.jpg");
export default {
  data() {
    return {
      cards: [
        {
          class: "card-right reverse-card",
          imgUrl: relevance,
          caption: "Актуальность",
          description:
            "К моменту открытия биржи, вы уже будете знать о состоянии рынка, запланированных публикациях отчётностей компаний, текущих лидерах роста/падения, трендах и ключевых событиях дня."
        },
        {
          class: "card-right reverse-card",
          imgUrl: study,
          caption: "Обучение",
          description:
            "Теоретический ликбез и разбор практических кейсов позволит новичкам развивать свой профессионализм."
        },
        {
          class: "card-left",
          imgUrl: time,
          caption: "Время",
          description:
            "К моменту открытия биржи, вы уже будете знать о состоянии рынка, запланированных публикациях отчётностей компаний, текущих лидерах роста/падения, трендах и ключевых событиях дня."
        },
        {
          class: "card-left",
          imgUrl: efficiency,
          caption: "Эффективность",
          description:
            "Благодаря публикациям технического и фундаментального анализа компаний, вы качественно повысите эффективность торговых операций."
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.fourth-screen {
  background-color: $border-light;
  &__centered {
    margin: 0 auto;
    max-width: 1034px;
    padding: 80px 0 56px 0;

    @media #{$tabletLg} {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }
    @media #{$tablet} {
        padding: 48px 16px 40px 16px;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    @media #{$tablet} {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__sub-header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 88px;
    @media #{$tablet} {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 48px;
    }
  }
  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @media (max-width: 900px) {
      grid-row-gap: 0;
      display: flex;
      flex-direction: column;
    }
  }
  .card {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: $white;
    max-width: 509px;
    padding: 34px;
    width: 100%;
    @media (max-width: 900px) {
      margin-bottom: $spacer * 4;
    }
    @media (max-width: 900px) {
      max-width: 100%;
    }

    @media #{$tablet} {
      padding: $spacer * 6;
    }
    @media #{$mobile} {
      flex-direction: column-reverse;
      align-items: center;
      padding-left: $spacer * 4 !important;
      padding-right: $spacer * 4 !important;
    }
    &__text-container {
      max-width: 232px;
      @media (max-width: 900px) {
        max-width: 100%;
      }
      @media #{$mobile} {
        width: 100%;
      }
    }

    &__caption {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: $text-color;
      @media #{$mobile} {
        font-size: 18px;
        line-height: 25px;
      }
    }
    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
      margin: 0;
      @media #{$mobile} {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &__img-container {
      display: flex;
      align-items: center;
    }
    &__img {
      max-width: 243px;
      max-height: 163px;
      @media (max-width: 900px) {
        max-width: 312px;
        max-height: 211px;
      }
      @media #{$mobile} {
        max-width: 328px;
        max-height: 228px;
      }
    }
  }
  .card-left {
    padding-left: 0;
    @media #{$mobile} {
      padding-left: 24px;
      display: flex;
      flex-direction: column;
    }
  }
  .card-right {
    padding-right: 0;
    @media #{$mobile} {
      padding-left: 24px;
    }
  }
  .reverse-card {
    flex-direction: row-reverse;
    @media #{$mobile} {
      flex-direction: column;
      align-items: center;
    }
  }
}
</style>
