<template>
  <div class="container bottom-shadow">
    <div class="second-screen">
      <div class="second-screen__img-container">
        <img :src="secondImg" alt="" />
      </div>
      <div class="second-screen__text-container">
        <h2 class="text-item__caption">
          Telegram канал iFinik Инвестиции
        </h2>
        <p class="text-item__description">
          Это ежедневный обзор фондовых рынков России и США. Аналитика для
          профессионалов и обучающие статьи для тех, кто хочет ими стать. IPO и
          портфель.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
const secondImg = require("~/assets/img/tlgm-lp/second-screen-img.jpg");
export default {
  data() {
    return {
      secondImg
    };
  }
};
</script>

<style lang="scss" scoped>
.bottom-shadow {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.second-screen {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: center;
    @media #{$mobile} {
    flex-direction: column;
  }

    &__img-container {
      width: 50%;
      min-width: 336px;
    }
    &__text-container{
      max-width: 420px;
    }
    .text-item {
      &__caption {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        color: $text-color;
        margin-bottom: $spacer * 2;
        @media #{$tablet} {
          font-size: 24px;
          line-height: 32px;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
      &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $text-color;
        @media #{$tablet} {
          font-size: 16px;
          line-height: 150%;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
    }
}
</style>
