<template>
  <div class="fifth-section">
    <div class="fifth">
      <div class="fifth__text-container">
        <p class="fifth__title">Присоединяйся к нашему Telegram каналу</p>
        <p class="fifth__description">
          Будь в курсе всех событий. Будь первым!
        </p>
      </div>
      <div class="fifth__button-container">
        <a href="https://t.me/ifinikinvest" target="_self" class="fifth__btn" rel="nofollow noopener noreferrer">ПОДПИСАТЬСЯ</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      params: {
        show: true,
        event: ""
      }
    };
  },
  methods: {
    showModal(event) {
      this.params.event = event;
      this.$store.dispatch("modules/modal/changePopup", this.params);
    }
  }
};
</script>

<style lang="scss" scoped>
.fifth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 0;

  @media #{$mobile} {
    padding: 48px 0;
  }
  &__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$mobile} {
      max-width: 320px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $text-color;
    margin-bottom: 8px;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $text-color;
    max-width: 860px;
    margin-bottom: 40px;
    @media #{$mobile} {
      margin-bottom: 48px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__btn {
    background: #1b7afa;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    padding: 16px 45px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 180px;
  }
}
.fifth-section {
  background-image: url("../../assets/img/tlgm-lp/dlr.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: initial;
  position: relative;
}
</style>
