<template>
  <div class="sixth-screen">
    <div class="container">
      <div class="sixth-screen__header">
        <h2 class="sixth-screen__caption">Наши источники</h2>
        <p class="sixth-screen__description">
          Всю информацию мы берем из авторитетных и проверенных источников
        </p>
      </div>
    </div>
    <div class="slideshow__container">
      <div class="slideshow__element">
        <div class="slideshow__bar">
          <div class="sixth-screen__slides">
            <div v-for="el in images" :key="el.key">
              <div class="sixth-screen__slide">
                <img :src="el.name" />
              </div>
            </div>
          </div>
        </div>
        <div class="slideshow__bar">
          <div class="sixth-screen__slides">
            <div v-for="el in images" :key="el.key">
              <div class="sixth-screen__slide">
                <img :src="el.name" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const wsj = require("~/assets/img/slideImages/wsj.jpg");
const investing = require("~/assets/img/slideImages/investing.jpg");
const yahoo = require("~/assets/img/slideImages/yahoo.jpg");
const bloomberg = require("~/assets/img/slideImages/bloomberg.jpg");
const nytimes = require("~/assets/img/slideImages/nytimes.jpg");
const reuters = require("~/assets/img/slideImages/reuters.jpg");
const guardian = require("~/assets/img/slideImages/guardian.jpg");
const tc = require("~/assets/img/slideImages/tc.jpg");
const thetimes = require("~/assets/img/slideImages/thetimes.jpg");
const interfax = require("~/assets/img/slideImages/interfax.jpg");
export default {
  data() {
    return {
      images: [
        { name: wsj },
        { name: investing },
        { name: yahoo },
        { name: bloomberg },
        { name: nytimes },
        { name: reuters },
        { name: guardian },
        { name: tc },
        { name: thetimes },
        { name: interfax }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.sixth-screen {
  padding: 80px 0 64px 0;
  @media #{$mobile} {
    padding: 24px 0 40px 0;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__caption {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: $text-color;
    margin-bottom: 8px;
    @media #{$mobile} {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: $text-color;
    margin-bottom: 50px;
    @media #{$mobile} {
      text-align: center;
    }
    @media #{$mobile} {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 36px;
    }
  }
  &__img-container {
    overflow: auto;
  }
  &__img {
    overflow: hidden;
    min-width: 2176px !important;
  }
  &__slides {
    display: flex;
    justify-content: space-around;
  }
  &__slide {
    padding: 0 32px;
  }
  .slideshow {
    &__container {
      width: 100%;
      overflow: hidden;
    }
    &__element {
      animation-duration: 12s;
      animation-direction: normal;
      animation-delay: 0s;
      transform: translate3d(0, 0, 0);
      position: relative;
      overflow: hidden;
      animation-name: moveLogos;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      display: flex;
      width: max-content;
      min-width: 200%;
    }
    &__bar {
      width: 50% !important;
    }
  }
  @keyframes moveLogos {
    100% {
      transform: translateX(-50%);
    }
  }
}
</style>
