<template>
  <div class="container">
    <div class="third-screen">
      <div class="third-screen__container">
        <h2 class="third-screen__header">Все что нужно в одном месте</h2>
        <div class="third-screen__grid-columns">
          <div class="column-item" v-for="el in items" :key="el.id">
            <img :src="el.imgUrl" class="column-item__img" />
            <div class="column-item__info">
              <h4 class="column-item__caption">{{ el.caption }}</h4>
              <p class="column-item__description">{{ el.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const news = require("~/assets/img/tlgm-lp/third/third-news.jpg");
const analysis = require("~/assets/img/tlgm-lp/third/third-analysis.jpg");
const studyInfo = require("~/assets/img/tlgm-lp/third/third-study-info.jpg");
const analytics = require("~/assets/img/tlgm-lp/third/third-analytics.jpg");
const ideas = require("~/assets/img/tlgm-lp/third/third-ideas.jpg");
const company = require("~/assets/img/tlgm-lp/third/third-company.jpg");
export default {
  data() {
    return {
      items: [
        {
          imgUrl: news,
          caption: "Важные новости",
          description:
            "Обзор самых важных новостей русскоязычных и иностранных деловых СМИ. Языковой барьер больше не будет проблемой - мы расскажем обо всем важном и интересном, что написано в зарубежных изданиях."
        },
        {
          imgUrl: analytics,
          caption: "Аналитика",
          description:
            "Сводка мнений лучших финансовых экспертов и аналитиков о ситуации на фондовом рынке России и США. В ленте ежедневно публикуются только интересные и важные аналитические статьи и рекомендации."
        },
        {
          imgUrl: analysis,
          caption: "Технический анализ",
          description:
            "Сигналы на покупку на основе технического анализа ценных бумаг и индексов."
        },
        {
          imgUrl: ideas,
          caption: "Инвестиционные идеи",
          description:
            "Рекомендации и инвестидеи от наших и сторонних аналитиков. Ведение портфеля."
        },
        {
          imgUrl: studyInfo,
          caption: "Обучающая информация",
          description:
            "Еженедельно мы разбираем актуальные теоретические или практический кейсы."
        },
        {
          imgUrl: company,
          caption: "Обзоры компаний",
          description:
            "Короткий, но своевременный обзор финансовых отчетов компаний РФ и США. Сравнение с прогнозами."
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.third-screen {
  padding: 80px 0 90px 0;
  display: flex;
  justify-content: center;
  @media #{$tablet} {
    padding: 48px 24px;
  }
  &__header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: $text-color;
    margin-bottom: 88px;
    @media #{$mobile} {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 48px;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media #{$mobile} {
      flex-direction: column;
    }
    .right-col {
      margin-right: 64px;
    }
  }
  &__grid-columns {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    @media #{$mobile} {
      grid-column-gap: 0;
      grid-row-gap: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .column-item {
    display: flex;

    @media #{$mobile} {
      margin-bottom: 64px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__img {
      max-width: 96px;
      max-height: 96px;
      margin-right: $spacer * 6;
      @media #{$tablet} {
        max-width: 64px;
        max-height: 64px;
      }
    }
    &__caption {
      margin-bottom: $spacer * 4;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: $text-color;
      @media #{$mobile} {
        font-size: 18px;
        line-height: 25px;
      }
    }
    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
      margin: 0;
      @media #{$mobile} {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
</style>
