<template>
  <div >
    <div v-b-toggle="`${cardInfo.id}`" class="clps-toggler" :class="{'border-rad-top': isShow}">
      <p class="caption">{{ cardInfo.caption }}</p>
      <img
        :src="dropIcon"
        class="toggle-animate"
        :class="{ 'toggle-icon': isShow }"
      />
    </div>
    <b-collapse
      :id="`${cardInfo.id}`"
      class="mt-0"
      @show="showCollapse"
      @hide="hideCollapse"
    >
      <b-card class="text-block" :class="{'border-bot': isShow}">
        <p class="text-item">{{ cardInfo.text }}</p>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
import dropIcon from "~/assets/svg/start-lp/drop-icon.svg?inline";
export default {
  data() {
    return { dropIcon, isShow: false };
  },
  props: ["cardInfo"],
  methods: {
    showCollapse(e) {
      this.isShow = true;
    },
    hideCollapse(e) {
      this.isShow = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.clps-toggler {
  width: 100%;
  height: 72px;
  background-color: $white;
  padding: 24px 32px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}
.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  @media #{$mobile} {
    font-size: 16px;
    line-height: 24px;
  }
}
.text-block {
  border: none;
  padding: 0 16px 24px 24px;
}
.text-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.toggle-animate {
  transition: all 0.25s linear;
}
.toggle-icon {
  transform: rotate(-180deg);
}
.border-rad-top {
  border-radius: 4px 4px 0 0;
}
.border-bot {
  border-radius: 0 0 4px 4px;
}
</style>
<style>
.card-body {
  padding: 0;
}
</style>
