<template>
  <div class="fin-card">
    <div class="fin-card__row">
      <div class="fin-card__info">
        <h1 class="info-item__caption">{{ cardInfo.caption }}</h1>
        <h2 class="info-item__options-caption">
          {{ cardInfo.optionsCaption }}
        </h2>
        <ul class="info-item__list-container" style="margin-bottom: 24px">
          <li
            v-for="text in cardInfo.options"
            :key="text.id"
            class="info-item__list-item"
          >
            <img :src="listArrowGreen" class="list-item-img" />
            <p class="list-item-text">{{ text }}</p>
          </li>
        </ul>
        <div style="margin-bottom: 24px">
          <a href="https://www.moex.com/ru/issue.aspx?board=TQIF&code=RU000A101NK4&utm_source=www.moex.com&utm_term=%D1%84%D0%BF%D1%80" target="_blank" class="info-item__link" v-if="cardInfo.detailLink"
            >Подробнее о фонде</a
          >
        </div>

        <h3 class="info-item__options-caption">Условия</h3>
        <ul class="info-item__list-container">
          <li
            v-for="text in cardInfo.infoList"
            :key="text.id"
            class="info-item__list-item"
          >
            <img :src="listArrowDark" class="list-item-img" />
            <p class="list-item-text">{{ text }}</p>
          </li>
        </ul>
        <div class="fin-card__btn-block">
          <button @click="isOpen = true" class="fin-card__btn">
            Окрыть счет
          </button>
          <button
            @click="isOpen = true"
            v-for="caption in cardInfo.btnsCaption"
            :key="caption.id"
            class="fin-card__btn btn-outline"
          >
            {{ caption }}
          </button>
        </div>
      </div>
      <div class="fin-card__chart-container">
        <p class="fin-card__chart-name">{{ cardInfo.chart.name }}</p>
        <div class="fin-card__ellipse">
          <img :src="cardInfo.chart.logos[0]" />
        </div>
        <div
          class="fin-card__ellipse second-ell"
          v-if="cardInfo.chart.logos[1]"
        >
          <img :src="cardInfo.chart.logos[1]" />
        </div>
        <div class="fin-card__chart-scroll-box">
          <div
            :id="cardInfo.scroll"
            style="position: absolute; overflow: auto; width: 100%"
          >
            <img :src="cardInfo.chart.img" class="fin-card__chart-img" />
          </div>
          <div class="fin-card__tooltips-block">
            <div
              v-for="el in cardInfo.chart.colCaption"
              :key="el.id"
              class="tooltip-item"
            >
              <div
                class="chart-col-qtr"
                :style="`background-color: ${el.color}`"
              ></div>
              <p class="chart-col-caption">{{ el.caption }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="fin-card__bot-text">
      Фридом Финанс - самая быстрорастущая инвестиционная компания России, акции
      которой торгуются на американской фондовой бирже Nasdaq.
    </p>
    <transition name="slide-fade">
      <div class="popup" v-if="isOpen" @click="isOpen = false">
        <div class="popup-wrap">
          <span class="close" @click="isOpen = false"></span>
          <iframe
            src="https://ffin.site/reg/?ref=pfu1115787"
            width="100%"
            height="100%"
          ></iframe>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
const listArrowGreen = require("~/assets/svg/start-lp/list-arrow-green.svg?inline");
const listArrowDark = require("~/assets/svg/start-lp/list-arrow-dark-blue.svg?inline");
export default {
  mounted() {
    this.scrollPosition();
  },
  data() {
    return {
      listArrowGreen,
      listArrowDark,
      isOpen: false
    };
  },
  methods: {
    scrollPosition() {
      const el = document.getElementById(this.cardInfo.scroll);
      el.scrollLeft = 400;
    }
  },
  props: ["cardInfo"]
};
</script>

<style lang="scss" scoped>
.fin-card {
  background-color: $white;
  border-radius: 4px;
  padding: $spacer * 12;
  margin-bottom: 20px;
  @media #{$tablet} {
    padding: $spacer * 6;
  }
  @media #{$mobile} {
    padding: $spacer * 6;
  }
  &__row {
    display: flex;
    flex-direction: row;
    @media #{$tablet} {
      flex-direction: column;
    }
  }
  &__info {
    width: 500px;
    @media #{$tabletLg} {
      width: 400px;
    }
    @media #{$tablet} {
      width: 100%;
    }
    .info-item {
      &__caption {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        @media #{$mobile} {
          font-size: 20px;
          line-height: 24px;
        }
      }
      &__options-caption {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
        @media #{$mobile} {
          font-size: 16px;
          line-height: 22px;
        }
      }
      &__list-container {
        padding-left: $spacer * 2;
        margin: 0;
      }
      &__link {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #1b7afa;
      }
      &__list-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 16px;

        .list-item-text {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
        }
        .list-item-img {
          padding: 7px 16px 0 0;
        }
      }
    }
  }
  &__chart-container {
    margin-left: 64px;
    max-width: 640px;
    width: 100%;
    @media #{$tablet} {
      margin: 24px 0 0 0;
    }
  }
  &__chart-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    max-width: 67%;
    @media #{$mobile} {
      text-align: center;
      max-width: 100%;
    }
  }
  &__chart-scroll-box {
    border: 1px solid #f2f4f6;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 100%;
    position: relative;
    padding: 16px 0 24px 0;
  }
  &__chart-img {
    width: 638px;
    max-width: 638px;
  }
  &__ellipse {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #e8ebef;
    position: absolute;
    background-color: $white;
    z-index: 1;
    margin: 16px 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-ell {
    margin-left: 70px;
  }
  &__tooltips-block {
    background: #f6f7f8;
    border: 1px solid #f2f4f6;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    margin: 280px 24px 0 24px;
    flex-wrap: wrap;
    @media #{$tabletLg} {
      padding: 16px 16px 0 16px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
  &__bot-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 48px;
    color: #8e9aaa;
    @media #{$mobile} {
      text-align: center;
    }
  }
  &__btn-block {
    display: flex;
    @media #{$mobile} {
      flex-direction: column;
    }
  }
  &__btn {
    background: #1b7afa;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    height: 44px;
    transition: all 0.25s linear;
    margin-right: 16px;
    &:hover {
      background: #0a65dd;
    }
    @media #{$mobile} {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .btn-outline {
    background: #ffffff;
    color: #1b7afa;
    border: 2px solid #1b7afa;
    &:hover {
      background: #1b7afa;
      color: #ffffff;
    }
  }
}
.tooltip-item {
  display: flex;
  flex-direction: row;
  @media #{$tabletLg} {
    margin-bottom: 16px;
  }
}
.chart-col-qtr {
  width: 16px;
  height: 16px;
  min-width: 16px;
}
.chart-col-caption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8e9aaa;
  margin: 0 8px;
}
.popup {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba($white, 0.6);
  overflow-y: auto;
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
}
.popup-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 790px;
  height: 600px;
  transform: translate(-50%, -50%);
  z-index: 111;
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;

  @media #{$tablet} {
    min-width: auto;
    max-width: 80%;
    width: 90%;
  }

  @media #{$mobile} {
    min-width: auto;
    max-width: 100%;
    width: 100%;
  }

  iframe {
    border: none;
    position: relative;
    z-index: 112;
    margin-top: 20px;
  }

  .close {
    right: 20px;
    top: 20px;

    @media #{$tablet} {
      display: none;
      top: 10px;
    }
  }
}
</style>
