<template>
  <div class="container" style="margin-top: 35px">
    <div class="first-scr">
      <div class="first-scr__info-block">
        <h1 class="info__caption">
          Легкий старт в инвестициях со счётом во Фридом Финанс
        </h1>
        <p class="info__description">
          Брокерский счет поможет Вам освоить новые способы накопления с
          инвестициями в ценные бумаги, с доходностью выше банковского вклада.
        </p>
        <h2 class="info__sub-caption">Взгляните сами:</h2>
        <ul class="info__list-container">
          <li v-for="text in infoList" :key="text.id" class="info__list-item">
            <img :src="listArrow" class="list-item-img" />
            <p class="list-item-text">{{ text }}</p>
          </li>
        </ul>
      </div>
      <div class="first-scr__img">
        <img :src="macBook" />
      </div>
    </div>
  </div>
</template>

<script>
const listArrow = require("~/assets/svg/start-lp/list-arrow.svg?inline");
const macBook = require("~/assets/img/start-lp/mac-book.png");
export default {
  data() {
    return {
      listArrow,
      macBook,
      infoList: [
        "Можно начать сразу с высокого дохода!",
        "Инвестиции в IPO проще, чем кажется! Доступны всем, а не только квалифицированным инвесторам!",
        `Это как вклад “до востребования”: Если деньги срочно понадобятся, их всегда можно сразу забрать.`
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.first-scr {
  background-color: $white;
  border-radius: 4px;
  padding: $spacer * 12;
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  @media #{$tablet} {
    padding: $spacer * 6;
  }
  @media #{$mobile} {
    flex-direction: column;
  }

  &__info-block {
    max-width: 500px;
    .info {
      &__caption {
        font-style: normal;
        font-weight: 800;
        font-size: $font-size-extra-lg;
        line-height: $line-height-xl;
        margin-bottom: 16px;
        @media #{$tablet} {
          font-size: 24px;
          line-height: 28px;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
      &__sub-caption {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
        @media #{$tablet} {
          font-size: 20px;
          line-height: 24px;
        }
      }
      &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 32px;
        @media #{$tablet} {
          font-size: 16px;
          line-height: 24px;
        }
        @media #{$mobile} {
          text-align: center;
        }
      }
      &__list-container {
        padding-left: $spacer * 2;
        margin: 0;
      }
      &__list-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 16px;

        .list-item-text {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
        }
        .list-item-img {
          padding: 7px 16px 0 0;
        }
      }
    }
  }
  &__img {
    margin-left: 64px;
    max-width: 640px;
    display: flex;
    align-items: center;
    @media #{$tablet} {
      margin-left: 32px;
    }
    @media #{$mobile} {
      margin-left: 0;
    }
  }
  &__img img {
    width: 100%;
  }
}
</style>
