<template>
  <div class="container">
    <div class="second-scr">
      <h1 class="second-scr__header">
        Три примера сравнения доходности по инвестициям с доходностью по
        банковским вкладам
      </h1>
    </div>
    <FinCard v-for="item in finCards" :key="item.id" :cardInfo="item" />
  </div>
</template>

<script>
import FinCard from "./FinCard";
const freedomLogo = require("~/assets/svg/start-lp/freedom-logo.svg?inline");
const teslaLogo = require("~/assets/svg/start-lp/tesla-logo.svg?inline");
const alibabaLogo = require("~/assets/svg/start-lp/alibaba-logo.svg?inline");
const dollarLogo = require("~/assets/svg/start-lp/dollar-logo.svg?inline");
const euroLogo = require("~/assets/svg/start-lp/euro-logo.svg?inline");
const dollarEuroChart = require("~/assets/svg/start-lp/dollar-euro-chart.svg?inline");
const freedomChart = require("~/assets/svg/start-lp/freedom-chart.svg?inline");
const teslaAlibabaChart = require("~/assets/svg/start-lp/tesla-alibaba-chart.svg?inline");
export default {
  components: {
    FinCard
  },
  data() {
    return {
      finCards: [
        {
          scroll: 'scrol-1',
          caption: "Приобрести паи ПИФ “Фонд Первичных Размещений”",
          optionsCaption: "Ключевые принципы формирования фонда:",
          detailLink: true,
          options: [
            `Участие во всех отобранных по рекомендациям ИК "Фридом Финанс" IPO в объеме не более 10% от средств фонда для обеспечения диверсификации вложений.`,
            "По истечении трех месяцев с момента покупки на IPO фонд продает эти акции и участвует в новых размещениях.",
            "Инвестор получает купонный доход на облигации, в которые инвестируются средства фонда, не вложенные в акции компаний в ходе IPO."
          ],
          infoList: [
            "Срок любой",
            "Сумма вложений от 2 т.р. (примерная стоимость пая)",
            "Забрать деньги можно в любое время"
          ],
          btnsCaption: ["Купить паи ФПР"],
          chart: {
            name:
              "Инвестор получает купонный доход на облигации, в которые инвестируются средства фонда, не вложенные в акции компаний в ходе IPO.",
            colCaption: [
              { color: "#00B68A", caption: "ПИФ ФПР" },
              {
                color: "#F34161",
                caption: `Среднебанковский депозит “До востребования”`
              }
            ],
            img: freedomChart,
            logos: [freedomLogo]
          }
        },
        {
          scroll: 'scrol-2',
          caption:
            "Приобрести акции технологических гигантов, например, Apple, Amazon, Alibaba или Tesla",
          optionsCaption: "Особенности:",
          options: [
            "Акции иностранных компаний торгуются в долларах, поэтому Ваш доход ДОПОЛНИТЕЛЬНО увеличивается по мере роста курса доллара США"
          ],
          infoList: [
            "Срок любой",
            "Сумма вложений зависит от стоимости акции",
            "Забрать деньги можно в любое время"
          ],
          btnsCaption: ["Купить TSLA", "Купить BABA"],
          chart: {
            name:
              "История доходности акций Tesla и среднебанковских ставок «до востребования» за 2020 год",
            colCaption: [
              { color: "#00B68A", caption: "Tesla (TSLA)" },
              { color: "#FEBA0C", caption: "Alibaba (BABA)" },
              {
                color: "#F34161",
                caption: `Среднебанковский депозит “До востребования”`
              }
            ],
            img: teslaAlibabaChart,
            logos: [teslaLogo, alibabaLogo]
          }
        },
        {
          scroll: 'scrol-3',
          caption: "Приобрести валюту, с возможностью обмена на бирже онлайн",
          optionsCaption: "Особенности:",
          options: [
            "За свою историю курс доллара и Евро постоянно росли по отношению к рублю."
          ],
          infoList: [
            "Срок любой",
            "Сумма вложений зависит от ваших возможностей",
            "Забрать деньги можно в любое время"
          ],
          btnsCaption: ["Купить USD", "Купить EUR"],
          chart: {
            name:
              "История доходности валют и среднебанковских ставок «до востребования» за 2020 год",
            colCaption: [
              { color: "#00B68A", caption: "Евро" },
              { color: "#FEBA0C", caption: "Доллар США" },
              {
                color: "#F34161",
                caption: `Среднебанковский депозит “До востребования”`
              }
            ],
            img: dollarEuroChart,
            logos: [dollarLogo, euroLogo]
          }
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.second-scr {
  background-color: $white;
  border-radius: 4px;
  padding: $spacer * 6;
  display: flex;
  justify-content: center;
  margin-bottom: $spacer * 5;
  &__header {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    max-width: 880px;
    text-align: center;
  }
}
</style>
