<template>
  <div class="container" style="margin-bottom: 50px">
    <div class="third-header">
      <h5 class="third-header__text">Вопросы и Ответы</h5>
    </div>
    <div>
      <masonry :cols="{ default: 2, 900: 1 }" :gutter="20">
        <CollapseCard
          v-for="el in cards"
          :key="el.id"
          :cardInfo="el"
          class="grid-item"
        />
      </masonry>
    </div>
  </div>
</template>

<script>
import CollapseCard from "./CollapseCard";
export default {
  components: {
    CollapseCard
  },
  data() {
    return {
      cards: [
        {
          caption: "Что такое iFinik Investments?",
          id: "id-1",
          text:
            "Это сервис для инвестирования и накопления, подходящий даже начинающим. Финансовыми партнерами сервиса выступают брокеры, представленные на платформе. В рамках сервиса вы сможете открыть брокерский счёт онлайн, покупать и продавать ценные бумаги (облигации, фонды, акции) и обменивать валюту по хорошему курсу близкому к биржевому."
        },
        {
          caption: "Где хранятся деньги?",
          id: "id-2",
          text:
            "Ваши деньги будут храниться на брокерских счетах выбранного брокер - мы работаем только с крупнейшими системообразующими брокерами."
        },
        {
          caption: "Есть ли плата за обслуживание?",
          id: "id-3",
          text:
            "Независимо от тарифа, не нужно платить за обслуживание, если ничего не покупаете и не продаёте, либо пользуетесь альтернативами вкладу. В остальных случаях при покупке или продаже возникает комиссия, соответствующая тарифу выбранного брокера."
        },
        {
          caption: "Какие налоги?",
          id: "id-4",
          text:
            "Налог возникает только тогда, когда вы получили прибыль от вложений. Они будут удержаны автоматически — общаться с налоговой не придётся."
        },
        {
          caption: "Как открыть счёт?",
          id: "id-5",
          text:
            "Чтобы открыть счёт, заполните анкету на сайте. Для этого потребуется паспорт гражданина РФ и несколько минут. В редких случаях может понадобиться ИНН или СНИЛС. Рассмотрение заявки занимает от получаса до нескольких дней, после чего вам придёт СМС с результатом или свяжется менеджер. По умолчанию обслуживание счёта бесплатное."
        },
        {
          caption: "Как вывести деньги со счёта?",
          id: "id-6",
          text: "Вывести деньги можно в режиме 24/7."
        },
        {
          caption: "Как пополнить счёт?",
          id: "id-7",
          text:
            "Счёт можно пополнить банковским переводом или банковской картой."
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.grid-item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.third-header {
  background: $white;
  border-radius: $spacer;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  &__text {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }
}
</style>
