<template lang="html">
  <div class="account" ref="showNav">
    <div class="account__wrap">
      <span class="account__ring">
        <img src="~/assets/icons/icon-ring.svg?inline" />
      </span>

      <div class="account__pic" @click="showNav">
        <img
          v-if="userImg"
          :src="userImg"
          alt=""
          width="32"
          height="32"
          class="account__img"
        />
        <img
          v-if="!userImg"
          src="~/assets/img/avatar-holder.jpg"
          alt=""
          width="32"
          height="32"
          class="account__img"
        />
      </div>

      <div class="account__nav" v-if="isShow">
        <div class="account__data">
          <span v-if="name" class="account__name">{{ name }}</span>
          <span v-if="login" class="account__email">{{ login }}</span>

          <span v-if="isShow" class="account__sub-arrow" @click="showSub">
            <img src="~/assets/icons/icon-arrow.svg?inline" />
          </span>
        </div>
        <div class="account__list-wrap">
          <ul class="account__list">
            <li @click="showNav">
              <nuxt-link
                class="account__link"
                :to="localePath('/account/profile')"
              >
                <img src="~/assets/icons/icon-profile2.svg?inline" />
                {{ $t("acountMenu.profile") }}
              </nuxt-link>
            </li>
            <li @click="showNav">
              <nuxt-link
                class="account__link"
                :to="localePath('/account/settings')"
              >
                <img src="~/assets/icons/icon-setting.svg?inline" />
                {{ $t("acountMenu.settings") }}
              </nuxt-link>
            </li>
            <li @click="showNav">
              <nuxt-link
                class="account__link"
                :to="localePath('/account/notification')"
              >
                <img src="~/assets/icons/icon-ring-dark.svg?inline" />
                {{ $t("acountMenu.notification") }}
              </nuxt-link>
            </li>
          </ul>
          <div class="account__nav-bottom">
            <nuxt-link :to="localePath('/')" class="account__signout">
              <span @click="signOut">
                <img src="~/assets/icons/icon-logout.svg?inline" />
                {{ $t("personal.buttonOut") }}</span
              >
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { I18N } from "../config";

export default {
  data() {
    return {
      isShow: false,
      userImg: "",
      name: "",
      email: "",
      phone: "",
      login: "",
    };
  },
  methods: {
    showNav() {
      if (window.innerWidth > 899) {
        this.isShow = !this.isShow;
      }
      this.$store.dispatch("modules/auth/menuState", false);
    },
    async signOut() {
      try {
        await this.$store.dispatch("modules/auth/logout");
        const param = {
          show: false,
          event: "signIn"
        };
        await this.$store.dispatch("modules/modal/changePopup", param);
      } catch (e) {}
    },
    close(e) {
      if (!this.$refs.showNav.contains(e.target) && window.innerWidth > 899) {
        this.isShow = false;
      }
    },
    showSub(e) {
      e.target.classList.toggle("is-active");
      e.target.parentElement.nextElementSibling.classList.toggle("is-active");
    },
    showAccountMenu() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth < 900) {
        this.isShow = true;
      } else {
        this.isShow = false;
      }
    }
  },
  created() {
    window.addEventListener("click", this.close);
  },
  beforeDestroy() {
    window.removeEventListener("click", this.close);
    window.addEventListener("resize", this.showAccountMenu);
  },
  mounted() {

    this.$nextTick(() => {
      window.addEventListener("resize", this.showAccountMenu);
      this.showAccountMenu();
    });
  },
  watch: {
    user(data) {
      if (data.avatar_url) {
        this.userImg = data.avatar_url;
      } else {
        this.userImg = "";
      }
      let name = data.name || "";
      let lastName = data.last_name || "";
      this.name = name + ' ' + lastName;
      this.login = data.login || "";
    }
  },
  computed: {
    user() {
      return this.$store.state.modules.auth.currentUser;
    }
  }
};
</script>

<style lang="scss" scoped>
.account {
  position: relative;

  &__wrap {
    display: flex;
    padding: $spacer * 2 0;

    @media #{$tablet} {
      padding: 0;
    }
  }

  &__ring {
    display: flex;
    margin-right: $spacer * 4;
    cursor: pointer;
    transition: opacity $delay ease-in-out;

    @media #{$tablet} {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__pic {
    display: flex;
    cursor: pointer;
    width: 32px;
    height: 32px;

    @media #{$tablet} {
      position: absolute;
      z-index: 3;
      left: 24px;
      top: 32px;
    }
  }

  &__img {
    border: 2px solid $dark-bg;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav {
    position: absolute;
    top: 46px;
    right: 0;
    z-index: 2;
    min-width: 240px;
    background: $white;
    border-top: 4px solid $dark-bg;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media #{$tablet} {
      position: static;
      border: none;
      box-shadow: none;
      width: 100%;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media #{$tablet} {
      margin: 0;
    }
  }

  &__list-wrap {
    @media #{$tablet} {
      max-height: 0;
      overflow: hidden;
      transition: max-height $delay ease-in-out;

      &.is-active {
        max-height: 1000px;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    padding: $spacer * 8 0;
    margin: 0 $spacer * 8 $spacer * 2;
    border-bottom: 1px solid $border-light;

    @media #{$tablet} {
      margin: 0 $spacer * 6 $spacer * 2 $spacer * 20;
      border: none;
    }
  }

  &__name {
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-lg;
    color: $dark-bg;
  }

  &__email {
    color: $text-color-pale;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: 0.02em;
  }

  &__phone {
    color: $text-color-pale;
    font-size: $font-size-md;
    line-height: $line-height-xs;
    letter-spacing: 0.02em;
  }

  &__link {
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: $spacer * 3.6 $spacer * 4 $spacer * 3.6 $spacer * 8;
    transition: $delay background ease-in-out, $delay color ease-in-out;

    @media #{$tablet} {
      justify-content: flex-start;
      color: $text-color-pale;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: calc(100% - 140px);
        right: 70px;
        bottom: 0;
        height: 0.5px;
        background: $deep-gray;
      }
    }

    @media #{$mobile} {
      color: $text-color-pale;

      &::before {
        width: calc(100% - 70px);
        right: 0;
      }
    }

    img {
      display: none;
      opacity: 0.4;

      @media #{$tablet} {
        display: block;
        margin-right: 16px;
      }
    }

    &:hover {
      background: $light-color;
      color: $primary-light-color;

      @media #{$tabletLg} {
        background: transparent;
        color: $text-color;
      }
    }

    // &.nuxt-link-exact-active {
    //     background: $disabled-color;
    //     color: $text-reverse-color;
    //     pointer-events: none;
    //
    //     @media #{$tablet} {
    //         pointer-events: inherit;
    //         background: none;
    //         color: $text-color;
    //     }
    // }

    &.nuxt-link-active.nuxt-link-exact-active {
      // background: $disabled-color;
      color: $primary-light-color;
      pointer-events: none;

      @media #{$tablet} {
        pointer-events: inherit;
        background: none;
        color: $text-color;
      }

      img {
        opacity: 1;
      }
    }
  }

  &__signout {
    color: $danger-color;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: calc(100% + 48px);
    margin-left: -$spacer * 6;
    transition: $delay background ease-in-out, $delay color ease-in-out;

    span {
      padding: $spacer * 3.6 $spacer * 4 $spacer * 3.6 $spacer * 8;
      width: 100%;

      @media #{$tablet} {
        padding-left: 10px;
      }
    }

    &:hover {
      background: $light-color;
      color: $warning-color;
    }

    @media #{$tablet} {
      color: $text-color-pale;
      width: 100%;
      margin: 0;
      padding-right: 24px;
    }
  }

  &__nav-bottom {
    border-top: 1px solid $border-light;
    margin: $spacer * 2 $spacer * 6;
    padding: $spacer * 2 0 0;

    img {
      display: none;

      @media #{$tablet} {
        display: block;
        margin-right: 16px;
      }
    }

    span {
      @media #{$tablet} {
        display: flex;
      }
    }

    @media #{$tablet} {
      color: $text-color-pale;
      padding: 0;
      margin: 0 0 0 $spacer * 6;
      border-top: 0;
    }
  }

  &__sub-arrow {
    display: none;

    @media #{$tablet} {
      display: flex;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20px;
      top: 40px;
      transform: rotate(90deg);
      align-items: center;
      justify-content: center;
      transition: transform $delay ease-in-out;

      &.is-active {
        transform: rotate(-90deg);
      }
    }

    img {
      pointer-events: none;
    }
  }
}
</style>
