<template lang="html">
  <div class="auth-btn-group">
    <button @click="showModal('signIn')"  type="button" name="button" class="btn btn--light">{{$t('buttons.signIn')}}</button>
    <button @click="showModal('register')" type="button" name="button" class="btn btn--deep">{{$t('buttons.registration')}}</button>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
    data() {
        return {
            params: {
                show: true,
                event: ''
            }
        }
    },
    methods: {
        showModal(event) {
            this.params.event = event;
            this.$store.dispatch('modules/modal/changePopup', this.params)
        }
    }
}
</script>

<style lang="scss" scoped>
.auth-btn-group {
    display: flex;
}
</style>
