<template>
  <div class="logoImg">
    <img :src="logoInvest" />     
  </div>
</template>

<script>
  const logoInvest = require('../assets/svg/invest/logo_invest.svg?inline');

  export default {
    name: "BannerInvest",
    data() {
      return {
        logoInvest          
      }        
    }     
  }
</script>

<style lang="scss" scoped>
  .logoImg {
    height: 100%;
  }
</style>