<template lang="html">
    <div class="banner">
        <div class="container">
            <div class="banner__wrap">

                <div class="banner__pic">
                    <img :src="companyData.company.photo_urls[0]" alt="" class="banner__img" v-if="companyData.company.photo_urls">
                    <img src="~/assets/svg/company_placeholder.svg?inline" alt="" class="banner__img" v-else>
                </div>
                <div class="banner__info">
                    <div class="banner__info-left">
                        <div class="banner__heading">
                            <span class="banner__title">{{companyData.asset.tiker}}</span>
                            <span class="banner__subtitle">{{companyData.company.full_name}}</span>
                        </div>
                        <span class="banner__mark">{{$t('banner.equity')}} • {{companyData.asset.market_code}}</span>
                    </div>
                    <!--
                    <div class="banner__info-right" v-if="pageTypeData !=='summary'">
                        <a class="banner__notify">
                            <img src="~/assets/icons/notify.svg?inline" alt="">
                        </a>
                        <div class="banner__price">
                            <span class="banner__price-val">{{numFormiratePrice(this.realPriceData.price)}}</span>
                            <span class="banner__price-change" :class="{success: this.realPriceData.diff > 0}">{{numFormirateFloat(this.realPriceData.diff)}}</span>
                            <span class="banner__price-percent" :class="{success: this.realPriceData.diff_percent > 0}">({{numIcludeZero(this.realPriceData.diff_percent)}}%)</span>
                        </div>
                        <div class="banner__price-time">{{$t('companyCard.update')}}: {{lastUpdateDate}}</div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            relaTimeData: '',
            yesterdayData: '',
            differenceData: '',
            percentDifference: '',
            lastUpdateDate: '',
            historyArr: '',
            dataBanner: '',
            tickerName: '',
            realPriceData: '',
            companyName: ''
        }
    },
    props: {
        price: Object,
        infoBanner: Object,
        pageType: String
    },
    computed: {
        lang() {
          return this.$i18n.locale;
        },
        companyData() {
            return this.$store.state.modules.instruments.dataCompany;
        },
        pageTypeData() {
            return this.$store.state.modules.instruments.pageTypeData;
        },
        laocalPathData() {
            return this;
        }
    },
    methods: {
        formirateDate() {
                var options = {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric'
                };
                this.lastUpdateDate = new Date().toLocaleDateString(this.lang, options);
        },
        numIcludeZero(number) {
            let num = number;
            let val = number;

            if(Number.isInteger(val)) {
                val = (number/1).toFixed(2);
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
            } else {
                val = (number/1).toFixed(2);
                return val;
            }
        },
        numFormirateFloat(number) {
            if(this.realPriceData.price) {
                if(this.realPriceData.price.toString().split('.')[1]) {
                    const fixedNum = this.realPriceData.price.toString().split('.')[1].length;
                    if(fixedNum < 2) {
                        return number.toFixed(2);
                    } else {
                        return number.toFixed(fixedNum);
                    }

                } else {
                    return number.toFixed(2)
                }
            }
        },
        numFormiratePrice(number) {
            if(this.realPriceData.price) {
                if(this.realPriceData.price.toString().split('.')[1]) {
                    const fixedNum = this.realPriceData.price.toString().split('.')[1].length;
                    if(fixedNum < 2) {
                        return number.toFixed(2);
                    } else {
                        return number;
                    }
                } else {
                    return number.toFixed(2)
                }
            }
        },
    },
}
</script>

<style lang="scss" scoped>
    .banner {
        margin: $spacer * 5 0 0;

        &__wrap {
            border-radius: 4px 4px 0 0;
            position: relative;
            height: 160px;
            overflow: hidden;

            @media #{$mobile} {
                border-radius: 0;
            }
        }

        &__pic {
            height: 100%;
        }

        &__breadcrumbs {
            font-weight: 600;
            font-size: $font-size-md;
            line-height: $line-height-md;
            // background: rgba(0, 0, 0, 0.4);
            padding: $spacer * 2 $spacer * 6 $spacer * 2 0;
            // position: absolute;
            top: $spacer * 4;
            left: 0;
            max-width: 100%;

            @media #{$mobile} {
                padding: $spacer $spacer * 4;
                top: $spacer;
            }

            &-item {
                margin-right: $spacer;

                &:not(:last-child) {
                    &::after {
                        content: '•';
                        margin-left: $spacer;
                    }
                }

                a {
                    color: $white;
                }
            }
        }

        &__info {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            padding: $spacer * 6 $spacer * 12 $spacer * 5;

            @media #{$tabletLg} {
                padding: $spacer * 4 $spacer * 6 $spacer * 3;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            font-size: $font-size-extra;
            line-height: $line-height-lg;
            font-weight: bold;
            margin-right: $spacer * 2;

            @media #{$tablet} {
                font-size: $font-size-extra-middle;
            }
        }

        &__subtitle {
            font-size: $font-size-extra-middle;
            font-weight: normal;

            @media #{$tablet} {
                font-size: $font-size-xxl;
            }
        }

        &__heading {
            margin: 0;
        }

        &__mark {
            font-size: $font-size-md;
            color: rgba($white, 0.8);
        }

        &__info-left {
            flex-shrink: 0;
            flex: 1;
        }

        &__info-right {
            flex-shrink: 0;
            text-align: right;
            position: relative;
            padding-left: 62px;

            @media #{$tablet} {
                padding-left: 40px;
            }
            @media #{$mobile} {
                display: none;
            }
        }

        &__notify {
            cursor: pointer;
            line-height: 0;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 2px;
            padding: 6px 7px 5px;
            position: absolute;
            top: 4px;
            left: 0;
            display: none;

            img {
                vertical-align: top;
            }
        }

        &__price {
            font-size: $font-size-extra;
            line-height: $line-height-lg;
            font-weight: 700;

            @media #{$tablet} {
                font-size: $font-size-extra-middle;
            }

            span {
                margin-right: $spacer * 2;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-val {

            }

            &-change {
                font-size: $font-size-extra-middle;
                color: #FF2667;
                vertical-align: bottom;

                &.success {
                    color: $succes-color;
                }

                @media #{$tablet} {
                    font-size: $font-size-xxl;
                }
            }

            &-percent {
                font-size: $font-size-extra-middle;
                font-weight: 400;
                color: #FF2667;
                vertical-align: bottom;

                &.success {
                    color: $succes-color;
                }

                @media #{$tablet} {
                    font-size: $font-size-xxl;
                }
            }
        }

        &__price-time {
            font-size: $font-size-md;
            line-height: $line-height-lg;
            color: rgba(255, 255, 255, 0.8);
            margin-top: $spacer;
        }

        .container {
            @media #{$mobile} {
                padding: 0;
            }
        }
    }
</style>
