<template>
  <div>
    <button :class="{border: isBorder}" @click="addInBookmarks" class="bookmark-btn">
      <img
        alt="Bookmark icon"
        src="~/assets/icons/icon-bookmark.svg?inline"
        v-if="!isActive">
      <img
        alt="Bookmark icon active"
        src="~/assets/icons/icon-bookmark-active.svg?inline"
        v-else>
    </button>
  </div>
</template>

<script>
export default {
  name: 'BookmarkBtn',
  data() {
    return {
      isActive: false,
    };
  },
  props: {
    isBorder: Boolean,
  },
  methods: {
    addInBookmarks() {
      this.isActive = !this.isActive;
    }
  },
};
</script>

<style lang="scss" scoped>
  .bookmark-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .border {
    border: 1px solid $border-light;
    border-radius: $border-radius;
    box-sizing: content-box;
  }

</style>
