<template>
  <div class="brokers-card">
    <img :src="partnerImg" alt="" />
    <span class="brokers-card__name">{{ name }}</span>
    <a
      rel="nofollow noopener noreferrer"
      target="_blank"
      :href="link"
      class="brokers-card__link"
      >{{ linkName(link) }}</a
    >
    <hr class="brokers-card__hr" />
    <button
      :id="GAid"
      v-if="!isJustLink"
      @click="showIframe"
      class="brokers-card__btn btn btn--deep"
    >
      {{ translate.createAcc }}
    </button>
    <a
      :id="GAid"
      rel="nofollow noopener noreferrer"
      target="_blank"
      v-if="isJustLink"
      :href="frameLink"
      class="brokers-card__btn btn btn--deep"
    >
      {{ translate.createAcc }}
    </a>
    <p v-if="text" class="brokers-card__text">
      <strong v-if="text.strong">{{ text.strong }}</strong>
      {{ text.normal.first }}
      <a
        :href="text.link"
        class="brokers-card__text-link"
        target="_blank"
        rel="nofollow noopener noreferrer"
        >{{ text.name }}</a
      >
      {{ text.normal.second }}
    </p>
    <p class="brokers-card__additional-info" @click="isOpenInfo = true">
      Дополнительная информация...
    </p>

    <transition name="slide-fade">
      <div class="brokers-card__popup" v-if="isOpen" @click="isOpen = false">
        <div class="brokers-card__popup-wrap">
          <span class="close" @click="isOpen = false"></span>
          <iframe :src="frameLink" width="100%" height="100%"></iframe>
        </div>
      </div>
      <div
        class="brokers-card__popup info-pp"
        v-if="isOpenInfo"
        @click="isOpenInfo = false"
      >
        <div class="brokers-card__popup-wrap info-pp-wrap">
          <span class="close" @click="isOpenInfo = false"></span>
          <div class="brokers-card__popup-content">
            <AboutBroker :info="info[brokerKey]"/>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { I18N } from "~/config";
import {info} from './Brokers/info';
import AboutBroker from './Brokers/AboutBroker';
export default {
  data() {
    return {
      info: info,
      isOpen: false,
      isOpenInfo: false
    };
  },
  components: {AboutBroker},
  props: {
    brokerKey: String,
    GAid: String,
    partnerImg: String,
    name: String,
    link: String,
    frameLink: String,
    isJustLink: Boolean,
    text: Object
  },
  computed: {
    translate() {
      return I18N.vueI18n.messages[this.$i18n.locale].brokers;
    }
  },
  methods: {
    linkName(link) {
      return link.substr(8);
    },
    showIframe() {
      this.isOpen = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.brokers-card {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacer * 6 $spacer * 8;
  border: 1px solid #c7d0db;
  box-sizing: border-box;
  border-radius: $spacer * 2;
  @media #{$mobile} {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    margin: $spacer * 2 0;
  }
  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $primary-light-color;
    margin-bottom: $spacer * 6;
  }
  &__hr {
    border-top: 1px solid #f2f4f7 !important;
    width: 100%;
    margin: 0 0 $spacer * 6 0 !important;
  }
  &__btn {
    padding: 8px 16px;
    background: $primary-light-color;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: $spacer * 4;
  }
  &__popup {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background: rgba($white, 0.6);
    overflow-y: auto;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $text-color-pale;
    margin: 0;
  }
  &__text-link {
    &::after {
      content: ",";
      color: $text-color-pale;
      font-weight: normal;
    }
  }

  &__additional-info {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #8e9aaa;
    margin: 0;
    cursor: pointer;
  }
  &__popup-content {
      margin: 72px 48px 48px 24px;
      overflow: auto;
      height: 502px;
      @media #{$tablet} {
        margin: 36px 23px 24px 24px;
      }
  }

  &__popup-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 790px;
    height: 600px;
    transform: translate(-50%, -50%);
    z-index: 111;
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;

    @media #{$tablet} {
      min-width: auto;
      max-width: 80%;
      width: 90%;
    }

    @media #{$mobile} {
      min-width: auto;
      max-width: 100%;
      width: 100%;
    }

    iframe {
      border: none;
      position: relative;
      z-index: 112;
      margin-top: 20px;
    }

    .close {
      right: 20px;
      top: 20px;

      @media #{$tablet} {
        right: 10px;
      }
    }
  }
  .info-pp-wrap {
    min-width: 640px !important;
    max-width: 640px;
    box-shadow: none;
    border-radius: 4px;
    @media (max-width: 640px) {
      min-width: 100% !important;
      height: auto;
    }
  }
  .info-pp {
    background: rgba(0, 0, 0, 0.4);
  }
}
</style>
