<template lang="html">
    <div class="chart">
        <div class="chart__wrap">
            <div class="chart__heading">
                <h2 class="chart__caption">{{$t('chart.title')}}</h2>
                <span class="chart__zoom">
                    <img src="~/assets/icons/icon-zoom.svg?inline">
                </span>
            </div>
            <div class="chart__graph">
                <!-- <canvas ref="canvas" width="744" height="300"></canvas> -->
                <no-ssr>
                    <vue-plotly :data="data" :layout="layout" :options="options"/>
                </no-ssr>
            </div>
            <div class="chart__panel">
                <div class="chart__type">
                    <span class="chart__marker">{{$t('chart.marker')}}</span>
                    <div class="chart__group">
                        <span class="chart__btn">{{$t('chart.btnVolume')}}</span>
                        <span class="chart__btn">{{$t('chart.btnNews')}}</span>
                    </div>
                </div>
                <div class="chart__period">
                    <span class="chart__switch"
                      v-for="(item, index) in periodList"
                      :class="{ 'active': activeEl == index }"
                      v-bind:key="index" @click="choicePeriod(index)">
                        <small>{{item}}</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {Line} from 'vue-chartjs'
import { DateTime } from 'luxon'

// import VuePlotly from '@statnett/vue-plotly'

if (process.client) {
  var VuePlotly = require('@statnett/vue-plotly')
  var Plotly = require('plotly.js');
}

export default {
    extends: Line,
    components: {
      VuePlotly
    },
    data() {
        return {
            periodList: ['1D', '1W', '1M', '6M', '1Y', '5Y', 'All'],
            activeEl: 0,
            data:[],
            layout:{
              title: "AAPL High",
              xaxis: {
                // autorange: true,
                range: ['2015-02-17', '2017-02-16'],
                rangeselector: {buttons: [
                    {
                      count: 1,
                      label: '1m',
                      step: 'month',
                      stepmode: 'backward'
                    },
                    {
                      count: 6,
                      label: '6m',
                      step: 'month',
                      stepmode: 'backward'
                    },
                    {step: 'all'}
                  ]},
                // rangeslider: {range: ['2015-02-17', '2017-02-16']},
                type: 'date'
              },
              yaxis: {
                autorange: true,
                range: [86.8700008333, 138.870004167],
                type: 'linear'
              }
          },
          options: {},
          dateObject: '',
        }
    },
    methods: {
        choicePeriod(index) {
            this.activeEl = index;
        },
        unpack(rows, key) {
            return rows.map(function(row) { return row[key]; });
        },
    },
    mounted() {
        if(Plotly) {
            Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv',
                (err, rows) => {
                    function unpack(rows, key) {
                        return rows.map(function(row) { return row[key]; });
                    }
                    var trace1 = {
                      type: "scatter",
                      mode: "lines",
                      name: 'AAPL High',
                      x: unpack(rows, 'Date'),
                      y: unpack(rows, 'AAPL.High'),
                      line: {color: '#17BECF'}
                    }

                    console.log(trace1);
                    this.data = [trace1]
                }
            );
        }
    },
    computed: {
        getDateArr() {
            return this.dateObject;
        }
    }
}

</script>

<style lang="scss" scoped>
    .chart {
        background: $white;
        color: $text-color;
        border-radius: $spacer;
        margin: 0 0 $spacer * 5;
        overflow: hidden;

        &__heading {
            padding: $spacer * 6;
            font-size: $font-size-xxl;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

            @media #{$mobile} {
                padding: $spacer * 6 $spacer * 3;
            }
        }

        &__zoom {
            cursor: pointer;
            transition: transform $delay ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__graph {
            padding: 0 $spacer * 6;

            @media #{$mobile} {
                padding: $spacer * 3 $spacer * 3;
            }
        }

        &__panel {
            padding: $spacer * 6;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media #{$mobile} {
                align-items: flex-start;
                flex-direction: column-reverse;
                padding: $spacer * 3;
            }
        }

        &__type {
            display: flex;
            flex-direction: column;
        }

        &__marker {
            font-size: $font-size-xxs;
            text-transform: uppercase;
            font-weight: bold;
            color: $text-color-pale;
            letter-spacing: 0.1em;
            margin: 0 0 $spacer * 2;
        }

        &__group {
            display: flex;
        }

        &__btn {
            background: $border-light;
            color: $text-color-pale;
            font-weight: 600;
            font-size: $font-size-xs;
            padding: $spacer *2 $spacer * 4;
            margin-right: $spacer * 2;
            cursor: pointer;
        }

        &__period {
            display: flex;
            align-items: center;
            background: $deep-gray;
            border-radius: $border-radius;

            @media #{$mobile} {
                margin: 0 0 $spacer *4 ;
            }
        }

        &__switch {
            padding: 0 $spacer * 2;
            cursor: pointer;
            position: relative;
            height: 26px;

            small {
                position: relative;
                z-index: 2;
                font-size: $font-size-md;
                line-height: $line-height-md;
            }

            &.active {
                // background: $primary-light-color;
                color: $white;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 30px;
                    background: $primary-light-color;
                    top: -2px;
                    left: 0;
                    border-radius: $border-radius;
                }
            }
        }
    }
</style>
