<template>
  <span class="chart-data-toggle">
    <img :src="src" alt="" >
  </span>
</template>

<script>
import icon from '~/assets/icons/icon-chart.svg?inline';
import iconActive from '~/assets/icons/icon-chart-active.svg?inline';

export default {
  name: 'ChartDataToggle',
  data() {
    return {

    };
  },
  computed: {
    src() {
      return iconActive;
    },
  },
  props: {
    isActive: Boolean
  }
};
</script>

<style lang="scss" scoped>
  .chart-data-toggle {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 16px;

    img {
      vertical-align: top;
    }
  }
</style>
