<template lang="html">
  <div class="chart">
    <div class="chart__wrap">
      <div class="chart__heading">
        <h2 class="chart__caption">{{ $t("chart.title") }}</h2>
        <!-- <span class="chart__zoom">
                    <img src="~/assets/icons/icon-zoom.svg?inline">
                </span> -->
      </div>
      <div class="chart__info">
        <div class="chart__num">
          <span class="chart__result">{{
            getPriceNumCount(dataProfile.asset.close)
          }}</span>
          <span
            class="chart__increment"
            v-bind:class="{ danger: dataProfile.asset.delta_day < 0 }"
          >
            {{ numIcludeZero(dataProfile.asset.delta_day) }} ({{
              numDeltaPerc(dataProfile.asset.delta_day_proc)
            }}%)
          </span>
        </div>
        <div class="chart__changes">
          <span class="chart__label"
            ><span>{{ periodGraph }}</span> {{ $t("chart.changes") }}:
          </span>
          <span
            class="chart__increment"
            v-bind:class="{ danger: differenceData < 0 }"
          >
            {{ differenceData }} ({{ percentDifference }}%)
          </span>
        </div>
      </div>
      <Loader v-if="isLoading" />
      <div class="chart__graph js-chart-graph"></div>
      <div class="chart__panel">
        <div class="chart__type">
          <span class="chart__marker">{{ $t("chart.marker") }}</span>
          <div class="chart__group">
            <span
              class="chart__btn"
              @click="toggleVolume"
              :class="{ active: volumeActive }"
            >
              {{ $t("chart.btnVolume") }}
            </span>
            <span class="chart__btn" v-if="isNewsBtn">{{
              $t("chart.btnNews")
            }}</span>
          </div>
        </div>
        <div class="chart__period">
          <span
            class="chart__switch"
            v-for="(item, index) in data"
            :class="{ active: currentPeriod == index }"
            v-bind:key="index"
            @click="choicePeriod(index)"
          >
            <small>{{ item[lang] }}</small>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from "~/components/Loader";
import { data } from "../assets/tempData/chartData.js";
import { formattedPrice } from "~/assets/commonFunctions/data";
if (process.client) {
  var LightweightCharts = require("lightweight-charts");
}

export default {
  props: {
    dataProfile: Object,
    params: String
  },
  components: {
    Loader
  },
  data() {
    return {
      priceNumLength: 0,
      data: [
        { en: "1M", ru: "1M", api: "1m", loading: false, data: null },
        { en: "6M", ru: "6M", api: "6m", loading: false, data: null },
        { en: "1Y", ru: "1Г", api: "1y", loading: false, data: null }
      ],
      pendingPeriod: null, // Режим графика на который хоят переключиться и для которого надо грузить данные
      currentPeriod: null, // Активный режим графика, переключается после загрузки данных
      symbol: null,
      roundLength: 2,

      options: {},
      dateObject: "",
      chart: "",
      volumeActive: false,
      areaSeries: null,
      volumeSeries: null,
      isNewsBtn: false,
      isLoading: true,
      historyRealtimeArr: [],
      periodGraph: "",

      percentDifference: "",
      differenceData: "",
      newRealtimeData: ""
    };
  },
  methods: {
    getPriceNumCount(price) {
      let str = price.toString();
      let newStr;
      if (str.includes(".")) {
        this.priceNumLength = str.split(".")[1].length;
        newStr = (price / 1).toFixed(this.priceNumLength);
        return newStr;
      } else {
        newStr = (price / 1).toFixed(0);
        return Number(newStr).toLocaleString();
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val;
      if (this.priceNumLength > 0) {
        val = (number / 1).toFixed(this.priceNumLength);
        return val;
      } else {
        return Number(num).toLocaleString();
      }
    },
    numDeltaPerc(number) {
      let num = number;
      let val = (number / 1).toFixed(2);
      return val;
    },
    getStocksData(array) {
      let firstDayPrice = array[0].close;
      let lastDayPrice = array[array.length - 1].close;
      this.differenceData = (lastDayPrice - firstDayPrice).toFixed(
        this.priceNumLength
      );
      this.percentDifference = (
        (this.differenceData / firstDayPrice) *
        100
      ).toFixed(2);
      
      
    },
    getRoundLength(number) {
      return number.toString().replace(/\d+\.?/, "").length;
    },
    choicePeriod(index) {
      this.pendingPeriod = index;
    },
    toggleVolume(e) {
      this.volumeActive = !this.volumeActive;
      if (this.volumeSeries) {
        this.chart.removeSeries(this.volumeSeries);
        this.volumeSeries = null;
      } else {
        this.renderVolume(this.currentPeriod);
      }
    },
    createChartContainer() {
      var subtractionVal = 75;
      if (window.innerWidth < 1199) {
        subtractionVal = 0;
      }
      this.chart = LightweightCharts.createChart(
        document.querySelector(".js-chart-graph"),
        {
          width:
            document.querySelector(".js-chart-graph").offsetWidth -
            subtractionVal,
          height: 283
        }
      );
    },
    renderOptions(index) {
      this.removeSeries(this.areaSeries);
      this.areaSeries = this.chart.addAreaSeries({
        topColor: "rgba(21, 146, 230, 0.4)",
        bottomColor: "rgba(21, 146, 230, 0)",
        lineColor: "rgba(21, 146, 230, 1)",
        lineWidth: 2
      });

      this.chart.applyOptions({
        priceScale: {
          position: "right",
          borderVisible: false
        },
        timeScale: {
          borderVisible: true,
          timeVisible: true,
          secondsVisible: true,
          fixLeftEdge: true
        },
        localization: {
          locale: "en-US",
          priceFormatter: price => {
            return price.toLocaleString("ru-RU");
          }
        }
        // handleScroll: true,
        // handleScale: false,
      });
      this.areaSeries.setData(
        this.getSeriesData(this.data[index].data, "close")
      );
    },
    renderVolume(index) {
      this.removeSeries(this.volumeSeries);
      this.volumeSeries = this.chart.addHistogramSeries({
        lineWidth: 10,
        priceFormat: {
          type: "volume"
        },
        overlay: true,
        scaleMargins: {
          top: 0.8,
          bottom: 0
        }
      });
      this.volumeSeries.setData(
        this.data[index].data.map(r => {
          return {
            value: r.quantity,
            time: r.date,
            color:
              r.open > r.close
                ? "rgba(255,82,82, 0.8)"
                : "rgba(0, 150, 136, 0.8)"
          };
        })
      );
    },
    removeSeries(item) {
      if (item) {
        this.chart.removeSeries(item);
        item = null;
      }
    },
    async getHistory(index) {
      this.data[index].loading = true;
      await this.$api
        .get("/marketdata", { code: this.symbol, period: this.data[index].api })
        .then(data => {
          this.data[index].data = data.data;
          this.data[index].loading = false;
          if (this.pendingPeriod == index) this.currentPeriod = index; // Условие на случай если идет паралельная загрузка нескольких периодов
        })
        .catch(err => {
          this.data[index].loading = false;
        });
      //      this.$store.dispatch("modules/instruments/loadCompleteChart", true);

      this.isLoading = false;
      //      this.$store.dispatch("modules/instruments/loadCompleteChart", false);
    },
    numFormirateFloat(number) {
      return number.toFixed(this.roundLength);
    },
    getSeriesData(data, metric) {
      return data.map(r => {
        return {
          value: r[metric],
          time: r.date
        };
      });
    }
  },
  mounted() {
    this.symbol = this.$route.params.detail.substr(
      this.$route.params.detail.indexOf("-") + 1
    );
    this.createChartContainer();
    this.pendingPeriod = 0;
  },
  watch: {
    realtimeDataState(data) {
      this.newRealtimeData = data;
    },
    pendingPeriod(index) {
      if (this.data[index].loading) return;
      if (!this.data[index].data) {
        this.getHistory(index);
      } else {
        this.currentPeriod = index;
      }
    },
    currentPeriod(index) {
      this.renderOptions(index);
      if (this.volumeActive) this.renderVolume(index);
      let el = this.data[index];
      this.getStocksData(el.data);
      this.periodGraph = el[this.lang];
      this.chart.timeScale().setVisibleRange({
        from: el.data[0].date,
        to: el.data[el.data.length - 1].date
      });
    }
  },
  computed: {
    realtimeDataState() {
      return this.$store.state.modules.instruments.realtimeData;
    },
    lang() {
      return this.$i18n.locale;
    },
    dataStatus() {
      return this.$store.state.modules.instruments.dataStatusChart;
    }
  }
};
</script>

<style lang="scss" scoped>
.chart {
  background: $white;
  color: $text-color;
  border-radius: $spacer;
  margin: 0 0 $spacer * 5;
  overflow: hidden;

  &__heading {
    padding: $spacer * 6;
    font-size: $font-size-xxl;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

    @media #{$mobile} {
      padding: $spacer * 6 $spacer * 3;
    }
  }

  &__zoom {
    cursor: pointer;
    transition: transform $delay ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__graph {
    padding: 0 $spacer * 6;

    @media #{$tabletLg} {
      padding: 0;
    }

    .tv-lightweight-charts {
      min-width: 100%;
    }
  }

  &__panel {
    padding: $spacer * 6;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media #{$mobile} {
      align-items: flex-start;
      flex-direction: column-reverse;
      padding: $spacer * 6 $spacer * 4;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;

    @media #{$mobile} {
      display: none;
    }
  }

  &__marker {
    font-size: $font-size-xxs;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-color-pale;
    letter-spacing: 0.1em;
    margin: 0 0 $spacer * 2;
  }

  &__group {
    display: flex;
  }

  &__btn {
    background: $border-light;
    color: $text-color-pale;
    font-weight: 600;
    font-size: $font-size-xs;
    padding: $spacer * 2 $spacer * 4;
    margin-right: $spacer * 2;
    cursor: pointer;
    transition: background $delay ease-in-out, color $delay ease-in-out;

    &.active {
      background: $text-color-pale;
      color: $white;
    }
  }

  &__period {
    display: flex;
    align-items: center;
    background: $deep-gray;
    border-radius: $border-radius;

    @media #{$mobile} {
      margin: 0;
    }
  }

  &__switch {
    padding: 0 $spacer * 2;
    cursor: pointer;
    position: relative;
    height: 26px;

    small {
      position: relative;
      z-index: 2;
      font-size: $font-size-md;
      line-height: $line-height-md;
    }

    &.active {
      // background: $primary-light-color;
      color: $white;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 30px;
        background: #51587b;
        top: -2px;
        left: 0;
        border-radius: $border-radius;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $spacer * 3 0 $spacer * 4;
    margin: 0 24px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

    @media #{$mobile} {
      margin: 0 16px;
    }
  }

  &__changes {
  }

  &__label {
    font-size: $font-size-base;
    line-height: $line-height-xl;
    font-weight: 600;
  }

  &__num {
    display: flex;
    flex-direction: column;
  }

  &__result {
    font-size: $font-size-xl;
    line-height: $line-height-xs;
    font-weight: bold;
  }

  &__increment {
    color: $pale-green;
    font-size: $font-size-base;
    line-height: $line-height-xl;
    font-weight: 600;
    margin: 0;

    &.danger {
      color: $danger-color;
    }
  }

  .container {
    @media #{$mobile} {
      padding: 0;
    }
  }
}
</style>
