<template lang="html">
  <div class="finance">
    <Loader v-if="isLoading" class="mt-5" />
    <div class="finance__heading">
      <h2 class="finance__caption">{{ $t("financialPage.title") }}</h2>

      <div class="finance__controls">
        <dropdownControl
          v-if="isControl"
          class="finance__controls-dropdown"
          v-model="tableStandard"
          :list="['GAAP', 'MSFO', 'RSBU']"
        ></dropdownControl>

        <div class="finance__controls-group" v-if="isControl">
          <a
            class="finance__controls-btn active js-chart-period-btn"
            @click="showQurterly"
            >{{ $t("financialPage.querterly") }}</a
          >
          <a
            class="finance__controls-btn js-chart-period-btn"
            @click="showAnnual"
            >{{ $t("financialPage.annual") }}</a
          >
        </div>
      </div>
    </div>

    <div class="finance__chart">
      <FinanceChart :chartInfo="tableData"></FinanceChart>
    </div>

    <div class="finance__tables">
      <div class="finance__controls">
        <div class="finance__controls-group" v-if="isControl">
          <a class="finance__controls-btn">Mln. ₽</a>
          <a class="finance__controls-btn">Mln. €</a>
          <a class="finance__controls-btn active">Mln. $</a>
        </div>

        <b-form-checkbox
          v-if="isShowCollumnTrigger"
          class="checkbox-item checkbox-item--right finance__controls-checkbox"
          id="show-change-column"
          name="show-change-column"
          v-model="showChangeColumn"
        >
          Show change column
        </b-form-checkbox>
      </div>

      <div class="finance__tables-section">
        <div class="finance__table table-responsive">
          <FinanceTable2
            :tableFullData="fullDataIncomes"
            :title="tablesTitleData[lang].tableTitles[0]"
            :showChangeColumn="showChangeColumn"
            :choiceYear="choiceYear"
            :insideTableEBITDA="EBITDA"
            :titlesArray="tablesTitleData[lang].titlesIncomeArray"
            :titleSubArray="tablesTitleData[lang].titlesEbitda"
            :tableDataNotFormating="tableData"
            :yearReport="yearReport"
          />
        </div>
      </div>

      <div class="finance__tables-section">
        <div class="finance__table  table-responsive">
          <FinanceTable2
            :tableFullData="fullDataCash"
            :title="tablesTitleData[lang].tableTitles[1]"
            :showChangeColumn="showChangeColumn"
            :choiceYear="choiceYear"
            :titlesArray="tablesTitleData[lang].titlesCashArray"
            :tableDataNotFormating="tableData"
            :yearReport="yearReport"
          />
        </div>
      </div>

      <div class="finance__tables-section">
        <div class="finance__table  table-responsive">
          <FinanceTable2
            :tableFullData="fullDataBalance"
            :title="tablesTitleData[lang].tableTitles[2]"
            :showChangeColumn="showChangeColumn"
            :choiceYear="choiceYear"
            :titlesArray="tablesTitleData[lang].titlesBalanceArray"
            :titleSubArray="tablesTitleData[lang].titlesAssets"
            :insideTableAssets="assetsArr"
            :insideTableLiabillities="liabilitiesArr"
            :tableDataNotFormating="tableData"
            :yearReport="yearReport"
          />
        </div>
      </div>

      <div class="finance__table-note">* {{ tableNote }}</div>
      <div class="finance__tables-section">
        <div class="finance__table">
          <FinanceTable2
            :tooltips="true"
            :fixedTwoNum="true"
            :notDownload="true"
            :tableFullData="fullRatiosArr"
            :title="tablesTitleData[lang].tableTitles[3]"
            :showChangeColumn="showChangeColumn"
            :choiceYear="choiceYear"
            :titlesArray="tablesTitleData[lang].titlesRatiosArray"
            :yearReport="yearReport"
          />
        </div>
      </div>
      <!--
        <div v-if="isTableVisible" class="finance__tables-section">
          <div class="finance__table  table-responsive">
            <FinanceTable2
              :tableFullData="fullCustomRatiosArr"
              :title="tablesTitleData[lang].tableTitles[4]"
              :showChangeColumn="showChangeColumn"
              :choiceYear="choiceYear"
              :titlesArray="tablesTitleData[lang].titlesCustomRatiosArray"
              :yearReport="yearReport"
            />
          </div>
        </div> -->
    </div>
  </div>
</template>

<script>
import FinanceTable2 from "../components/FinanceTable2.vue";
import dropdownControl from "../components/dropdownControl.vue";
import FinanceChart from "../components/FinanceChart.vue";
import financialTranslate from "~/assets/local/additional/financialTranslate";
import Loader from "~/components/Loader";

export default {
  components: {
    FinanceTable2,
    FinanceChart,
    dropdownControl,
    Loader
  },
  props: {
    tableData: Array,
    reportList: Array
  },
  data() {
    return {
      dataQuart: {
        en: "Y",
        ru: "Г"
      },
      tablesTitleData: financialTranslate,
      isLoading: true,
      isControl: false,
      tableStandard: "GAAP",
      showChangeColumn: false,
      yearReport: false,
      isTableVisible: false,
      isShowCollumnTrigger: false,

      fullDataIncomes: [],
      revenueTableData: [],
      netIncome: [],
      ebitdaData: [],
      netIncomeBeforeTaxes: [],
      depricationAmortization: [],
      interestExpenses: [],

      EBITDA: [],

      netCashOperatingActivities: [],
      CashAtTheEndofThePeriod: [],
      fullDataCash: [],

      totalAssets: [],
      totalLiabilities: [],
      totalEqutiy: [],
      assetsArr: [],
      currentAssets: [],
      nonCurrentAssets: [],
      liabilities: [],
      longTermDebt: [],
      shortTermDebt: [],
      otherLiabilities: [],
      fullDataBalance: [],

      debtEBITDA: [],
      netDebtEBITDA: [],
      priceToSales: [],
      priceToEarnings: [],
      evEBITDA: [],
      fullRatiosArr: [],

      ratio1: [],
      ratio2: [],
      ratio3: [],
      fullCustomRatiosArr: [],
      choiceYear: [],
      annualYears: [],
      liabilitiesArr: []
    };
  },
  computed: {
    financialChartData() {
      return this.$store.state.modules.financial.financialChartState;
    },
    lang() {
      return this.$i18n.locale;
    },
    tableNote() {
      if (this.lang === "en") {
        return (
          "all numbers in millions " +
          this.currencyCaptionEN(this.tableData[0].currency) +
          " except otherwise noted"
        );
      } else {
        return (
          "все значения в миллионах " +
          this.currencyCaptionRU(this.tableData[0].currency) +
          ", если не указано иное"
        );
      }
    }
  },
  methods: {
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    currencyCaptionEN(currency) {
      if (currency === "RUB") {
        return "Rubbles";
      } else if (currency === "USD") {
        return "Dollars";
      }
    },
    currencyCaptionRU(currency) {
      if (currency === "RUB") {
        return "рублей";
      } else if (currency === "USD") {
        return "долларов";
      }
    },
    mlnCaption(lang) {
      if (lang === "en") {
        return "mln. ";
      } else {
        return "млн. ";
      }
    },

    toggleActiveBtn(e) {
      const chartPeriodBtn = document.querySelectorAll(".js-chart-period-btn");
      chartPeriodBtn.forEach((item, i) => {
        item.classList.remove("active");
        e.target.classList.add("active");
      });
    },
    showQurterly(e) {
      this.toggleActiveBtn(e);
      this.getTableData("querterly");
      this.buildTablesData("querterly");
    },
    showAnnual(e) {
      this.toggleActiveBtn(e);
      this.getTableData("annual");
      this.buildTablesData("annual");
    },
    showAnnualTemporary() {
      this.getTableData("annual");
      this.buildTablesData("annual");
    },
    async getTableData(type) {
      var data = this.formireateAnnualData(type);
      this.$store.commit("modules/financial/savePeriodState", type);
    },
    getCorrectQuart(data, chartdata) {
      if (data.month === 3) {
        chartdata.labels.push(1 + this.dataQuart[this.lang] + " " + data.year);
      } else if (data.month === 6) {
        chartdata.labels.push(2 + this.dataQuart[this.lang] + " " + data.year);
      } else if (data.month === 9) {
        chartdata.labels.push(3 + this.dataQuart[this.lang] + " " + data.year);
      } else {
        chartdata.labels.push(
          1 + "Y" + this.dataQuart[this.lang] + " " + data.year
        );
      }
    },
    formerFirstgroupLabel(chartdata, firstLabel, secondLabel) {
      chartdata.datasets[0].label = firstLabel;
      chartdata.datasets[1].label = secondLabel;
    },
    formireateAnnualData(type) {
      var chartdata = {
        labels: [],
        datasets: [
          {
            label: "222",
            backgroundColor: "#333",
            data: [],
            barPercentage: 1,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension:
              this.mlnCaption(this.lang) +
              this.currencySign(this.tableData[0].currency)
          },
          {
            label: "22",
            backgroundColor: "#FEBA0C",
            data: [],
            barPercentage: 1,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension:
              this.mlnCaption(this.lang) +
              this.currencySign(this.tableData[0].currency)
          }
        ]
      };

      this.annualYears = [];
      this.tableData.filter(item => {
        this.annualYears.push(item);
      });

      this.annualYears.sort((a, b) => {
        return a.year - b.year;
      });

      chartdata.datasets[0].data = [];
      chartdata.datasets[1].data = [];

      // Formirate years by load in CHART JS
      if (type === "annual") {
        this.yearReport = true;
        if (this.financialChartData) {
          switch (this.financialChartData.datasets[0].label) {
            case "Revenue":
              this.formerFirstgroupLabel(chartdata, "Revenue", "Profit");
              this.annualYears.filter((item, index) => {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(item.revenue);
                chartdata.datasets[1].data.push(item["net-profit"]);
              });
              return chartdata;
              break;
            case "Выручка":
              this.formerFirstgroupLabel(chartdata, "Выручка", "Прибыль");
              this.annualYears.filter((item, index) => {
                // if(item.year > new Date().getFullYear() - 5) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(item.revenue);
                chartdata.datasets[1].data.push(item["net-profit"]);

                // }
              });
              return chartdata;
              break;
            case "Net Cash from Operating Activities":
              this.formerFirstgroupLabel(
                chartdata,
                "Net Cash from Operating Activities",
                "Cash at the End of the Period"
              );
              this.annualYears.filter(item => {
                // if(item.year > new Date().getFullYear() - 5) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(
                  item["net-cash-from-operating-activities"]
                );
                chartdata.datasets[1].data.push(item["cash"]);
                // }
              });
              return chartdata;
              break;
            case "Total Assets":
              this.formerFirstgroupLabel(
                chartdata,
                "Total Assets",
                "Total Liabilities"
              );
              this.annualYears.filter(item => {
                // if(item.year > new Date().getFullYear() - 5) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(item["total-assets"]);
                chartdata.datasets[1].data.push(item["total-liabilities"]);
                // }
              });
              return chartdata;
              break;
            case "Деньги от операционной деятельности":
              this.formerFirstgroupLabel(
                chartdata,
                "Деньги от операционной деятельности",
                "Остаток денег на конец периода"
              );
              this.annualYears.filter(item => {
                // if(item.year > new Date().getFullYear() - 5) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(
                  item["net-cash-from-operating-activities"]
                );
                chartdata.datasets[1].data.push(item["cash"]);
                // }
              });
              return chartdata;
              break;
            case "Всего активов":
              this.formerFirstgroupLabel(
                chartdata,
                "Всего активов",
                "Всего обязательств"
              );
              this.annualYears.filter(item => {
                // if(item.year > new Date().getFullYear() - 5) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(item["total-assets"]);
                chartdata.datasets[1].data.push(item["total-liabilities"]);
                // }
              });
              return chartdata;
              break;
            default:
              break;
          }
        } else {
          const currentLang = document.querySelector(".js-lang-btn");
          if (currentLang.innerText === "Русский") {
            this.formerFirstgroupLabel(chartdata, "Выручка", "Прибыль");
          } else {
            this.formerFirstgroupLabel(chartdata, "Revenue", "Profit");
          }

          this.annualYears.filter((item, index) => {
            if (window.innerWidth < 599) {
              if (item.year > new Date().getFullYear() - 5) {
                if (item.data) {
                  chartdata.labels.push(item.year);
                  chartdata.datasets[0].data.push(item.data.revenue);
                  chartdata.datasets[1].data.push(item.data["profit_net"]);
                }
              }
            } else {
              if (item.data) {
                chartdata.labels.push(item.year);
                chartdata.datasets[0].data.push(item.data.revenue);
                chartdata.datasets[1].data.push(item.data["profit_net"]);
              }
            }
          });
          return chartdata;
        }
      } else if (type === "querterly") {
        this.yearReport = false;
        if (this.financialChartData) {
          switch (this.financialChartData.datasets[0].label) {
            case "Revenue":
              this.formerFirstgroupLabel(chartdata, "Revenue", "Profit");
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item.revenue);
                  chartdata.datasets[1].data.push(item["net-profit"]);
                }
              });
              return chartdata;
              break;
            case "Выручка":
              this.formerFirstgroupLabel(chartdata, "Выручка", "Прибыль");
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item.revenue);
                  chartdata.datasets[1].data.push(item["net-profit"]);
                }
              });
              return chartdata;
              break;
            case "Net Cash from Operating Activities":
              this.formerFirstgroupLabel(
                chartdata,
                "Net Cash from Operating Activities",
                "Cash at the End of the Period"
              );
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(
                    item["net-cash-from-operating-activities"]
                  );
                  chartdata.datasets[1].data.push(item["cash"]);
                }
              });
              return chartdata;
              break;
            case "Total Assets":
              this.formerFirstgroupLabel(
                chartdata,
                "Total Assets",
                "Total Liabilities"
              );
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item["total-assets"]);
                  chartdata.datasets[1].data.push(item["total-liabilities"]);
                }
              });
              return chartdata;
              break;
            case "Деньги от операционной деятельности":
              this.formerFirstgroupLabel(
                chartdata,
                "Деньги от операционной деятельности",
                "Остаток денег на конец периода"
              );
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(
                    item["net-cash-from-operating-activities"]
                  );
                  chartdata.datasets[1].data.push(item["cash"]);
                }
              });
              return chartdata;
              break;
            case "Всего активов":
              this.formerFirstgroupLabel(
                chartdata,
                "Всего активов",
                "Всего обязательств"
              );
              this.annualYears.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item["total-assets"]);
                  chartdata.datasets[1].data.push(item["total-liabilities"]);
                }
              });
              return chartdata;
              break;
            default:
              break;
          }
        }
      }
      return chartdata;
    },
    // Вывод кол-ва годов в таблицу
    formireateYears(type) {
      this.choiceYear = [];
      this.tableData.filter(item => {
        if (type === "annual") {
          if (item.year > new Date().getFullYear() - 5) {
            if (item.data) {
                this.choiceYear.push(item);
            }
            
          }
        } else {
          if (item.year === 2019) {
            if (item.data) {
                this.choiceYear.push(item);
            }
          }
        }
      });
      this.choiceYear.sort((a, b) => {
        return b.year - a.year;
      });
    },
    getAnnualData(key) {
       return this.choiceYear.map(item => {
           console.log(item.data);
            return item.data[`${key}`] || 'n/a';
        })
    },
    formirateDataIncome() {
      this.revenueTableData = this.getAnnualData('revenue');
      this.depricationAmortization = this.getAnnualData('amortization');
      this.interestExpenses = this.getAnnualData("fin_expenses_net");
      this.netIncomeBeforeTaxes = this.getAnnualData("income_wo_taxes_net");
      this.ebitdaData = this.getAnnualData("ebitda");
      this.netIncome =  this.getAnnualData("profit_net");
      this.fullDataIncomes = [
        this.revenueTableData,
        this.netIncome,
        this.ebitdaData
      ];
      this.EBITDA = [
        this.netIncomeBeforeTaxes,
        this.depricationAmortization,
        this.interestExpenses
      ];
    },
    formirateDataCash() {
      this.netCashOperatingActivities = this.getAnnualData("cash_oper_activities_net");
      this.CashAtTheEndofThePeriod = this.getAnnualData("cash");
      this.fullDataCash = [
        this.netCashOperatingActivities,
        this.CashAtTheEndofThePeriod
      ];
    },
    formirateDataBalance() {
      this.totalAssets = this.getAnnualData("total_assets");
      this.totalLiabilities = this.getAnnualData("total_liab");
      this.totalEqutiy = this.getAnnualData("total_equity");
      this.currentAssets = this.getAnnualData("cur_assets");
      this.nonCurrentAssets = this.getAnnualData("noncur_assets");
      this.longTermDebt = this.getAnnualData("long_liab");
      this.shortTermDebt = this.getAnnualData("short_liab");
      this.otherLiabilities = this.getAnnualData("other_liab");

      this.liabilities = [
        this.longTermDebt,
        this.shortTermDebt,
        this.otherLiabilities
      ];

      this.assetsArr = [this.currentAssets, this.nonCurrentAssets];

      this.assetsArr = [this.currentAssets, this.nonCurrentAssets];

      this.liabilitiesArr = [
        this.longTermDebt,
        this.shortTermDebt,
        this.otherLiabilities
      ];

      this.fullDataBalance = [
        this.totalAssets,
        this.totalLiabilities,
        this.totalEqutiy
      ];
    },
    formirateDataRatios() {
      /// Data not exist on this time
      this.debtEBITDA = this.getAnnualData("ebitda_debt_rt");
      this.netDebtEBITDA = this.getAnnualData("ebitda_net_rt");
      this.priceToSales = [];
      this.priceToEarnings = [];
      this.evEBITDA = [];
      this.fullRatiosArr = [
        this.debtEBITDA,
        this
          .netDebtEBITDA /*, this.priceToSales,
                this.priceToEarnings, this.evEBITDA */
      ];
    },
    formirateDataCustomRatios() {
      /// Data not exist on this time
      this.ratio1 = [];
      this.ratio2 = [];
      this.ratio3 = [];

      this.choiceYear.filter(item => {
        if (!item["Ratio"]) {
          this.ratio1.push("n/a");
          this.ratio2.push("n/a");
          this.ratio3.push("n/a");
        }
      });

      this.fullCustomRatiosArr = [this.ratio1, this.ratio2, this.ratio3];
    },
    buildTablesData(type) {
      this.formireateYears(type);
      this.formirateDataIncome();
      this.formirateDataCash();
      this.formirateDataBalance();
      this.formirateDataRatios();
      this.formirateDataCustomRatios();
    }
  },
  mounted() {
    this.showAnnualTemporary();
    this.isLoading = false;

    // this.buildTablesData();
  }
};
</script>

<style lang="scss" scoped>
.finance {
  color: $text-color;
  background: $white;
  border-radius: $spacer;
  padding-bottom: $spacer * 10;
  margin: 0 0 $spacer * 5;
  width: 100%;
  position: relative;

  @media #{$mobile} {
    padding-bottom: $spacer * 5;
  }

  &__heading {
    font-weight: bold;
    font-size: $font-size-xxl;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);
    padding: $spacer * 6;
    margin-bottom: $spacer * 10;

    @media #{$mobile} {
      padding: $spacer * 6 $spacer * 3;
    }

    .finance__controls {
      margin: -5px 0 -3px;

      @media #{$mobile} {
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }

  &__chart {
    padding: 0 $spacer * 6;
    margin-bottom: $spacer * 8;

    @media #{$mobile} {
      padding: 0 $spacer * 3;
    }
  }

  &__tables {
    padding: 0 $spacer * 6;

    @media #{$tablet} {
      padding-right: 0;
    }

    @media #{$mobile} {
      padding: 0 $spacer * 3;
      padding-right: 0;
    }

    &-section {
      margin-bottom: $spacer * 8;
      &:nth-child(4) {
        margin-bottom: $spacer * 4;
      }

      @media #{$mobile} {
        overflow: auto;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: $spacer * 4;

    &-dropdown {
      margin-right: 65px;

      @media #{$tablet} {
        margin-right: 40px;
      }
      @media #{$mobile} {
        margin-right: 12px;
      }
    }

    &-group {
      display: flex;
    }

    &-btn {
      cursor: pointer;
      font-weight: 600;
      font-size: $font-size-xs;
      line-height: $font-size-xs + $spacer;
      white-space: nowrap;
      color: $text-color-pale;
      background: $border-light;
      padding: $spacer * 2 $spacer * 4;
      margin-right: $spacer * 2;
      transition: background $delay ease-in-out, color $delay ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: $text-color-pale;
        color: $white;
      }
    }

    &-checkbox {
      margin: 10px 3px 2px 0;
    }
  }

  &__table {
    margin: 0;

    @media #{$mobile} {
      width: 430px;
      margin: 0 0 0 240px;
    }
  }

  &__table-note {
    font-size: $font-size-xs;
    line-height: $line-height-lg;
    letter-spacing: 0.02em;
    color: $disabled-color;
    margin-bottom: $spacer * 8;
  }

  .loader {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
  }
}
</style>
