<template lang="html">
  <div class="company-info">
    <div class="container">
      <div class="company-info__inner">
        <div class="company-info__sections">
          <div class="company-info__section">
            <div class="company-info__price">
              <span class="company-info__num">
                {{ getPriceNumCount(infoCard.asset.close) }}
                {{ currencySign(infoCard.asset.currency) }}
              </span>
              <span
                class="company-info__increment"
                v-bind:class="{ danger: infoCard.asset.delta_day < 0 }"
              >
                {{ numIcludeZero(infoCard.asset.delta_day) }}
                ({{ numDeltaPerc(infoCard.asset.delta_day_proc) }}%)
              </span>
            </div>
            <!-- <div class="company-info__updated" v-if="lastUpdateDate">{{$t('companyCard.update')}}: <span>{{lastUpdateDate}}</span></div> -->
          </div>

          <!-- <div class="company-info__section" v-if="isDividend">
                      <div class="company-info__item">P/E <b>15.62</b></div>
                      <div class="company-info__item">{{$t('companyInfo.dividendYield')}} <b>6.7%</b></div>
                      <div class="company-info__item">Ex-Dividend Date <b>2019-12-25</b></div>
                    </div> -->
          <div class="company-info__section" v-if="infoCard.company.sector">
            <div class="company-info__item" v-if="infoCard.company.sector">
              <b>{{ $t("profile.labelSector") }}:</b>
              {{ infoCard.company.sector }}
            </div>
            <div
              class="company-info__item company-info__item--industry"
              v-if="infoCard.company.industry"
            >
              <b>{{ $t("profile.labelIndustry") }}:</b>
              {{ infoCard.company.industry }}
            </div>
          </div>
        </div>

        <div class="company-info__btn-group" v-if="workTime">
          <a
            id="'buy_ff'"
            href="#"
            class="btn btn--success"
            @click="showIframe('signIn')"
            >{{ $t("companyInfo.btnBuy") }}</a
          >
          <a
            id="'sell_ff'"
            href="#"
            class="btn btn--danger"
            @click="showIframe('signIn')"
            >{{ $t("companyInfo.btnSell") }}</a
          >
        </div>

        <div
          class="company-info__btn-group company-info__btn-group--msg"
          v-else
        >
          <span class="company-info__info-msg"
            >{{ $t("companyInfo.closedMark") }} {{ frontTimer }}
          </span>
        </div>

        <transition name="slide-fade">
          <div
            class="company-info__popup"
            v-if="isSellBuy"
            @click="isSellBuy = false"
          >
            <div class="company-info__popup-wrap">
              <span class="close" @click="isSellBuy = false"></span>
              <iframe
                :src="'https://ffin.site/buy/?ticker=' + params"
                width="100%"
                height="100%"
              ></iframe>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      priceNumLength: 0,
      historyArr: [],
      newRealtimeData: "",
      realPriceData: "",
      lastUpdateDate: "",
      workTime: true,
      workDay: "",
      isSellBuy: false,
      frontTimer: "",
      showSell: true,
      isDividend: true,
      infoCardIndustry: true
    };
  },
  props: {
    infoCard: Object,
    params: String
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    dataStatus() {
      return this.$store.state.modules.instruments.dataHistory;
    },
    realtimeDataState() {
      return this.$store.state.modules.instruments.realtimeData;
    },
    isAuthorized() {
      return this.$store.state.modules.auth.loginStatus;
    }
  },
  methods: {
    formattedPrice(price) {},
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    async showIframe(parametr) {
      const param = {
        show: true,
        event: "signIn"
      };
      if (!this.isAuthorized) {
        this.$store.dispatch("modules/modal/changePopup", param);
      } else {
        this.isSellBuy = true;
      }
    },
    getTomorrow() {
      let date = new Date();
      let nextDay = new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate() + 1,
        10,
        0,
        0
      );
      let result = nextDay - date + 1000;
      var seconds = Math.floor((result / 1000) % 60);
      var minutes = Math.floor((result / 1000 / 60) % 60);
      var hours = Math.floor((result / 1000 / 60 / 60) % 24);
      // var daysD = Math.floor(result/1000/60/60/24);
      if (seconds < 10) seconds = "0" + seconds;
      if (minutes < 10) minutes = "0" + minutes;
      if (hours < 10) hours = "0" + hours;

      this.frontTimer = hours + ":" + minutes + ":" + seconds;
      return this.frontTimer;
    },
    getWoktimeDate() {
      let days = ["ВС", "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ"];
      let daysEng = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sut"];
      let workDays = ["ПН", "ВТ", "СР", "ЧТ", "ПТ"];
      let date = new Date();
      let currentDay = days[date.getDay(date)];
      let time = date.getHours();

      if (
        days.indexOf(currentDay) === (days.indexOf("ПТ") || days.indexOf("СБ"))
      ) {
        this.workDay = "ВС";
      } else {
        if (this.lang === "ru") {
          this.workDay = days[days.indexOf(currentDay) + 1];
        } else {
          this.workDay = daysEng[days.indexOf(currentDay) + 1];
        }
      }

      let moscowTime = new Date().toLocaleString("en-US", {
        timeZone: "Europe/Moscow"
      });
      let moscowHour = new Date(moscowTime).getHours();

      let workTimeHour;

      if (moscowHour >= 19 || moscowHour < 10) {
        workTimeHour = false;
      } else {
        workTimeHour = true;
      }

      // console.log(moscowHour);

      if (workDays.includes(currentDay) && workTimeHour) {
        this.workTime = true;
      } else {
        this.workTime = false;

        let date = new Date();
        let nextDay = new Date(
          date.getFullYear(),
          date.getMonth(),
          date.getDate() + 1,
          10,
          0,
          0
        );
        let result = nextDay - date + 1000;

        if (result > 0) {
          setInterval(() => {
            this.getTomorrow();
          }, 1000);
        }
      }
    },
    formirateDate() {
      var options = {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric"
      };
      this.lastUpdateDate = new Date().toLocaleDateString(this.lang, options);
    },
    getPriceNumCount(price) {
      let str = price.toString();
      let newStr;
      if (str.includes(".")) {
        this.priceNumLength = str.split(".")[1].length;
        newStr = (price / 1).toFixed(this.priceNumLength);
        return newStr;
      } else {
        newStr = (price / 1).toFixed(0);
        return Number(newStr).toLocaleString();
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val;
      if (this.priceNumLength > 0) {
        val = (number / 1).toFixed(this.priceNumLength);
        return val;
      } else {
        return Number(num).toLocaleString();
      }
    },
    numDeltaPerc(number) {
      let num = number;
      let val = (number / 1).toFixed(2);
      return val;
    },

    numFormirateFloat(number) {
      return number.toFixed(2);
    },
    roundingDecimalToEqual(price, delta) {
      let priceStr = String(price);
      if (priceStr.includes(".")) {
        let stringAfterPoint = priceStr.split(".")[1];
        let countNumbers = stringAfterPoint.length;
        return delta.toFixed(countNumbers);
      } else {
        return delta.toFixed(2);
      }
    },
  },
  mounted() {
    this.getWoktimeDate();
  },
  watch: {
    dataStatus(data) {
      this.formirateDate();
    },
    realtimeDataState(data) {
      this.newRealtimeData = data;
      this.formirateDate();
    }
  }
};
</script>

<style lang="scss" scoped>
.company-info {
  font-size: $font-size-md;
  line-height: $line-height-lg;

  &__inner {
    color: $text-color;
    background: $white;
    padding: $spacer * 6 $spacer * 6 $spacer * 4 $spacer * 12;
    display: flex;
    align-items: center;

    @media #{$display} {
      // flex-wrap: wrap;
    }

    @media #{$tabletLg} {
      padding: $spacer * 6;
    }

    @media #{$tablet} {
      flex-wrap: wrap;
      align-items: flex-end;
    }

    @media #{$mobile} {
      flex-direction: column;
      align-items: flex-start;
      padding: $spacer * 4 $spacer * 3;
    }
  }

  &__sections {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    // align-items: flex-end;
    max-width: 69.5%;

    @media #{$display} {
      width: 100%;
      max-width: 100%;
    }

    @media #{$tabletLg} {
      width: auto;
      // flex-wrap: wrap;
    }
  }

  &__section {
    flex: 0 0 auto;
    border-right: 1px solid $primary-bg;
    padding: 0 $spacer * 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media #{$tabletLg} {
      padding: 0 $spacer * 6;
    }

    @media #{$tablet} {
      border: none;
      padding: 0;
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }

    &:first-of-type {
      padding-left: 0;
      flex-basis: 33.5%;
      max-width: 33.5%;

      @media #{$tabletLg} {
        flex-basis: auto;
        padding: 0 4% 0 0;
        max-width: 100%;
      }
    }

    &:nth-of-type(2) {
      flex-basis: 63.7%;
      max-width: 63.7%;

      @media #{$tabletLg} {
        flex-basis: auto;
        max-width: 100%;
        border: none;
        padding: 0 $spacer * 8;
        padding: 0 4%;
      }

      @media #{$tablet} {
        display: none;
      }
    }

    &:last-of-type {
      border-right: none;
      padding-right: 0;
      //   flex-basis: 31.7%;
      //   max-width: 31.7%;

      @media #{$tabletLg} {
        display: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &__item {
    margin-bottom: $spacer;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--industry {
      max-width: 240px;
      white-space: nowrap;
    }
  }

  &__price {
    min-height: 44px;
    white-space: nowrap;
  }

  &__num {
    font-size: $font-size-extra;
    line-height: $line-height-md;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 2px;
    margin-right: $spacer;
  }

  &__increment {
    color: $pale-green;
    font-size: $font-size-lg;
    line-height: $line-height-xl;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;

    &.danger {
      color: $danger-color;
    }
  }

  &__status {
    font-weight: 600;
    font-size: $font-size-xs;
    line-height: $line-height-lg;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-blue;
    margin-top: $spacer;
  }

  &__updated {
    font-size: $font-size-xs;
    line-height: $line-height-lg;
    letter-spacing: 0.02em;
    color: $text-color-pale;
    margin-top: 1px;
    white-space: nowrap;

    // @media #{$tabletLg} {
    //     display: flex;
    //     flex-direction: column;
    // }

    // @media #{$mobile} {
    //     flex-direction: row;
    //     white-space: nowrap;
    // }

    span {
      white-space: nowrap;
    }
  }

  &__btn-group {
    flex-shrink: 0;
    display: flex;
    padding-left: $spacer * 12;
    flex: 1;

    @media #{$display} {
      // width: 100%;
      padding-left: 0;
      margin-top: $spacer * 6;
    }

    @media #{$tabletLg} {
      width: auto;
    }

    @media #{$mobile} {
      width: 100%;
    }

    .btn {
      font-size: $font-size-xs;
      line-height: $line-height-lg;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      justify-content: center;
      border-radius: $border-radius;
      padding: $spacer * 3;
      min-width: 84px;
      width: 48%;
      margin: 0 0 0 $spacer * 4;

      @media #{$tabletLg} {
        width: 156px;
      }

      &:first-child {
        margin-left: 0;
      }

      @media #{$mobile} {
        width: 100%;
      }
    }

    &--msg {
      width: auto;

      @media #{$tablet} {
        display: flex;
      }

      @media #{$mobile} {
        width: 100%;
      }
    }
  }

  &__info-msg {
    font-weight: 600;
    font-size: $font-size-xs;
    line-height: $line-height-xl;
    background: $border-light;
    padding: $spacer * 2 $spacer * 3;
    border-radius: $border-radius;
    text-align: center;

    @media #{$tablet} {
      width: 328px;
    }

    @media #{$mobile} {
      width: 100%;
      text-align: center;
      padding: $spacer * 2;
    }
  }

  &__popup {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background: rgba($white, 0.6);
    overflow-y: auto;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
  }

  &__popup-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 790px;
    height: 600px;
    transform: translate(-50%, -50%);
    z-index: 111;
    // padding-top: 40px;
    border-radius: 0 0 4px 4px;
    background: #fff;
    // overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;

    @media #{$tablet} {
      min-width: auto;
      max-width: 80%;
      width: 90%;
    }

    @media #{$mobile} {
      min-width: auto;
      max-width: 100%;
      width: 100%;
    }

    iframe {
      border: none;
      position: relative;
      z-index: 112;
      margin-top: -15px;
    }

    .close {
      right: 20px;
      top: 20px;
      // z-index: 113;

      @media #{$tablet} {
        display: none;
        top: 10px;
      }
    }
  }

  .container {
    @media #{$mobile} {
      padding: 0;
    }
  }
}
</style>
