<template lang="html">
    <div class="company-card">
        <span class="company-card__code">
            {{params}}
        </span>
        <span class="company-card__name">{{infoCard[lang].full_name}}</span>
        <span class="company-card__sector">
            <b>{{$t('profile.labelSector')}}:</b> {{infoCard.sector[lang].name}}
        </span>
        <span class="company-card__num">
            <!-- {{numFormiratePrice(newRealtimeData.price)}} -->
            {{numFormiratePrice(this.realPriceData.price)}}
        </span>
        <span class="company-card__increment"
        v-bind:class="{danger: this.realPriceData.diff < 0}"
        >
            {{numFormirateFloat(this.realPriceData.diff)}} ({{numIcludeZero(this.realPriceData.diff_percent)}}%)
        </span>
        <span class="company-card__updated"><span>{{$t('companyCard.update')}}:</span> {{lastUpdateDate}}</span>
        <div class="company-card__btn-group" v-if="isBtnReady">
            <a href="#" class="btn btn--small btn--deep">{{$t('companyCard.btnWishlist')}}</a>
            <a href="#" class="btn btn--small btn--warning btn--icons">
                <img src="~/assets/icons/icon-ring-plus.svg?inline">
                {{$t('companyCard.btnAlert')}}</a>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            lastUpdateDate: '',
            isBtnReady: false,
            historyArr: [],
            newRealtimeData: '',
            realPriceData: ''
        }
    },
    props: {
        infoCard: Object,
        params: String
    },
    computed: {
        lang() {
          return this.$i18n.locale;
        },
        dataStatus() {
            return this.$store.state.modules.instruments.dataHistory;
        },
        realtimeDataState() {
           return this.$store.state.modules.instruments.realtimeData;
        }
    },
    methods: {
        formirateDate() {
            const dateInSeconds = this.historyArr[this.historyArr.length - 1].date.seconds
            let fullDate= new Date(dateInSeconds * 1000).toString();
            var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric'
            };
            this.lastUpdateDate = new Date().toLocaleDateString(this.lang, options);
        },
        numIcludeZero(number) {
          let num = number;
          let val = (number/1).toFixed(2);
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          return val;
        },
        numFormirateFloat(number) {
            if(this.realPriceData.price) {
                if(this.realPriceData.price.toString().split('.')[1]) {
                    const fixedNum = this.realPriceData.price.toString().split('.')[1].length;
                    if(fixedNum < 2) {
                        return number.toFixed(2);
                    } else {
                        return number.toFixed(fixedNum);
                    }

                } else {
                    return number.toFixed(2)
                }
            }
        },
        numFormiratePrice(number) {
            if(this.realPriceData.price) {
                if(this.realPriceData.price.toString().split('.')[1]) {
                    const fixedNum = this.realPriceData.price.toString().split('.')[1].length;
                    if(fixedNum < 2) {
                        return number.toFixed(2);
                    } else {
                        return number;
                    }
                } else {
                    return number.toFixed(2)
                }
            }
        },
    },
    watch: {
        dataStatus(data) {
            this.historyArr = data;
            this.formirateDate();
        },
        realtimeDataState(data) {
            this.newRealtimeData = data;
            this.formirateDate();
        }
    }
}
</script>

<style lang="scss" scoped>
    .company-card {
        background: $white;
        border-radius: $border-radius;
        padding: $spacer * 6 $spacer * 6 $spacer * 4;
        color: $text-color;
        display: flex;
        flex-direction: column;
        margin: 0 0 $spacer *5;

        &__code {
            font-size: $font-size-extra;
            line-height: $line-height-md;
            font-weight: bold;
        }

        &__name {
            font-size: $font-size-extra-middle;
            line-height: $line-height-xxs;
            margin: 0 0 $spacer *2;
        }

        &__sector {
            font-size: $font-size-md;
            line-height: $line-height-lg;
            margin: 0 0 $spacer * 4;
        }

        &__num {
            font-size: $font-size-extra;
            line-height: $line-height-md;
            font-weight: bold;
        }

        &__increment {
            color: $pale-green;
            font-size: $font-size-lg;
            line-height: $line-height-xl;
            font-weight: bold;
            margin: 0 0 $spacer *2;

            &.danger {
                color: $danger-color;
            }
        }

        &__updated {
            font-size: $font-size-md;
            line-height: $line-height-md;
            margin: 0 0 $spacer * 8;

            @media #{$mobile} {
                margin: 0 0 $spacer * 4;
            }
        }

        &__btn-group {
            .btn {
                margin: $spacer $spacer * 2 $spacer * 2 0;
            }
        }
    }
</style>
