<template lang="html">
    <div class="dividends">
        <div class="dividends__wrap">
            <div class="dividends__heading">
                <h2 class="dividends__caption">{{$t('dividends.title')}}</h2>
            </div>
            <div class="dividends__table">
                <b-table
                    class="table-four"
                    sorter
                    responsive
                    :items="tableData">
                </b-table>
                <span class="remark">* {{$t('dividends.marker')}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import {data} from '../assets/tempData/dividendsData.js'

export default {
    data() {
        return {
            tableData: data.table,
        }
    }
}
</script>

<style lang="scss" scoped>
    .dividends {
        background: $white;
        color: $text-color;
        border-radius: $spacer;
        margin: 0 0 $spacer * 5;
        padding: 0 0 $spacer * 10;

        &__heading {
            padding: $spacer * 6;
            margin: 0 0 $spacer * 6;
            font-size: $font-size-xxl;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

            @media #{$mobile} {
                padding: $spacer * 6 $spacer * 3;
            }
        }

        &__table {
            padding: 0 $spacer * 6;

            @media #{$mobile} {
                padding: 0 $spacer * 3;
            }
        }
    }
</style>
