<template>
  <div class="dropdown-control" :class="{ 'opened': isOpened }" v-click-outside="close">
    <span class="dropdown-control__btn" @click="isOpened = !isOpened">{{ value }}</span>
    <div class="dropdown-control__list">
      <div class="dropdown-control__item" :class="{ 'active': item == value }" v-for="(item, i) in list" :key="i" @click="$emit('input', item), isOpened = false" >{{ item }}</div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

export default {
  name: 'dropdownControl',
  data() {
    return {
      isOpened: false,
    };
  },
  props: {
    list: Array,
    value: String
  },
  directives: {
    ClickOutside
  },
  methods: {
    close() {
      this.isOpened = false
    },
  }
};
</script>

<style lang="scss" scoped>
  .dropdown-control {
    position: relative;
    
    &__btn {
      cursor: pointer;
      font-weight: 600;
      font-size: $font-size-xs;
      line-height: $font-size-xs + $spacer;
      white-space: nowrap;
      color: $text-color-pale;
      background: $border-light;
      display: inline-block;
      vertical-align: top;
      padding: $spacer * 2 15px;
      transition: background $delay ease-in-out, color $delay ease-in-out;
      
      &::after {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 8px;
        height: 8px;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: currentColor;
        margin: 3px 0 0 18px;
        transform: rotate(-45deg);
        transform-origin: 30% 70%;
      }
    }
    
    &__list {
      display: none;
      font-weight: 400;
      font-size: $font-size-xs;
      line-height: $font-size-xs + $spacer;
      letter-spacing: normal;
      background: $white;
      border-radius: $border-radius;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      min-width: 100%;
      margin-top: $spacer;
    }
    
    &__item {
      cursor: pointer;
      padding: 9px 10px;
      
      &:hover {
        background: $light-color;
      }
  
      &.active {
        background: $text-color-pale;
        color: $white;
      }
    }
    
    &.opened {
      .dropdown-control__btn {
        &::after {
          transform: rotate(135deg);
        }
      }
  
      .dropdown-control__list {
        display: block;
      }
    }
  }
</style>
