<template>
  <a v-if="langData == lang" target="_blank" class="file-icon-link" :href="href" download @mouseenter="isHover = true" @mouseleave="isHover = false">
    <img :src="src" alt="" >
  </a>
</template>

<script>
import icon from '~/assets/icons/icon-file-pdf.png';
import iconActive from '~/assets/icons/icon-file-pdf-active.png';

export default {
  name: 'FileIconLink',
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    src() {
      return this.isHover ? iconActive : icon;
    },
    lang() {
      return this.$i18n.locale;
    },
  },
  props: {
    href: String,
    langData: String
  }
};
</script>

<style lang="scss" scoped>
  .file-icon-link {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    img {
      vertical-align: top;
    }
  }
</style>
