<template>
  <table class="finance-table table">
    <thead v-if="tableData.columns">
    <tr>
      <th class="finance-table__title-col">
        {{ tableData.columns.title }}
        <ChartDataToggle v-if="tableData.chart" :isActive="tableData.dataOnChart"/>
      </th>
      <th class="finance-table__numbers-col">
        <FileIconLink v-if="tableData.columns.quarter1.file" :href="tableData.columns.quarter1.file"/>
        {{ tableData.columns.quarter1.title }}
      </th>
      <th class="finance-table__change-col" v-show="showChangeColumn">Change</th>
      <th class="finance-table__numbers-col">
        <FileIconLink v-if="tableData.columns.quarter2.file" :href="tableData.columns.quarter2.file"/>
        {{ tableData.columns.quarter2.title }}
      </th>
      <th class="finance-table__change-col" v-show="showChangeColumn">Change</th>
      <th class="finance-table__numbers-col">
        <FileIconLink v-if="tableData.columns.quarter3.file" :href="tableData.columns.quarter3.file"/>
        {{ tableData.columns.quarter3.title }}
      </th>
      <th class="finance-table__change-col" v-show="showChangeColumn">Change</th>
      <th class="finance-table__numbers-col">
        <FileIconLink v-if="tableData.columns.quarter4.file" :href="tableData.columns.quarter4.file"/>
        {{ tableData.columns.quarter4.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <template v-for="(item, index) in tableData.data">
      <tr :key="index">
        <td class="finance-table__title-col">
          <span v-html="item.title" :data-hint="item.hint" v-if="item.items" class="finance-table__collapse-link"
                v-b-toggle="'collapse-' + index"></span>
          <span v-html="item.title" :data-hint="item.hint" v-else></span>
        </td>
        <td class="finance-table__numbers-col">{{ item.quarter1[0] }}</td>
        <td class="finance-table__change-col" v-show="showChangeColumn">
          <span
            v-bind:class="{ 'text-danger': parseFloat(item.quarter1[1]) < 0, 'text-success': parseFloat(item.quarter1[1]) > 0 }">
            {{ item.quarter1[1] }}
          </span>
        </td>
        <td class="finance-table__numbers-col">{{ item.quarter2[0] }}</td>
        <td class="finance-table__change-col" v-show="showChangeColumn">
          <span
            v-bind:class="{ 'text-danger': parseFloat(item.quarter2[1]) < 0, 'text-success': parseFloat(item.quarter2[1]) > 0 }">
            {{ item.quarter2[1] }}
          </span>
        </td>
        <td class="finance-table__numbers-col">{{ item.quarter3[0] }}</td>
        <td class="finance-table__change-col" v-show="showChangeColumn">
          <span
            v-bind:class="{ 'text-danger': parseFloat(item.quarter3[1]) < 0, 'text-success': parseFloat(item.quarter3[1]) > 0 }">
            {{ item.quarter3[1] }}
          </span>
        </td>
        <td class="finance-table__numbers-col">{{ item.quarter4[0] }}</td>
      </tr>
      <tr :key="'items-' + index" v-if="item.items">
        <td class="finance-table__inner-wrapper" colspan="8">
          <b-collapse class="finance-table__collapse" :id="'collapse-' + index">
            <FinanceTable :tableData="item.items" :showChangeColumn="showChangeColumn"/>
          </b-collapse>
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</template>

<script>
  import FileIconLink from '../components/FileIconLink.vue';
  import ChartDataToggle from '../components/ChartDataToggle.vue';

  export default {
    name: 'FinanceTable',
    components: {
      FileIconLink,
      ChartDataToggle
    },
    data() {
      return {

      };
    },
    props: {
      tableData: Object,
      showChangeColumn: Boolean
  },
  mounted() {
      // console.log(this.tableData);
  }
  };
</script>

<style lang="scss" scoped>
  .finance-table {
    margin: 0;
    min-width: 1100px;

    thead {
      th {
        line-height: 2.4;
      }
    }

    th, td {
      line-height: 1.7;
      padding: $spacer *3 $spacer * 4;

      &:not(:first-child) {
        text-align: right;
      }
    }

    &__title-col {
      position: relative;
      padding-right: 40px;

      span[data-hint] {
        cursor: pointer;
        border-bottom: 1px dashed $text-color-pale;
        position: relative;

        &::after {
          content: attr(data-hint);
          font-size: $font-size-xs;
          line-height: $line-height-xl;
          letter-spacing: normal;
          display: none;
          width: 194px;
          background: $light-color;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), inset 0 4px 0 #333333;
          border-radius: 0 0 5px 5px;
          padding: $spacer * 5 $spacer * 5 $spacer * 4;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 0;
          margin-top: $spacer;
        }

        &:hover {
          &::after {
            display: block;
          }
        }
      }

      .chart-data-toggle {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__numbers-col {
      width: 130px;

      .file-icon-link {
        margin: 2px 23px -2px 0;
      }
    }

    &__change-col {
      width: 98px;
    }

    &__collapse-link {
      cursor: pointer;
      outline: none;

      &:after {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 8px;
        height: 8px;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: currentColor;
        margin: 5px 0 0 19px;
        transform: rotate(-45deg);
        transform-origin: 30% 70%;
        transition: transform 0.2s;
      }

      &.not-collapsed {
        &:after {
          transform: rotate(135deg);
        }
      }
    }

    &__collapse {
      margin-bottom: -1px;
    }

    .finance-table__inner-wrapper {
      border: none;
      padding: 0;

      .table {
        width: 100%;
      }

      th, td {
        font-style: italic;
        font-weight: 400;

        &:first-child {
          padding-left: $spacer * 8;
        }
      }

      tr {
        &:last-child {
          th, td {
            border-bottom: none;
          }
        }
      }
    }
  }
</style>
