<template>
  <table class="finance-table table">
    <thead>
      <tr>
        <th
          class="finance-table__title-col js-chart-icon"
          @click="getTableData"
        >
          {{ title }}
          <ChartDataToggle
            v-if="!notDownload"
            style="pointer-events: none"
            :isActive="chartIconActive"
          />
        </th>
        <template v-for="(item, index) in choiceYear">
          <th
            v-if="!yearReport"
            class="finance-table__numbers-col"
            :key="index"
          >
            {{ index + 1 }}Q {{ item.year }}
          </th>
          <th v-else class="finance-table__numbers-col" :key="index">
            <FileIconLink
              v-if="item.file && !notDownload"
              :href="item.file"
              :langData="item.lang"
            />
            {{ item.year }}
          </th>
          <th
            class="finance-table__change-col"
            v-if="choiceYear.length - 1 != index"
            v-show="showChangeColumn"
            :key="'items-' + index"
          >
            Change
          </th>
        </template>
      </tr>
    </thead>
    <tbody>
      <template v-for="(array, index) in tableFullData">
        <tr :key="index">
          <td class="finance-table__title-col" v-if="!tooltips">
            {{ titlesArray[index] }}
            <span
              class="finance-table__collapse-link js-show-link"
              v-if="
                titlesArray[index] == 'EBITDA' ||
                  titlesArray[index] == 'Total Assets' ||
                  titlesArray[index] == 'Total Liabilities' ||
                  titlesArray[index] == 'Всего активов' ||
                  titlesArray[index] == 'Всего обязательств'
              "
              @click="showHideTrByMounted"
            ></span>
          </td>
          <td class="finance-table__title-col bg-white" v-else>
            <span :data-hint="titlesArray[index].tooltip">{{
              titlesArray[index].label
            }}</span>
            <span
              class="finance-table__collapse-link js-show-link"
              v-if="
                titlesArray[index] == 'EBITDA' ||
                  titlesArray[index] == 'Total Assets' ||
                  titlesArray[index] == 'Total Liabilities' ||
                  titlesArray[index] == 'Всего активов' ||
                  titlesArray[index] == 'Всего обязательств'
              "
              @click="showHideTrByMounted"
            ></span>
          </td>
          <template v-for="(item, index) in array">
            <td
              class="finance-table__title-col"
              :key="index"
              v-if="!fixedTwoNum"
            >
              <span v-if="item">{{
                fixedNumber(item).toLocaleString("ru-RU")
              }}</span>
              <span v-else>n/a</span>
            </td>
            <td
              class="finance-table__title-col"
              :key="index"
              v-if="fixedTwoNum"
            >
              <span v-if="item">{{ fixNumTwoNums(item) }}</span>
              <span v-else>n/a</span>
            </td>
            <td
              class="finance-table__change-col"
              v-if="choiceYear.length - 1 != index"
              v-show="showChangeColumn"
              :key="'items-' + index"
            >
              -
            </td>
          </template>
        </tr>
        <tr
          :key="'items-' + index"
          v-if="
            titlesArray[index] == 'EBITDA' ||
              titlesArray[index] == 'Total Assets' ||
              titlesArray[index] == 'Всего активов'
            /* titlesArray[index] == 'Total Liabilities' */
          "
          :data-id="titlesArray[index]"
          class="finance-table__tr-hide"
        >
          <td class="finance-table__inner-wrapper" colspan="8">
            <b-collapse
              class="finance-table__collapse"
              :id="'collapse-' + index"
            >
              <table class="finance-table table">
                <tbody>
                  <template
                    v-for="(array, index) in insideTableEBITDA"
                    v-if="insideTableEBITDA"
                  >
                    <tr :key="index">
                      <td class="finance-table__title-col">
                        {{ titleSubArray[index] }}
                      </td>
                      <template v-for="(item, index) in array">
                        <td class="finance-table__numbers-col sss" :key="index">
                          {{ fixedNumber(item).toLocaleString("ru-RU") }}
                        </td>
                        <!-- <td class="finance-table__change-col" v-if="array.length-1 != index" v-show="showChangeColumn" :key="'items-' + index"></td> -->
                      </template>
                    </tr>
                  </template>

                  <template
                    v-for="(array, index) in insideTableAssets"
                    v-if="insideTableAssets"
                  >
                    <tr :key="index">
                      <td class="finance-table__title-col">
                        {{ titleSubArray[index] }}
                      </td>
                      <template v-for="(item, index) in array">
                        <td class="finance-table__numbers-col" :key="index">
                          {{ fixedNumber(item).toLocaleString("ru-RU") }}
                        </td>
                        <td
                          class="finance-table__change-col"
                          v-if="array.length - 1 != index"
                          v-show="showChangeColumn"
                          :key="'items-' + index"
                        >
                          -
                        </td>
                      </template>
                    </tr>
                  </template>
                </tbody>
              </table>
            </b-collapse>
          </td>
        </tr>

        <tr
          :key="'items-' + index"
          :data-id="titlesArray[index]"
          v-if="
            titlesArray[index] == 'Total Liabilities' ||
              titlesArray[index] == 'Всего обязательств'
          "
          class="finance-table__tr-hide"
        >
          <td class="finance-table__inner-wrapper" colspan="8">
            <b-collapse
              class="finance-table__collapse"
              :id="'collapse-' + index"
            >
              <table class="finance-table table">
                <tbody>
                  <template
                    v-for="(array, index) in insideTableLiabillities"
                    v-if="insideTableLiabillities"
                  >
                    <tr :key="index">
                      <td class="finance-table__title-col">
                        {{ titleSubArray[index + 2] }}
                      </td>
                      <template v-for="(item, index) in array">
                        <td class="finance-table__numbers-col" :key="index">
                          {{ fixedNumber(item).toLocaleString("ru-RU") }}
                        </td>
                        <td
                          class="finance-table__change-col"
                          v-if="array.length - 1 != index"
                          v-show="showChangeColumn"
                          :key="'items-' + index"
                        >
                          -
                        </td>
                      </template>
                    </tr>
                  </template>
                </tbody>
              </table>
            </b-collapse>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
import FileIconLink from "../components/FileIconLink.vue";
import ChartDataToggle from "../components/ChartDataToggle.vue";

export default {
  name: "FinanceTable",
  components: {
    FileIconLink,
    ChartDataToggle
  },
  data() {
    return {
      dataQuart: {
        en: "Y",
        ru: "Г"
      },
      revenueTableData: [],
      netIncome: [],
      ebitdaData: [],
      netIncomeBeforeTaxes: [],
      depricationAmortization: [],
      interestExpenses: [],
      megaData: [],
      EBITDA: [],
      lastYearsArr: [],
      subArray: [],
      subObjectAssets: [],
      subObjectLiabalities: [],
      currentChoiceYear: [],
      chartIconActive: false
    };
  },
  props: {
    tooltips: Boolean,
    fixedTwoNum: Boolean,
    notDownload: Boolean,
    tableDataNotFormating: Array,
    showChangeColumn: Boolean,
    title: String,
    tableFullData: Array,
    choiceYear: Array,
    insideTableEBITDA: Array,
    insideTableAssets: Array,
    insideTableLiabillities: Array,
    titlesArray: Array,
    titleSubArray: Array,
    yearReport: Boolean,
    reportList: Array
  },
  mounted() {
    this.getNonActiveHeaders();
  },
  computed: {
    financialPeriodData() {
      return this.$store.state.modules.financial.financialPeriodState;
    },
    lang() {
      return this.$i18n.locale;
    }
  },
  methods: {
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    showHideTrByMounted(e) {
      const targetTR = e.target.parentElement.parentElement.nextElementSibling;
      if (e.target.classList.contains("js-show-link")) {
        if (!targetTR.classList.contains("show")) {
          targetTR.classList.add("show");
          e.target.classList.add("show");
        } else {
          targetTR.classList.remove("show");
          e.target.classList.remove("show");
        }
      }
    },
    fixedNumber(number) {
      let num = number;
      // console.log(num);
      const f = x =>
        x.toString().includes(".")
          ? x
              .toString()
              .split(".")
              .pop().length
          : 0;
      if (!isNaN(num) && f(num) > 1) {
        num = Math.floor(num * 1) / 1;
      } else if (isNaN(num)) {
        num = "n/a";
      }
      return num;
    },
    fixNumTwoNums(number) {
      let num = number;
      const f = x =>
        x.toString().includes(".")
          ? x
              .toString()
              .split(".")
              .pop().length
          : 0;
      if (!isNaN(num) && f(num) > 1) {
        num = Math.floor(num * 100) / 100;
      } else if (isNaN(num)) {
        num = "n/a";
      }
      return num;
    },
    getNonActiveHeaders() {
      const chartIcon = document.querySelectorAll(".js-chart-icon");
      chartIcon[0].classList.add("active");
      // chartIcon[3].classList.add('non-active')
      // chartIcon[4].classList.add('non-active')
    },
    changeActiveClass(e) {
      const chartIcon = document.querySelectorAll(".js-chart-icon");
      chartIcon.forEach((item, i) => {
        if (item === e.target) {
          item.classList.add("active");
        } else {
          item.classList.remove("active");
        }
      });
    },
    async getTableData(e) {
      this.changeActiveClass(e);
      var data = this.formireateYears(e, this.financialPeriodData);
      this.$store.commit("modules/financial/changeChartState", data);
    },
    getCorrectQuart(data, chartdata) {
      if (data.month === 3) {
        chartdata.labels.push(1 + this.dataQuart[this.lang] + " " + data.year);
      } else if (data.month === 6) {
        chartdata.labels.push(2 + this.dataQuart[this.lang] + " " + data.year);
      } else if (data.month === 9) {
        chartdata.labels.push(3 + this.dataQuart[this.lang] + " " + data.year);
      } else {
        chartdata.labels.push(1 + this.dataQuart[this.lang] + " " + data.year);
      }
    },
    formerFirstGroupLabel(chartdata, firstLabel, secondLabel) {
      chartdata.datasets[0].label = firstLabel;
      chartdata.datasets[1].label = secondLabel;
    },
    mlnRubCaption(lang) {
      if (lang === "en") {
        return "mln. ";
      } else {
        return "млн. ";
      }
    },
    // Formirate years on CHART by click on tables rows
    formireateYears(e, type) {
      const currensySign = this.currencySign(
        this.tableDataNotFormating[0].currency
      );
      var chartdata = {
        labels: [],
        datasets: [
          {
            label: "Revenue",
            backgroundColor: "#333",
            data: [],
            barPercentage: 1.0,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension: this.mlnRubCaption(this.lang) + currensySign
          },
          {
            label: "Profit",
            backgroundColor: "#FEBA0C",
            data: [],
            barPercentage: 1.0,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension: this.mlnRubCaption(this.lang) + currensySign
          }
        ]
      };

      if (this.tableDataNotFormating) {
        this.currentChoiceYear = [];
        this.tableDataNotFormating.filter(item => {
          this.currentChoiceYear.push(item);
        });
        this.currentChoiceYear.sort((a, b) => {
          return a.year - b.year;
        });
        chartdata.datasets[0].data = [];
        chartdata.datasets[1].data = [];

        if (type === "annual") {
          switch (e.target.innerText) {
            case "INCOME STATEMENT":
              this.formerFirstGroupLabel(chartdata, "Revenue", "Profit");
              this.currentChoiceYear.filter((item, index) => {
                if (window.innerWidth < 599) {
                  if (item.data) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(item.data.revenue);
                      chartdata.datasets[1].data.push(item.data["profit_net"]);
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(item.data.revenue);
                    chartdata.datasets[1].data.push(item.data["profit_net"]);
                  }
                }
              });
              return chartdata;
              break;
            case "ОТЧЕТ О СОВОКУПНОМ ДОХОДЕ":
              chartdata.datasets[0].label = "Выручка";
              chartdata.datasets[1].label = "Прибыль";
              this.currentChoiceYear.filter(item => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(item.data.revenue);
                      chartdata.datasets[1].data.push(item.data["profit_net"]);
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(item.data.revenue);
                    chartdata.datasets[1].data.push(item.data["profit_net"]);
                  }
                }
              });
              return chartdata;
              break;
            case "CASH FLOW":
              this.formerFirstGroupLabel(
                chartdata,
                "Net Cash from Operating Activities",
                "Cash at the End of the Period"
              );
              this.currentChoiceYear.filter(item => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(
                        item.data["cash_oper_activities_net"]
                      );
                      chartdata.datasets[1].data.push(item.data.cash);
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(
                      item.data["cash_oper_activities_net"]
                    );
                    chartdata.datasets[1].data.push(item.data.cash);
                  }
                }
              });
              return chartdata;
              break;
            case "ОТЧЕТ О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ":
              this.formerFirstGroupLabel(
                chartdata,
                "Деньги от операционной деятельности",
                "Остаток денег на конец периода"
              );
              this.currentChoiceYear.filter(item => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(
                        item.data["cash_oper_activities_net"]
                      );
                      chartdata.datasets[1].data.push(item.data.cash);
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(
                      item.data["cash_oper_activities_net"]
                    );
                    chartdata.datasets[1].data.push(item.data.cash);
                  }
                }
              });
              return chartdata;
              break;
            case "BALANCE SHEET":
              this.formerFirstGroupLabel(
                chartdata,
                "Total Assets",
                "Total Liabilities"
              );
              this.currentChoiceYear.filter(item => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(
                        item.data["total_assets"]
                      );
                      chartdata.datasets[1].data.push(
                        item.data["total_assets"] - item.data["total_equity"]
                      );
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(item.data["total_assets"]);
                    chartdata.datasets[1].data.push(
                      item.data["total_assets"] - item.data["total_equity"]
                    );
                  }
                }
              });
              return chartdata;
              break;
            case "БАЛАНС":
              chartdata.datasets[0].label = "Всего активов";
              chartdata.datasets[1].label = "Всего обязательств";
              this.currentChoiceYear.filter(item => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(item["total_assets"]);
                      chartdata.datasets[1].data.push(
                        item.data["total_assets"] - item["total_equity"]
                      );
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(item.data["total_assets"]);
                    chartdata.datasets[1].data.push(
                      item.data["total_assets"] - item["total_equity"]
                    );
                  }
                }
              });
              return chartdata;
              break;
            default:
              this.formerFirstGroupLabel(chartdata, "Revenue", "Profit");
              this.currentChoiceYear.filter((item, index) => {
                if (item.data) {
                  if (window.innerWidth < 599) {
                    if (item.year > new Date().getFullYear() - 5) {
                      chartdata.labels.push(item.year);
                      chartdata.datasets[0].data.push(item.revenue);
                      chartdata.datasets[1].data.push(item["net-profit"]);
                    }
                  } else {
                    chartdata.labels.push(item.year);
                    chartdata.datasets[0].data.push(item.revenue);
                    chartdata.datasets[1].data.push(item["net-profit"]);
                  }
                }
              });
              return chartdata;
              break;
          }
        } else {
          switch (e.target.innerText) {
            case "INCOME STATEMENT":
              chartdata.datasets[0].label = "Revenue";
              chartdata.datasets[1].label = "Profit";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item.revenue);
                  chartdata.datasets[1].data.push(item["net-profit"]);
                }
              });
              return chartdata;
              break;
            case "ОТЧЕТ О СОВОКУПНОМ ДОХОДЕ":
              chartdata.datasets[0].label = "Выручка";
              chartdata.datasets[1].label = "Прибыль";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item.revenue);
                  chartdata.datasets[1].data.push(item["net-profit"]);
                }
              });
              return chartdata;
              break;
            case "CASH FLOW":
              chartdata.datasets[0].label =
                "Net Cash from Operating Activities";
              chartdata.datasets[1].label = "Cash at the End of the Period";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(
                    item["net-cash-from-operating-activities"]
                  );
                  chartdata.datasets[1].data.push(item["cash"]);
                }
              });
              return chartdata;
              break;
            case "ОТЧЕТ О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ":
              chartdata.datasets[0].label =
                "Деньги от операционной деятельности";
              chartdata.datasets[1].label = "Остаток денег на конец периода";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(
                    item["net-cash-from-operating-activities"]
                  );
                  chartdata.datasets[1].data.push(item["cash"]);
                }
              });
              return chartdata;
              break;
            case "BALANCE SHEET":
              chartdata.datasets[0].label = "Total Assets";
              chartdata.datasets[1].label = "Total Liabilities";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item["total-assets"]);
                  chartdata.datasets[1].data.push(item["total-liabilities"]);
                }
              });
              return chartdata;
              break;
            case "БАЛАНС":
              chartdata.datasets[0].label = "Всего активов";
              chartdata.datasets[1].label = "Всего обязательств";
              this.currentChoiceYear.filter(item => {
                if (item.year > new Date().getFullYear() - 3) {
                  this.getCorrectQuart(item, chartdata);
                  chartdata.datasets[0].data.push(item["total-assets"]);
                  chartdata.datasets[1].data.push(item["total-liabilities"]);
                }
              });
              return chartdata;
              break;
            default:
              console.log("error");
              break;
          }
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.finance-table {
  margin: 0;
  min-width: 1100px;

  @media #{$tabletLg} {
    min-width: inherit;
  }

  @media #{$tablet} {
    min-width: 822px;
  }

  @media #{$mobile} {
    min-width: auto;
    margin-left: 0;
  }

  thead {
    th {
      line-height: 2.4;
      position: relative;

      &.finance-table__title-col {
        cursor: pointer;

        span {
          filter: grayscale(100%);
          opacity: 0.5;
        }

        &.active {
          span {
            filter: grayscale(0);
            opacity: 1;
          }
        }

        &.non-active {
          pointer-events: none;
          span {
            display: none;
          }
        }

        @media #{$tablet} {
          // width: 300px;
        }

        @media #{$mobile} {
          // width: 131px;
        }
      }

      &:first-child {
        @media #{$mobile} {
          position: absolute;
          width: 240px;
          margin-left: -240px;
          background: #f6f7f8;
          padding-right: 30px;
          padding-top: $spacer * 5;
          font-size: 9px;
          height: 48px;
        }
      }
    }
  }

  &__tr-hide {
    .finance-table__collapse {
      display: none !important;
    }

    &.show {
      .finance-table__collapse {
        display: block !important;
      }
    }
  }

  th,
  td {
    line-height: 1.7;
    padding: $spacer * 3 $spacer * 4;

    &:not(:first-child) {
      text-align: right;
    }
  }
  &__title-col {
    padding-right: 40px;

    &:first-child {
      @media #{$tablet} {
        // width: 300px;
      }
      @media #{$mobile} {
        position: absolute;
        width: 240px;
        margin-left: -240px;
        background: $white;
        line-height: 1.3;
        height: 46px;
      }
    }

    span[data-hint] {
      cursor: pointer;
      border-bottom: 1px dashed $text-color-pale;
      position: relative;

      &::after {
        content: attr(data-hint);
        font-size: $font-size-xs;
        line-height: $line-height-xl;
        letter-spacing: normal;
        width: 194px;
        display: none;
        background: $light-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), inset 0 4px 0 #333333;
        border-radius: 0 0 5px 5px;
        padding: $spacer * 5 $spacer * 5 $spacer * 4;
        position: absolute;
        z-index: 109 !important;
        top: 100%;
        left: 0;
        margin-top: $spacer;
      }

      &:hover {
        &::after {
          display: block;
        }
      }
    }

    .chart-data-toggle {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__numbers-col {
    width: 130px;
    max-width: 130px;
    min-width: 130px;

    .file-icon-link {
      margin: 2px 23px -2px 0;
    }

    span {
      padding-right: 2px;
    }
  }

  &__change-col {
    width: 98px;
  }

  &__collapse-link {
    cursor: pointer;
    outline: none;

    &:after {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 8px;
      height: 8px;
      border-width: 0 0 2px 2px;
      border-style: solid;
      border-color: currentColor;
      margin: 5px 0 0 19px;
      transform: rotate(-45deg);
      transform-origin: 30% 70%;
      transition: transform $delay ease-in-out;
    }

    &.not-collapsed {
      &:after {
        transform: rotate(135deg);
      }
    }

    &.show {
      &:after {
        transform: rotate(135deg);
      }
    }
  }

  &__collapse {
    margin-bottom: -1px;
  }

  .finance-table__inner-wrapper {
    border: none;
    padding: 0;

    .table {
      width: 100%;
    }

    th,
    td {
      font-style: italic;
      font-weight: 400;

      &:first-child {
        padding-left: $spacer * 8;
        // width: 300px;
      }
    }

    tr {
      &:last-child {
        th,
        td {
          border-bottom: none;
        }
      }
    }
  }
}
</style>
