<template>
  <div class="finance-chart">
    <div class="finance-chart__inner">
      <canvas ref="canvas"></canvas>
    </div>
    <div class="finance-chart__legend">
      <span
        class="finance-chart__legend-item"
        v-for="(item, index) in chartdata.datasets"
        :key="index"
      >
        <span
          class="finance-chart__legend-color"
          :style="{ background: backgroundColor[index] }"
        ></span>
        {{ item.label }}
      </span>
    </div>
  </div>
</template>

<script>
import { Bar } from "vue-chartjs";
import { dataChecker } from "~/assets/commonFunctions/data";

export default {
  name: "FinanceChart",
  extends: Bar,
  components: {},
  data() {
    return {
      backgroundColor: ["#333", "#FEBA0C"],
      dataQuart: {
        en: "Y",
        ru: "Г"
      },
      choiceYear: [],
      choiceYearMobile: [],
      chartdata: {
        datasets: []
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
          },
          onHover: this.drawChart()
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              categoryPercentage: 0.35,
              gridLines: {
                display: false
              },
              ticks: {
                fontColor: "#8E9AAA",
                fontFamily: "Open Sans",
                fontSize: 14,
                lineHeight: 1.3,
                maxRotation: 90,
                reverse: true
              }
            }
          ],
          yAxes: [
            {
              position: "right",
              gridLines: {
                color: "#EEECF7",
                borderDash: [1, 2],
                lineWidth: 1,
                drawBorder: false,
                drawTicks: false,
                zeroLineColor: "#EEECF7"
              },
              ticks: {
                fontColor: "#8E9AAA",
                fontFamily: "Open Sans",
                fontSize: 14,
                lineHeight: 1.4,
                padding: 12,
                beginAtZero: true,
                maxTicksLimit: 4,
                callback: val =>
                  val
                    ? val.toLocaleString("ru-RU") + ""
                    : val.toLocaleString("ru-RU")
              }
            }
          ]
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem, data) {
              return data["labels"][tooltipItem[0]["index"]];
            },
            label: function(tooltipItem, data) {
              var firstPartText;
              var secondPartText;
              var datasets = data["datasets"];
              var firstColValue = datasets[0]["data"][tooltipItem["index"]]
                ? datasets[0]["data"][tooltipItem["index"]]
                : "";
              var secondColValue = datasets[1]["data"][tooltipItem["index"]]
                ? datasets[1]["data"][tooltipItem["index"]]
                : "";
              if (firstColValue) {
                firstPartText =
                  "<span>" +
                  datasets[0].label +
                  "</span>: <br />" +
                  firstColValue.toLocaleString("ru-RU") +
                  " " +
                  datasets[0].dimension +
                  " <br />";
              } else {
                firstPartText = "";
              }
              if (secondColValue) {
                secondPartText =
                  "<span>" +
                  datasets[1].label +
                  "</span>: <br />" +
                  secondColValue.toLocaleString("ru-RU") +
                  " " +
                  datasets[1].dimension +
                  "";
              } else {
                secondPartText = "";
              }
              var newBody = firstPartText + secondPartText;
              return newBody;
            }
            // afterLabel: function(tooltipItem, data) {
            //   return data['datasets'][0]['data'][tooltipItem['index']]
            // }
          },
          enabled: false,
          custom: function(tooltipModel) {
            // Tooltip Element
            var tooltipEl = document.getElementById("chartjs-tooltip");
            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement("div");
              tooltipEl.id = "chartjs-tooltip";
              tooltipEl.innerHTML = "<table></table>";
              document.body.appendChild(tooltipEl);
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove("above", "below", "no-transform");
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add("no-transform");
            }

            function getBody(bodyItem) {
              return bodyItem.lines;
            }

            // Set Text
            if (tooltipModel.body) {
              var titleLines = tooltipModel.title || [];
              var bodyLines = tooltipModel.body.map(getBody);

              var innerHtml = "<thead>";

              titleLines.forEach(function(title) {
                innerHtml += "<tr><th>" + title + "</th></tr>";
              });
              innerHtml += "</thead><tbody>";

              bodyLines.forEach(function(body, i) {
                var colors = tooltipModel.labelColors[i];
                var style = "background:" + colors.backgroundColor;
                style += "; border-color:" + colors.borderColor;
                style += "; border-width: 2px";
                var span = '<span style="' + style + '"></span>';
                innerHtml += "<tr><td>" + span + body + "</td></tr>";
              });
              innerHtml += "</tbody>";

              var tableRoot = tooltipEl.querySelector("table");
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            var position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 0.96;
            tooltipEl.style.position = "absolute";
            tooltipEl.style.left =
              position.left +
              window.pageXOffset +
              tooltipModel.caretX -
              130 +
              "px";
            tooltipEl.style.top =
              position.top +
              window.pageYOffset +
              tooltipModel.caretY -
              130 +
              "px";
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = 14 + "px";
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding = 16 + "px";
            tooltipEl.style.pointerEvents = "none";
            tooltipEl.style.backgroundColor = "#F7F9FC";
            tooltipEl.style.color = "#000";
            tooltipEl.style.minWidth = "122px";
            tooltipEl.style.maxWidth = "172px";
            tooltipEl.style.borderRadius = "4px";
            tooltipEl.style.boxShadow = "0px 2px 4px rgba(0, 0, 0, 0.16)";
            tooltipEl.style.padding = 16;
            tooltipEl.querySelector("th").style.fontSize = "13px";
            tooltipEl.querySelector("th").style.fontWeight = "bold";
            tooltipEl.querySelectorAll("span").forEach((item, i) => {
              item.style.color = "#8E9AAA";
              item.style.fontSize = 13 + "px";
            });
          }
        }
      }
    };
  },
  props: ["chartInfo", ""],
  mounted() {
    this.renderChart(this.formireateYears(), this.options);
  },
  watch: {
    financialChartData(data) {
      this.chartdata = data;
      this.renderChart(data, this.options);
    }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    financialChartData() {
      return this.$store.state.modules.financial.financialChartState;
    }
  },
  methods: {
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    drawChart() {},
    mlnCaption(lang) {
      if (lang === "en") {
        return "mln. ";
      } else {
        return "млн. ";
      }
    },
    formireateYears() {
      const chartdata = {
        labels: [],
        datasets: [
          {
            label: "Revenue",
            backgroundColor: "#333",
            data: [],
            barPercentage: 1.0,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension:
              this.mlnCaption(this.lang) +
              this.currencySign(this.chartInfo[0].currency)
          },
          {
            label: "Profit",
            backgroundColor: "#FEBA0C",
            data: [],
            barPercentage: 1.0,
            categoryPercentage: 0.4,
            maxBarThickness: 16,
            dimension:
              this.mlnCaption(this.lang) +
              this.currencySign(this.chartInfo[0].currency)
          }
        ]
      };

      this.chartInfo.filter(item => {
        this.choiceYear.push(item);
      });
      this.choiceYear.sort((a, b) => {
        return a.year - b.year;
      });

      const periodYear = this.choiceYear[this.choiceYear.length - 1].year - 4;
      this.choiceYear.filter(item => {
        if (item.year > periodYear) {
          this.choiceYearMobile.push(item);
        }
      });
      //
      // this.choiceYear.reverse();
      // this.choiceYearMobile.reverse();
      if (window.innerWidth < 599) {
        this.choiceYearMobile.filter((item, index) => {
          if (item.data) {
            chartdata.labels.push(item.year);
            chartdata.datasets[0].data.push(item.data.revenue);
            chartdata.datasets[1].data.push(
              dataChecker(item.data["profit_net"])
            );
          }
        });
        return chartdata;
      } else {
        this.choiceYear.filter((item, index) => {
          if (item.data) {
            chartdata.labels.push(item.year);
            chartdata.datasets[0].data.push(item.data.revenue);
            chartdata.datasets[1].data.push(
              dataChecker(item.data["profit_net"])
            );
          }
        });
        console.log(chartdata);
        return chartdata;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.finance-chart {
  &__inner {
    position: relative;
    height: 194px;
    max-width: 1200px;

    @media #{$mobile} {
      height: 180px;
      margin: 0 -8px;
    }

    // canvas {
    //     width: auto;
    //     min-width: min-content;
    //     max-width: none;
    //     height: 250px !important;
    // }
  }

  &__legend {
    font-weight: 600;
    font-size: $font-size-xs;
    line-height: $line-height-md;
    color: $text-color-pale;
    background: #f6f7f8;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: $spacer * 2 0;
    margin-top: 21px;

    &-item {
      margin: 0 $spacer * 3;
    }

    &-color {
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}
</style>
