<template>
  <div class="btns-container">
    <img
      :src="el.img"
      v-for="el in socBtns"
      :key="el.id"
      @click="nagigateToTlgmPage(el.path)"
      class="btn-logo"
    />
  </div>
</template>

<script>
const tlgm = require("~/assets/svg/telegram-logo.svg?inline");
const vk = require("~/assets/svg/vk-logo.svg?inline");
const fb = require("~/assets/svg/facebook-logo.svg?inline");
const youtube = require("~/assets/svg/youtube-logo.svg?inline");
export default {
  data() {
    return {
      socBtns: [
        { img: tlgm, path: "/tlgm" },
        { img: vk, path: "https://vk.com/ifinik_invest" },
        { img: fb, path: "https://www.facebook.com/Ifinik" },
        { img: youtube, path: "https://www.youtube.com/channel/UCvfzk3I1TpYX_gZERWuwMkw/featured" }
      ]
    };
  },
  methods: {
    nagigateToTlgmPage(link) {
      if (link === "/tlgm") {
        this.$router.push(this.localePath(link));
      } else {
        window.open(link, "_blank");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.btns-container {
  position: fixed;
  right: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @media #{$tabletLg} {
    display: none;
  }
}

.btn-logo {
  margin-bottom: 8px;
}
</style>
