<template>
  <div class="footer js-footer">
    <div class="footer__top">
      <div class="container-no-height">
        <div class="row">
          <div class="col-lg-3 col-sm-6 footer__item-wrap">
            <div class="footer__item">
              <div class="footer__caption">
                {{ $t("footerHeaders.first") }}
              </div>
              <div class="footer__nav">
                <Navigation :dataList="informationList"> </Navigation>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 footer__item-wrap">
            <div class="footer__item">
              <div class="footer__caption">
                {{ $t("footerHeaders.second") }}
              </div>
              <div class="footer__nav">
                <Navigation :dataList="navigation"></Navigation>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 footer__item-wrap">
            <div class="footer__item">
              <div class="footer__caption">
                {{ $t("footerHeaders.third") }}
              </div>
              <div class="footer__nav d-flex flex-column">
                <a
                  :href="getLinks.apple"
                  class="mb-3"
                  target="_blank"
                >
                  <img src="~/assets/img/download-app-store.svg?inline" alt="" />
                </a>
                <a :href="getLinks.android">
                  <img src="~/assets/img/download-google.svg?inline" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 footer__item-wrap">
            <div class="footer__item">
              <div class="footer__caption">
                {{ $t("footerHeaders.fourth") }}
              </div>
              <Lang></Lang>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__center">
      <div class="container-no-height">
        <div class="row align-items-start footer__center-inner">
          <div class="col-xl-6 col-lg-12 footer__diff">
            <Partners />
            <div class="footer__contacts">
              <span>{{ $t("company.name") }}</span>
              <span>{{ $t("company.address") }}</span>
              <span>{{ $t("company.tel") }}</span>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="footer__copy">
              {{ $t("responsibility") }}
            </div>
            <div class="footer__social">
              <span class="footer__social-text">{{ $t("footerHeaders.five") }}</span>
              <div class="footer__social-btns">
                <nuxt-link to="/ru/tlgm">
                  <img src="~/assets/icons/tlgm-logo.svg?inline" alt="" class="mr-1"/>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container-no-height">
        <div class="footer__wrap">
          <div class="row footer__bootom-inner">
            <div class="col-xl-6 col-md-3 footer__bootom-item">
              <span class="footer__copyright">
                © 2017-{{ currentYear }} iFinik Investments
              </span>
            </div>
            <div class="col-xl-6 col-md-4 footer__bootom-item">
              <span class="footer__policy">
                <nuxt-link :to="localePath('/privacypolicy')" class="link">{{
                  $t("servicesLinks.privacy")
                }}</nuxt-link>
                /
                <nuxt-link :to="localePath('/privacypolicy')" class="link">{{
                  $t("servicesLinks.terms")
                }}</nuxt-link>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Auth></Auth>
    <EmptyLayout></EmptyLayout>
  </div>
</template>

<script>
import Navigation from "~/components/Navigation.vue";
import Lang from "~/components/Lang.vue";
import { I18N } from "../config";
import Auth from "../components/Auth/Auth.vue";
import Partners from "../components/Partners.vue";
import EmptyLayout from "../layouts/EmptyLayout";

export default {
  components: {
    Navigation,
    Lang,
    Auth,
    EmptyLayout,
    Partners
  },
  methods: {},
  data() {
    return {
      informationList: "",
      navigation: "",
      downoloads: "",
      currentYear: ""
    };
  },
  methods: {
    getNavData() {
      this.informationList = this.informationData;
      this.navigation = this.navigationData;
      this.downoloads = this.downoloadData;
    },
    getCurrentYear() {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      this.currentYear = currentYear;
    }
  },
  computed: {
    informationData() {
      return I18N.vueI18n.messages[this.$i18n.locale].informationList;
    },
    navigationData() {
      return I18N.vueI18n.messages[this.$i18n.locale].navigationList;
    },
    downoloadData() {
      return I18N.vueI18n.messages[this.$i18n.locale].Downoloads;
    },
    getLinks() {
        return this.$store.state.modules.links;
    }
  },
  mounted() {
    this.getNavData();
    this.getCurrentYear();
  },
  watch: {
    informationData(langData) {
      this.informationList = langData;
    },
    navigationData(langData) {
      this.navigation = langData;
    }
  }
};
</script>

<style lang="scss">
.footer {
  color: $text-reverse-color;
  background: $footer-color;
  position: relative;
  z-index: 100;

  &.is-active {
    z-index: 111;
  }

  &__wrap {
    padding: $spacer * 3 0;
    box-shadow: inset 0px 1px 0px rgba($white, 0.08);

    @media #{$tablet} {
      display: flex;
      justify-content: center;
      box-shadow: none;
      padding: 0 0 $spacer * 4;
    }
  }

  &__item {
    padding: $spacer * 8 0 0;

    @media #{$tablet} {
      padding: $spacer * 6 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__caption {
    color: $white;
    margin: 0 0 $spacer * 4;
    text-transform: uppercase;
    font-size: $font-size-xs;
    color: rgba(255, 255, 255, 0.4);
  }

  &__nav {
    a {
      width: fit-content;
    }
  }

  &__center {
    margin: $spacer * 18 0 $spacer * 2;

    @media #{$tablet} {
      margin: $spacer * 4 0 $spacer * 2;
    }
  }

  &__center-inner {
    @media #{$tabletLg} {
      flex-direction: column;
    }
  }

  &__diff {
    @media #{$tabletLg} {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__contacts {
    font-size: $font-size-xs;
    line-height: $line-height-md;
    color: $text-reverse-color;
    display: flex;
    flex-direction: column;

    @media #{$tabletLg} {
      margin: 0 0 $spacer * 4;
    }

    @media #{$tablet} {
      text-align: center;
      padding-top: $spacer * 4;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    @media #{$mobile} {
      padding: $spacer * 4 0;
      margin: 0;
      text-align: center;
    }

    span {
      margin: 0 0 $spacer * 0.5;
    }
  }

  &__copy {
    font-size: $font-size-xs;
    line-height: $line-height-xl;
    color: $text-reverse-color;
    margin-bottom: $spacer * 8;

    @media #{$tabletLg} {
        padding: $spacer * 4 0 $spacer * 2;
    }

    @media #{$tablet} {
        margin-bottom: $spacer *4;
    }

    @media #{$mobile} {
         margin-bottom: $spacer * 2;
        justify-content: center;
        text-align: center;
    }

  }

  &__copyright {
    font-size: $font-size-xs;
    line-height: $line-height-md;

    @media #{$tablet} {
      white-space: nowrap;
    }

    @media #{$mobile} {
      width: 100%;
      text-align: center;
      display: block;
      padding: $spacer * 2 0 0;
    }
  }

  &__policy {
    display: flex;
    font-size: $font-size-xs;
    line-height: $line-height-md;

    @media #{$tabletLg} {
      // margin-top: 6px;
    }

    @media #{$mobile} {
      width: 100%;
      text-align: center;
      display: block;
      padding: $spacer * 2 0;
    }

    .link {
      margin-right: $spacer * 2;

      @media #{$tabletLg} {
        white-space: nowrap;
      }

      &:last-child {
        margin: 0 0 0 $spacer * 2;
      }
    }
  }

  &__bootom-item {
      display: flex;
      align-items: center;

    @media #{$tablet} {
      width: auto;
      flex: auto;
      max-width: fit-content;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 100%;
        right: 0;
        background: $white;
        top: 7px;
        opacity: 0.5;
      }

      &:last-child::before {
        display: none;
      }
    }

    &::before {
      @media #{$mobile} {
        display: none;
      }
    }
  }

  &__bootom-inner {
    @media #{$tablet} {
      justify-content: center;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
      padding: $spacer * 3 0 0;
    }
  }

  &__item-wrap {
    @media #{$mobile} {
      width: 100%;
      max-width: 100%;
      flex: auto;
    }
  }

  &__social {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media #{$tablet} {
        justify-content: center;
        margin: 0 0 $spacer * 3;
      }
  }
  &__social-text {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-xs;
    line-height: $line-height-md;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 8px;
  }
}
</style>
