<template>
    <button @mouseenter="isHover = true" @mouseleave="isHover = false" class="gear-btn">
      <img :class="{'hover-icon': isHover}" alt="" class="gear-btn__icon" src="~/assets/icons/icon-gear.svg?inline">
    </button>
</template>

<script>
export default {
  name: 'GearBtn',
  data() {
    return {
      isHover: false,
    };
  }
};
</script>

<style lang="scss" scoped>
  .gear-btn {
    height: 100%;
    width: 50px;
    padding-bottom: $spacer;
    z-index: 999;

    &:hover {
      background-color: $text-color;
    }

    .hover-icon {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(108%) contrast(101%);
    }
  }
</style>
