<template lang="html">
    <header class="header">
      <div class="container-no-height">
        <div class="header__wrap">
          <Logo></Logo>
          <Menu></Menu>
          <Search v-if="isSearch"></Search>
          <AuthBtnGroup v-if="!isLogin"></AuthBtnGroup>
          <Account v-if="isLogin"></Account>
        </div>
      </div>
    </header>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Menu from '~/components/Menu.vue'
import Search from '~/components/Search.vue'
import AuthBtnGroup from '~/components/AuthBtnGroup.vue'
import Account from '~/components/Account.vue'

export default {
  components: {
    Logo,
    Menu,
    Search,
    AuthBtnGroup,
    Account
  },
  data() {
      return {
          isSearch: true,
          isLogin: '',
      }
  },
  methods: {
      toggleSearchVision() {
          
      },
      async getLoginStatus() {
          try {
              this.isLogin = this.loginStatus;
          } catch (e) {}
      },
  },
  computed: {
      loginStatus() {
          return this.$store.state.modules.auth.loginStatus;
      }
  },
  mounted() {
    this.$nextTick(() => {
        window.addEventListener('resize', this.toggleSearchVision);
        this.toggleSearchVision()
    });
    this.getLoginStatus();
  },
  beforeDestroy() {
      window.removeEventListener('resize', this.toggleSearchVision);
  },
  watch: {
    loginStatus(e) {
        this.isLogin = e;
    }
  }
}
</script>

<style lang="scss" scoped>
    .header {
        @media #{$mobile} {
            padding: 0 4px;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;

            & > .account {
                @media #{$tablet} {
                    display: none;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: #fff;
            font-size: 19px;
            margin-right: 3%;
            white-space: nowrap;
        }

        .menu {
            @media #{$tablet} {
                order: 0;
                padding: 0;
            }
        }

        .logo {
            @media #{$tablet} {
                order: 1;
                display: flex;
                justify-content: center;
                flex: inherit;
            }
        }

        .search {
            @media #{$tablet} {
                order: 2;
                max-width: 30px;
                background: $white;
                padding: $spacer *3 0;
            }
        }

        .auth-btn-group {
            @media #{$tablet} {
                display: none;
            }
        }
    }
</style>
