<template lang="html">
    <div class="lang">
        <span class="lang__btn js-lang-btn" href="#" @click="showLang" v-click-outside="hide">
            {{swLang}}
            <span class="lang__btn-arrow"></span>
        </span>

        <transition name="slide-fade">
            <div v-if="isOpen" class="lang__menu" @click="switchLang">
                <nuxt-link
                  class="lang__item"
                  v-for="locale in availableLocales"
                  :key="locale.code"
                  :to="switchLocalePath(locale.code)">{{ locale.name }}
                </nuxt-link>
            </div>
        </transition>


    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

export default {
    data() {
        return {
            isOpen: false,
            swLang: null,
        }
    },
    methods: {
        switchLang() {
            this.isOpen = false;
        },
        showLang() {
            this.isOpen = !this.isOpen
        },
        hide () {
            this.isOpen = false
        },
    },
    mounted () {
        this.swLang = this.curentLang[0].name;
    },
    computed: {
        availableLocales () {
          return this.$i18n.locales
        },
        curentLang() {
            return this.$i18n.locales.filter(i => i.code === this.$i18n.locale)
        }
    },
    directives: {
        ClickOutside
    },
    watch: {
        curentLang(data) {
            this.swLang = data[0].name;
        }
    }
}
</script>

<style lang="scss" scoped>
    .lang {
        display: flex;
        flex-direction: column;
        max-width: 160px;
        position: relative;
        z-index: 1;

        @media #{$tablet} {
            min-width: 160px;
        }

        &__btn {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            font-size: $font-size-base;
            line-height: $line-height-md;
            border: 1px solid $disabled-color;
            padding-left: 10px;
            width: 100%;
            border-radius: $border-radius * 0.5;
            cursor: pointer;
        }

        &__item {
            color: $text-color;
            font-size: $font-size-base;
            line-height: $line-height-md;
            text-decoration: none;
            padding: $spacer *2 10px;
            transition: background $delay ease-in-out;
            cursor: pointer;

            &:hover {
                background: $light-color;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            border: 1px solid $disabled-color;
            position: absolute;
            width: 100%;
            top: 30px + $spacer * 2;
            left: 0;
            border-radius: $spacer;
            background: $white;
            z-index: 999;
        }

        &__btn-arrow {
            width: 30px;
            height: 30px;
            border-left: 1px solid $disabled-color;
            border-radius: $border-radius * 0.5;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                left: 9px;
                top: 13px;
                border: 6px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 6px solid $warning-color;
                border-radius: 2px;
                width: 10px;
                height: 5px;
            }
        }
    }

</style>
