<template>
    <nuxt-link class="logo" :to="localePath('/')">
      <img src="~/assets/img/logo.svg?inline">
  </nuxt-link>
</template>

<script type="text/javascript">
  import logoImg from '../assets/img/logo.svg';

  export default {
    data() {
      return {
        logoImg
      }
    }
  }

</script>
<style lang="scss">
    .logo {
        padding: $spacer 0;
        display: flex;

        @media #{$tablet} {
            padding: $spacer * 3 0;
        }

        @media #{$mobile} {
            flex: 1;
        }
    }
</style>
