<template lang="html">
  <div class="market-data">
    <div class="market-data__heading">
      <h2>{{ $t("marketData.title") }}</h2>
    </div>
    <div class="market-data__inner">
      <div class="market-data__wrap">
        <span class="market-data__item">
          <span class="market-data__name">{{
            $t("marketData.PreviousClose")
          }}</span>
          <span class="market-data__num">{{
            getPriceNumCount(infoCard.asset.close)
          }}</span>
        </span>
        <span class="market-data__item">
          <span class="market-data__name">{{ $t("marketData.Open") }}</span>
          <span class="market-data__num">{{
            numIcludeZero(infoCard.asset.open)
          }}</span>
        </span>
        <span class="market-data__item">
          <span class="market-data__name">{{
            $t("marketData.DaysRange")
          }}</span>
          <span class="market-data__num"
            >{{ numIcludeZero(infoCard.asset.price1_day) }} -
            {{ numIcludeZero(infoCard.asset.price2_day) }}</span
          >
        </span>
        <span class="market-data__item">
          <span class="market-data__name">{{ $t("marketData.WRange") }}</span>
          <span class="market-data__num"
            >{{ numIcludeZero(infoCard.asset.price1_52w) }} -
            {{ numIcludeZero(infoCard.asset.price2_52w) }}</span
          >
        </span>
      </div>
      <!-- <div class="market-data__wrap"></div> -->
    </div>
  </div>
</template>

<script>
import { data } from "../assets/tempData/marketData.js";
export default {
  data() {
    return {
      priceNumLength: 0
    }
  },
  props: {
    infoCard: Object,
  },
  methods: {
    getPriceNumCount(price) {
      let str = price.toString();
      let newStr;
      if (str.includes(".")) {
        this.priceNumLength = str.split(".")[1].length;
        newStr = (price / 1).toFixed(this.priceNumLength);
        return newStr;
      } else {
        newStr = (price / 1).toFixed(0);
        return Number(newStr).toLocaleString();
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val;
      if (this.priceNumLength > 0) {
        val = (number / 1).toFixed(this.priceNumLength);
        return val;
      } else {
        return Number(num).toLocaleString();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.market-data {
  background: $white;
  color: $text-color;
  border-radius: $spacer;
  margin: 0 0 $spacer * 5;

  &__heading {
    padding: $spacer * 6;
    font-size: $font-size-xxl;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

    @media #{$mobile} {
      padding: $spacer * 6 $spacer * 3;
    }
  }

  &__wrap {
    padding: 0 $spacer * 6 0;
    display: flex;
    flex-direction: column;

    @media #{$mobile} {
      padding: 0 $spacer * 4 0;
    }

    &:nth-child(2) {
      padding: 0 $spacer * 6 $spacer * 2;

      @media #{$mobile} {
        padding: 0 $spacer * 4 $spacer * 2;
      }

      .market-data__item:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        @media #{$tabletLg} {
          border: none;
        }

        @media #{$mobile} {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
      }
    }

    @media #{$tabletLg} {
      width: 100%;
    }
  }

  &__item {
    color: $text-color;
    font-size: $font-size-md;
    line-height: $line-height-md;
    padding: $spacer * 4 0;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);

    &:last-child {
      box-shadow: none;
    }
  }

  &__num {
    font-weight: bold;
    white-space: nowrap;
  }

  &__inner {
    @media #{$tabletLg} {
      display: flex;
    }

    @media #{$mobile} {
      flex-direction: column;
    }
  }
}
</style>
