<template>
  <div class="markets-table">
    <div class="markets-table__container">
      <div class="markets-table__table-columns-head">
        <div class="table-col__one gray"></div>
        <div v-for="el in sortingColumns" :key="el.id" :class="el.class">
          <TableSortBtn
            :active="el.active"
            :ascending="el.ascending"
            :isActive="el.isActive"
            :isIconLeft="el.isIconLeft"
            :sortKind="el.sortKind"
            :metric="el.metric"
            :title="$t(el.title)"
            @changeSorting="changeSorting($event)"
          />
        </div>
      </div>
      <!-- ***** Table Content **** -->
      <div>
        <nuxt-link
          :to="localePath(`/instruments/summary-${el.code}`)"
          :key="el.id"
          class="markets-table__table-columns"
          v-for="el in stocksArr"
        >
          <div class="table-col__one">
            <img v-if="el.logo" :src="minFileName(el.logo,'T')" alt="" class="company-logo" />
          </div>
          <div class="table-col__two groupped">
            <span class="value-ticker">{{ el.tiker }}</span>
            <span class="value-name groupped__name">
              {{ el.name }}
              {{ stockType(el.type) }}
            </span>
          </div>
          <div class="table-col__three">
            <span class="value-name">
              {{ el.name }}
              {{ stockType(el.type) }}
            </span>
          </div>
          <div class="table-col__four price-column brdr-right">
            <span class="value-number" v-if="el.price"
              >{{ fixPrice(el.price) }} {{ currencySign(el.currency) }}</span
            >
          </div>
          <div class="table-col__four brdr-right">
            <span
              :class="[
                { 'positive-value': el.delta > 0 },
                { 'negative-value': el.delta < 0 }
              ]"
              class="value-number"
              >{{ addPlus(el.delta > 0)
              }}{{ roundingDecimalToEqual(el.price, el.delta) }}</span
            >
          </div>
          <div class="table-col__four brdr-right">
            <span
              :class="[
                { 'positive-value': el.ratio > 0 },
                { 'negative-value': el.ratio < 0 }
              ]"
              class="value-number"
              >{{ addPlus(el.ratio > 0) }}{{ numIcludeZero(el.ratio) }}%</span
            >
          </div>
        </nuxt-link>
        <Loader v-if="isLoading" />
      </div>
    </div>
  </div>
</template>

<script>
import GearBtn from "./GearBtn";
import TableSortBtn from "./TableSortBtn";
import { values } from "./News/values-company";
import { sortByName, sortByValues } from "./Markets/sorting-companies";
import Loader from "./Loader";
import { mapState } from "vuex";
import { I18N } from "~/config";

export default {
  name: "MarketsTable",
  components: {
    TableSortBtn,
    GearBtn,
    Loader
  },
  data() {
    return {
      values: values,
      checkDividends: false,
      stockInstruments: {},
      allValuesCompanies: [],
      companies: {},
      perPage: 11,
      currentPage: 1,
      pagination: [],
      load: false,
      blink: "",
      nextToken: null,
      isChangeSort: false
    };
  },
  mounted() {
    if(this.$store.state.modules.screener.stocksArr == 0) {
      this.loadFirstTwentyCompanies();
    };
  },
  props: {
    instruments: Object,
    namesAndLogos: Object
  },
  computed: {
    isLoading() {
      return this.$store.state.modules.screener.isLoading;
    },
    stocksArr() {
      return this.$store.state.modules.screener.stocksArr;
    },
    sortingColumns() {
      const currentID = this.$store.state.modules.screener.currentScreener;
      const currentScreener = this.$store.state.modules.screener.savedScreeners[
        currentID
      ];
      const metric = currentScreener.sort.metric;
      const active = currentScreener.sort.active;
      const ascending = currentScreener.sort.ascending;
      let newColumns = this.$store.state.modules.screener.columns;
      newColumns = newColumns.map(e => ({
        metric: e.metric,
        active: e.metric === metric ? active : false,
        ascending: e.metric === metric ? ascending : false,
        isActive: e.isActive,
        isIconLeft: e.isIconLeft,
        sortKind: e.sortKind,
        title: e.title,
        class: e.class
      }));
      return newColumns;
    },
    lang() {
      return this.$i18n.locale;
    },
    filteredCompanies() {
      let allCompanies = Object.values(this.instruments);
      let filteredCompanies = [];
      const currentID = this.$store.state.modules.screener.currentScreener;
      const currentScreener = this.$store.state.modules.screener.savedScreeners[
        currentID
      ];
      const metric = currentScreener.sort.metric;
      const asc = currentScreener.sort.ascending;
      const stateSortKind = currentScreener.sort.sortKind;
      let sortKind;
      if (stateSortKind === "name") {
        sortKind = sortByName;
      } else if (stateSortKind === "value") {
        sortKind = sortByValues;
      } else if (stateSortKind === "nothing") {
        sortKind = null;
      }

      allCompanies.filter(item => {
        if (item.price) {
          if (item.price.toString().split(".")[1]) {
            const fixedNum = item.price.toString().split(".")[1].length;

            if (fixedNum < 2) {
              return (item.changeFormating = item.change.toFixed(2));
            } else {
              return (item.changeFormating = item.change.toFixed(fixedNum));
            }
          } else {
            return (item.changeFormating = item.change.toFixed(2));
          }
        }
      });

      allCompanies.filter(item => {
        if (item.price) {
          if (item.price.toString().split(".")[1]) {
            const fixedNum = item.price.toString().split(".")[1].length;
            if (fixedNum < 2) {
              return (item.priceForamting = item.price.toFixed(2));
            } else {
              return (item.priceForamting = item.price);
            }
          } else {
            return (item.priceForamting = item.price.toFixed(2));
          }
        }
      });

      allCompanies.forEach(el => {
        if (el.price && el.change && el.changePerc) {
          filteredCompanies.push(el);
        }
      });
      const activeSortAsc = currentScreener.sort.ascending;
      if (sortKind === sortByName) {
        return filteredCompanies.sort(sortKind(activeSortAsc, metric));
      } else if (sortKind === sortByValues) {
        return filteredCompanies.sort(sortKind(asc, metric));
      } else if (sortKind === null) {
        return filteredCompanies;
      }
    }
  },
  methods: {
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    roundingDecimalToEqual(price, delta) {
      let priceStr = String(price);
      if(! delta || ! price) return delta;
      if (priceStr.includes(".")) {
        let stringAfterPoint = priceStr.split(".")[1];
        let countNumbers = stringAfterPoint.length;
        return delta.toFixed(countNumbers);
      } else {
        return delta.toFixed(2);
      }
    },
    minFileName(url, type) {
        if(!url) return '';
        return url.replace(/(\.[^.]+)$/, '-'+type+'$1')
    },
    async loadFirstTwentyCompanies() {
      this.isChangeSort = false;
      this.$store.dispatch("modules/screener/loadFirstTwentyInstruments", {
        lang: this.lang,
        changeSorting: this.isChangeSort
      });
    },
    async loadNextCompanies() {
      if (this.nextToken) {
        this.isLoading = true;
        await this.$api.get("/stocklist", {_next: this.nextToken})
          .then(data => {
            this.nextToken = data["_next"];
            this.stocksArr = [...this.stocksArr, ...data.data];
            this.isLoading = false;
          })
          .catch(e => {});
      }
    },
    stockType(type) {
      if (type === "preferred_share") {
        return (
          "(" +
          I18N.vueI18n.messages[this.$i18n.locale].stocksPage.prefShare +
          ")"
        );
      } else if (type === "depositary_receipt") {
        return (
          "(" +
          I18N.vueI18n.messages[this.$i18n.locale].stocksPage.depoRec +
          ")"
        );
      }
    },
    numIcludeZero(number) {
      let val = (number / 1).toFixed(2);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      return val;
    },
    fixPrice(price) {
      if (String(price).includes(".") && price < 1) {
        return price;
      } else {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      }
    },
    changeSorting({ metric, active, ascending, sortKind }) {
      this.$store.commit("modules/screener/changeSort", {
        metric,
        active,
        ascending,
        sortKind
      });
      this.isChangeSort = true;
      this.$store.dispatch("modules/screener/loadFirstTwentyInstruments", {
        lang: this.lang,
        changeSorting: this.isChangeSort
      });
    },
    addPlus(e) {
      return e ? "+" : "";
    },
    navigateToInstrument(id) {
      let encodeId = encodeURIComponent(id);
      this.$router.push(this.localePath(`/instruments/summary-${encodeId}`));
    }
  }
};
</script>

<style lang="scss" scoped>
.markets-table {
  margin-bottom: ($spacer * 5);
  background-color: $white;
  @media #{$tablet} {
    min-width: 100%;
  }
  @media #{$mobile} {
    width: 100%;
  }

  &__title-box {
    margin-bottom: ($spacer * 5);
    background: $white;
    border-radius: $border-radius;
    box-shadow: inset 0px -1px 0px $border-light;
  }
  &__title {
    padding: ($spacer * 6);
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    color: $text-color;
  }

  &__row-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacer * 4;

    .pagination-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .pagination-btn {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right-btn {
      transform: rotate(-180deg);
    }
    .active-btn {
      filter: invert(32%) sepia(92%) saturate(2203%) hue-rotate(205deg)
        brightness(102%) contrast(96%);
    }
  }

  &__break-line {
    box-shadow: inset 0 -1px 0 $primary-bg;
    width: 100%;
    height: 1px;
  }
  &__table-columns-head {
    height: 48px;
    color: $text-color;
    display: flex;
    flex-direction: row;
  }
  .col-caption {
    font-style: normal;
    font-weight: 800;
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .table-col {
    &__one {
      min-width: 48px !important;
      max-width: 48px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: $spacer * 2;

      .company-logo {
        object-fit: contain;
        width: $spacer * 8;
        height: $spacer * 8;
        border-radius: 2px;
      }
      @media #{$mobile} {
        background-color: $white;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 99 !important;
      }
    }

    &__two {
      width: 156px !important;
      padding: $spacer * 4;
      display: flex;
      align-items: center;

      @media #{$tabletLg} {
        min-width: 224px;
        width: 224px;
        box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.04);
        padding-left: $spacer * 2;
        z-index: 99 !important;
      }
      @media #{$mobile} {
        background-color: $white;
        min-width: 107px !important;
        position: sticky;
        left: 48px;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    &__three {
      width: 100% !important;
      padding: $spacer * 4;
      display: flex;
      align-items: center;
      z-index: 1;
      @media #{$tabletLg} {
        display: none;
      }
    }

    &__four {
      min-width: 176px !important;
      padding: $spacer * 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1 !important;
      @media #{$tabletLg} {
        min-width: 128px !important;
      }
    }
  }
  .groupped {
    @media #{$tabletLg} {
      flex-direction: column;
      align-items: flex-start;
      padding: $spacer * 2;
    }

    &__name {
      @media (min-width: 1199px) {
        display: none;
      }
    }
  }

  .price-column {
    @media #{$tabletLg} {
      width: 100%;
    }
    @media #{$mobile} {
      min-width: 90px !important;
    }
  }

  .gray {
    background-color: $border-light;
  }

  .value-ticker {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .value-name {
    width: inherit !important;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-md;
    letter-spacing: 0.02em;
    @media #{$tabletLg} {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 5px;
      font-size: $font-size-xs;
      line-height: 16px;
    }
    @media #{$mobile} {
      width: 62px !important;
    }
  }

  .value-number {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-md;
    line-height: $line-height-md;
    text-align: right;
    letter-spacing: 0.02em;
    @media #{$tabletLg} {
      font-size: $font-size-xs;
      line-height: 16px;
    }
  }

  .positive-value {
    color: $succes-color;
  }

  .negative-value {
    color: $danger-color;
  }
  &__table-columns {
    color: $text-color;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0px -1px 0px $primary-bg;
    cursor: pointer;
    background-color: $white;
    &:hover {
      background-color: $hover-table-item;
      @media #{$mobile} {
        background-color: transparent;
      }
    }
  }

  .none-display {
    display: none;
  }
}
.blink-red {
  color: $danger-color;
}
.blink-green {
  color: $succes-color;
}
.brdr-right {
  position: relative;
}
.brdr-right:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 24px;
  width: 1px;
  transform: translate(0, -50%);
  background-color: $primary-bg;
}
.brdr-right:last-child:after {
  display: none;
}

@media (min-width: 1px) and (max-width: 899px) {
  .is-hidden-mobile-tablet {
    display: none !important;
  }
}
</style>
