<template>
  <div :class="[{green: isPositive}, {red: isNegative}]" class="rate-button" @click="navigateToInstrument(shortCompanyName)">
    <div class="rate-button__text">
      <span class="text-item__short-name">{{shortCompanyName}}</span>
      <span :class="[{'green-text': isPositive}, {'red-text': isNegative}]">{{addPlus}}{{value}}%</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MarketsRateBtn',
  props: {
    value: Number,
    shortCompanyName: String,
  },
  computed: {
    isPositive() {
      return this.value >= 0;
    },
    isNegative() {
      return this.value < 0;
    },
    addPlus() {
      return this.isPositive ? '+' : '';
    }
  },
  methods: {
    navigateToInstrument(id) {
      this.$router.push(this.localePath(`/instruments/summary-${id}`));
    }
  }
};
</script>

<style lang="scss" scoped>
  .rate-button {
    width: auto;
    height: 24px;
    padding: $spacer ($spacer * 2.5);
    margin-right: ($spacer * 2);
    margin-bottom: $spacer;
    cursor: pointer;

    &__text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      text-transform: uppercase;
      height: 16px;
    }

    .text-item {
      &__short-name {
        margin-right: $spacer;
        color: $text-color-pale;
      }
    }

  }

  .green {
    background: rgba(0, 182, 138, 0.08);
    box-shadow: inset 2px 0 0 $succes-color;
  }

  .red {
    background: rgba(243, 65, 97, 0.08);
    box-shadow: inset 2px 0 0 $danger-color;
  }

  .green-text {
    color: $succes-color;
  }

  .red-text {
    color: $danger-color;
  }
</style>
