<template lang="html">
  <nav class="menu">
    <div class="menu__wrap" v-bind:class="{ active: isActiveMenu }">
      <div class="menu__data" v-if="isMenuData">
        <AuthBtnGroup v-if="!isLogin"></AuthBtnGroup>
        <Account v-if="isLogin"></Account>
      </div>

      <ul class="menu__list">
        <li v-for="items in menuList" v-bind:key="items.id" class="menu__item">
          <!-- <nuxt-link class="menu__link" :to="localePath(items.path)">{{
            items.name
          }}</nuxt-link> -->
          <button class="menu__link" @click="navigateTo(items.path)">
            {{ items.name }}
          </button>
          <span v-if="items.sublist" class="menu__sub-arrow" @click="showSub">
            <img src="~/assets/icons/icon-arrow.svg?inline" />
          </span>
          <nav class="menu__sub" v-if="items.sublist">
            <ul class="menu__sub-list">
              <li
                class="menu__sub-item"
                v-for="subitem in items.sublist"
                v-bind:key="subitem.id"
              >
                <nuxt-link
                  :to="localePath(subitem.path)"
                  class="menu__sub-link"
                >
                  {{ subitem.name }}
                  <span class="menu__arrow" v-if="subitem.underlist"></span>
                </nuxt-link>
                <nav class="menu__under" v-if="subitem.underlist">
                  <ul class="menu__under-list">
                    <li
                      class="menu__sub-item"
                      v-for="underitem in subitem.underlist"
                      v-bind:key="underitem.id"
                    >
                      <nuxt-link
                        :to="localePath(underitem.path)"
                        class="menu__sub-link 11"
                        >{{ underitem.name }}</nuxt-link
                      >
                    </li>
                  </ul>
                </nav>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
      <div class="menu__shadow" @click="openMenu"></div>
    </div>

    <button
      type="button"
      name="button"
      class="menu__btn"
      v-bind:class="{ active: isActiveMenu }"
      @click="openMenu"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</template>

<script>
import { I18N } from "../config";
import AuthBtnGroup from "~/components/AuthBtnGroup.vue";
import Account from "~/components/Account.vue";

export default {
  components: {
    AuthBtnGroup,
    Account
  },
  data() {
    return {
      isLogin: false,
      menuList: "",
      isActiveMenu: false,
      isActiveSubMenu: false,
      isMenuData: false,
      windowWidth: ""
    };
  },
  methods: {
    navigateTo(path) {
      if (path) {
        this.$router.push(this.localePath(path));
      } else {
        return;
      }
    },
    openMenu(e) {
      this.isActiveMenu = !this.isActiveMenu;
      this.$store.dispatch("modules/auth/menuState", this.isActiveMenu);
      this.checkBodyOverflow();
    },
    checkBodyOverflow() {
      var bodyEl = document.querySelector("body");
      if (this.isActiveMenu) {
        bodyEl.classList.add("is-hidden");
      } else {
        bodyEl.classList.remove("is-hidden");
      }
    },
    openSublist(e) {
      console.log(1);
      e.target.classList.toggle("active");
      e.target.nextElementSibling.classList.toggle("active");
    },
    openUnderList(e) {
      // e.target.classList.toggle('active');
      // e.target.nextElementSibling.classList.toggle('active');
    },
    toggleAccountVision() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth < 900) {
        this.isMenuData = true;
      } else {
        this.isMenuData = false;
      }
    },
    getMenuData() {
      this.menuList = this.menuData;
    },
    showSub(e) {
      e.target.classList.toggle("is-active");
      e.target.nextElementSibling.classList.toggle("is-active");
    },
    async getLoginStatus() {
      try {
       
        if (!this.isLogin) {
          this.isLogin = this.loginStatus;
        }
      } catch (e) {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.toggleAccountVision);
      this.toggleAccountVision();
    });
    this.getMenuData();
    this.getLoginStatus();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.toggleAccountVision);
  },
  computed: {
    menuData() {
      return I18N.vueI18n.messages[this.$i18n.locale].menuList;
    },
    loginStatus() {
      return this.$store.state.modules.auth.loginStatus;
    },
    menuStatus() {
      return this.$store.state.modules.auth.menuStatus;
    }
  },
  watch: {
    menuData(langData) {
      this.menuList = langData;
    },
    loginStatus(e) {
      this.isLogin = e;
      this.isActiveMenu = false;
      this.checkBodyOverflow();
    },
    menuStatus(e) {
      this.isActiveMenu = e;
      this.checkBodyOverflow();
    },
    $route(to, from) {
      this.isActiveMenu = false;
      this.checkBodyOverflow();
    }
  }
};
</script>

<style lang="scss">
.menu {
  padding: 0 $spacer * 4;

  @media #{$tablet} {
    order: 1;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    color: $text-color;
    margin: 0;

    @media #{$tablet} {
      flex-direction: column;
      padding: 0;
    }
  }

  &__wrap {
    @media #{$tablet} {
      flex-direction: column;
      position: absolute;
      width: 100%;
      max-width: 100%;
      left: -100%;
      background: #fff;
      height: 100%;
      top: 56px;
      z-index: 2;
      transition: $delay left ease-in-out;
      border-top: 4px solid $dark-bg;
      height: calc(100vh - 44px);
      overflow: auto;

      &.active {
        left: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;
      }
    }

    @media #{$mobile} {
      width: 320px;
      max-width: 310px;
    }

    &.active {
      .menu__shadow {
        right: 0;
      }
    }
  }

  &__shadow {
    display: none;
    height: calc(100vh - 44px);
    overflow: auto;
    position: fixed;
    width: calc(100% - 310px);
    right: -100%;
    top: 56px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    transition: $delay right ease-in-out;

    @media #{$mobile} {
      display: block;
    }
  }

  &__item {
    margin-right: $spacer * 8;
    position: relative;

    @media #{$tablet} {
      margin: 0;
      border-bottom: 1px solid $deep-gray;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      .menu__sub {
        // display: block;
        opacity: 1;
        z-index: 2;
        height: auto;

        @media #{$tablet} {
        }
      }
    }
  }

  &__link {
    font-size: $font-size-md;
    font-weight: 600;
    line-height: $line-height-xxs;
    color: $text-color-pale;
    text-decoration: none;
    transition: $delay color ease-in-out;
    padding: $spacer * 4 0;
    display: block;
    text-decoration: none;

    @media #{$tablet} {
      padding: $spacer * 6 $spacer * 4;
      position: relative;
    }

    &:hover {
      text-decoration: none;
      color: $text-color;
    }

    &.nuxt-link-active {
      text-decoration: none;
      color: $text-color;
    }
  }

  &__sub {
    position: absolute;
    top: 46px;
    z-index: 2;
    min-width: 240px;
    background: $white;
    border-top: 4px solid $dark-bg;
    // display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: -2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all $delay ease-in-out;

    @media #{$tablet} {
      border: none;
      width: 100%;
      position: static;
      background: $primary-bg;
      opacity: 1;
      z-index: 2;
      max-height: 0;
      overflow: hidden;
      border-radius: 0;

      &.is-active {
        max-height: 1000px;
        height: auto;
      }
    }
  }

  &__sub-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__sub-item {
    &:hover {
      .menu__under {
        display: block;
      }
    }
  }

  &__arrow {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 2px;
      background: $dark-bg;
      transform: rotate(45deg);
      top: 5px;
      left: -5px;
      transition: background $delay ease-in-out;
    }

    &::after {
      position: absolute;
      content: "";
      width: 9px;
      height: 2px;
      background: $dark-bg;
      transform: rotate(-45deg);
      top: 11px;
      left: -5px;
      transition: background $delay ease-in-out;
    }
  }

  &__sub-link {
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: $spacer * 3.6 $spacer * 4 $spacer * 3.6 $spacer * 8;
    transition: $delay background ease-in-out, $delay color ease-in-out;

    @media #{$tablet} {
      padding: $spacer * 6 $spacer * 4 $spacer * 6 $spacer * 8;
    }

    &:hover {
      background: $light-color;
      color: $primary-light-color;

      @media #{$tablet} {
        background: transparent;
        color: $text-color;
      }

      .menu__arrow::before,
      .menu__arrow::after {
        background: $primary-light-color;

        @media #{$tablet} {
          background: $dark-bg;
        }
      }
    }

    &.active {
      @media #{$tablet} {
        background: $light-color;
        color: $primary-light-color;

        .menu__arrow::before,
        .menu__arrow::after {
          background: $primary-light-color;
        }
      }
    }
  }

  &__under {
    position: absolute;
    top: -$spacer;
    right: -100%;
    height: calc(100% + 4px);
    z-index: 2;
    min-width: 240px;
    background: $light-color;
    border-top: 4px solid $dark-bg;
    border-left: 1px solid $border-dark;
    display: none;

    @media #{$tablet} {
      position: static;
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height $delay ease-in-out;
      border: none;
      background: $disabled-color;

      &.active {
        max-height: 1000px;
      }
    }
  }

  &__under-list {
    list-style: none;
    padding: 0;
  }

  &__sub-arrow {
    display: none;

    @media #{$tablet} {
      display: flex;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20px;
      top: 21px;
      transform: rotate(90deg);
      align-items: center;
      justify-content: center;
      transition: transform $delay ease-in-out;

      &.is-active {
        transform: rotate(-90deg);
      }
    }

    img {
      pointer-events: none;
    }
  }

  &__btn {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 22px;
    padding: 0;
    background: none;
    border: none;
    display: none;

    @media #{$tablet} {
      display: flex;
    }

    span {
      position: relative;
      pointer-events: none;
      width: 22px;
      height: 2px;
      background: $dark-bg;
      transition: width $delay ease-in-out, transform $delay ease-in-out;
    }

    &.active {
      span:nth-child(2) {
        top: 8px;
        width: 0;
      }

      span:last-child {
        transform: rotate(45deg);
        top: -6px;
      }

      span:first-child {
        transform: rotate(-45deg);
        top: 7px;
      }
    }
  }

  &__data {
    border-bottom: 1px solid #f2f4f7;

    button {
      width: 50%;
      text-align: center;
      justify-content: center;
    }
  }
}
</style>
