<template lang="html">
    <nav class="menu-secondary">
        <div class="container">
            <div class="menu-secondary__wrap">
                <ul class="menu-secondary__list">
                    <li class="menu-secondary__item">
                        <nuxt-link :to="localePath('/instruments/summary-' + menuLink)" class="menu-secondary__link">
                            {{$t('MenuSecondary.summary')}}
                        </nuxt-link>
                    </li>
                    <li class="menu-secondary__item" v-if="financialLink">
                        <nuxt-link :to="localePath('/instruments/financial-' + menuLink)" class="menu-secondary__link">
                            {{$t('MenuSecondary.financial')}}
                        </nuxt-link>
                    </li>
                    <li class="menu-secondary__item" v-if="newsLink > 0">
                        <nuxt-link :to="localePath('/instruments/news-' + menuLink)" class="menu-secondary__link">
                            {{$t('MenuSecondary.news')}}
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
import  { I18N }  from '../config';

export default {
    data() {
        return {
            menuList: '',
        }
    },
    props: {
        menuLink: String,
        newsLink: Number,
        financialLink: Boolean
    },
    methods: {
        getMenuData() {
            this.menuList = this.menuData;
        }
    },
    mounted() {
        this.getMenuData();
    },
    computed: {
        menuData() {
            return I18N.vueI18n.messages[this.$i18n.locale].MenuSecondary;
        }
    },
    watch: {
      menuData(langData) {
        this.menuList = langData;
      }
    }
}
</script>

<style lang="scss" scoped>
    .menu-secondary {
        margin: 0 0 $spacer * 5;

        @media #{$mobile} {
            margin: 0 0 $spacer * 4;
        }

        &__wrap {
            background: $white;
            border-radius: 0 0 4px 4px;

            @media #{$mobile} {
                border-radius: 0;
            }
        }

        &__list {
            display: flex;
            justify-content: center;
            list-style: none;
            color: $text-color;
            padding: 0 $spacer * 5;
        }

        &__link {
            font-size: $font-size-md;
            font-weight: 600;
            line-height: $line-height-xxs;
            color: $dark-bg;
            text-decoration: none;
            transition: $delay color ease-in-out, border-color $delay ease-in-out;
            padding: $spacer * 4  $spacer * 6;
            display: block;
            border-bottom: 2px solid transparent;

            @media #{$tabletLg} {
                padding: $spacer * 4;
            }

            &:hover {
                color: $primary-light-color;
            }

            &.nuxt-link-active {
                color: $primary-light-color;
                border-bottom: 2px solid $primary-light-color;
            }
        }

        .container {
            @media #{$mobile} {
                padding: 0;
            }
        }
    }
</style>
