<template>
  <transition name="slide-fade">
    <div class="modal-about" v-if="isActive" @click="turnOff">
      <div class="modal-about__content" @click.stop>
        <div class="content-item__image-box">
          <img alt="" :src="img" />
        </div>

        <span @click="turnOff" class="content-item__close-button close"></span>
        <div class="name-position">
          <span class="content-item__name">{{ name }}</span>
          <span class="content-item__position">{{ position }}</span>
        </div>
        <div class="content-item__info-box">
          <p
            :key="el.id"
            class="content-item__personal-info mb-0"
            v-for="el in info"
          >
            {{ el.text }}<br /><br />
          </p>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ModalAbout",
  props: {
    isActive: Boolean,
    name: String,
    position: String,
    info: Array,
    img: String
  },
  methods: {
    turnOff() {
      if (this.isActive) {
        this.$emit("turnOff", { isActive: false });
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.modal-about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.6);
  z-index: 555;
  padding: $spacer * 4;

  &__content {
    max-width: 860px;
    background-color: white;
    border-radius: $spacer;
    overflow: scroll;
    z-index: 600;
  }

  .name-position {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    padding-left: ($spacer * 15);
  }

  .content-item {
    &__close-button {
      position: relative;
      top: -540px;
      right: 20px;
      background: transparent;
    }

    &__image-box {
      border-radius: $spacer $spacer 0 0;
      height: 560px;
      overflow: hidden;
    }

    &__info-box {
      margin-top: -20px;
      padding: 0 ($spacer * 15) ($spacer * 15) ($spacer * 15);
    }

    &__name {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-extra-lg;
      line-height: $line-height-xs;
      letter-spacing: 0.02em;
      color: $white;
    }

    &__position {
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      color: $white;
    }

    &__personal-info {
      width: auto;
      display: flex;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: $line-height-md;
    }
  }
}

@media #{$tablet} {
  .modal-about {
    .content-item {
      &__close-button {
        top: -380px;
      }

      &__image {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media #{$mobile} {
  .modal-about {
    &__content {
      max-width: 100%;
    }

    .name-position {
      padding-left: ($spacer * 10);
    }

    .content-item {
      &__close-button {
        top: -280px;
      }

      &__image {
        border-radius: $spacer $spacer 0 0;
        width: 100%;
        height: 300px;
      }

      &__info-box {
        padding: 0 ($spacer * 10) ($spacer * 10) ($spacer * 10);
      }
    }
  }
}
</style>
