<template>
  <div @click="showList" class="more-btn" v-click-outside="hide">
    <img alt="" src="~/assets/icons/icon-more-active.svg?inline" v-if="isActive">
    <img alt="" src="~/assets/icons/icon-more.svg?inline" v-else>
    <div :class="{'active-menu': isActive}" @click="showList" class="more-btn__menu">
      <ul :key="li.id" class="menu-ul" v-for="li in menu">
        <li @mouseenter="li.hover = true" @mouseleave="li.hover = false" class="menu-ul__container">
          <img :class="{'active-item': li.hover}" :src="li.icon" alt=""
               class="container-item__icon">
          <span :class="{'active-item': li.hover}" class="container-item__text">{{$t(li.text)}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import bookmarkIcon from '~/assets/icons/icon-bkmark.svg?inline';
import shareIcon from '~/assets/icons/icon-share.svg?inline';
import ClickOutside from 'vue-click-outside';

export default {
  name: 'MoreBtn',
  data() {
    return {
      isActive: false,
      isHover: false,
      menu: [
        {
          icon: shareIcon,
          text: 'moreBtn.share',
          hover: false
        },
        {
          icon: bookmarkIcon,
          text: 'moreBtn.addBookmark',
          hover: false
        }
      ],
    };
  },
  directives: {
    ClickOutside
  },
  methods: {
    showList() {
      this.isActive = !this.isActive;
    },
    hide() {
      this.isActive = false;
    }

  }
};
</script>

<style lang="scss" scoped>
  .more-btn {
    cursor: pointer;
    position: relative;

    &__menu {
      width: 180px;
      position: absolute;
      left: $spacer * 10;
      z-index: 1000;
      top: 0;
      background: $white;
      padding: ($spacer * 4) 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), inset 0 4px 0 $text-color;
      visibility: hidden;
      transition: $delay top ease-in-out;
      border-radius: 0 0 $spacer $spacer;
    }

    .menu-ul {
      padding: 0;
      margin: 0;

      &__container {
        display: flex;
        flex-direction: row;
        padding: ($spacer * 2.5) 0 ($spacer * 2.5) ($spacer * 4.5);

        &:hover {
          background: $light-color;
        }
      }


      .container-item {
        &__icon {
          margin-right: $spacer * 2.5;
        }

        &__text {
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-md;
          line-height: $line-height-md;
          color: $text-color;
        }

      }
    }

    .active-menu {
      visibility: visible;
    }

    .active-item {
      filter: invert(24%) sepia(89%) saturate(1844%) hue-rotate(202deg) brightness(90%) contrast(89%);
      color: $primary-color;
    }
  }
</style>
