<template lang="html">
    <ul class="navigation">
      <li class="navigation__item" v-for="(item, index) in dataList" v-bind:key="index">
        <a :href="item.path" class="navigation__link"
        v-if="item.blank" target="_blank"
        >
            {{item.name}}
        </a>
        <nuxt-link v-else

        :to="localePath(item.path)"
         class="navigation__link">
            {{item.name}}
        </nuxt-link>
      </li>
    </ul>
</template>

<script>
import  { I18N }  from '../config';

export default {
    props: ['dataList'],
}
</script>

<style lang="scss" scoped>
    .navigation {
        padding: 0;
        list-style: none;

        @media #{$tablet} {
            text-align: center;
        }

        &__item {
            margin: 0 0 $spacer * 2;
        }

        &__link {
            text-decoration: none;
            color: $text-reverse-color;
            font-size: $font-size-md;
            line-height: $line-height-md;
            transition: $delay color ease-in-out;

            &:hover {
                color: $white;
            }
        }
    }
</style>
