<template lang="html">
  <div class="partners">
        <span class="partners__caption">{{$t('partners.caption')}}: </span>
        <div class="partners__wrap">
            <div class="partners__item" v-if="lang == 'ru'">
                <img src="~/assets/icons/icon-mscw.svg?inline" alt="">
            </div>
            <div class="partners__item partners__item--en" v-if="lang == 'en'">
                <img src="~/assets/icons/icon-mscw-en.svg?inline" alt="">
            </div>
            <div class="partners__item">
                <img src="~/assets/icons/icon-freedom-finance.svg?inline" alt="">
            </div>
            <div class="partners__item">
                <img src="~/assets/icons/icon-otrkitie-broker.svg?inline" alt="">
            </div>
        </div>
  </div>
</template>

<script>
export default {
    computed: {
        lang() {
            return this.$i18n.locale;
        }
    }
}
</script>

<style lang="scss" scoped>
    .partners {
        display: flex;
        flex-direction: column;
        margin: 0 0 $spacer * 8;

        @media #{$tabletLg} {
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: $spacer * 4 0 $spacer * 3;
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }

        @media #{$tablet} {
            flex-direction: column;
        }

        &__wrap {
            display: flex;
            align-items: center;

            @media #{$mobile} {
                flex-direction: column;
            }
        }

        &__caption {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: $spacer * 4;

            @media #{$tabletLg} {
                margin: 0 50px 0 0;
            }

            @media #{$tablet} {
                margin: 0 0 $spacer *4;
                text-align: center;
            }
        }

        &__item {
            margin-right: 32px;

            img {
                width: 100%;
                filter: grayscale(100%);
                transition: filter $delay ease-in-out;

                &:hover {
                    filter: grayscale(0);
                }
            }


            &:nth-child(1) {
                margin-right: 20px;
                width: 162px;

                &.partners__item--en {
                    margin-right: 0;
                }

                @media #{$mobile} {
                    margin-right: 0;
                }
            }

            &:nth-child(2) {
                width: 120px;
            }

            &:nth-child(3) {
                width: 150px;
            }

            @media #{$mobile} {
                margin: 0 0 $spacer * 2;
                width: 132px !important;
            }
        }
    }
</style>
