<template lang="html">
    <div class="personal-card">
        <div class="personal-card__data" >
            <PersonalAvatar/>
            <span class="personal-card__name" v-if="fullName">{{fullName}}</span>
            <span class="personal-card__time">
                {{$t('personal.creationTime')}} {{createAccountTime}}
            </span>
        </div>
        <PersonalList/>
    </div>
</template>

<script>
import PersonalList from "../components/PersonalList";
import PersonalAvatar from "../components/PersonalAvatar";
export default {
    components: {PersonalList, PersonalAvatar},
    props: ['fullName', 'createAccountTime'],
}
</script>

<style lang="scss" scoped>
    .personal-card {
        display: flex;
        flex-direction: column;
        color: $text-color;
        padding: 0 0 $spacer *2;
        background: $white;
        border-radius: $border-radius;

        &__data {
            padding: $spacer * 8 $spacer * 2 $spacer * 6;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__name {
            font-weight: bold;
            font-size: $font-size-xl;
            margin: 0 0 $spacer * 2;
        }

        &__time {
            font-size: $font-size-xs;
            line-height: $line-height-md;
            color: $text-color-pale;
        }
    }
</style>
