<template lang="html">
  <div class="personal__photo" v-click-outside="hidePhotoMenu">
    <div class="personal__photo-wrap">
      <img v-if="photoURL" :src="photoURL" alt="" class="personal__img" />
      <img
        v-if="!photoURL"
        src="~/assets/img/avatar-holder.jpg"
        alt=""
        class="personal__img"
      />
      <span class="personal__change" @click="showPhotMenu">
        {{ $t("personal.avatarChange") }}
      </span>
    </div>
    <div class="personal__photo-menu" v-if="photoMenu">
      <label class="personal__photo-menu-item" for="photo">{{
        $t("personal.avatarChange")
      }}</label>
      <input
        type="file"
        name="photo"
        @change="handleFileSelect"
        id="photo"
        style="display: none"
        accept="image/x-png,image/gif,image/jpeg"
      />
      <span class="personal__photo-menu-item" @click="removePhoto">{{
        $t("personal.avatarRemove")
      }}</span>
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";

export default {
  data() {
    return {
      photoURL: "",
      file: "",
      uid: "",
      photoMenu: false
    };
  },
  directives: {
    ClickOutside
  },
  mounted() {},
  watch: {
    user(data) {
      if (data.avatar_url) {
        this.photoURL = data.avatar_url;
      } else {
        this.photoURL = "";
      }
    }
  },
  computed: {
    user() {
      return this.$store.state.modules.auth.currentUser;
    }
  },
  methods: {
    async editData() {},
    handleFileSelect(e) {
      this.photoMenu = false;
      this.file = e.target.files[0];
      let formData = new FormData();
      formData.append("file", this.file);
      this.$api
        .upload("/user/ava", { id: this.user.user_id }, formData)
        .then(res => {
          this.$store.dispatch("modules/auth/getCurrentUser");
        })
        .catch(err => {
          console.log(err);
        });
    },
    removePhoto() {
      this.photoMenu = false;
      this.$api
        .post("/auth/user", { avatar: null })
        .then(res => {
          this.$store.dispatch("modules/auth/getCurrentUser");
        })
    },
    showPhotMenu() {
      this.photoMenu = true;
    },
    hidePhotoMenu() {
      this.photoMenu = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.personal {
  &__change {
    position: absolute;
    background: rgba(0, 0, 0, 0.56);
    color: $white;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: $font-size-xxs;
    letter-spacing: 0.1em;
    font-weight: bold;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity $delay ease-in-out;

    @media #{$tablet} {
      opacity: 1;
    }
  }

  &__photo {
    margin: 0 0 $spacer * 4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media #{$tablet} {
      position: relative;
    }
  }

  &__photo-menu {
    position: absolute;
    right: 20px;
    top: 120px;
    border-top: 4px solid $text-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background: $white;
    display: flex;
    flex-direction: column;
    padding: $spacer * 4 0;
    z-index: 3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px #333333;

    @media #{$tablet} {
      right: auto;
      left: 0;
      width: 100%;
    }
  }

  &__photo-wrap {
    border: 1px solid $text-color-pale;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    transition: background $delay ease-in-out;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    &:hover {
      .personal__change {
        opacity: 1;
        z-index: 2;
      }
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__photo-menu-item {
    font-size: $font-size-md;
    line-height: $line-height-xs;
    color: $text-color;
    padding: $spacer * 2.5 $spacer * 4;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $danger-color;
    }
  }
}
</style>
