<template lang="html">
  <div class="personal-menu">
    <ul class="personal-menu__list">
      <li>
        <nuxt-link
          class="personal-menu__link"
          :to="localePath('/account/profile')"
        >
          <img src="~/assets/icons/icon-profile.svg?inline" />
          {{ $t("personal.menuProfile") }}
        </nuxt-link>
      </li>
      <li>
        <nuxt-link
          class="personal-menu__link"
          :to="localePath('/account/settings')"
        >
          <img src="~/assets/icons/icon-setting.svg?inline" />
          {{ $t("personal.menuSettings") }}
        </nuxt-link>
      </li>
      <li>
        <nuxt-link
          class="personal-menu__link"
          :to="localePath('/account/notification')"
        >
          <img src="~/assets/icons/icon-ring-dark.svg?inline" />
          {{ $t("personal.menuNotification") }}
        </nuxt-link>
      </li>
    </ul>
    <nuxt-link
      :to="localePath('/')"
      class="personal-menu__link personal-menu__logout personal-menu__link--danger"
    >
      <span @click="signOut">
        <img src="~/assets/icons/icon-logout.svg?inline" />
        {{ $t("personal.buttonOut") }}
      </span>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  methods: {
    signOut() {
      this.$store.dispatch("modules/auth/logout");
    }
  }
};
</script>

<style lang="scss" scoped>
.personal-menu {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $deep-gray;
    padding: 0 0 $spacer * 2;
    margin: 0 0 $spacer * 2;
  }

  &__link {
    color: $text-color-pale;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: $spacer * 5 $spacer * 4 $spacer * 4 $spacer * 6;
    border-left: 4px solid transparent;
    transition: $delay background ease-in-out, $delay color ease-in-out;

    img {
      margin-right: $spacer * 5;
    }

    &:hover {
      color: $primary-light-color;

      @media #{$tabletLg} {
        background: transparent;
        color: $text-color;
      }
    }

    &--danger {
      &:hover {
        color: $danger-color;

        @media #{$tabletLg} {
          color: $text-color;
        }
      }
    }

    &.nuxt-link-exact-active {
      border-left: 4px solid $dark-bg;
      color: $text-color;
      background: linear-gradient(90deg, #fcfcfd 0%, #ffffff 100%);
    }
  }

  &__logout {
    padding: 0;

    span {
      padding: $spacer * 5 $spacer * 4 $spacer * 4 $spacer * 6;
      width: 100%;
    }
  }
}
</style>
