<template lang="html">
    <div class="profile">
        <div class="profile__heading">
            <h2 class="profile__title">{{$t('profile.title')}}</h2>
        </div>
        <div class="profile__wrap">
            <div class="profile__data">
                <div class="profile__contacts">
                    <span class="profile__caption">
                        {{dataProfile.company.full_name}}
                    </span>
                    <a :href="dataProfile.company.site" target="_blank" class="link  link--primary">{{dataProfile.company.site}}</a>
                </div>
                <div class="profile__info" v-if="dataProfile.company.sector|| dataProfile.company.industry">
                    <span class="profile__info-mark" v-if="dataProfile.company.sector">
                        <span>{{$t('profile.labelSector')}}</span>: {{dataProfile.company.sector}}
                    </span>
                    <span class="profile__info-mark" v-if="dataProfile.company.industry">
                        <span>{{$t('profile.labelIndustry')}}</span>: {{dataProfile.company.industry}}
                    </span>
                </div>
            </div>
            <hooper class="profile__photos"  v-if="dataProfile.company.photo_urls" :itemsToShow="numbersSlide" :infiniteScroll="true"  :centerMode="false">
                <slide class="profile__photos-item" v-for="item in dataProfile.company.photo_urls" :key="item">
                  <img :src="item" alt="" >
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
            <div class="profile__text">
                {{dataProfile.company.description}}
            </div>
            <div class="profile__table"  v-if="keyTables">
                <b-table
                    class="table-small table-four"
                    sorter
                    responsive
                    :items="tableData">
                </b-table>

            </div>
            <div class="profile__title-group" v-if="shareholdersData.shareholders">
                <h3>{{$t('profile.structureTitle')}}</h3>
                <span class="profile__label">{{$t('profile.structureMarker')}}</span>
            </div>
            <Structure :dataShareholders="dataProfile.company.shareholders"></Structure>
        </div>
    </div>
</template>

<script>
import Structure from '../components/Structure.vue'
import {data} from '../assets/tempData/profileData.js'

import { Hooper, Slide, Navigation as HooperNavigation, Progress as HooperProgress} from 'hooper';


export default {
    components: {Structure, Hooper, Slide, HooperNavigation, HooperProgress},
    props: ['dataProfile'],
    data() {
        return {
            tableData: data.table,
            contacts: data.contacts,
            info: data.info,
            dataText: data.text,
            keyTables: false,
            shareholdersData: '',
            photoList: '',
            numbersSlide: 2.8
        }
    },
    computed: {
        lang() {
          return this.$i18n.locale;
      },
      photoData() {
          return this.$store.state.modules.instruments.dataPhotoList;
      }
    },
    watch: {
        photoData(data) {
            this.photoList = data[0];
            // console.log(this.photoList);
            // this.photoList = this.photoList.slice(0, 3)
        }
    },
    methods: {
    },
    mounted() {

        if(window.innerWidth < 600) {
            this.numbersSlide = 1.15
        } else {
            this.numbersSlide = 2.8
        }
        // console.log(this.dataProfile);
    }
}
</script>

<style lang="scss" scoped>
    .profile {
        background: $white;
        color: $text-color;
        border-radius: $spacer;
        margin: 0 0 $spacer * 5;
        padding: 0 0 $spacer * 10;

        @media #{$mobile} {
            padding: 0 0 $spacer;
        }

        &__heading {
            padding: $spacer * 6;
            font-size: $font-size-xxl;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.03);

            @media #{$mobile} {
                padding: $spacer * 6 $spacer * 3;
            }
        }

        &__wrap {
            background: $white;
            padding: $spacer * 6;

            @media #{$mobile} {
                padding: $spacer * 4;
            }
        }

        &__table {
            margin: 0 0 $spacer * 12;

            @media #{$mobile} {
                margin: 0 0 $spacer * 6;
            }
        }

        &__data {
            display: flex;
            align-items: flex-start;
            margin: 0 0 $spacer * 4;

            @media #{$tablet} {
                flex-wrap: wrap;
            }

            @media #{$mobile} {
                flex-direction: column;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            // width: 284px;
            padding-right: $spacer * 6;
            flex: 0 0 50%;

            @media #{$tabletLg} {
                width: calc((100% - 32px) / 3);
                min-width: 284px;
                flex: none;
                margin-right: 11px;
                margin-bottom: $spacer * 3;
            }

        }

        &__info {
            background: $border-light;
            width: 284px;
            padding: $spacer * 6;
            display: flex;
            flex-direction: column;
            border-radius: $border-radius;

            @media #{$tabletLg} {
                width: calc((100% -  32px) / 3);
                min-width: 284px;
            }

            @media #{$tablet} {
                min-width: 280px;
                max-width: 280px;
            }

            @media #{$mobile} {
                width: auto;
            }
        }

        &__info-mark {
            font-size: $font-size-md;
            line-height: $line-height-xs;
            margin: 0 0 $spacer * 1.5;

            &:last-child {
                margin: 0;
            }

            span {
                font-weight: bold;
            }
        }

        &__caption {
            font-size: $font-size-lg;
            line-height: $line-height-xl;
            font-weight: bold;
            margin: 0 0 $spacer;
        }

        &__address {
            font-size: $font-size-md;
            line-height: $line-height-md;
            max-width: 150px;
        }

        &__text {
            font-size: $font-size-md;
            line-height: $line-height-lg;
            color: $text-color;
            margin: 0 0 $spacer * 12;

            @media #{$mobile} {
                margin: 0 0 $spacer * 6;
            }
        }

        &__label {
            font-size: $font-size-md;
            line-height: $line-height-lg;
            color: $text-color-pale;
        }

        &__title-group {
            display: flex;
            flex-direction: column;
            margin: 0 0 $spacer * 4;

            h3 {
                margin: 0;
            }
        }

        &__photos-item {
            // width: calc((100% - 32px) / 3);
            // width: 280px;
            height: 160px;
            padding-right: 16px;
            // margin-right: 16px;

            @media #{$tabletLg} {
                // min-width: 280px;
                // margin-right: 16px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__photos {
            // display: flex;
            justify-content: space-between;
            margin: 0 0 $spacer * 4;
            overflow: hidden;
            outline: none;
            height: 160px;

            .hooper-list {
                outline: none;
            }
        }

        .swiper-actions {
            display: flex;
            align-items: center;
            z-index: 1;
            // position: relative;
            z-index: 9999;

            .swiper-arrow-prev {
                left: 0;
            }

            .swiper-arrow-next {
                right: 0;
            }

            .swiper-arrow {
                background: red;
                top: 0;
            }
        }

        .hooper-slide {
            padding-right: 16px;
        }

        .hooper-navigation {
            opacity: 0;
            transition: $delay ease-in-out opacity;
        }

        .hooper-list {
            &:hover {
                .hooper-navigation {
                    opacity: 1;
                }
            }
        }

        .hooper-track > li {
            padding-right: 16px;
        }
    }
</style>
