<template lang="html">
  <div
    :class="{ 'active-input': searchValue || isFocus }"
    @click.stop
    class="search"
    v-click-outside="closeSearchList"
  >
    <div class="search__form">
      <span @click="showMobileInput" class="search__icon">
        <img src="~/assets/icons/icon-search.svg?inline"/>
      </span>
      <input
        :placeholder="$t('searchString')"
        @focus="onFocusInput"
        @input="loadCompanies($event)"
        class="search__input"
        type="text"
      />
    </div>
    <div
      class="search__list pt-3"
      v-click-outside="closeSearchList"
      v-if="isFocus && searchQuery && !isLoading"
    >
      <span class="search__header-results" v-if="companiesRes.length > 0 && searchQuery">{{ resHeader }}</span>
      <p
        class="search-list__no-res pl-4"
        v-if="companiesRes.length === 0 && searchQuery && !isLoading"
      >
        {{ $t("searchInput.noRes") }}
      </p>
      <ul :key="el.id" class="search-list" v-for="(el, index) in companiesRes">
        <li
          @click="navigateToInstrument(el.code)"
          @mouseenter="el.isHover = true"
          @mouseleave="el.isHover = false"
          class="search-list__item"
        >
          <div class="row align-items-center ml-0">
            <img :src="minFileName(el.logo, 'T')" class="search-list__logo"/>
            <p :class="{ 'blue-text': el.isHover }" class="search-list__ticker">
              {{ el.tiker }}
            </p>
            <span
              :class="{ 'blue-text': el.isHover }"
              class="search-list__company-name"
            >{{ el.name }}</span
            >
          </div>
          <span class="search-list__kind-stocks">{{ kindStocks(index) }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import Loader from "~/components/Loader.vue";

export default {
  data() {
    return {
      searchValue: "",
      isFocus: false,
      isHover: false,
      logos: {},
      companies: {},
      companiesRes: [],
      searchQuery: "",
      isLoading: false
    };
  },
  directives: {
    ClickOutside
  },
  components: {
    Loader
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    resHeader() {
      if (this.lang === "en") {
        return "Search results";
      } else {
        return "Результаты поиска";
      }
    },
    filteredCompanies() {
      if (!this.searchValue) {
        return [];
      }
      let companiesArray = Object.values(this.companies);
      let searchResults = companiesArray.filter(el => {
        if (!this.searchValue) return true;
        return (
          el.ticker.toUpperCase().includes(this.searchValue.toUpperCase()) ||
          el.instrumentName
            .toUpperCase()
            .includes(this.searchValue.toUpperCase())
        );
      });
      return searchResults;
    }
  },
  methods: {
    kindStocks(index) {
      const currentEl = this.companiesRes[index];
      let countryCode = currentEl.country ? currentEl.country : ''
      if (this.lang === "en") {
        return (
          `${countryCode}` + " Stocks - " + `${currentEl["market_code"]}`
        );
      } else {
        return (
          `${countryCode}` + " Акции - " + `${currentEl["market_code"]}`
        );
      }
    },
    minFileName(url, type) {
        if(!url) return '';
        return url.replace(/(\.[^.]+)$/, '-'+type+'$1')
    },
    loadCompanies(e) {
      this.searchQuery = e.target.value;
      if (!this.searchQuery) {
        this.companiesRes = [];
      }
      this.isLoading = true;
      this.$api.get('/company/search', {q: this.searchQuery})
        .then(data => {
          this.isLoading = false;
          this.companiesRes = data.data;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    onFocusInput() {
      this.isFocus = true;
    },
    navigateToInstrument(id) {
      let encodeId = encodeURIComponent(id);
      this.$router.push(this.localePath(`/instruments/summary-${encodeId}`));
      this.searchValue = "";
      this.isFocus = false;
    },
    closeSearchList() {
      this.isFocus = false;
    },
    showMobileInput(e) {
      e.target.nextElementSibling.classList.toggle("is-active");
    }
  }
};
</script>

<style lang="scss" scoped>
  .search {
    flex: 1;
    max-width: 560px;
    padding: $spacer * 3 $spacer * 4;
    background-color: transparent;

    @media #{$tabletLg} {
      border-top: 1px solid $border-dark;
    }

    &__form {
      display: flex;
      background: transparent;

      @media #{$tablet} {
        justify-content: flex-end;
      }
    }

    &__icon {
      margin-right: 10px;
      margin-top: -2px;
      background-color: transparent;

      @media #{$tablet} {
        margin: 0;
        position: relative;
        z-index: 3;
      }

      img {
        @media #{$tablet} {
          width: 19px;
          height: 19px;
          pointer-events: none;
        }
      }
    }

    &__input {
      background-color: transparent;
      border: none;
      caret-color: $primary-light-color;
      color: $text-color;
      font-size: $font-size-md;
      height: auto;
      margin: 0;
      padding: 0;
      width: 100%;

      &::placeholder {
        font-size: $font-size-md;
        color: $disabled-color;
      }

      @media #{$tablet} {
        position: absolute;
        right: 0;
        height: 50px;
        top: 3px;
        background: $white;
        padding: 0 24px;
        width: 0;
        transition: width $delay ease-in-out;
        right: 59px;
        border: none;

        &.is-active {
          border: 1px solid $border-light;
          width: calc(100% - 80px);
        }
      }
    }

    &__list {
      background: $white;
      border-radius: 0px 0px $spacer $spacer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px $text-color;
      margin-left: -16px;
      max-height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 44px;
      width: 560px;

      @media #{$tablet} {
        left: 37px;
        top: 53px;
        width: calc(100% - 80px);
      }
    }

    &__header-results {
      color: $text-color-pale;
      font-size: $font-size-xs;
      font-style: normal;
      font-weight: 600;
      line-height: $line-height-xs;
      padding: $spacer * 2 $spacer * 6;
      text-transform: uppercase;
    }

    .search-list {
      padding: 0;
      margin: 0;

      &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $spacer * 2 $spacer * 6;

        &:hover {
          background-color: $light-color;
        }
      }

      &__logo {
        border-radius: 2px;
        color: $text-color;
        cursor: pointer;
        height: 24px;
        margin-right: 16px;
        width: 24px;
      }

      &__ticker {
        color: $text-color;
        cursor: pointer;
        font-size: $font-size-xs;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.04em;
        line-height: $line-height-xs;
        margin-bottom: 0;
        margin-right: 16px;
        text-transform: uppercase;
        width: 50px;
      }

      &__no-res {
        color: $text-color;
        cursor: default;
        font-size: $font-size-md;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.02em;
        line-height: $line-height-xs;
      }

      &__company-name {
        color: $text-color;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-md;
        line-height: $line-height-xs;
        letter-spacing: 0.02em;
        max-width: 290px;
      }

      &__kind-stocks {
        color: $text-color-pale;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        letter-spacing: 0.02em;
        max-width: 290px;
      }
    }
  }

  .blue-text {
    color: $primary-light-color !important;
  }

  .active-input {
    background-color: $deep-gray;
  }
</style>
