<template>
  <div class="social-btns">
    <ShareNetwork
      v-for="(el, index) in shareBtns"
      :key="el.id"
      :network="el.network"
      :url="`https://web-ifinik-com.web.app/${path}`"
      :title="title"
    >
      <button
        class="social-btns__item"
        :class="{ 'border-additional': index !== shareBtns.length - 1 }"
      >
        <img alt="Facebook icon" :src="el.img" />
      </button>
    </ShareNetwork>
  </div>
</template>

<script>
export default {
  name: "SocialBtnGroup",
  data() {
    return {
      shareBtns: [
        {
          network: "facebook",
          img: require("~/assets/icons/icon-fb-gray.svg?inline")
        },
        {
          network: "twitter",
          img: require("~/assets/icons/icon-twitter.svg?inline")
        },
        {
          network: "vk",
          img: require("~/assets/icons/icon-vk.svg?inline")
        },
        {
          network: "odnoklassniki",
          img: require("~/assets/icons/icon-ok.svg?inline")
        }
      ]
    };
  },
  props: {
    path: String,
    title: String
  }
};
</script>

<style lang="scss" scoped>
.social-btns {
  display: flex;
  flex-direction: row;
  width: 128px;
  border: 1px solid $border-light;
  border-radius: 4px;

  &__item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .border-additional {
    border-right: 1px solid $border-light;
  }
}
</style>
