<template>
  <div
    :class="{ 'icon-left': isIconLeft }"
    @click="changeSort"
    class="sort-btn"
    @mouseenter="isHover = true"
    @mouseleave="isHover = false"
  >
    <span class="sort-btn__title">{{ title }}</span>
    <div
      class="sort-btn__icon-container"
      :class="{ 'icon-left-margin': isIconLeft }"
    >
      <img
        :src="iconSort"
        alt=""
        class="sort-btn__icon"
        v-if="active || isHover"
        :class="{ rotate: ascending }"
      />
    </div>
  </div>
</template>

<script>
import iconAsc from "~/assets/icons/icon-asc.svg?inline";
import iconDesc from "~/assets/icons/icon-desc.svg?inline";
import iconSortOff from "~/assets/icons/icon-sort-off.svg?inline";
import gear from "~/assets/icons/icon-gear.svg?inline";

export default {
  name: "TableSortBtn",
  data() {
    return {
      iconAsc,
      iconDesc,
      iconSortOff,
      gear,
      isHover: false
    };
  },
  props: {
    title: String,
    isIconLeft: Boolean,
    metric: String,
    ascending: Boolean,
    active: Boolean,
    sortKind: String
  },
  computed: {
    iconSort() {
      if (this.active && this.ascending) {
        return iconAsc;
      }
      if (this.active && !this.ascending) {
        return iconDesc;
      }
      return iconSortOff;
    }
  },
  methods: {
    changeSort() {
      if (!this.active) {
        this.$emit("changeSorting", {
          sortKind: this.sortKind,
          metric: this.metric,
          active: true,
          ascending: false
        });
      } else if (this.active && !this.ascending) {
        this.$emit("changeSorting", {
          sortKind: this.sortKind,
          metric: this.metric,
          active: true,
          ascending: true
        });
      } else if (this.active && this.ascending) {
        this.$emit("changeSorting", {
          sortKind: "nothing",
          metric: this.metric,
          active: false,
          ascending: false
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.sort-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  &__title {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    user-select: none;
  }

  &__icon {
    user-select: none;
  }
  &__icon-container {
    margin-left: $spacer * 2;
    display: flex;
  }
}

.icon-left {
  flex-direction: row-reverse;
}

.icon-left-margin {
  margin-left: 0 !important;
  margin-right: $spacer * 2;
}

.rotate {
  transform: rotate(180deg);
}
</style>
