<template lang="html">
    <div>
        <b-table
            class="table-spacing"
            sorter
            :items="tableList">
        </b-table>
    </div>
</template>

<script>
export default {
    props: ['tableList']
 }
</script>

<style lang="scss" scoped>
</style>
