<template>
  <div>
    <div
      @mouseenter="switchIsHoverTrue"
      @mouseleave="switchIsHoverFalse"
      class="team-card mb-3"
    >
      <div class="team-card__main-container">
        <img :src="smallImgs[personID]" class="team-card__image" />
        <p class="team-card__name mt-3 mb-2">{{ name }}</p>
        <p class="team-card__position mb-4">{{ position }}</p>
      </div>
      <div class="team-card__white-container" v-if="isHover">
        <p :key="el.id" class="team-card__short-info" v-for="el in shortInfo">
          {{ el.text }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "TeamCard",
  data() {
    return {
      isActiveModal: false,
      isHover: false,
      smallImgs: {
        AlexeyKleutin: require("../assets/img/employees/alex-kleutin.jpg"),
        IvanKopylov: require("../assets/img/employees/ivan-kopylov.jpg"),
        AnnaAndronova: require("../assets/img/employees/anna-andronova.jpg")
      }
    };
  },
  props: {
    personID: String,
    name: String,
    position: String,
    info: Array,
    shortInfo: Array
  },
  methods: {
    switchIsHoverTrue() {
      this.isHover = true;
    },
    switchIsHoverFalse() {
      this.isHover = false;
    },
    showModal() {
      this.isHover = false;
      this.isActiveModal = true;
    },
    offModal(event) {
      this.isActiveModal = event.isActive;
    }
  }
};
</script>

<style lang="scss" scoped>
.ert {
  border: none;
}

.team-card {
  height: 394px !important;
  max-width: 296px;
  width: 100%;

  &__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: $spacer;
    border: 1px solid $border-light;
  }

  &__image {
    width: 100%;
    height: 310px;
    border-radius: $spacer $spacer 0 0;
  }

  &__name {
    color: $text-color;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  &__position {
    color: $text-color-pale;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  &__white-container {
    position: relative;
    top: -396px;
    padding: $spacer * 5;
    width: 100%;
    height: 396px;
    border-radius: $spacer;
    background: rgba(255, 255, 255, 0.96);
    z-index: 999;
  }

  &__short-info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #222222;
  }
}
</style>
