<template>
  <client-only>
    <div class="timeago">
      <time-ago :datetime="date" :long="true" :locale="lang"></time-ago>
    </div>
  </client-only>
</template>

<script>
import TimeAgo from "~/node_modules/vue2-timeago";

export default {
  name: "Timestamp",
  components: { TimeAgo },
  data() {
    return {
      time: "08.05.2020 08:30"
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    }
  },
  props: {
    date: String
  }
};
</script>

<style>
.timeago {
  padding-top: 2px;
}
.timeago span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #8e9aaa;
  height: inherit;
  cursor: default;
  display: flex;
  align-items: flex-end;
}
</style>
