<template>
  <div class="account-card">
       <h3 class="account-card__title">{{$t('AccountSettings.deleteCaption')}}</h3>
       <div class="account-card__sub-title">
           {{$t('AccountSettings.deleteSubcaption')}}
       </div>
       <button type="button" name="button" class="btn btn--danger"
       @click="isPopup = true">{{$t('AccountSettings.deleteBtn')}}</button>

       <transition name="slide-fade">
       <div class="account-card__popup" v-if="isPopup">
          <h3 class="account-card__title">{{$t('AccountSettings.deleteCaption')}}</h3>
          <div class="account-card__sub-title account-card__sub-title--danger">
              {{$t('AccountSettings.deleteSubcaption')}}
          </div>
           <div class="account-card__input-group">
               <input type="text" name="" value=""  class="js-account-input" @input="changeLabelClass">
               <label class="account-card__label">{{$t('AccountSettings.enterPassword')}}</label>
           </div>
          <div class="account-card__btn-group">
              <button type="button" name="button" class="btn btn--bold-outline"  @click="isPopup = false">{{$t('AccountSettings.cancelBtn')}}</button>
              <button type="button" name="button" class="btn btn--danger js-danger-btn" disabled>{{$t('AccountSettings.deleteCaption')}}</button>
          </div>
          <span class="close" @click="isPopup = false"></span>
       </div>
       </transition>
  </div>
</template>

<script>
export default {
  name: "Delete",
  data() {
      return {
          isPopup: false
      }
  },
  methods: {
      changeLabelClass() {
          document.querySelectorAll('.js-account-input').forEach((item, i) => {
              if(item.value.length > 0) {
                  item.classList.add('is-active');
                  if(document.querySelector('.js-danger-btn')) document.querySelector('.js-danger-btn').removeAttribute('disabled');
              } else {
                  item.classList.remove('is-active');
                  if(document.querySelector('.js-danger-btn')) document.querySelector('.js-danger-btn').setAttribute('disabled', true)
              }
          });
      }
  },
  mounted() {
      this.changeLabelClass()
  }
}
</script>

<style lang="scss" scoped>
    .btn {
        height: 48px;
        width: 160px;
        justify-content: center;

        &--bold-outline {
            height: 48px;
        }

        &:disabled {
            background: $disabled-color;
        }
    }


    input {
        border: none;
        border-bottom: 1px solid $input-shadow;
        border-radius: 0;
        background: none;
        color: $text-color;
        font-size: $font-size-lg;
        padding-left: 0;
        margin: 0 0 $spacer * 8;

        &::placeholder {
            color: $text-color-pale;
        }

        &.is-active {
            color: $primary-light-color;
            border-bottom: 1px solid $primary-light-color;
        }
    }

</style>
