<template>
  <div class="account-card">
      <h3 class="account-card__title">{{$t('AccountSettings.emailCaption')}}</h3>
      <div class="account-card__sub-title">
          {{$t('AccountSettings.emailSubcaption')}}
      </div>
      <div class="account-card__info" v-if="currentEmail !== null">
          <input placeholder="E-mail" type="text" name="" :value="currentEmail" @input="changeEmail" :class="{active: !isDisabled}">
          <button type="button" name="button" class="btn btn--deep" v-if="!isDisabled">{{$t('personal.editBtn')}}</button>
          <button type="button" name="button" class="btn btn--deep" disabled v-if="isDisabled">{{$t('personal.editBtn')}}</button>
      </div>
      <div class="account-card__info" v-else>
          <button class="btn btn--deep" @click="currentEmail = ''">{{$t('AccountSettings.addBtn')}}</button>
      </div>
  </div>
</template>

<script>
export default {
    props: ['currentEmail'],
    name: "Email",
    data() {
        return {
            isDisabled: true,
            dataEmail: ''
        }
    },
    methods: {
        changeEmail() {
            this.isDisabled = false;
        },
        changeLabelClass() {
            document.querySelectorAll('.js-account-input').forEach((item, i) => {
                if(item.value.length > 0) {
                    item.classList.add('is-active')
                    // document.querySelector('.js-account-pswd-btn').classList.add('btn--deep')
                    // document.querySelector('.js-account-pswd-btn').classList.remove('btn--gray')
                } else {
                    item.classList.remove('is-active')
                    // document.querySelector('.js-account-pswd-btn').classList.remove('btn--deep')
                    // document.querySelector('.js-account-pswd-btn').classList.add('btn--gray')
                }
            });
        }
    },
    mounted() {
        this.changeLabelClass();
    }
}
</script>

<style lang="scss" scoped>
    .btn {
        width: 160px;
        height: 50px;
        justify-content: center;
        border-radius: $border-radius;

        &:disabled {
            background: $disabled-color;
        }
    }

    input {
        border: none;
        border-bottom: 1px solid $input-shadow;
        border-radius: 0;
        background: none;
        color: $text-color;
        font-size: $font-size-lg;
        font-weight: 600;
        padding-left: 0;
        margin: 0 0 $spacer * 8;

        &.active {
            color: $primary-light-color;
            border-bottom: 1px solid $primary-light-color;
        }
    }
</style>
