<template>
  <transition name="slide-fade">
    <div class="error-msg" v-if="isShow">
      <span>{{ errorMsg }}</span>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    errorMsg: String,
    isShow: Boolean
  },
};
</script>
<style lang="scss" media="screen">
.error-msg {
  background: $danger-color;
  color: $white;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: $font-size-md;
  z-index: 101;

  span {
    display: block;
    padding: $spacer * 2 $spacer * 4;
  }
}
</style>
