<template lang="html">
    <div class="account-card">
        <h3 class="account-card__title">{{$t('AccountNotification.Subscriptions')}}</h3>
        <div class="account-card__sub-title">
            {{$t('AccountNotification.newsNotifed')}}
        </div>
        <div class="account-card__lines">
            <div class="account-card__notification">
                <span class="account-card__text">{{$t('AccountNotification.weeklyDigest')}}</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="switch-slider round"></span>
                </label>
            </div>
            <div class="account-card__notification">
                <span class="account-card__text">{{$t('AccountNotification.Announcements')}}</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="switch-slider round"></span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
