<template>
  <div class="account-card">
    <h3 class="account-card__title">{{$t('AccountSettings.passwordCaption')}}</h3>
    <p class="account-card__sub-title">
     {{$t('AccountSettings.passwordSubcaption')}}
    </p>
    <div class="account-card__pswd-group">
        <div
          class="account-card__input-container"
          v-for="(el, index) in passwordInputs"
          :key="el.id"
        >
          <div class="account-card__input-group">
            <!-- <span class="account-card__placeholder" v-if="el.value">{{
              el.placeholder
            }}</span> -->
            <input
            :id="index"
              spellcheck="false"
              :type="typeInput(index)"
              class="js-account-input"
              :class="[{ 'is-value': el.value }, {'blue-text': el.isBlue}, {'typePasword': typeInput(index) == 'password' && el.value}]"
              v-model="el.value"

              @input="changeLabelClass"
            />
            <label class="account-card__label" :for="index" v-if="index === 0">{{$t('AccountSettings.newPasswordLabel')}}</label>
            <label class="account-card__label" :for="index" v-else-if="index === 1">{{$t('AccountSettings.confirmLabel')}}</label>
            <label class="account-card__label" :for="index" v-else>{{$t('AccountSettings.currentLabel')}}</label>
            <button
            @click="changeVisability(index)"
            class="account-card__show-btn"
            v-if="el.value"
            >
            {{ btnCaption(index) }}
        </button>
          </div>
        </div>
    </div>

    <button
      class="btn btn--gray js-account-pswd-btn"
      :class="{ 'active-update': isActive }"
      @click="updatePassword"
    >
      {{$t('AccountSettings.updatePasswordLabel')}}
    </button>
    <Error :errorMsg="errMsg" :isShow="hasErr" />
    <SuccessMsg :successMsg="successMsg" :isShow="hasSuccess" />
  </div>
</template>

<script>
import Error from "./Error";
import SuccessMsg from "./SuccessMsg";
import { I18N } from "~/config";

export default {
  name: "Password",
  components: { Error, SuccessMsg },
  data() {
    return {
      passwordInputs: [
        { placeholder: "New password", isShow: false, value: "", isBlue: false },
        { placeholder: "Confirm password", isShow: false, value: "", isBlue: false },
        { placeholder: "Current password", isShow: false, value: "", isBlue: true }
      ],
      hasErr: false,
      hasSuccess: false,
      errMsg: "",
      successMsg: ""
    };
  },
  computed: {
    isActive() {
      const value = this.passwordInputs;
      if (value[0].value && value[1].value && value[2].value) {
        return true;
      } else {
        return false;
      }
    },
    message() {
      return I18N.vueI18n.messages[this.$i18n.locale].account;
    },
    lang() {
      return this.$i18n.locale;
    },
  },
  mounted() {
      this.changeLabelClass();

  },
  methods: {
    setErr(errorCode) {
      if (errorCode === "auth/argument-error") {
        return this.message.errors.wrongPassword;
      }
      if (errorCode === "auth/wrong-password") {
        return this.message.errors.wrongPassword;
      }
      if (errorCode === "auth/too-many-requests") {
        return this.message.errors.tooManyRequests;
      }
      if (errorCode === "auth/weak-password") {
        return this.message.errors.weakPassword;
      }
      return null;
    },
    takeOffError() {
      this.hasErr = false;
    },
    changeLabelClass() {
        document.querySelectorAll('.js-account-input').forEach((item, i) => {
            if(item.value.length > 0) {
                item.classList.add('is-active')
                document.querySelector('.js-account-pswd-btn').classList.add('btn--deep')
                document.querySelector('.js-account-pswd-btn').classList.remove('btn--gray')
            } else {
                item.classList.remove('is-active')
                document.querySelector('.js-account-pswd-btn').classList.remove('btn--deep')
                document.querySelector('.js-account-pswd-btn').classList.add('btn--gray')
            }
        });
    },
    clearFields() {
      this.passwordInputs.forEach(element => {
        element.value = '';
      });
    },
    changeVisability(index) {
      this.passwordInputs[index].isShow = !this.passwordInputs[index].isShow;
    },
    typeInput(index) {
      return this.passwordInputs[index].isShow ? "text" : "password";
    },
    getHideLang(lang) {
        if (lang === 'en') {
            return 'Hide';
        } else {
            return 'Cкрыть';
        }
    },
    getShowLang(lang) {
        if (lang === 'en') {
            return 'Show';
        } else {
            return 'Показать';
        }
    },
    btnCaption(index) {
      return this.passwordInputs[index].isShow ? this.getHideLang(this.lang) : this.getShowLang(this.lang);
    },
    updatePassword() {
      const newPass = this.passwordInputs[0].value;
      const confirmPass = this.passwordInputs[1].value;
      const currentPass = this.passwordInputs[2].value;
      if (!this.isActive) {
        return;
      }
      if (newPass !== confirmPass) {
        this.hasErr = true;
        this.errMsg = this.message.errors.differentPasswords;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
    .btn {
        width: 160px;
        height: 50px;
        justify-content: center;
        border-radius: $border-radius;

        &:disabled {
            background: $disabled-color;
        }
    }

    input {
        border: none;
        border-bottom: 1px solid $input-shadow;
        border-radius: 0;
        background: none;
        color: $text-color;
        font-size: $font-size-lg;
        padding-left: 0;
        margin: 0 0 $spacer * 8;

        &::placeholder {
            color: $text-color-pale;
        }

        &.active {
            color: $primary-light-color;
            border-bottom: 1px solid $primary-light-color;
        }
    }

.password {
  background-color: $white;
  border-radius: $spacer;
  padding: $spacer * 12;

  @media #{$tablet} {
      padding: $spacer * 6;
  }

  @media #{$mobile} {
      border-radius: 0;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-extra-middle;
    line-height: $line-height-xl;
    margin-bottom: $spacer;
  }
  &__sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: $line-height-lg;
    color: $text-color-pale;
  }

  &__placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    color: $text-color-pale;
  }
  &__input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: $spacer * 4;
  }
  &__input {
    background-color: $white;
    box-shadow: inset 0 -1px 0 $input-shadow;
    height: 56px;
    width: 300px !important;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    display: flex;
    align-items: center;
    color: $text-color;
    padding-left: 0;
    border: none;
    outline: none;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      display: flex;
      align-items: center;
      color: $text-color-pale;
    }
  }


  &__update-btn {
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $disabled-color;
    border-radius: 3px;
  }
  .active-update {
    background: $primary-light-color;
  }
  .is-value {
    height: 20px;
    padding: 0;
  }
  .typePasword {
    letter-spacing: 0.3em;
  }
  .blue-text {
    color: $primary-light-color;
  }
}
</style>
