<template>
  <div class="account-card mb-4">
    <h3 class="account-card__title">{{$t('AccountSettings.phoneCaption')}}</h3>
    <div class="account-card__sub-title">{{$t('AccountSettings.phoneSubcation')}}</div>
        <div class="account-card__info" v-if="currentPhone !== null">
            <input type="text" name="" :value="currentPhone" @input="changePhone" :class="{active: !isDisabled}">
            <div class="" v-if="currentPhone !== null && currentPhone !== ''">
                <button type="button" name="button" class="btn btn--success" v-if="!isDisabled">{{$t('personal.editBtn')}}</button>
                <button type="button" name="button" class="btn btn--success" disabled v-if="isDisabled">{{$t('personal.editBtn')}}</button>
            </div>
            <div class="" v-else>
                <button type="button" name="button" class="btn btn--success" v-if="!isDisabled">{{$t('AccountSettings.verificationBtn')}}</button>
                <button type="button" name="button" class="btn btn--success" disabled v-if="isDisabled">{{$t('AccountSettings.verificationBtn')}}</button>
            </div>
        </div>
        <div class="account-card__info" v-else>
            <button class="btn btn--deep" @click="currentPhone = ''">{{$t('AccountSettings.addBtn')}}</button>
        </div>
  </div>
</template>

<script>
export default {
  name: "Phone",
  props: ['currentPhone'],
  data() {
    return {
        isDisabled: true,
    };
  },
  computed: {
    numberOrText() {
       return 'Phone number has not been added yet';
    },
  },
  methods: {
      changePhone() {
        this.isDisabled = false;
      }
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>
.btn {
    width: 160px;
    height: 50px;
    justify-content: center;
    border-radius: $border-radius;

    &:disabled {
        background: $disabled-color;
    }

    &--outline {
        text-transform: uppercase;
        border: 2px solid $text-color-pale;
        color: $text-color-pale;

        &:hover {
          background: $light-color;
        }
    }
}
input {
    border: none;
    border-bottom: 1px solid $input-shadow;
    border-radius: 0;
    background: none;
    color: $text-color;
    font-size: $font-size-lg;
    font-weight: 600;
    padding-left: 0;
    margin: 0 0 $spacer * 8;

    &.active {
        color: $primary-light-color;
        border-bottom: 1px solid $primary-light-color;
    }
}
</style>
