<template lang="html">
  <div class="social-acc">
      <h3 class="social-acc__title">{{$t('AccountSettings.socialCaption')}}</h3>
      <div class="social-acc__wrap">
          <div class="social-acc__item">
              <div class="social-acc__photo">
                  <img src="~/assets/icons/icon-fb-big.svg?inline">
              </div>
              <span class="social-acc__caption">Facebook</span>
              <span class="social-acc__status">{{$t('AccountSettings.notConnected')}}</span>
              <button type="button" name="button" class="btn btn--bold-outline">{{$t('AccountSettings.connectBtn')}}</button>
          </div>
          <div class="social-acc__item">
              <div class="social-acc__photo">
                  <img src="~/assets/icons/icon-setting.svg?inline">
              </div>
              <span class="social-acc__caption">Google</span>
              <span class="social-acc__status">{{$t('AccountSettings.connected')}}</span>
              <button type="button" name="button" class="btn btn--dark">{{$t('AccountSettings.removeBtn')}}</button>
          </div>
      </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
    .social-acc {
      background-color: $white;
      border-radius: $spacer;
      padding: $spacer * 12;

      @media #{$tablet} {
          padding: $spacer * 6;
      }

      @media #{$mobile} {
          border-radius: 0;
      }

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-extra-middle;
        line-height: $line-height-xl;
        margin-bottom: $spacer;

         @media #{$tablet} {
            font-size: $font-size-xl;
         }
      }

      &__wrap {
          display: flex;

          @media #{$tablet} {
            overflow: auto;
            margin: $spacer * 7 0 0;
          }
      }

      &__photo {
          margin: 0 0 $spacer * 4;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          overflow: hidden;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }

      &__item {
        border: 1px solid #F2F4F6;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: $spacer * 8 $spacer * 10;
        max-width: 260px;
        margin-right: 32px;

        &:nth-child(4n) {
            margin-right: 0;
        }

      }

      &__caption {
          color: $text-color;
          font-size: $font-size-lg;
          font-weight: 600;
      }

      &__number-text {
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        color: $text-color;
        margin-bottom: $spacer * 12;
      }

      &__add-btn {
        width: 160px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 3px;
      }

      &__status {
          color: $text-color-pale;
          margin: 0 0 $spacer * 4;
          line-height: $line-height-xs;
          font-size: $font-size-md;
      }

      .blue-btn {
        color: #ffffff;
        background-color: $primary-light-color;
      }
    }

</style>
