<template>
  <div class="about-broker">
    <h1 class="about-broker__title">{{ info.title }}</h1>
    <p class="about-broker__text" style="margin-bottom: 40px;">
      {{ info.subTitle }}
    </p>
    <p class="about-broker__title-s">Рейтинги</p>
    <p class="about-broker__title-xs">Количество клиентов</p>
    <p class="about-broker__text">{{ info.clients }}</p>
    <p class="about-broker__title-xs">Количество активных клиентов</p>
    <p class="about-broker__text">{{ info.activeClients }}</p>
    <p class="about-broker__title-xs">Объем торгов в месяц</p>
    <p class="about-broker__text">{{ info.volume }}</p>
    <p class="about-broker__title-xs">
      Рейтинг по национальному рейтинговому агентству
    </p>
    <p class="about-broker__text" style="margin-bottom: 40px;">
      {{ info.rating }}
    </p>
    <p class="about-broker__title-s">Условия</p>
    <p class="about-broker__title-xs">Доступ к биржам</p>
    <p class="about-broker__text">{{ info.access }}</p>
    <p class="about-broker__title-xs">Минимальный депозит</p>
    <p class="about-broker__text" style="margin-bottom: 40px;">
      {{ info.deposit }}
    </p>
    <p class="about-broker__title-s">Тарифы</p>
    <p class="about-broker__text">{{ info.tariff }}</p>
    <div style="margin-left: 24px">
      <p class="about-broker__title-xs">Размер брокерской комиссии</p>
      <p class="about-broker__text">{{ info.commission }}</p>
      <p class="about-broker__title-xs">Минимальная месячная плата</p>
      <p class="about-broker__text">{{ info.minRate }}</p>
      <p class="about-broker__title-xs">Обслуживание</p>
      <p class="about-broker__text">{{ info.service }}</p>
      <p class="about-broker__title-xs">
        Комиссия за ввод и вывод средств
      </p>
      <p class="about-broker__text" style="margin-bottom: 40px;">{{ info.moneyMove }}</p>
    </div>
    <p class="about-broker__title-s">Особенности</p>
    <p class="about-broker__title-xs">
      Программы торговли (системы для трейдинга)
    </p>
    <p class="about-broker__text">{{ info.programs }}</p>
    <p class="about-broker__title-xs">Персональный консультант</p>
    <p class="about-broker__text">{{ info.assistant }}</p>
    <p class="about-broker__title-xs">Участие в IPO</p>
    <p class="about-broker__text">{{ info.ipo }}</p>
    <p class="about-broker__title-xs" v-if="info.ourComment">Наш комментарий</p>
    <p class="about-broker__text" v-if="info.ourComment">
      {{ info.ourComment }}
    </p>
  </div>
</template>

<script>
export default {
  props: ["info"]
};
</script>

<style lang="scss" scoped>
.about-broker {
    
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
  }
  &__title-s {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  &__title-xs {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}
</style>
