<template>
  <div class="fifth">
    <div class="fifth__text-container">
      <p class="fifth__title">{{ $t("lp.first.joinNow") }}</p>
      <p class="fifth__description">{{ $t("lp.fifth.description") }}</p>
    </div>
    <div class="fifth__button-container">
      <button
        @click="showModal('register')"
        type="button"
        name="button"
        class="btn btn--deep mt-4"
      >
        {{ $t("lp.first.joinNow") }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      params: {
        show: true,
        event: ""
      }
    };
  },
  methods: {
    showModal(event) {
      this.params.event = event;
      this.$store.dispatch("modules/modal/changePopup", this.params);
    }
  }
};
</script>

<style lang="scss" scoped>
.fifth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  @media #{$mobile} {
     padding: 20px 0;
    }
  &__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$mobile} {
      max-width: 320px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $text-color;
    margin-bottom: 20px;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $text-color;
    max-width: 860px;
    margin-bottom: 40px;
     @media #{$mobile} {
     margin-bottom: 5px;
     font-size: 14px;
    line-height: 20px;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
</style>
