<template>
  <div class="first pt-3 mb-5">
    <div class="container">
      <div class="row align-items-center first__mobile">
        <div class="col first__flex-right">
          <div>
            <div class="first__title">
              <h2 class="title-item__one">iFinik</h2>
              <h2 class="title-item__two">{{ $t("lp.first.investTitle") }}</h2>
            </div>
            <p class="first__sub-title">
              {{ $t("lp.first.ecosystem") }}
            </p>
            <p class="first__list" :key="p.id" v-for="p in paragraphs">
              {{ $t(p.text) }}
            </p>
            <div class="first__btn-container">
              <button
                @click="showModal('register')"
                type="button"
                name="button"
                class="btn btn--deep mt-4"
              >
                {{ $t("lp.first.joinNow") }}
              </button>
            </div>
          </div>
        </div>
        <div class="col first__img-container">
          <img src="~/assets/img/lp/firstSc.png" alt="" class="first__img" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { I18N } from "../../config";

export default {
  data() {
    return {
      params: {
        show: true,
        event: ""
      }
    };
  },
  methods: {
    showModal(event) {
      this.params.event = event;
      this.$store.dispatch("modules/modal/changePopup", this.params);
    }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    paragraphs() {
      return I18N.vueI18n.messages[this.lang].lp.first.list;
    }
  }
};
</script>

<style lang="scss" scoped>
.first {
  &__mobile {
    @media #{$tablet} {
      display: flex;
      flex-direction: column-reverse;
      min-height: 620px;
    }
  }

  &__flex-right {
    display: flex;
    justify-content: flex-end;
    @media #{$tablet} {
      justify-content: center;
      padding: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    @media #{$tablet} {
      flex-direction: column;
      justify-content: center;
    }
    .title-item {
      font-style: normal;
      font-weight: normal;
      &__one {
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.02em;
        margin-right: $spacer * 2;

        @media #{$tablet} {
          font-size: 24px;
          line-height: 30px;
          text-align: center;
        }
      }
      &__two {
        font-size: 24px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 9px;
        @media #{$tablet} {
          font-size: 18px;
          justify-content: center;
          padding-bottom: 0;
        }
      }
    }
  }
  &__sub-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    max-width: 420px;
    margin-bottom: 20px;
    @media #{$tablet} {
      font-size: 18px;
      line-height: 120%;
      text-align: center;
    }
  }

  &__list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    max-width: 420px;
    margin: 0;
    @media #{$tablet} {
      text-align: center;
    }
  }
  &__img-container {
    @media #{$tablet} {
      display: flex;
      justify-content: center;
    }
  }
  &__img {
    @media #{$tablet} {
      width: 320px;
      height: 300px;
    }
  }

  &__btn-container {
    @media #{$tablet} {
      display: flex;
      justify-content: center;
    }
  }
}
</style>
