<template>
  <div class="fourth">
    <div class="fourth__container">
      <div class="fourth__left-section">
        <img class="fourth__img" :src="phones" alt="Phones image" />
      </div>
      <div class="fourth__right-section">
        <div class="fourth__text-container">
          <p class="fourth__title">{{ $t("lp.fourth.title") }}</p>
          <p class="fourth__description">{{ $t("lp.fourth.description") }}</p>
        </div>
        <div class="fourth__links-container">
          <a :href="getLinks.apple" target="_blank">
            <img :src="appStore" alt="App store link" />
          </a>
          <a :href="getLinks.android"  target="_blank">
            <img :src="googleStore" alt="Google store link" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const phones = require("~/assets/img/lp/Phones.png");
const appStore = require("~/assets/img/lp/AppStore.svg?inline");
const googleStore = require("~/assets/img/lp/GoogleStore.svg?inline");

export default {
  name: "FourthScreen",
  data() {
    return {
      phones,
      appStore,
      googleStore
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
      getLinks() {
        return this.$store.state.modules.links;
    }
  }
};
</script>

<style lang="scss" scoped>
.fourth {
  background: #f1f3f6;
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    @media #{$tablet} {
      flex-direction: column;
    }
  }
  &__left-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
  }
  &__img {
  }

  &__right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media #{$tablet} {
      width: 100%;
    }
    @media #{$mobile} {
      max-width: 320px;
    }
  }

  &__text-container {
    padding-left: 12px;
    margin-bottom: 50px;
    @media #{$tablet} {
      width: 100%;
      padding: 0 $spacer * 4;
      margin-bottom: 10px;
    }
    @media #{$mobile} {
      max-width: 320px;
      margin-bottom: 10px;
    }
  }
  &__title {
    width: inherit;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
    @media #{$tablet} {
      text-align: center;
    }
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    max-width: 310px;
    font-size: 14px;
    line-height: 150%;
    color: $text-color;
    @media #{$tablet} {
      max-width: 100%;
      text-align: center;
    }
  }
  &__links-container {
    @media #{$tablet} {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @media #{$mobile} {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
</style>
