<template>
  <div class="second">
    <div class="second__container">
      <div class="titles-box">
        <p class="titles-box__title">{{ $t("lp.second.title") }}</p>
        <p class="titles-box__sub-title">{{ $t("lp.second.description") }}</p>
      </div>
      <div class="second__cards">
        <div class="card-item" :key="card.title" v-for="card in cards">
          <img class="card-item__img" :src="card.img" />
          <p class="card-item__title">{{ $t(card.title) }}</p>
          <p class="card-item__description">{{ $t(card.decription) }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const speed = require("~/assets/img/lp/gauge_outline.gif");
const simplicity = require("~/assets/img/lp/puzzle_outline.gif");
const confodence = require("~/assets/img/lp/ocean_outline.gif");

export default {
  name: "SecondScreen",
  data() {
    return {
      cards: [
        {
          img: speed,
          title: "lp.second.cards.swiftness.title",
          decription: "lp.second.cards.swiftness.description"
        },
        {
          img: simplicity,
          title: "lp.second.cards.simplicity.title",
          decription: "lp.second.cards.simplicity.description"
        },
        {
          img: confodence,
          title: "lp.second.cards.confidence.title",
          decription: "lp.second.cards.confidence.description"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.second {
  width: 100%;
  padding-bottom: 80px;
  background: #f1f3f6;
  @media #{$mobile} {
    padding-bottom: 10px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    @media #{$tabletLg} {
      padding: 0 $spacer * 4;
    }
    @media #{$mobile} {
      padding: 0;
    }
  }
  .titles-box {
    display: flex;
    max-width: 860px;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;

    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__sub-title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: $text-color;
      @media #{$mobile} {
      margin: 0 $spacer * 4;
    }
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    max-width: 1320px;
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
    }

    .card-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.3%;
      background: #ffffff;
      border-radius: 4px;
      margin: 10px;
      padding: 20px;
      @media #{$mobile} {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
      }

      &__img {
        margin-top: 45px;
        margin-bottom: 10px;
        width: 60px;
        height: 60px;
      }

      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        margin-bottom: 10px;
      }

      &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(34, 34, 34, 0.6);
        display: flex;
        justify-content: center;
        white-space: pre-wrap;
      }
    }
  }
}
</style>
