<template>
  <div class="third">
    <div class="third__titles-container">
      <p class="third__title">{{ $t("lp.third.title") }}</p>
    </div>
    <div class="third__cards" v-for="el in cards" :key="el.id">
      <div class="card-container" :class="{ reverseCard: el.reverse }">
        <div class="card__left-section">
          <div class="card__info-container">
            <p class="card__title">{{ $t(el.title) }}</p>
            <p class="card__description">
              {{ $t(el.description) }}
            </p>
          </div>
        </div>
        <div class="card__right-section">
          <img :alt="$t(el.title)" class="card__img" :src="el.img" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const screener1 = require("~/assets/img/lp/imageScreener.png");
const singlePlatform2 = require("~/assets/img/lp/imagePlatform.png");
const analytics = require("~/assets/img/lp/imagePortfolio.png");

export default {
  name: "ThirdScreen",
  data() {
    return {
      cards: [
        {
          img: screener1,
          title: "lp.third.cards.screener.title",
          description: "lp.third.cards.screener.description"
        },
        {
          img: singlePlatform2,
          title: "lp.third.cards.single.title",
          description: "lp.third.cards.single.description",
          reverse: true
        },
        {
          img: analytics,
          title: "lp.third.cards.analytics.title",
          description: "lp.third.cards.analytics.description"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.third {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__titles-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 60px 0;
    @media #{$mobile} {
      margin: 35px 0;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     @media #{$mobile} {
      border: none;
    }

    .card {
      &__left-section {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media #{$mobile} {
          width: 100%;
          max-width: 320px;
        }
      }
      &__right-section {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media #{$mobile} {
          width: 100%;
          max-width: 320px;
        }
      }
      &__info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 420px;
        padding-right: 20px;
        @media #{$mobile} {
           align-items: center;
        }
      }
      &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
        @media #{$mobile} {
           text-align: center;
           margin-bottom: 0;
        }
      }

      &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        white-space: pre-line;
        @media #{$mobile} {
           text-align: center;
        }
      }
      &__img {
      }
    }
  }
  .card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    @media #{$tabletLg} {
      padding: 0 $spacer * 6;
    }
    @media #{$mobile} {
      flex-direction: column-reverse;
      padding: 0 $spacer * 4;
    }
  }

  .reverseCard {
    display: flex;
    flex-direction: row-reverse;
    @media #{$mobile} {
      width: 100%;
      flex-direction: column-reverse;
      background-color: $border-light;
    }
  }

  .reverseLeft {
    display: flex;
    justify-content: flex-start !important;
  }

  .reverseRight {
    display: flex;
    justify-content: flex-end !important;
  }
}
</style>
