<template>
  <div class="container mt-3 mb-5">
    <Loader v-if="isLoading" />
    <div class="row" v-if="!isLoading">
      <div class="col-12 col-lg-4 col-xl-3 col-sm-6">
        <NewsList
          class="is-hidden"
          :isLinkTitle="true"
          :newsFeed="Object.values(news)"
          :path="$t(`menuList[1].sublist[1].path`)"
          :title="$t(`menuList[1].sublist[0].name`)"
        />
        <NewsList
          class="is-desktop-hidden"
          :isLinkTitle="true"
          :newsFeed="Object.values(news).slice(0, 4)"
          :path="$t(`menuList[1].sublist[1].path`)"
          :title="$t(`menuList[1].sublist[0].name`)"
        />
        <div :key="item.id" v-for="item in 2" class="is-tablet-hidden mt-3">
          <NewsCard :news="Object.values(news)[item]" />
        </div>
        <div class="is-desktop-hidden mt-3" v-if="topGainers !== []">
          <CompaniesList
            :isGainers="gainers"
            :title="$t('stocksPage.topGainers')"
            :values="topGainers"
            :isPositive="true"
          />
          <CompaniesList
            :path="''"
            :title="$t('stocksPage.topLoosers')"
            :values="topLoosers"
            :isPositive="false"
          />
        </div>
      </div>
      <div class="col col-xl-6 col-lg-8 spacer-padding is-mobile-hidden">
        <masonry :cols="{ default: 2, 899: 1 }" :gutter="20">
          <div :key="item.id" v-for="item in 6">
            <NewsCard :news="Object.values(news)[item]" />
          </div>
        </masonry>
      </div>
      <div class="col-sm-3 is-tabletLg-hidden" v-if="topGainers !== []">
        <CompaniesList
          :isGainers="gainers"
          :title="$t('stocksPage.topGainers')"
          :values="topGainers"
          :isPositive="true"
        />
        <CompaniesList
          :path="''"
          :title="$t('stocksPage.topLoosers')"
          :values="topLoosers"
          :isPositive="false"
        />
      </div>
    </div>
  </div>
</template>

<script>
import NewsCard from "~/components/News/NewsCard";
import NewsList from "~/components/News/NewsList";
import CompaniesList from "~/components/Markets/CompaniesList";
import Loader from "~/components/Loader";
import { mapState } from "vuex";
import { sortByValues } from "~/components/Markets/sorting-companies";

export default {
  name: "index",
  mounted() {
    this.getTop();
  },
  head() {
    return {
      title: this.metaTitleData,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Самые важная информация на " +
            new Date().toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric"
            }) +
            " о компаниях и новости с финансовых рынков РФ и США. Лидеры роста. Лидеры падения."
        }
      ]
    };
  },
  data() {
    return {
      companies: [],
      topLoosers: [],
      topGainers: [],
      metric: "changePerc",
      gainers: true,
      loosers: false,
      blink: ""
    };
  },
  components: { CompaniesList, NewsList, NewsCard, Loader },
  computed: {
    ...mapState({
      news: state => state.modules.news.news,
      isLoading: state => state.modules.news.isLoading
    }),
    lang() {
      return this.$i18n.locale;
    },
    metaTitleData() {
      if (this.lang === "ru") {
        return "Самое Важное Сегодня на Рынках Ценных Бумаг | iFinik";
      } else if (this.lang === "en") {
        return "The most important thing in the Securities Markets today | iFinik";
      } else {
        return "The most important thing in the Securities Markets today | iFinik";
      }
    }
  },
  methods: {
    async getTop() {
       await this.$api.get("/stocklist/ratio_top")
          .then(data => {
            this.topLoosers = data.fall;
            this.topGainers = data.grow;
          });
    }
  }
};
</script>

<style lang="scss" scoped>
.spacer-padding {
  padding: 0 12px;
}

@media #{$tabletLg} {
  .is-tabletLg-hidden {
    display: none;
  }
}
@media #{$mobile} {
  .is-mobile-hidden {
    display: none;
  }
}

@media (min-width: 1199px) {
  .is-desktop-hidden {
    display: none;
  }
}
@media (min-width: 599px) {
  .is-tablet-hidden {
    display: none;
  }
}
@media (min-width: 1px) and (max-width: 1199px) {
  .is-hidden {
    display: none;
  }
}
</style>
