<template>
  <div class="container mt-3 mb-5">
    <div class="stocks" v-infinite-scroll="loadNextCompanies" infinite-scroll-disabled="isLoading" infinite-scroll-distance="150">
      <div class="stocks__title-container">
        <!--<h3 class="title-text">{{ $t("menuList[0].sublist[0].name") }}</h3>-->
      </div>
      <div class="stocks__sceener">
        <Screener :resultNumber="stocksArr.length" />
      </div>
      <div class="stocks__table-container">
        <MarketsTable
          :instruments="stockInstruments"
          :namesAndLogos="companies"
        />
      </div>
    </div>
  </div>
</template>

<script>
import MarketsTable from "../../components/MarketsTable";
import Screener from "~/components/Screener/Screener";


export default {
  name: "stocks",
  components: { MarketsTable, Screener },
  head() {
    return {
      title: this.metaTitleData,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Подробная информация об акциях РФ на сегодня " +
            new Date().toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric"
            }) +
            ". Лидеры роста. Лидеры падения."
        }
      ]
    };
  },
  data() {
    return {
      companies: {},
      stockInstruments: {},
      blink: ""
    };
  },
  computed: {
    isLoading() {
      return this.$store.state.modules.screener.isLoading;
    },
    lang() {
      return this.$i18n.locale;
    },
    stocksArr() {
      return this.$store.state.modules.screener.stocksArr;
    },
    metaTitleData() {
        if(this.lang === 'ru') {
            return 'Акции РФ цена, изменения стоимости на сегодня | iFinik'
        } else if (this.lang === 'en') {
            return 'Russian shares price, price changes for today | iFinik'
        } else {
            return 'Russian shares price, price changes for today | iFinik'
        }
    }
  },
  methods: {
    loadNextCompanies() {
      this.$store.dispatch('modules/screener/loadNextCompanies');
    },
  }
};
</script>

<style lang="scss" scoped>
.stocks {
  background: #ffffff;
  border-radius: 4px;
  //overflow: hidden;

  &__title-container {
    padding: $spacer * 6;
    box-shadow: inset 0 -1px 0 #f2f4f6;
  }

  .title-text {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    color: $text-color;
  }

  &__btns-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: ($spacer * 6) ($spacer * 6) 0 ($spacer * 6);
  }

  &__table-container {
    overflow: auto;
  }

  &__table {
    overflow: auto;
  }

  &__sceener {
    margin: $spacer * 6 $spacer * 6 $spacer * 4 $spacer * 6;
  }
}
</style>
