<template>
  <div class="container mb-5">
    <div class="row mt-3">
      <div class="d-none d-xl-block col-3 pr-0" id="list-wrapper" @click="addSticky">
        <NewsList
          id="news-list"
          :newsFeed="news"
          :title="$t(`menuList[1].name`)"
          class="fixed-list"
        />
      </div>
      <div class="col-xl-9 pl-xl-4">
        <nuxt id="full-news" />
        <div class="section-title">
          <h3 class="section-title__text">{{ $t("newsPage.relatedNews") }}</h3>
        </div>
        <div class="news-cards">
          <masonry :cols="{ default: 3, 899: 2, 599: 1 }" :gutter="{ default: 20, 1199: 16 }">
            <div :key="item" v-for="item in 6">
              <NewsCard :news="relatedNews[item]" />
            </div>
          </masonry>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewsList from "~/components/News/NewsList.vue";
import { mapState } from "vuex";
import axios from "axios";
import NewsCard from "~/components/News/NewsCard.vue";

export default {
  mounted() {
    console.log(window.innerHeight);
    const listHeight = window.innerHeight - 75;
    document.getElementById('news-list').style.height = listHeight + 'px';
  },
  scrollToTop: true,
  name: "index.vue",
  data() {
    return { isHigher: false };
  },
  computed: {
    ...mapState({
      news: state => state.modules.news.news,
      isLoading: state => state.modules.news.isLoading
    }),
    relatedNews() {
      return Object.values(this.news);
    }
  },
  components: {
    NewsList,
    NewsCard,
  },
};
</script>

<style lang="scss" scoped>
.feed {
  margin-top: ($spacer * 12);

  &__news {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.section-title {
  margin-bottom: ($spacer * 5);
  background: $white;
  border-radius: $border-radius;

  @media #{$tabletLg} {
    margin-bottom: $spacer * 4;
  }

  @media #{$mobile} {
    border-radius: 0;
    margin: 0 (-$spacer * 4) ($spacer * 4);
  }

  &__text {
    padding: ($spacer * 6);
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    color: $text-color;

    @media #{$tabletLg} {
      line-height: $line-height-xs;
    }

    @media #{$mobile} {
      font-size: $font-size-lg;
      line-height: $line-height-xl;
      padding: $spacer * 4 $spacer * 6;
    }
  }
}

/deep/ .news-cards {
  @media #{$mobile} {
    margin-left: -$spacer * 4;
    margin-right: -$spacer * 4;

    .news-card,
    .news-card__image {
      border-radius: 0;
    }
  }
}

.fixed-list {
  position: sticky !important;
  max-width: 310px;
  top: 50px;
  overflow-y: scroll;
}
</style>
