<template>
  <div class="container pt-3" v-infinite-scroll="loadMore" infinite-scroll-disabled="isLoading">
    <client-only>
      <masonry
        :cols="{default: 4, 1199: 3, 899: 2, 599: 1}"
        :gutter="20"
      >
        <div :key="item.id" v-for="item in news">
          <NewsCard :news="item"/>
        </div>
      </masonry>
      <Loader v-if="isLoading"/>
    </client-only>
  </div>
</template>


<script>
import NewsCard from '../../components/News/NewsCard';
import {mapState} from  'vuex';
import Loader from "../../components/Loader";

export default {
  mounted() {
  },
  data() {
    return {
      busy: false,
    };
  },
  head() {
      return {
          title: this.metaTitleData,
          meta: [{
              hid: 'description',
              name: 'description',
              content: 'Самая актуальная информация на ' +  new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) + ' о компаниях и новости с финансовых рынков РФ и США.'
          }]
      }
  },
  computed: {
    ...mapState({
      news: state => state.modules.news.news,
      isLoading: state => state.modules.news.isLoading,
    }),
    metaTitleData() {
        if(this.lang === 'ru') {
            return 'Самые Важные Новости Сегодня на Рынках Ценных Бумаг | iFinik'
        } else if (this.lang === 'en') {
            return 'Most Important News Today in the Securities Markets | iFinik'
        } else {
            return 'Most Important News Today in the Securities Markets | iFinik'
        }
    }
  },
  name: 'index.vue',
  components: {Loader, NewsCard },
  methods: {
    loadMore() {
      this.$store.commit('modules/news/loadingStarted');
      setTimeout(() => {
        this.$store.commit('modules/news/doNextPage');
        this.$store.dispatch('modules/news/loadNews');
      }, 1000);

    }
  }
};
</script>


<style lang="scss" scoped>
  .margin {
    margin: 0 ($spacer * 5);
  }

</style>
