<template>
  <div class="container mt-3">
    <div class="row">
      <div class="col-9 pr-3">
        <nuxt/>
      </div>
      <div class="col-3 pl-0">
        <div :key="item" v-for="item in 6">
          <NewsCard :news="news[item]"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewsCard from '../../components/News/NewsCard';

export default {
  async asyncData({ store }) {
    const news = Object.values(store.state.modules.news.news);
    return { news: news };
  },
  name: 'top',
  components: {
    NewsCard,
  }
  ,
}
;
</script>

<style lang="scss" scoped>

</style>
