<template>
  <div class="companies-list">
    <div class="companies-list__link-container mb-1">
      <button @click="navigateToStocks()" class="companies-list__title-link">
        {{ title }}
      </button>
      <img alt="" src="~/assets/icons/icon-link-arrow.svg?inline" />
    </div>
    <div
      :key="el.id"
      class="companies-list__company-container"
      v-for="el in values"
      @click="navigateToInstrument(el.code)"
    >
      <div
        :class="[{ 'green-shadow': isPositive }, { 'red-shadow': !isPositive }]"
        class="company"
      >
        <div class="company__info">
          <div class="company__text-container mb-1">
            <span class="company__black">{{ el.tiker }}</span>
            <span class="company__black">{{currencySign(el.currency)}} {{ numIcludeZero(el.price) }}</span>
          </div>
          <div class="company__text-container">
            <span class="company__grey company__grey--description">{{ el.name }}</span>
            <span
              :class="[{ green: isPositive }, { red: !isPositive }]"
              class="company__grey company__grey--price"
              >{{ addSign(el.ratio)
              }}{{ numIcludeZero(el.ratio) }}%</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CompaniesList",
  data() {
    return {};
  },
  props: {
    title: String,
    isGainers: Boolean,
    values: Array,
    isPositive: Boolean
  },
  computed: {},
  methods: {
    currencySign(currency) {
      if (currency === "RUB") {
        return "₽";
      } else if (currency === "USD") {
        return "$";
      }
    },
    addSign(value) {
      if (value > 0) {
        return "+";
      } else if (value < 0) {
        return "";
      }
    },
    numIcludeZero(number) {
      let num = number;
      let val = (number/1).toFixed(2);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
      return val;
    },
    navigateToInstrument(id) {
      this.$router.push(this.localePath(`/instruments/summary-${id}`));
    },
    navigateToStocks() {
      if (this.isGainers) {
        this.$store.commit("modules/stocks/setSortGainers");
        this.$router.push(this.localePath(`/markets/stocks`));
      } else {
        this.$store.commit("modules/stocks/setSortLoosers");
        this.$router.push(this.localePath(`/markets/stocks`));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.companies-list {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: ($spacer * 6) 0;
  border-radius: $border-radius;
  cursor: pointer;
  margin-bottom: $spacer * 5;

  &__link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title-link {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: $text-color;
    margin: 0 ($spacer * 2) 0 ($spacer * 6);
  }
  .green-shadow {
    box-shadow: inset 4px 0px 0px $pale-green;
  }

  .red-shadow {
    box-shadow: inset 4px 0px 0px $danger-color;
  }

  &__company-container {
    padding: ($spacer * 4) ($spacer * 6);

    &:hover {
      background-color: $light-color;
    }

    .company {
      &__info {
        display: flex;
        flex-direction: column;
        padding-left: $spacer * 3;
      }

      &__text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__black {
        display: flex;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        color: $text-color;
      }

      &__grey {
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-xs;
        line-height: $line-height-md;
        color: $text-color-pale;
        white-space: nowrap;

        &--description {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 5px;
        }
      }

      .green {
        font-weight: bold;
        color: $pale-green;
      }

      .red {
        font-weight: bold;
        color: $danger-color;
      }
    }
  }
}
.blink-red {
    color: $danger-color;
}
.blink-green {
    color: $succes-color;
}
</style>
