<template>
  <div class="number-ticker">
    <span class="number-ticker__text">+{{ number }}</span>
  </div>
</template>

<script>
export default {
  name: "MarketsRateBtn",
  props: {
    number: Number
  }
};
</script>

<style lang="scss" scoped>
.number-ticker {
  width: auto;
  height: 24px;
  padding: $spacer ($spacer * 2.5);
  margin-right: ($spacer * 2);
  margin-bottom: $spacer;
  background: #f6f7f8;
  box-shadow: inset 2px 0px 0px #9ca7b5;

  &__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $text-color-pale;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    height: 16px;
    cursor: default;
  }
}
</style>
