<template>
  <div class="smart-sort">
    <button
      :class="{ active: activeBtn }"
      class="smart-sort__btn"
      @click="turnOn"
    >
      {{ title }}
    </button>
  </div>
</template>

<script>
export default {
  name: "SmartSortBtn",
  props: {
    title: String,
    metric: String,
    active: Boolean,
    ascending: Boolean,
    isActive: Boolean,
    sortKind: String,
  },
  computed: {
    activeBtn() {
      const stateActSort = this.$store.state.modules.stocks.activeSort;
      if (stateActSort.metric === this.metric && stateActSort.ascending === this.ascending && stateActSort.active === this.active) {
        return true;
      }
    }
  },
  methods: {
    turnOn() {
      this.$emit("turnOn", {
        sortKind: this.sortKind,
        metric: this.metric,
        active: this.active,
        ascending: this.ascending
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.smart-sort {
  &__btn {
    height: 32px;
    width: auto;
    padding: ($spacer * 2) ($spacer * 4);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $border-light;
    color: $text-color-pale;
  }

  .active {
    background-color: $text-color;
    color: $white;
  }
}
</style>
