<template>
  <div class="group-btns">
    <SmartSortBtn
      v-for="btn in buttons"
      :key="btn.id"
      :title="btn.title"
      :metric="btn.metric"
      :sortKind="btn.sortKind"
      :ascending="btn.ascending"
      :active="btn.active"
      @turnOn="setSort($event)"
      class="mr-1"
    />
  </div>
</template>

<script>
import SmartSortBtn from "./SmartSortBtn";

export default {
  components: { SmartSortBtn },
  data() {
    return {
      buttons: [
        {
          title: this.$t('stocksPage.topGainers'),
          metric: "changePerc",
          ascending: true,
          active: true,
          sortKind: 'value',
        },
        {
          title: this.$t('stocksPage.topLoosers'),
          metric: "changePerc",
          ascending: false,
          active: true,
          sortKind: 'value',
        },
      ]
    };
  },
  methods: {
    setSort({ sortKind, metric, active, ascending }) {
      this.$store.commit("modules/stocks/changeSorting", {
        metric,
        active,
        ascending,
        sortKind
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.group-btns {
  display: flex;
  flex-direction: row;
}
</style>
