<template>
    <button class="btn-sort">
      <span>Age</span>
      <img src="~/assets/icons/icon-desc.svg?inline" alt="">
    </button>
</template>

<script>
export default {
  name: "SortBtn"
}
</script>

<style lang="scss" scoped>
  .btn-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
</style>
