<template>
  <div class="page">
    <Header></Header>
    <div class="main">
      <nuxt/>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer,
  }
}
</script>
<style media="screen" lang="scss">
    .page {
        padding-top: $spacer * 13.75;
        background: #F2F4F6;

        @media #{$tabletLg} {
            padding-top: $spacer * 12.5;
        }
    }
</style>
