<template>
<div class="page">
  <Header />
  <div class="error">
    <div v-if="error.statusCode === 404">
      <img :src="notFoundImg" class="error__img" />    
      <h6 class="error__ext">Сожалеем, но такой страницы не существует...</h6><br />
    </div>
    <div v-else>
      <img :src="bugImg" class="error__img" />  
      <h6 class="error__ext">Сожалеем, но произошла ошибка...</h6><br />
    </div>  
    <h6>Если косяк на нашей стороне, мы будем благодарны, если Вы <NuxtLink to="/ru/contacts">сообщите</NuxtLink> нам об этом!</h6><br />      
    <NuxtLink to="/">Вернуться на Главную</NuxtLink>
  </div><br />
  <Footer />    
</div>
</template>

<script>
import Header from '~/components/Header.vue';
import Footer from '~/components/Footer.vue';

const bugImg = require("~/assets/svg/errors/bug_fix_image.svg?inline");
const notFoundImg = require("~/assets/svg/errors/404_page_not_found_image.svg?inline");

  export default {
    props: ['error'],
    layout: 'error', // макет для страницы ошибки
    components: {
      Header,
      Footer,
    },
    data() {
      return {
        bugImg,
        notFoundImg
      }
    }
  }
</script>

<style media="screen" lang="scss">
  .page {
    padding-top: $spacer * 13.75;
    background: #F2F4F6;

    @media #{$tabletLg} {
      padding-top: $spacer * 12.5;
    }
    .error {
    color: black;
    text-align: center;
    &__img {
    max-width: 560px;
    max-height: 320px;
    margin-bottom: $spacer * 4;
    @media #{$tabletLg} {
      max-width: 300px;
      max-height: 180px;
    }
  }
    &__ext {
      font-style: normal;
      font-weight: 800;
    }
  }
  }
</style>
