<template>
  <div class="page">
    <Header></Header>
    <div class="main">
        <Banner2
        ></Banner2>
      <nuxt/>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'
import Banner2 from '~/components/Banner2.vue'
export default {
    components: {
        Header,
        Footer,
        Banner2
    },
    async asyncData({store, params}) {

    },
    data() {
        return {
            pageType: 'summary',
        }
    },
    methods: {
    },
    mounted() {
        // console.log(this.bannerStateData);
    },
    computed: {
        bannerStateData() {
            return this.$store.state.modules.instruments.dataBanner;
        }
    }
}
</script>
<style media="screen" lang="scss">
    .page {
        padding-top: $spacer * 13.75;
        background: #F2F4F6;

        @media #{$tabletLg} {
            padding-top: $spacer * 12.5;
        }
    }
</style>
