<template>
  <div class="page">
    <Header />
    <div class="main">        
      <BannerInvest />
      <nuxt/>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/Header.vue';
import Footer from '~/components/Footer.vue';
import BannerInvest from '~/components/BannerInvest.vue';

export default {
    name: "BannerInvest",
    components: {
        Header,
        Footer,
        BannerInvest
    },
    async asyncData({store, params}) {

    },
    data() {
        return {
            pageType: 'summary',
        }
    },
    methods: {
    },
    mounted() {
        // console.log(this.bannerStateData);
    },
    computed: {
        bannerStateData() {
            return this.$store.state.modules.invest.dataBanner;
        }
    }
}
</script>
<style media="screen" lang="scss">
    .page {
        padding-top: $spacer * 13.75;
        background: #F2F4F6;

    .logoImg {
        height: 100%;
    }

        @media #{$tabletLg} {
            padding-top: $spacer * 12.5;
        }
    }
</style>