<template>
  <div class="landing-page">
    <Header></Header>
    <div class="landing-page__main-block">
      <nuxt />
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  }
};
</script>
<style media="screen" lang="scss">
.landing-page {
  padding-top: $spacer * 13.75;
  background: $white;
  &__main-block {
    flex: 1;
    min-height: 500px;
    background: $white;
  }

  @media #{$tabletLg} {
    padding-top: $spacer * 10;
  }
}
</style>
