<template>
    <div class="policy-content">
      <nuxt/>
    </div>
</template>

<script>
export default {
  name: "PrivacyPolicy"
}
</script>

<style lang="scss" scoped>
    .policy-content {
      background-color: $white;
      padding: $spacer * 6;
    }
</style>
