<template>
  <div>
    <FirstScreen />
    <SecondScreen />
    <ThirdScreen />
    <FourthScreen />
    <FiveScreen />
  </div>
</template>

<script>
import { I18N } from "../config";
import FirstScreen from "~/components/LPScreens/First.vue";
import SecondScreen from "~/components/LPScreens/Second.vue";
import ThirdScreen from "~/components/LPScreens/Third.vue";
import FourthScreen from "~/components/LPScreens/Fourth.vue";
import FiveScreen from "~/components/LPScreens/Fifth.vue";

export default {
  name: "LandingPage",
  layout: "lp",
  components: {
    FirstScreen,
    SecondScreen,
    ThirdScreen,
    FourthScreen,
    FiveScreen
  },
  head() {
    return {
      title: this.translate.pageTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.translate.pageDescription
        }
      ]
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    translate() {
      return I18N.vueI18n.messages[this.lang].lp;
    },
  },
};
</script>

<style lang="scss" scoped></style>
