<template>
  <div class="container">
    <FixedSocialBtn/>
    <div class="brokers">
      <img src="~/assets/img/brokers/brokers-img.png" class="brokers__img" />
      <h1 class="brokers__caption">{{ translate.header }}</h1>
      <p
        class="brokers__description"
        v-for="el in translate.paragraphs"
        :key="el.id"
        :class="el.class"
      >
        {{ el.text }}
      </p>
      <div class="brokers__cards-container">
        <BrokersCard
          v-for="el in brokersArr"
          :key="el.id"
          :brokerKey="el.translateKey"
          :GAid="el.gtm"
          :partnerImg="el.imgTest[lang]"
          :name="translate[el.translateKey].name"
          :link="translate[el.translateKey].link"
          :frameLink="translate[el.translateKey].frameLink"
          :text="translate[el.translateKey]"
          :isJustLink="el.isLink"
        />
      </div>
    </div>
  </div>
</template>

<script>
const FreedomImgRu = require("~/assets/svg/brokers-lp/freedom24-logo.svg?inline");
const FreedomImgEn = require("~/assets/svg/brokers-lp/freedom24-logo.svg?inline");
const OtkrytieImgRu = require("~/assets/img/brokers/otkritie-broker-logo.png");
const OtkrytieImgEn = require("~/assets/img/brokers/otkritie-broker-logo.png");
const SberImgRu = require("~/assets/svg/brokers-lp/sber-ru.svg?inline");
const SberImgEn = require("~/assets/svg/brokers-lp/sber-ru.svg?inline");
const AlfaImgRu = require("~/assets/svg/brokers-lp/alfa-ru.svg?inline");
const AlfaImgEn = require("~/assets/svg/brokers-lp/alfa-ru.svg?inline");
const BKSImgRu = require("~/assets/svg/brokers-lp/bks-ru.svg?inline");
const BKSImgEn = require("~/assets/svg/brokers-lp/bks-ru.svg?inline");
const VTBImgRu = require("~/assets/svg/brokers-lp/vtb-logo-ru.svg?inline");
const VTBImgEn = require("~/assets/svg/brokers-lp/vtb-logo-en.svg?inline");
import BrokersCard from "~/components/BrokersCard";
import FixedSocialBtn from "~/components/FixedSocialBtn";
import { I18N } from "~/config";

export default {
  components: {
    BrokersCard,
    FixedSocialBtn
  },
  head() {
    return {
      title: this.translate.pageTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.translate.pageDescription
        }
      ]
    };
  },
  data() {
    return {
      brokersArr: [
        {
          translateKey: "freedom",
          gtm: "open_ff",
          imgTest: { en: FreedomImgEn, ru: FreedomImgRu },
          isLink: false,
        },
        {
          translateKey: "otkr",
          gtm: "open_ob",
          imgTest: { en: OtkrytieImgEn, ru: OtkrytieImgRu },
          isLink: true,
        },
        {
          translateKey: "sber",
          gtm: "open_sber",
          imgTest: { en: SberImgEn, ru: SberImgRu },
          isLink: true,
        },
        {
          translateKey: "alfa",
          gtm: "open_alfa",
          imgTest: { en: AlfaImgEn, ru: AlfaImgRu },
          isLink: true,
        },
        {
          translateKey: "bks",
          gtm: "open_bks",
          imgTest: { en: BKSImgEn, ru: BKSImgRu },
          isLink: true,
        },
        {
          translateKey: "vtb",
          gtm: "open_vtb",
          imgTest: { en: VTBImgEn, ru: VTBImgRu },
          isLink: true,
        }
      ]
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    translate() {
      return I18N.vueI18n.messages[this.lang].brokers;
    },
  },
  methods: {
    nagigateToTlgmPage() {
      this.$router.push(this.localePath("/tlgm"));
    }
  }
};
</script>

<style lang="scss" scoped>
.brokers {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $spacer;
  padding: 40px 110px;
  margin: $spacer * 6 0 87px 0;
  @media #{$tabletLg} {
    padding: $spacer * 6;
  }
  @media #{$tablet} {
    margin-top: $spacer * 4;
  }
  @media #{$mobile} {
    margin-bottom: 47px !important;
  }
  &__img {
    width: 100%;
    height: auto;
    max-width: 560px;
    margin-bottom: $spacer * 4;
    @media #{$tabletLg} {
      max-width: 300px;
    }
  }
  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: $spacer * 4;
    @media #{$tablet} {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    margin-top: $spacer * 2;
    @media #{$tablet} {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .strong {
    font-weight: 600;
    margin: 0 0 $spacer * 4 0;
  }
  &__cards-container {
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: $spacer * 4;
    grid-row-gap: $spacer * 4;
    @media #{$tablet} {
      max-width: 688px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{$mobile} {
      grid-column-gap: 0;
      grid-row-gap: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
</style>
