<template>
  <div class="container">
    <FixedSocialBtn />
    <div class="contacts">
      <img :src="contactsImg" class="contacts__img" />
      <h1 class="contacts__header">Контакты</h1>
      <p class="contacts__sub-header">
        Ваши вопросы и&nbsp;предложения мы&nbsp;будем рады получить
        по&nbsp;следующим адресам:
      </p>
      <ul class="contacts__items">
        <li class="item" v-for="item in contactsLinks" :key="item.id">
          <span class="item__text">{{ item.text }}</span>
          <a :href="'mailto:' + item.link" class="item__link" target="_blank">{{
            item.link
          }}</a>
        </li>
      </ul>
      <!-- <h2 class="contacts__header">Обратная связь</h2>
      <p class="contacts__sub-header">
        Отправьте нам ваш вопрос, комментарий, пожелание прямо с&nbsp;сайта.
      </p>
      <div class="contacts__form" v-if="!isSend">
        <input
          type="text"
          class="contacts__input"
          placeholder="Ваше имя"
          @focus="onFocusInput"
          @blur="onBlurInput"
          v-model="nameInput"
          :class="{ 'danger-placeholder': isVoidField }"
        />
        <input
          type="email"
          class="contacts__input"
          placeholder="Ваше email"
          @focus="onFocusInput"
          @blur="onBlurInput"
          v-model="emailInput"
          :class="{ 'danger-placeholder': isVoidField }"
        />
        <textarea
          class="contacts__textarea"
          v-model="textMail"
          name="mail"
          id="area"
          cols="30"
          rows="10"
          placeholder="Ваше сообщение"
          @focus="onFocusInput"
          @blur="onBlurInput"
          :class="{ 'danger-placeholder': isVoidField }"
        ></textarea>
        <transition name="slide-fade">
          <p v-if="isEmailError" class="contacts__note danger-text">
            Введите корректный email
          </p>
        </transition>
        <p class="contacts__note" :class="{ 'danger-text': isVoidField }">
          Все поля обязательны для заполнения!
        </p>
      </div>
      <button
        v-if="!isSend"
        @click="sendMail"
        class="contacts__send-btn"
        :class="{ 'active-btn': isAllFields }"
      >
        Отправить
      </button>
      <div v-else>
        <p class="contacts__succes-msg">
          Спасибо! Ваше письмо отправлено. Мы&nbsp;его получили и&nbsp;ответим
          вам в&nbsp;течение 2&nbsp;рабочих дней!
        </p>
        <button class="contacts__another-mail" @click="backToForm">
          Написать еще одно письмо
        </button>
      </div> -->
    </div>
  </div>
</template>

<script>
const contactsImg = require("~/assets/svg/contacts-page/contacts-image.svg?inline");
import FixedSocialBtn from "~/components/FixedSocialBtn";
export default {
  data() {
    return {
      isVoidField: false,
      isEmailError: false,
      nameInput: "",
      emailInput: "",
      isSend: false,
      textMail: "",
      contactsImg,
      contactsLinks: [
        { text: "Обратная связь:", link: "ifinik@ifinik.com" },
        { text: "Реклама:", link: "marketing@ifinik.com" },
        { text: "Партнёрство:", link: "partners@ifinik.com" }
      ]
    };
  },
  components: {
    FixedSocialBtn
  },
  computed: {
    isAllFields() {
      if (
        this.nameInput === "" ||
        this.emailInput === "" ||
        this.textMail === ""
      ) {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    nagigateToTlgmPage() {
      this.$router.push(this.localePath("/tlgm"));
    },
    backToForm() {
      this.isSend = false;
      this.nameInput = "";
      this.emailInput = "";
      this.textMail = "";
    },
    onFocusInput(el) {
      this.isVoidField = false;
      this.isEmailError = false;
      el.target.style.boxShadow = "inset 0px -1px 0px #1B7AFA";
    },
    onBlurInput(el) {
      el.target.style.boxShadow = "none";
    },
    validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    sendMail() {
      if (
        this.nameInput === "" ||
        this.emailInput === "" ||
        this.textMail === ""
      ) {
        this.isVoidField = true;
      } else if (!this.validateEmail(this.emailInput)) {
        this.isEmailError = true;
      }
      if (!this.isVoidField && !this.isEmailError) {
        this.isSend = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.contacts {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $spacer;
  padding: 40px 110px;
  margin: $spacer * 6 0 87px 0;
  @media #{$tabletLg} {
    padding: $spacer * 6;
  }
  @media #{$tablet} {
    margin-top: $spacer * 4;
  }
  @media #{$mobile} {
    margin-bottom: 47px !important;
  }
  &__img {
    max-width: 560px;
    max-height: 320px;
    margin-bottom: $spacer * 4;
    @media #{$tabletLg} {
      max-width: 300px;
      max-height: 180px;
    }
  }
  &__header {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: $text-color;
    margin-bottom: 0;
    @media #{$tablet} {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__sub-header {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    margin-bottom: $spacer * 4;
    &:nth-child(2n) {
      margin-bottom: $spacer * 6;
    }
    @media #{$tablet} {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__items {
    padding: 0;
    // margin-bottom: 64px;
    // @media #{$mobile} {
    //   margin-bottom: 39px;
    // }
  }
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer * 4;
    &:last-child {
      margin-bottom: 0;
    }
    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: 22px;
      color: $text-color;
    }
    &__link {
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: 22px;
      color: $primary-light-color;
    }
  }
  &__form {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer * 6;
  }
  &__input {
    height: 54px;
    border: none;
    border-radius: 0;
    background: #f6f7f8;
    box-shadow: inset 0px -1px 0px #eff0f0;
    color: $text-color;
    padding: $spacer * 4 $spacer * 4 $spacer * 3.5 $spacer * 4;
    outline: none;
    margin-bottom: $spacer * 4;
  }
  &__textarea {
    height: 120px;
    border: none;
    resize: none;
    background: #f6f7f8;
    box-shadow: inset 0px -1px 0px #eff0f0;
    padding: $spacer * 4 $spacer * 4 $spacer * 3.5 $spacer * 4;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-md;
    line-height: 24px;
    color: $text-color;
    margin-bottom: $spacer * 4;
  }
  &__note {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $disabled-color;
    margin: 0;
  }

  &__send-btn {
    background: $disabled-color;
    padding: 15px 43px;
    width: 160px;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xs;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
  &__succes-msg {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $succes-color;
  }
  &__another-mail {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-lg;
    line-height: 24px;
    text-decoration-line: underline;
    color: $primary-light-color;
  }
  .danger-text {
    color: $danger-color;
  }
  .danger-placeholder::placeholder {
    color: $danger-color;
  }
  .active-btn {
    background: $primary-light-color;
  }
}
</style>
