<template>
    <div>
        <FixedSocialBtn/>
        <FirstScreen/>
        <SecondScreen/>
        <ThirdScreen/>
    </div>
</template>

<script>
import FirstScreen from '~/components/StartLanding/FirstScreen';
import SecondScreen from '~/components/StartLanding/SecondScreen';
import ThirdScreen from '~/components/StartLanding/ThirdScreen';
import FixedSocialBtn from "~/components/FixedSocialBtn";
export default {
    components: {
        FirstScreen,
        SecondScreen,
        ThirdScreen,
        FixedSocialBtn
    }
}
</script>

<style lang="scss" scoped>

</style>
