<template lang="html">
  <div class="invest">
    <div class="container">
      <div class="invest__hdr">
        <span class="invest__hdr-caption ">Portfolio</span>  
        <button @click="toggleButton1()" class="invest__hdr_btn1 btn-outline" :style="btnStyle1">Broker Accounts</button> 
        <button @click="toggleButton2()" class="invest__hdr_btn2 btn-outline" :style="btnStyle2">Virtual Portfolios</button>      
      </div>
      <div class="invest__cards">
        <span class="invest__cards-caption">My Portfolios</span>
        <MyPortfolios :btnActive1="btnActive1" /> 
      </div>
      <div class="invest__content">
        <div class="invest__content-left">
          <div class="invest__content-left-1">
            <div class="invest__content-left-1-head">
              <div v-for="(item, index) in chartValues" :key="item.id" class="invest__content-left-1-head-item">
                <span :style="item.style1">{{item.value1}}</span>
                <span v-if="item.value2" :style="item.style2">{{'('+item.value2+')'}}</span>
                <span v-else :style="item.style2">{{currency}}</span>
                <p>{{item.subtitle}}</p>
                <img v-if="index!==0" class="invest__content_lineVert" :src="lineVert" />
              </div>
            </div>
            <ChartPortfolio />              
          </div>            
          <div class="invest__content-left-2">
            <PortfolioTable />
          </div>
        </div>        
        <div class="invest__content-right">
          <div class="invest__content-right-1">
            <PortfolioStatistics />
          </div>
          <div class="invest__content-right-2">
            <div class="invest__content-right-2_caption">
              <span class="">Portfolio Allocation</span>
              <button class="invest__content-right-2_caption-btn btn--light">
                <span class="invest__content-right-2_caption-btn_name">By sector</span>
                <img :src="enter" class="invest__content-right-2_caption-btn_icon" />
              </button>
            </div>
            <StructurePortfolio />
          </div>
          <div class="invest__content-right-3">
            <TransactionsList />
          </div><br />
        </div>
      </div>   
      <!--<div class="invest__content row">
        <div class="col-xl-8 col-md-12"><br />
          <div class="invest__content-1 row">
            <div style="box-shadow: 0px 1px 1px #d9d9d9;">
              <div style="padding-left: 60px; padding-top: 20px; display: inline-block;">
                <span style="font-size: 20px; font-weight: 800; color: black;">{{totalValue}} USD</span>
                <h4 style="font-size: 12px; font-weight: 600; color: #8E9AAA;">Total value</h4>
              </div>
              <div style="padding-top: 20px; padding-left: 20px; display: inline-block;">
                <span style="font-size: 20px; font-weight: 800; color: yellowgreen;">{{todayChange}}</span>
                <h4 style="font-size: 12px; font-weight: 600; color: #8E9AAA;">Todays Change</h4>
              </div>
              <div style="padding-top: 20px; padding-left: 20px; display: inline-block;">
                <span style="font-size: 20px; font-weight: 800; color: yellowgreen;">{{totalGain}}</span>
                <h4 style="font-size: 12px; font-weight: 600; color: #8E9AAA;">Total Gain</h4>
              </div>
              <div style="padding-top: 20px; padding-left: 20px; display: inline-block;">
                <span style="font-size: 20px; font-weight: 800; color: yellowgreen;">{{rlzPL}} USD</span>
                <h4 style="font-size: 12px; font-weight: 600; color: #8E9AAA;">Realized P/L</h4>
              </div>
              <div style="padding-top: 20px; padding-left: 20px; display: inline-block;">
                <span style="font-size: 20px; font-weight: 800; color: black;">{{avlblCash}} USD</span>
                <h4 style="font-size: 12px; font-weight: 600; color: #8E9AAA;">Avialable Cash</h4>
              </div>
            </div>
            <ChartPortfolio />
          </div><br />
          <div class="invest__content-2 row">
            <h4>Position</h4>
            <div style="padding-top: 0px;">
              <PortfolioTable />
            </div>
          </div>
          <PortfolioNews />
          <div class="invest__container-content-3 row"><h4>Portfolio Related News</h4></div><br />
          <div class="invest__container-content-4 row">
            <div class="col-6 news" style="margin-right: 32px;"><h4>News</h4></div>
            <div class="offset-0 news"><h4>News</h4></div>
          </div><br />
        </div>
        <div class="col-xl-4 col-md-6"><br />
          <div class="invest__content-1r row" style="margin-left: 10px;">
            <PortfolioStatistics />
          </div><br />
          <div class="invest__content-2r row" style="margin-left: 10px;">
            <div class="col-xl-7 col-md-12" style="margin-top: 10px;">
              <h4>Portfolio Allocation</h4>
            </div>
            <button style="width: 120px; height: 32px; margin-top: 20px; margin-left: 20px; display: block;">
              <span style="display: inline-block; font-size: 12px">By sector</span>
              <img :src="enter" style="display: inline-block; padding-left: 5px" />
            </button>
            <StructurePortfolio />
          </div><br />
          <div class="invest__content-3r row" style="margin-left: 10px;">
            <h4>Last Transactions</h4>
            <TransactionsList />
          </div><br />
        </div>
      </div>-->
    </div>
  </div>
</template>

<script>
import MyPortfolios from '../components/invest/MyPortfolios';
import StructurePortfolio from '../components/invest/StructurePortfolio';
import PortfolioTable from '../components/invest/PortfolioTable';
import PortfolioStatistics from '../components/invest/PortfolioStatistics';
import ChartPortfolio from '../components/invest/ChartPortfolio';
import TransactionsList from '../components/invest/TransactionsList';
import PortfolioNews from '../components/invest/PortfolioNews';

const pntVert = require('~/assets/svg/invest/pnt_vrt.svg?inline');
const plus = require('~/assets/svg/invest/plus.svg?inline');
const enter = require('~/assets/svg/invest/enter.svg?inline');
const lineVert = require('~/assets/svg/invest/lineVert.svg?inline');

export default {
  layout:"portfolio",
  components: {
    StructurePortfolio,
    PortfolioTable,
    PortfolioStatistics,
    ChartPortfolio,
    TransactionsList,
    MyPortfolios,
    PortfolioNews
  },
  data() {
    return {
      plus,
      pntVert,
      enter,
      lineVert,
      btnActive1: true,
      btnActive2: false,
      currency: 'USD',
      chartValues: [
        {
          value1: '20,474.09',
          style2: 'font-weight:400;margin-left:4px;',
          subtitle: 'Total value'
        }, 
        {
          value1: '+88.25',
          style1: 'color: #00b68a;',
          value2: '+0.94%',
          style2: 'color: #00b68a;font-size:16px;font-weight:400',
          subtitle: 'Todays Change'
        }, 
        {
          value1: '+2,363.55',
          style1: 'color: #00b68a;',
          value2: '+4.98%',
          style2: 'color: #00b68a;font-weight:400',
          subtitle: 'Total Gain'
        }, 
        {
          value1: '578.90',
          style1: 'color: #00b68a;',
          style2: 'color:#00b68a;font-size:16px;font-weight:400;margin-left:4px;',
          subtitle: 'Realized P/L'
        }, 
        {
          value1: '12,938.87',
          style1: 'color: black;',
          style2: 'font-size:16px;font-weight:400;margin-left:4px;',
          subtitle: 'Avialable Cash'
        }
      ],
      //totalGainTop: '+2,387.77 (+8.46%)',
      //marketValue: '$18,984.65',
      //marketValueReit: '$1,390.56',
      //totalGainReit: '-24.22 (-0.12%)'
    } 
  },
  computed: {
    btnStyle1() {return this.btnActive1 ? 'background:#51587B;color:white;' : null},
    btnStyle2() {return this.btnActive2 ? 'background:#51587B;color:white;' : null},
  },
  methods: {
    toggleButton1() {
      if(this.btnActive1 === false) {
        this.btnActive1 = true;
        this.btnActive2 = false;  
      };
    },
    toggleButton2() {
      if(this.btnActive2 === false) {
        this.btnActive2 = true;
        this.btnActive1 = false;
      };
    }
  }    
}
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main";

.invest {
  .container {margin-top:15px;};
  &__hdr {
    position:relative;   
    background: white;
    width: 100%;
    height: 72px;
    border-radius: 4px;     
    &-caption {
      position: absolute;
      background: transparent;
      left:24px;
      top:22px;
      font-size: 20px;
      font-weight: 800;
      color:black;
    };
    &_btn1 {
      position: absolute;
      left:152px;
      top:18px;
      margin-right: 8px;
      width: 144px;
      height: 36px;
      padding:8px 0px;
      border:1px solid #c7d0db;
      border-radius: 32px;
      background: #f8f7fc;
      font-size:14px;
      color: #8e9aaa;
      font-weight: 600;
    };
    &_btn2 {
      position: absolute;
      left:304px;
      top:18px;
      width: 147px;
      height: 36px;
      font-size:14px;
      text-align: center;
      font-weight: 600;
      padding:8px 0px;
      border:1px solid #c7d0db;
      border-radius: 32px;
      background: #f8f7fC;
      color: #8e9aaa;
    }; 
  };
  &__cards {
    margin-top: 20px;
    height: 262px;
    background-color: white;
    border-radius: 4px;
    &-caption {
      line-height:72px;
      text-align: center;
      margin-left:24px;
      font-size: 20px;
      font-weight: 800;
      color:black;
    }
  };
  &__content {
    display:flex;
    flex-direction: row;;
    width:100%;
    &_lineVert {
      width: 1px;
      position:absolute;
      left:-24px;
      bottom:16px;
      };
    &-left {     
      display:flex;
      flex-direction: column;
      width: 860px;
      &-1 {
        margin-top:20px;
        background-color: white;
        padding-left: 24px;
        padding-top: 16px;
        border-radius: 4px;
        height: 408px;
        &-head { 
          display: flex;
          flex-direction: row;                       
          &-item {
            position: relative;
            box-shadow: inset 0px -1px 0px #f2f4f6;
            font-family: 'Open Sans';
            line-height:24px;
            margin-right:24px;
            margin-left:24px;
            color: black;
            p {
              font-size: 12px; 
              font-weight: 600; 
              color: #8E9AAA;
              line-height: 16.34px;
            };
            &:nth-child(1) {
              margin-left: 0px; 
              font-size:20px;
              font-Weight:800;
            };
            &:nth-child(2) {
              font-size:17px;
              font-Weight:600;
            };
            &:nth-child(3) {
              font-size:16px;
              font-Weight:600;
            };
            &:nth-child(4) { 
              font-size:16px;
              font-Weight:700;
            };
            &:nth-child(5) {
              font-size:16px;
              font-Weight:700;
            };
          };
        };  
      };
      &-2 {
        margin-top:20px;
        background-color: white;
        padding-left: 24px;
        padding-right:24px;
        padding-top: 16px;
        border-radius: 4px;
        height: 272px;
      }
    };
    &-right {
      margin-top: 20px;
      margin-left: 20px;
      width:420px;
      &-1 {
        border-radius: 4px;        
        height: 380px;
        background-color: white;        
      };
      &-2 {
        border-radius: 4px;
        margin-top:20px;
        height:328px;
        background-color: white;
        padding-left:24px;
        padding-top:22px;
        &_caption {
          position:relative;
          font-size: 20px;
          font-weight: 800;
          color:black; 
          //display: block;
          &-btn {
            //padding-bottom:10px;
            margin-left:52px;
            width: 118px; 
            height: 40px;
            border-radius:32px;
            background: #f6f7fc; 
            //display: inline-block;
            &_name { 
              font-size: 14px;
              font-weight: 600;
              line-height: 30px;
            };
            &_icon {
              padding-left: 5px;
            }
          };
        };
      };
      &-3 {
        border-radius: 4px;
        margin-top:20px;
        height:336px;
        background-color: white;
        padding-left:24px;
        padding-top:22px; 
      }
    };
  };
  /*&-content {
    margin-top:10px;
    background-color: transparent;
    border-radius: 4px;
    &-1 {
      height: 428px;
      background-color: white;
      border-radius: 4px;
      display: block;
    }
    &-2 {
      height: 272px;
      background-color: white;
      border-radius: 4px;
    }
    &-3 {
      height: 72px;
      background-color: white;
      border-radius: 4px;
    }
    &-4 {
      display: block;
    }
    &-1r {
      height: 380px;
      background-color: white;
      border-radius: 4px;
    }
    &-2r {
      height: 328px;
      background-color: white;
      border-radius: 4px;
    }
    &-3r {
      height: 336px;
      background-color: white;
      border-radius: 4px;
    }
    .news {
      height: 340px;
      width: 48%;
      padding: 10px;
      background-color: white;
      border-radius: 4px;
      display: inline-block;
    }
  }*/

  @media #{$mobile} {
    padding: 0;
    overflow: hidden;
  }
}

/*.news-row {
  @media #{$mobile} {
    padding: 0 16px;
  }
}*/
</style>