<template>
  <div class="container mt-3">
    <div class="privacy-policy">
      <h2 class="privacy-policy__main-caption">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h2>
      <div class="privacy-policy__text-container">
        <p class="privacy_policy__text">
          ООО «АйФиник» (редакция №2 от 01.06.2020)
        </p>
        <h4 class="privacy-policy__caption">Оглавление</h4>
        <ul class="pl-0">
          <li class="privacy-policy__list-item">1. Общие положения</li>
          <li class="privacy-policy__list-item">2. Предмет Соглашения</li>
          <li class="privacy-policy__list-item">
            3. Права и обязанности Сторон
          </li>
          <li class="privacy-policy__list-item">
            4. Права и обязанности Пользователя
          </li>
          <li class="privacy-policy__list-item">5. Регистрация Пользователя</li>
          <li class="privacy-policy__list-item">
            6. Персональные данные Пользователя
          </li>
          <li class="privacy-policy__list-item">
            7. Ответственность за сторонний контент и сайты третьих лиц
          </li>
          <li class="privacy-policy__list-item">
            8. Право интеллектуальной собственности
          </li>
          <li class="privacy-policy__list-item">
            9. Направление жалоб. Рассмотрение споров
          </li>
        </ul>
        <p class="privacy_policy__text">
          <strong>Общие положения</strong><br /><br />
          Настоящее Пользовательское соглашение (далее - «Соглашение») является
          основным документом, определяющим права и обязанности пользователей
          Интернет‐сайта https://www.ifinik.com (далее - «Сайт»), или в
          мобильном приложении «iFinik», доступном для устройств, на платформе
          Android и iOS. возникающие в ходе использования для получения доступа
          и использования информации, материалов, услуг, сервисов, ресурсов,
          функциональных возможностей сайта или приложения.<br /><br />

          <strong>Термины и определения</strong><br /><br />

          <b>Сервис</b> — это охраняемый авторским правом результат
          интеллектуальной деятельности в области информационных технологий, а
          именно: интерактивное программное обеспечение для получения финансовой
          (биржевой) информации, новостных материалов, анализа и инвестирования
          в ценные бумаги, включающее в себя набор информации, программных
          инструментов, баз данных, сформированных при работе программного
          обеспечения, графических, текстовых и иных материалов, размещенные в
          сети Интернет по адресу
          <a href="https://www.ifinik.com">https://www.ifinik.com</a> или в
          мобильном приложении «iFinik», доступном для устройств на платформе
          Android и iOS, для лиц, заинтересованных в получении указанной
          информации;<br /><br />
          <b>Биржевая информация</b> — цифровые данные и иные сведения не
          конфиденциального характера о ходе и итогах торгов на Бирже и иных
          организаторов торговли, предоставляемые в режиме реального времени, с
          задержкой или в виде итогов торгов, а также информационные сообщения
          Биржи или третьих лиц, обработанные и систематизированные с помощью
          программно-технических средств и оборудования биржи, содержащиеся в
          базах данных Биржи, правом на использование которых Биржа обладает в
          соответствии с законодательством РФ и договорами, заключенными
          Биржей.<br /><br />
          <b>Биржа</b> — Публичное акционерное общество "Московская Биржа
          ММВБ‐РТС".<br /><br />
          <b>Компания</b> — Общество с ограниченной ответственностью
          «АйФиник».<br /><br />
          <b>Сайт/Приложение Компании</b> – официальная интернет-страница
          Компании в сети «Интернет»:
          <a href="https://www.ifinik.com">https://www.ifinik.com</a> или
          мобильное приложение «iFinik», доступное для устройств на платформе
          Android и iOS.<br /><br />
          <b>Пользователь</b> — физическое лицо, прошедшее регистрацию на сайте
          <a href="https://www.ifinik.com">www.ifinik.com</a> или в мобильном
          приложении «iFinik», доступном для устройств на платформе Android и
          iOS.<br /><br />
          <b>Регистрация</b> — процедура, в ходе которой Пользователь
          предоставляет достоверные данные о себе по утверждённой Компанией
          форме, а также Логин и Пароль. Регистрация считается завершённой
          только в случае успешного прохождения Пользователем всех ее этапов,
          включая нажатие на кнопку «Зарегистрироваться» / «Отправить». Нажатие
          на кнопку «Зарегистрироваться» / «Отправить» является моментом
          заключения настоящего Соглашения между Пользователем и Компанией, т. 
          е. полного и безоговорочного согласия Сторон с условиями настоящего
          Соглашения.<br /><br />
          <b>Логин</b> — уникальное имя (псевдоним) Пользователя, указанный им
          при Регистрации с целью использования для идентификации Пользователя и
          используемый в сочетании с Паролем для получения доступа Пользователя
          к Сервисам и дополнительным сервисам Сайта/Приложения.<br /><br />
          <b>Пароль</b> — буквенно-цифровой код, указанный Пользователем при
          Регистрации, хранимый сторонами настоящего Соглашения в тайне от
          третьих лиц и используемый в сочетании с Логином для получения доступа
          Пользователя к Сервисам Сайта/Приложения. Логин и Пароль, введённые
          Пользователем, признаются Сторонами аналогом собственноручной подписи
          Пользователя.<br /><br />
          <b>Персональные регистрационные данные Пользователя</b> — данные,
          добровольно указанные Пользователем при прохождении Регистрации.
          Данные хранятся в базе данных Компании и подлежат использованию и
          передаче третьим лицам исключительно в соответствии с настоящим
          Соглашением и действующим законодательством РФ. Информация, материалы,
          контент — информация (в том числе Биржевая информация) в любом виде
          (текстовые, аудио, видео, графические файлы, фотоизображения и любые
          иные), используемая (в т. ч. хранимая, распространяемая, передаваемая
          и т. п.) Пользователем в любой форме (например, но не ограничиваясь, в
          форме текстового сообщения, вложенного файла любого формата, ссылки на
          размещение в сети и т. п.) в рамках или в связи с использованием
          Сервиса и его инструментов.<br /><br />
          <b>Личный кабинет Пользователя</b> — персональный интерактивный раздел
          Пользователя на Сервисе, в котором Пользователем осуществляется
          настройка, управление и контроль использования Сервиса, и доступ к
          которому осуществляется только после корректного введения пары
          Логин/Пароль.<br /><br />
          <b>Учетная запись Пользователя</b> — созданные после регистрации на
          Сайте/Приложения и/или Сервисе уникальный идентификационный номер и
          права доступа Пользователя к Сайту/Приложению и/или Сервису через
          Интернет, содержащие информацию о пользователе, средствах доступа и
          авторизации Пользователя.<br /><br />

          <strong>Предмет Соглашения</strong><br /><br />

          Данное Соглашение представляет собой публичную оферту согласно п. 2
          ст. 437 Гражданского кодекса РФ, и регулирует отношения между
          Пользователями и Компанией (далее совместно -Стороны). Настоящее
          Соглашение вступает в силу с момента публикации на Сайте/Приложении и
          действует в течение неопределённого срока или до публикации следующей
          редакции Соглашения. Настоящее Соглашение может быть изменено и/или
          дополнено Компанией в одностороннем порядке без какого-либо
          специального уведомления. Настоящее Соглашение является открытым и
          общедоступным документом. Действующая редакция Соглашения находится в
          сети Интернет по адресу
          <a href="https://www.ifinik.com">https://www.ifinik.com</a>. В случае,
          если Пользователь продолжает использование Сайта/Приложения после
          внесения изменений в редакцию настоящего Соглашения, он подтверждает
          своё согласие с изменениями, внесёнными в Соглашение. В личной
          ответственности Пользователя остаётся регулярный просмотр действующей
          редакцией Соглашения.<br /><br />

          Пользователь обязан полностью ознакомиться с настоящим Соглашением до
          момента использования Сайта/Приложения. Настоящее Соглашение
          становится обязательным для исполнения Пользователем с момента
          активации Пользователем гиперссылки, завершающей процедуру регистрации
          и позволяющей Пользователю приступить к использованию услуг Сервиса,
          при условии нажатии кнопки «Я принимаю условия Соглашения» в окне
          принятия Соглашения, и действует без ограничения срока.<br /><br />

          В соответствии с п. 3 ст. 438 ГК РФ регистрация на Сайте/Приложении
          признается безоговорочным акцептом оферты. Использование
          Сайта/Приложения означает полное и безусловное согласие с настоящим
          Соглашением. Если Пользователь не согласен с настоящим Соглашением,
          ему надлежит покинуть Сайт/Приложение.<br /><br />

          Условия настоящего Соглашение распространяется также на отношения,
          связанные с правами и интересами третьих лиц, не являющимися
          Пользователями Сайта/Приложения, но чьи права и интересы могут быть
          затронуты в результате действий Пользователей Сайта/Приложения.<br /><br />

          Использование Сайта/Приложения для получения финансовой (биржевой)
          информации, новостных материалов, в целях личного (некоммерческого)
          использования предоставляется Пользователю бесплатно.<br /><br />

          <strong>Права и обязанности Сторон</strong><br /><br />

          Компания вправе предоставлять Пользователю через Сайт/Приложение
          доступ к информации, материалам, ресурсам и Сервисам, а также
          поддерживать Сервис и инструменты в рабочем состоянии.<br /><br />

          Компания предоставляет информацию в том виде, в каком она получена от
          Биржи и третьих лиц на условиях «как есть» (as is) в соответствии с
          общепринятым в международной практике принципом - в том качестве,
          объеме и с теми функциональными возможностями, которыми обладают
          программные инструменты в составе Сервиса. Компания не дает никаких
          гарантий в отношении:<br /><br />
          безошибочной и бесперебойной работы Сайта/Приложения и/или Сервиса,
          отдельных их компонентов и/или функциональных возможностей,
          совместимости с другими программными продуктами, соответствия Сервиса
          конкретным целям и ожиданиям Пользователя;<br /><br />
          отсутствия рисков возникновения убытков в связи с использованием
          Сайта/Приложения и/или Сервиса, в том числе в результате выявления
          скрытых недостатков программного обеспечения, технических сбоев по не
          зависящим от Компании причинам, виновных действий третьих лиц;<br /><br />
          никаких иных гарантий, прямо не указанных в настоящем Соглашении.<br /><br />

          Компания уведомляет Пользователя, а Пользователь выражает свое
          согласие с тем, что:<br /><br />

          Вся информация по стоимости ценных бумаг, представленная на Сервисе,
          предоставляется с задержкой не менее 15 минут от момента появления
          информации в программно-технических комплексах Биржи.<br /><br />
          Предоставление права пользования Сайтом/Приложением/Сервисом не
          оказывает влияния на финансовые показатели Пользователя. Компания не
          несет ответственности за не достижение Пользователем экономического
          результата, который Пользователь полагает возможным достичь при
          использовании Сайта/Приложения/Сервиса. Инвестирование в ценные бумаги
          сопряжено с повышенным риском, в связи с чем Пользователям необходимо
          провести самостоятельный анализ ситуации и объектов инвестирования
          перед вложением средств.<br /><br />

          В случае нарушения условий настоящего Соглашения, Компания вправе
          приостанавливать, ограничивать или прекращать доступ Пользователя ко
          всем или к любому из разделов или сервисов Сайта/Приложения с
          предварительным уведомлением или без такового.<br /><br />

          Компания вправе использовать персональные данные Пользователей,
          указанные Пользователем при регистрации, в соответствии с п. 6
          настоящего Соглашения.<br /><br />

          Компания имеет право распоряжаться (а также передавать третьим лицам)
          статистической информацией, связанной с функционированием
          Сайта/Приложения, а также информацией Пользователей для обеспечения
          адресного показа рекламной информации различным аудиториям
          Пользователей Сайта/Приложения и третьим лицам.<br /><br />

          Компания вправе отправлять Пользователям по электронной почте
          сообщения, касающиеся использования Сайта/Приложения и/или Сервиса,
          информацию о развитии Сайта/Приложения и его сервисов, рекламировать
          собственную деятельность и услуги, а также отправлять и иные
          сообщения. При этом Компания никогда не будет запрашивать в таких
          письмах подтверждение сведений, содержащих личную информацию.<br /><br />

          Компания сохраняет за собой право в любое время изменять оформление
          Сайта/Приложения/ Сервиса, их содержание, список сервисов, добавлять
          любые дополнительные сервисы (в том числе на платной основе), изменять
          или дополнять используемые скрипты, программное обеспечение и другие
          объекты, используемые или хранящиеся на Сайте/Приложении, любые
          серверные приложения в любое время с предварительным уведомлением или
          без такового.<br /><br />

          Техническая поддержка Пользователей осуществляется Компанией в
          следующем порядке: техническая поддержка в форме электронной
          консультации предоставляется только по официальному запросу
          Пользователя, направленному в службу поддержки с помощью формы
          обратной связи, размещённой на Сайте/Приложении. Консультация
          специалиста может быть предоставлена по следующим вопросам:
          регистрация и проблемы при ее прохождении, функционирование Сервиса и
          его инструментов. Ответ от службы поддержки направляется в разумный
          срок, по электронному адресу, с которого был направлен соответствующий
          запрос. Не предоставляются консультации по вопросам настройки
          оборудования, программного обеспечения или Интернет - доступа
          Пользователя или иных третьих лиц, а также по другим вопросам, не
          имеющим отношения к работе Сайта/Приложения и/ или Сервиса.<br /><br />

          Копания вправе устанавливать дополнительные ограничения на
          использование Сайта/Приложения/Сервиса, а также изменять такие
          ограничения в любое время с предварительным уведомлением или без
          такового.<br /><br />

          <strong>Права и обязанности Пользователя</strong><br /><br />

          Пользователь имеет право бесплатно использовать информацию, материалы,
          контент Сайта/Приложения любыми незапрещёнными настоящим Соглашением и
          действующим законодательством РФ способами в личных целях, не
          сопряжённых с целями получения коммерческой выгоды. Пользователь не
          имеет права использовать полученную на Сервисе информацию для
          дальнейшей её передачи в любом виде и любыми средствами.<br /><br />

          Пользователь обязуется предоставить при регистрации актуальную и
          достоверную информацию, которая может быть запрошена от него при
          Регистрации (Персональные регистрационные данные) и/или в процессе
          использования Сайта/Приложения/Сервиса.<br /><br />

          Пользователь обязуется не предоставлять доступ другим Пользователям к
          Личному кабинету или к отдельной содержащейся на нем информации в
          случае, если это может привести к нарушению законодательства
          Российской Федерации и/или настоящего Соглашения.<br /><br />

          Пользователь обязуется незамедлительно информировать Компанию о
          несанкционированном доступе к Личному кабинету Пользователя и/или о
          несанкционированном доступе и/или использовании Пароля и Логина
          Пользователя.<br /><br />

          Пользователь несет ответственность за хранение Пароля/Логина и
          своевременную их смену в случае утери. Пользователь обязуется
          принимать надлежащие меры для обеспечения сохранности личного Пароля
          для доступа к Сайту/Приложению.<br /><br />

          Пользователь несет полную ответственность за любые действия,
          совершенные Пользователем или по его вине третьими лицами, с
          использованием его Учетной записи, а также за любые последствия,
          которые могло повлечь или повлекло подобное использование.<br /><br />

          Пользователь соглашается с тем, что Компания не гарантирует, что
          информация, контент, материалы, ресурсы и иные материалы будут
          соответствовать требованиям и ожиданиям Пользователя; будут
          предоставляться непрерывно, быстро, надежно и без ошибок; результаты,
          которые могут быть получены с использованием дополнительных сервисов
          Сайта/Приложения и Сервиса, будут точными, надежными и соответствовать
          требованиям и ожиданиям Пользователя, все ошибки в программном коде
          будут исправлены.<br /><br />

          Все информационные ресурсы, размещенные на Сайте/Приложении, имеют
          исключительно информативные цели и не являются публичной офертой к
          купле/продаже каких-либо ценных бумаг или осуществлению любых иных
          инвестиций. Информация, содержащаяся на страницах сайта
          <a href="https://www.ifinik.com">www.ifinik.com</a> или в Приложении,
          была получена из источников, которые Компания считает заслуживающими
          доверия.<br /><br />

          Компания не несет ответственности за любые прямые или непрямые убытки,
          произошедшие из-за использования либо невозможности использования
          дополнительных сервисов Сайта/Приложения и Сервиса,
          несанкционированного доступа к Учётной записи Пользователя.<br /><br />

          Пользователь не имеет права без письменного согласия Компании, Биржи
          и/или третьих лиц осуществлять дальнейшее распространение или
          предоставление полученной информации третьим лицам в любом виде и
          любыми средствами, включая электронные, механические,
          фотокопировальные, записывающие или другие методы копирования и
          передачи информации, её трансляцию, демонстрацию или предоставление
          доступа к такой информации, а также её использование в игровых,
          учебных и иных системах, предусматривающих предоставление и/или
          распространение информации. Пользователь также не имеет права без
          письменного согласия Биржи использовать Биржевую информацию для
          создания производной информации, предназначенной для дальнейшего
          предоставления третьим лицам или публичного распространения.<br /><br />

          Пользователю запрещается подключать и использовать любое программное
          обеспечение, предназначенное для взлома или агрегации личных данных
          других Пользователей, включая логины, пароли и т.  д., а также для
          проведения автоматической массовой рассылки какого бы то ни было
          содержания, использовать любые автоматические или автоматизированные
          средства для сбора информации, размещённой или полученной на
          Сайте/Приложении.<br /><br />

          Пользователю запрещается осуществлять действия, направленные на
          введение Компании, третьих лиц в заблуждение путём присвоения себе
          чужого имени и намеренной публикации, отправки сообщений или другого
          способа использования присвоенного имени противозаконно, для
          умышленного нанесения убытков кому-либо или в иных целях.<br /><br />

          Запрещаются попытки копировать программный код Сайта/Приложения,
          попытки нарушить программный код Сайта/Приложения, иные попытки
          нанести вред программному коду Сайта/Приложения, попытки внедрять
          исполняемый код на стороне Пользователя (клиентские скрипты:
          java-script, visual basic-script и т.п.), любые внедряемые объекты
          (java-апплеты, flash и т.п.), использовать frame и iframe, каскадные
          таблицы стилей, переопределяющие, используемые на Сайте/Приложении, а
          также html-код, нарушающий оригинальный дизайн страницы, или
          совершения иных противозаконных действий (рассылка спама, рассылка
          незаконных материалов и прочее). Компания вправе отказать Пользователю
          в использовании Сайта/Приложения/Сервиса, а также предпринять иные
          возможные меры.<br /><br />

          Пользователь признает и соглашается, что IP-адрес персональной ЭВМ
          Пользователя или иного устройства, а также другая доступная по
          HTTP/HTTPS протоколу информация фиксируется техническими средствами
          Компании, и в случае совершения незаконных действий, в том числе
          действий, нарушающих интеллектуальные права третьих лиц, ответственным
          за указанные незаконные действия признается владелец персональной ЭВМ
          или иного устройства, определяемого техническими средствами
          Компании.<br /><br />

          <strong>Регистрация Пользователя</strong><br /><br />

          Регистрируясь на Сайте/Приложении/в ходе использования Сервиса,
          Пользователь принимает условия настоящего Соглашения и подтверждает,
          что обладает полной дееспособностью, согласно законодательству той
          страны, гражданином которой он является. Пользователь также обязуется
          предоставить правдивую и полную информацию о себе по всем вопросам,
          представленным в форме регистрации, и поддерживать эту информацию в
          актуальном состоянии.<br /><br />

          Компания оставляет за собой право отказать Пользователю в регистрации
          и/или доступе к Сервисам, в случае возникновения (наличия) оснований
          полагать, что предоставленная Пользователем информация является
          неверной или искаженной.<br /><br />

          Пользователь несёт ответственность за безопасность своего уникального
          имени пользователя, присваиваемого ему при регистрации, и выбранного
          им пароля, которые ООО «АйФиник» используются для доступа к
          Сайту/Приложению/Сервисам, а также за все изменения и/или дополнения,
          внесённые под его Учетной записью пользователя.<br /><br />

          <strong>Персональные данные Пользователя</strong><br /><br />

          Пользователь дает Компании свое согласие на обработку его персональных
          данных, указываемых Пользователем в окнах сбора информации
          Сайта/Приложения в ходе прохождения процедуры регистрации на
          Сайте/Приложении, а также любой иной информации, предоставляемой
          Пользователем в процессе использования Сайта/Приложения и/или
          Сервиса.<br /><br />

          Все вопросы, связанные с регулированием отношений в области обработки
          персональных данных и конфиденциальности персональной информации,
          регулируются положениями Политики обработки персональных данных,
          расположенной на Сайте/Приложении Компании.<br /><br />

          <strong
            >Ответственность за сторонний контент и сайты третьих лиц</strong
          ><br /><br />

          Сайт/Приложение/Сервис может содержать рекламу и ссылки на другие
          ресурсы/источники в сети Интернет (сайты третьих лиц) так же, как и
          статьи, фотографии, иллюстрации, графические изображения, музыку,
          звуки, видео, информацию, приложения, программы и другой контент,
          принадлежащий или исходящий от третьих лиц (Контент третьих лиц),
          являющийся результатом интеллектуальной деятельности и охраняемых в
          соответствии с законодательством Российской Федерации.<br /><br />

          Указанные третьи лица и их Контент не проверяются Компанией на
          соответствие тем или иным требованиям (достоверности, полноты,
          добросовестности и т.п.). Компания не несёт ответственность за любую
          информацию, размещённую на сайтах третьих лиц, к которым Пользователь
          получает доступ через Сайт/Приложение или через Контент третьих лиц,
          включая, в том числе, любые мнения или утверждения, выраженные на
          сайтах третьих лиц или в их Контенте.<br /><br />

          В случае наличия претензий относительно Контента, не принадлежащего
          Компании, Пользователь вправе обратиться непосредственно к
          собственнику оспариваемого Контента для урегулирования возникшего
          спора.<br /><br />

          Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого
          или некоммерческого характера, размещённая на
          Сайте/Приложении/Сервисе, не является одобрением или рекомендацией
          данных продуктов (услуг) со стороны Компании и указанные лица не несут
          ответственность за полноту и достоверность информации в статьях и
          рекламе, размещённых на Сайте/Приложении/Сервисе.<br /><br />

          Если Пользователь решил покинуть Сайт/Приложение/Сервис и перейти на
          сайты третьих лиц, он делает это, осознавая риск и с этого момента
          настоящие Соглашение более не распространяются на Пользователя. При
          дальнейших действиях Пользователю стоит руководствоваться применимыми
          нормами и политикой, в том числе деловыми обычаями тех лиц, чей
          Контент он собирается использовать.<br /><br />

          <strong>Право интеллектуальной собственности</strong><br /><br />

          Все размещенные на Сайте/Приложении/Сервисе товарные знаки, логотипы,
          коммерческие наименования, иные способы индивидуализации юридических
          лиц, любые тексты, изображения, иные объекты авторского права,
          размещённые на Сайте/Приложении/Сервисе, являются собственностью
          Сайта/Приложения/Сервиса или иных правообладателей, права на которые
          охраняются законом. Запрещается использование указанных объектов без
          согласия правообладателей. Пользователю, нарушившему запрет,
          установленный выше, может быть отказано в использовании
          Сайта/Приложения/Сервиса. Незаконное использование объектов
          интеллектуальной собственности влечёт гражданскую, административную и
          уголовную ответственность. Пользователь, нарушивший указанное
          положение, обязуется возместить в полном объеме ущерб, нанесенный
          такими действиями.<br /><br />

          Вся информация, материалы, контент размещенные на
          Сайте/Приложении/Сервисе не являющиеся собственностью Компании,
          являются интеллектуальной собственностью Биржи, партнеров или
          соответствующих владельцев и поставщиков данных, а также третьих лиц.
          Пользователю запрещается передавать, распространять или в любом другом
          виде (включая публикацию в Интернете) предоставлять доступ к этим
          данным третьим лицам без предварительного письменного согласия
          правообладателя. Использование информации, материалов, услуг, Сервисов
          и т.д., предоставляемых на Сайте/Приложении, с нарушением любого из
          условий настоящего Соглашения, а также нарушением прав, в том числе
          прав интеллектуальной собственности: патентных, авторских и смежных
          прав Компании, Биржи, их партнеров и иных третьих лиц, строго
          запрещается и влечет за собой привлечение к ответственности,
          предусмотренной действующим законодательством Российской Федерации.<br /><br />

          Сервис, его составляющие и отдельные компоненты (в том числе, но не
          ограничиваясь: программы для ЭВМ, базы данных, коды, лежащие в их
          основе ноу-хау, алгоритмы, элементы дизайна, шрифты, логотипы, а также
          текстовые, графические и иные материалы) являются объектами
          интеллектуальной собственности, охраняемыми в соответствии с
          действующим законодательством, любое использование которых допускается
          только на основании письменного разрешения Компании. Указанные
          компоненты Сервиса запрещается использовать в составе других сайтов,
          программных продуктов, поисковых систем, других произведений и
          объектов смежных прав, копировать или иным способом использовать с
          целью извлечения материальной выгоды. Незаконное использование
          указанных объектов интеллектуальной собственности может повлечь
          гражданскую, административную и (или) уголовную ответственность.<br /><br />

          <strong>Направление жалоб. Рассмотрение споров.</strong><br /><br />

          Настоящее Соглашение регулируется и толкуется в соответствии с
          законодательством Российской Федерации. Вопросы, не урегулированные
          настоящим Соглашением, подлежат разрешению в соответствии с
          законодательством Российской Федерации. Все возможные споры,
          вытекающие из отношений, регулируемых настоящим Соглашением,
          разрешаются в порядке, установленном действующим законодательством
          Российской Федерации, по нормам российского права.<br /><br />

          Пользователь, который полагает, что какие‐либо информационные
          материалы, размещенные на Сайте/Приложении, нарушают его права и
          законные интересы, должен направить соответствующую жалобу на
          электронный адрес Компании через форму обратной связи.<br /><br />

          Жалоба должна содержать следующие сведения: имя, фамилию и отчество
          заявителя, подробное описание предполагаемого нарушения его прав;
          контактный телефон для обратной связи. Жалобы, не соответствующие
          указанным требованиям, Компанией не рассматриваются.<br /><br />

          Компания рассматривает жалобу и направляет ответ на адрес электронной
          почты Пользователя в течение 15 (Пятнадцати) календарных дней с
          момента поступления соответствующей жалобы по форме обратной связи. В
          случае неполучения ответа от Компании в течение указанного срока,
          Пользователь вправе обратиться за защитой своих прав в суд, по месту
          нахождения ответчика.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { I18N } from "../config";

export default {
  name: "privacypolicy",
  scrollToTop: true,
  computed: {
    policyData() {
      return I18N.vueI18n.messages[this.$i18n.locale].policy;
    }
  }
};
</script>

<style lang="scss" scoped>
.privacy-policy {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $spacer;
  margin-bottom: $spacer * 5;

  &__main-caption {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    box-shadow: inset 0 -1px 0 $primary-bg;
    width: 100%;
    padding: $spacer * 6;
  }

  &__text-container {
    padding: $spacer * 6;
  }
  &__list-item {
    font-size: $font-size-lg;
    color: $text-color;
    list-style: none;
  }

  &__text {
    font-size: $font-size-lg;
    color: $text-color;
  }

  &__caption {
    font-size: $font-size-lg;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacer * 5;
  }
}
</style>
