<template>
  <div>
    <FirstScreen />
    <SecondScreen />
    <ThirdScreen />
    <FourthScreen />
    <FifthScreen />
    <SixthScreen />
    <SeventhScreen />
  </div>
</template>

<script>
import FirstScreen from "~/components/TelegramLanding/FirstScreen.vue";
import SecondScreen from "~/components/TelegramLanding/SecondScreen.vue";
import ThirdScreen from "~/components/TelegramLanding/ThirdScreen.vue";
import FourthScreen from "~/components/TelegramLanding/FourthScreen.vue";
import FifthScreen from "~/components/TelegramLanding/FifthScreen.vue";
import SixthScreen from "~/components/TelegramLanding/SixthScreen.vue";
import SeventhScreen from "~/components/TelegramLanding/SeventhScreen.vue";
export default {
  data() {
    return {
      labs: '&#8381;'
    }
  },
  head() {
    return {
      title: "Новости фондового рынка: телеграмм канал про фондовый рынок",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Подписывайтесь на наш канал в телеграмм и будьте в курсе всех последних новостей и прогнозов фондового рынка России, США и других стран в реальном времени."
        }
      ]
    };
  },
  layout: "lp",
  components: {
    FirstScreen,
    SecondScreen,
    ThirdScreen,
    FourthScreen,
    FifthScreen,
    SixthScreen,
    SeventhScreen
  }
};
</script>

<style lang="scss" scoped></style>
