<template lang="html">
    <RegisterPhone :isSignin="true"></RegisterPhone>
</template>

<script>
import RegisterPhone from './RegisterPhone'

export default {
    components: {
        RegisterPhone
    }
}
</script>
