<template lang="html">
  <div class="auth-email">
    <form
      class="auth-email__form"
      method="post"
      v-on:submit.prevent="login"
      v-if="!isReset"
    >
      <input
        type="text"
        name="email"
        v-model.trim="email"
        placeholder="Email"
        :class="{
          invalid:
            ($v.email.$dirty && !$v.email.required) ||
            ($v.email.$dirty && !$v.email.email)
        }"
      />
      <input
        type="password"
        name="password"
        minlength="6"
        v-model.trim="password"
        v-bind:placeholder="$t('Auth.pswdPlaceholder')"
        :class="{
          invalid:
            ($v.password.$dirty && !$v.password.required) ||
            ($v.password.$dirty && !$v.password.minLength)
        }"
      />
      <div class="auth-email__errors-block">
        <span class="auth-email__invalid" v-if="authErrCode">
          {{errMsg[authErrCode][lang].email }}
        </span>
        <span
          class="auth-email__invalid"
          v-if="$v.email.$dirty && !$v.email.required"
        >
          {{ $t("Errors.emailRequired") }}
        </span>
        <span
          class="auth-email__invalid"
          v-else-if="$v.email.$dirty && !$v.email.email"
        >
          {{ $t("Errors.emailIncorect") }}
        </span>
        <span
          class="auth-email__invalid"
          v-else-if="$v.password.$dirty && !$v.password.required"
        >
          {{ $t("Errors.pswdRequired") }}
        </span>
        <span
          class="auth-email__invalid"
          v-else-if="$v.password.$dirty && !$v.password.minLength"
        >
          {{ $t("Errors.pswdLength") }}
        </span>
        <a href="#" class="link link--small" @click="showReset">{{
          $t("Auth.labelPswd")
        }}</a>
      </div>
      <button type="submit" name="button" class="btn btn--big">
        {{ $t("Auth.button") }}
      </button>
    </form>
    <ResetPswd v-if="isReset"></ResetPswd>
  </div>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";
import ResetPswd from "./ResetPswd";
import authErrors from "~/assets/local/additional/authErrors";

export default {
  data() {
    return {
      errMsg: authErrors,
      email: "",
      password: "",
      isReset: false
    };
  },
  components: {
    ResetPswd
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    authErrCode() {
      return this.$store.state.modules.auth.authErrCode;
    }
  },
  methods: {
    showReset() {
      this.isReset = true;
    },
    async login() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      const formData = {
        acc_type: "email",
        login: this.email,
        pass: this.password
      };
      try {
        await this.$store.dispatch("modules/auth/login", formData);
      } catch (e) {}
    }
  }
};
</script>

<style lang="scss" scoped>
.auth-email {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__invalid {
    color: $danger-color;
    font-size: $font-size-xs;
    text-align: left;
    width: 100%;
  }

  &__errors-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: $spacer * 5 0 0;
  }
}
</style>
