<template lang="html">
  <GoogleLogin :params="params" :onSuccess="onSignIn" class="btn btn--outline">
    <img src="~/assets/icons/icon-google.svg?inline" />
    Google
  </GoogleLogin>
</template>

<script>
import GoogleLogin from "vue-google-login";
export default {
  data() {
    return {
      params: {
        client_id:
          "813798596592-645fa2v6uu7m71cqk3902e9ciaqk629t.apps.googleusercontent.com"
      }
    };
  },
  components: {
    GoogleLogin
  },
  methods: {
    onSignIn(user) {
      const id_token = user.getAuthResponse().id_token;
      this.$api
        .post("/auth/login", { acc_type: "go", login: id_token }, { auth: true })
        .then(res => {
            this.$store.dispatch("modules/modal/changePopup", false);
            this.$store.dispatch("getCurrentUser");
        })
        .catch(err => {
          console.log(err);
        });
    },
    }
};
</script>

<style lang="scss" scoped>
.btn {
  text-transform: uppercase;
  font-weight: bold;
  img {
    margin-right: 14px;
    width: 24px !important;
    height: 24px !important;
  }
}
</style>

<style>
.abcRioButton {
  width: 160px !important;
  height: 50px !important;
  background: #ffffff;
  box-shadow: none !important;
  border: 1px solid #eeecf7;
  border-radius: 2px;
}
.abcRioButtonIcon {
  padding-left: 0 !important;
  padding-top: 13px !important;
}
.abcRioButtonContentWrapper {
  padding: 0 20px;
}
.abcRioButtonSvg {
  width: 24px !important;
  height: 24px !important;
}
.abcRioButtonContents:after {
  content: "Google";
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  top: 17px;
  left: 60px;
  position: absolute;
  text-transform: uppercase;

  color: #000000;
}
.abcRioButtonContents span {
  display: none;
}
</style>
