<template lang="html">
    <transition name="slide-fade">
        <div class="auth" v-if="isShow">
            <div class="auth__wrap js-auth-wrap">
                <div class="auth__inner" v-if="isSignIn">
                    <div class="auth__header">
                        <span class="auth__caption">{{$t('Auth.caption')}}</span>
                        <span class="close" @click="closePopup"></span>
                    </div>
                    <span class="auth__text">{{$t('Auth.text')}}</span>
                    <div class="auth__forms">
                        <div class="auth__tab-btns">
                            <a
                                v-for="tab in tabs"
                                :key="tab.name"
                                :class="['auth__tab', { active: currentTab === tab.name }]"
                                @click="selectTab(tab.name)">
                                {{ tab.text }}
                            </a>
                        </div>
                        <div class="auth__tab-wrap" v-bind:is="currentTabComponent">

                        </div>
                    </div>
                    <span class="auth__label" @click="toogleAuth">{{$t('Auth.label')}}<a href="#" class="auth__link">{{$t('Auth.labelLink')}}</a></span>
                    <div class="auth__reserve">
                        <span class="auth__label">{{$t('Auth.alternative')}}:</span>
                        <div class="auth__group">
                            <AuthFacebook></AuthFacebook>
                            <AuthGoogle></AuthGoogle>
                        </div>
                    </div>
                </div>


                <div class="auth__inner" v-if="isRegister">
                    <div class="auth__header">
                        <span class="auth__caption">{{$t('Register.caption')}}</span>
                        <span class="close" @click="closePopup"></span>
                    </div>
                    <span class="auth__text">{{$t('Register.text')}}</span>
                    <div class="auth__forms">
                        <div class="auth__tab-btns">
                            <a
                                v-for="tab in tabs"
                                v-bind:key="tab.name"
                                v-bind:class="['auth__tab', { active: currentTab === tab.name }]"
                                v-on:click="selectTab(tab.name)">
                                {{ tab.text }}
                            </a>
                        </div>
                        <div class="auth__tab-wrap" v-bind:is="currentTabComponentReg">

                        </div>
                    </div>
                    <span class="auth__label" @click="toogleAuth">{{$t('Register.label')}}<a href="#" class="auth__link">{{$t('Register.labelLink')}}</a></span>
                     <div class="auth__reserve">
                        <span class="auth__label">{{$t('Register.alternative')}}:</span>
                        <div class="auth__group">
                            <AuthFacebook></AuthFacebook>
                            <AuthGoogle></AuthGoogle>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </transition>
</template>

<script>
import AuthEmail from './AuthEmail'
import AuthPhone from './AuthPhone'
import RegisterEmail from './RegisterEmail'
import RegisterPhone from './RegisterPhone'
import AuthGoogle from './AuthGoogle'
import AuthFacebook from './AuthFacebook'


import  { I18N }  from '../../config';
import {mapState, mapGetters} from 'vuex'

export default {
    components: {
        AuthEmail,
        AuthPhone,
        RegisterEmail,
        RegisterPhone,
        AuthGoogle,
        AuthFacebook
    },
    data() {
        return {
            tabs:'',
            currentTab: 'Phone',
            isActiveMenu: false,
            isShow: '',
            isSignIn: false,
            isRegister: false
        }
    },
    methods: {
        selectTab(selectedTab) {
            this.$store.commit("modules/auth/setErrorCode", null );
            this.currentTab = selectedTab;
        },
        closePopup() {
            this.$store.commit("modules/auth/setErrorCode", null );
            this.$store.dispatch('modules/modal/changePopup', false);
        },
        getTabData() {
            this.tabs = this.tabsData;
        },
        toogleAuth() {
            this.isSignIn = !this.isSignIn;
            this.isRegister = !this.isSignIn;
        }
    },
    computed: {
        currentTabComponent() {
            return "Auth" + this.currentTab;
        },
        currentTabComponentReg() {
            return "Register" + this.currentTab;
        },
        tabsData() {
            return I18N.vueI18n.messages[this.$i18n.locale].Auth.tabs;
        },
        modalState() {
            return this.$store.state.modules.modal.modalState;
        },
        formType() {
            return this.$store.state.modules.modal.formType;
        }
    },
    mounted() {
        this.getTabData();
    },
    watch: {
        tabsData(langData) {
            this.tabs = langData;
        },
        modalState(state) {
            this.isShow = state;
            document.querySelector('.js-footer').classList.toggle('is-active')
            setTimeout(() => {
                const authWrap = document.querySelector('.js-auth-wrap');
                document.addEventListener('click', (e) => {
                    if(e.target === authWrap){
                        this.closePopup();
                    }
                })
            }, 1200)
        },
        formType(state) {
            if(state === 'signIn') {
                this.isRegister = false;
                this.isSignIn = true;
            }
            if(state === 'register') {
                this.isSignIn = false;
                this.isRegister = true;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .auth {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        // overflow-y: auto;

        &__wrap {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(6px);
            background: rgba($white, 0.6);
            overflow-y: auto;
        }

        &__inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            width: 468px;
            max-width: 100%;
            padding: $spacer * 12 $spacer * 6 $spacer * 10;
            color: $text-color;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 4px 4px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px $dark-bg;

            @media #{$mobile} {
                 margin: 0;
                 top: 0;
                 transform: translate(-50%, 0);
                 position: fixed;
            }
        }

        &__header {
            margin: 0 0 $spacer *2;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__caption {
            font-size: $font-size-xxl;
            line-height: $line-height-xs;
            font-weight: bold;
        }

        &__text {
            font-size: $font-size-md;
            line-height: $line-height-xl;
            margin: 0 0 $spacer * 2;
        }

        &__forms {
            margin: 0 0 $spacer * 5;
        }

        &__label {
            color: $text-color-pale;
            font-size: $font-size-md;
            line-height: $line-height-xs;
            font-weight: 600;
            text-align: center;
            margin: 0 0 $spacer *2;
        }

        &__reserve {
            margin: $spacer * 10 0 0;
            display: flex;
            flex-direction: column;
        }

        &__group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }

        .btn {
            width: 160px;
            height: 50px;
            margin: 0 $spacer * 2  $spacer * 2;
        }

        &__link {
            color: $primary-light-color;
            text-decoration: none;
            transition: color $delay ease-in-out;

            &:hover {
                color: $primary-color;
            }
        }

        &__tab-btns {
            display: flex;
            box-shadow: inset 0px -1px 0px $primary-bg;
            margin: 0 0 $spacer * 6;
        }

        &__tab {
            font-size: $font-size-md;
            line-height: $line-height-xxs;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            padding: $spacer * 4 0;
            margin-right: $spacer * 8;

            &:last-child {
                margin: 0;
            }

            &.active::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                bottom: 0;
                background: $primary-light-color;
            }
        }
    }
</style>
