<template lang="html">
  <button
    type="button"
    name="button"
    class="btn btn--outline"
    @click="signInFacebook"
  >
    <img src="~/assets/icons/icon-fb.svg?inline" alt="" />
    Facebook
  </button>
</template>

<script>
export default {
  methods: {
    async signInFacebook() {
      FB.getLoginStatus(response => {
        FB.login(
          response => {
            const token = response.authResponse.accessToken;
            this.$api
              .post(
                "/auth/login",
                { acc_type: "fb", login: token },
                { auth: true }
              )
              .then(res => {
                this.$store.dispatch("modules/modal/changePopup", false);
                this.$store.dispatch("getCurrentUser");
              })
              .catch(err => {
                console.log(err);
              });
          },
          { scope: "email,public_profile", return_scopes: true }
        );
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.btn {
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 14px;
  background: $deep-blue;
  color: $white;

  &:hover {
    background: $primary-color;
  }

  img {
    margin-right: 20px;
  }
}
</style>
