<template lang="html">
  <div class="auth-phone">
    <form class="auth-phone__form" method="post" v-on:submit.prevent="sendSms">
      <div class="js-input-phone-wrap" @click="onShowInvalid">
        <VuePhoneNumberInput
          v-model="yourValue"
          no-flags
          show-code-on-list
          :error="hasErrorActive"
          @update="onUpdate"
        ></VuePhoneNumberInput>
      </div>
      <span class="auth-phone__invalid" v-if="!results.isValid && isInvalid">
        {{ $t("Errors.phoneInvalid") }}
      </span>
      <div id="recaptcha-container" style="display: none;"></div>
      <span class="auth-phone__success" v-if="isSmsSent">{{
        $t("Register.successSms")
      }}</span>
      <button
        type="submit"
        name="button"
        class="btn btn--big btn--success"
        v-bind:class="{ disabled: !results.isValid || blockedBtn }"
      >
        {{ $t("Register.sms") }}
      </button>
    </form>
    <form class="auth-phone__form" v-on:submit.prevent="register">
      <input
        type="text"
        autocomplete="phone"
        name="code"
        @focus="onFocusCodeInput"
        v-model.trim="code"
        v-bind:placeholder="$t('Register.smsPlaceholder')"
        class="input-code js-input-code"
        v-bind:class="{ disabled: !codeInput }"
      />

      <!-- <span
        class="auth-phone__invalid"
        v-if="
          ($v.code.$dirty && !$v.code.required) ||
            ($v.code.$dirty && !$v.code.minLength) ||
            ($v.code.$dirty && !$v.code.maxLength)
        "
      >
        {{ $t("Errors.codeError") }}
      </span> -->
      <span class="auth-phone__invalid" v-if="authErrCode === '403007'">
        {{ errMsg[authErrCode][lang] }}
        <button
          @click="showModal('signIn')"
          class="auth-phone__invalid"
          style="text-decoration: underline;"
        >
          {{ $t("Auth.signinLink") }}
        </button>
      </span>
      <span class="auth-phone__invalid" v-if="authErrCode === '403012'">
        {{ errMsg[authErrCode][lang] }}
      </span>
      <span class="auth-phone__invalid" v-if="authErrCode === '403004'">
        {{ errMsg[authErrCode][lang].phone }}
      </span>
      
      <span class="auth-phone__label">
        {{ $t("Register.linkGroup") }}
        <a href="#">{{ $t("Register.linkTerms") }}</a>
        {{ $t("Register.linkGroup2") }}
        <a href="#">{{ $t("Register.linkPrivacy") }}</a>
      </span>
      <button
        v-bind:class="{ disabled: $v.code.$invalid }"
        type="submit"
        name="button"
        class="btn btn--big"
      >
        {{ $t("Auth.button") }}
      </button>
    </form>
  </div>
</template>

<script>
import VuePhoneNumberInput from "vue-phone-number-input";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import authErrors from "~/assets/local/additional/authErrors";
import { I18N } from "../../config";

export default {
  data() {
    return {
      errMsg: authErrors,
      code: "",
      password: "",
      phone: "",
      yourValue: "",
      translations: {
        countrySelectorLabel: false
      },
      hasErrorActive: false,
      results: "",
      isInvalid: false,
      codeInput: false,
      blockedBtn: false,
      params: {
        show: true,
        event: ""
      }
    };
  },
  validations: {
    code: { minLength: minLength(4), maxLength: maxLength(4) }
  },
  props: {
    isSignin: Boolean
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    isSmsSent() {
      return this.$store.state.modules.auth.isSendingSmsCode;
    },
    authErrCode() {
      return this.$store.state.modules.auth.authErrCode;
    }
  },
  components: {
    VuePhoneNumberInput
  },
  mounted() {
    setTimeout(() => {
      this.setPlaceholder();
    }, 100);
  },
  methods: {
    onFocusCodeInput() {
      this.$store.commit("modules/auth/changeSendingCodeStatus", {
        type: "phone",
        status: false
      });
    },
    showModal(event) {
      this.params.event = event;
      this.$store.commit("modules/auth/setErrorCode", null);
      this.$store.dispatch("modules/modal/changePopup", this.params);
    },
    setPlaceholder() {
      const phoneInput = document.querySelector(
        ".js-input-phone-wrap .input-tel__input"
      );
      const currentLang = document.querySelector(".js-lang-btn");
      if (currentLang.innerText === "Русский") {
        phoneInput.setAttribute("placeholder", "Телефон");
      } else {
        phoneInput.setAttribute("placeholder", "Phone number");
      }
    },
    onUpdate(payload) {
      this.results = payload;
    },
    onShowInvalid(event) {
      this.isInvalid = true;
    },
    async sendSms() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      let formData;
      this.phone =
        this.results.countryCallingCode + this.results.nationalNumber;
      formData = {
        acc_type: "phone",
        login: this.phone
      };

      try {
        if (this.isSignin) {
          await this.$store.dispatch("modules/auth/login", formData);
          this.codeInput = true;
        } else {
          await this.$store.dispatch("modules/auth/register", formData);
          this.codeInput = true;
        }
      } catch (e) {}
    },
    async register() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      let formData = {
        acc_type: "phone",
        login: this.phone,
        code: this.code
      };
      try {
        if (this.isSignin) {
          await this.$store.dispatch("modules/auth/login", formData);
          this.codeInput = true;
        } else {
          await this.$store.dispatch("modules/auth/register", formData);
          this.codeInput = true;
        }
      } catch (e) {}
    }
  }
};
</script>

<style lang="scss" scoped>
.auth-phone {
  &__form {
    margin: 0 0 $spacer * 2;
    &:last-child {
      margin: 0;
      .btn {
        margin: $spacer * 3 0 0;
      }
    }
  }
  &__label {
    color: $text-color-pale;
    font-size: $font-size-md;
    line-height: $line-height-xs;
    text-align: center;
    margin: $spacer * 3 0 $spacer * 2;
    display: block;
    a {
      color: $primary-light-color;
      text-decoration: none;
      font-weight: 600;
      transition: color $delay ease-in-out;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__invalid {
    color: $danger-color;
    font-size: $font-size-xs;
    text-align: left;
    width: 100%;
    margin: 0 0 $spacer * 2;
    display: block;
  }
  &__success {
    color: $succes-color;
    font-size: $font-size-xs;
    text-align: left;
    width: 100%;
    margin: 0 0 $spacer * 2;
    display: block;
  }
  .input-code {
    border-color: $succes-color;
    color: $text-color;
    font-weight: bold;
    &.disabled {
      font-weight: 400;
      border-color: $disabled-color;
    }
  }
}
</style>
