<template lang="html">
  <div class="auth-email">
    <form
      class="auth-email__form"
      action="index.html"
      method="post"
      @submit.prevent="registerUser"
    >
      <input
        v-if="!isSendingCode"
        type="text"
        name="email"
        v-model.trim="email"
        placeholder="Email"
        :class="{
          invalid:
            ($v.email.$dirty && !$v.email.required) ||
            ($v.email.$dirty && !$v.email.email)
        }"
      />
      <input
        v-if="!isSendingCode"
        type="password"
        name="password"
        minlength="6"
        v-model.trim="password"
        v-bind:placeholder="$t('Register.pswdPlaceholder')"
        :class="{
          invalid:
            ($v.password.$dirty && !$v.password.required) ||
            ($v.password.$dirty && !$v.password.minLength)
        }"
      />
      <input
        v-if="isSendingCode"
        type="tel"
        name="code"
        maxlength="6"
        v-model.trim="code"
        v-bind:placeholder="$t('Register.enterCode')"
      />
      <span
        class="auth-email__invalid"
        v-if="$v.email.$dirty && !$v.email.required"
      >
        {{ $t("Errors.emailRequired") }}
      </span>
      <span
        class="auth-email__invalid"
        v-else-if="$v.email.$dirty && !$v.email.email"
      >
        {{ $t("Errors.emailIncorect") }}
      </span>
      <span
        class="auth-email__invalid"
        v-else-if="$v.password.$dirty && !$v.password.required"
      >
        {{ $t("Errors.pswdRequired") }}
      </span>
      <span
        class="auth-email__invalid"
        v-else-if="$v.password.$dirty && !$v.password.minLength"
      >
        {{ $t("Errors.pswdLength") }}
      </span>
      <span class="auth-phone__invalid" v-if="authErrCode === '403012'">
        {{ errMsg[authErrCode][lang] }}
      </span>
      <span class="auth-email__invalid" v-if="authErrCode">
        {{ errMsg[authErrCode][lang] }}
        <button
          @click="showModal('signIn')"
          class="auth-email__invalid"
          style="text-decoration: underline;"
        >
          {{ $t("Auth.signinLink") }}
        </button>
      </span>
      <span class="auth-email__label" v-if="!isSendingCode">
        {{ $t("Register.linkGroup") }}
        <a href="#">{{ $t("Register.linkTerms") }}</a>
        {{ $t("Register.linkGroup2") }}
        <a href="#">{{ $t("Register.linkPrivacy") }}</a>
      </span>
      <button
        type="submit"
        name="button"
        class="btn btn--big"
        :class="{ 'marg-top': isSendingCode }"
      >
        {{ $t("Register.button") }}
      </button>
    </form>
  </div>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";
import authErrors from '~/assets/local/additional/authErrors';

export default {
  data() {
    return {
      errMsg: authErrors,
      email: "",
      password: "",
      code: "",
      params: {
        show: true,
        event: ""
      }
    };
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    isSendingCode() {
      return this.$store.state.modules.auth.isSendingEmailCode;
    },
    authErrCode() {
      return this.$store.state.modules.auth.authErrCode;
    }
  },
  methods: {
    showModal(event) {
      this.params.event = event;
      this.$store.commit("modules/auth/setErrorCode", null);
      this.$store.dispatch("modules/modal/changePopup", this.params);
    },
    async registerUser() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      let formData;
      if (this.code) {
        formData = {
          acc_type: "email",
          login: this.email,
          pass: this.password,
          code: this.code
        };
      } else {
        formData = {
          acc_type: "email",
          login: this.email,
          pass: this.password
        };
      }
      try {
        await this.$store.dispatch("modules/auth/register", formData);
      } catch (e) {}
    }
  }
};
</script>

<style lang="scss" scoped>
.auth-email {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__label {
    color: $text-color-pale;
    font-size: $font-size-md;
    line-height: $line-height-xs;
    text-align: center;
    margin: $spacer * 2 0 0 -$spacer;
    display: block;
    width: 100%;

    a {
      color: $primary-light-color;
      text-decoration: none;
      font-weight: 600;
      transition: color $delay ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__invalid {
    color: $danger-color;
    font-size: $font-size-xs;
    text-align: left;
    width: 100%;
  }

  .btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: $spacer * 5 0 0;
  }
  .marg-top {
    margin-top: 0;
  }
}
</style>
