<template lang="html">
  <div class="auth-reset">
    <span v-if="!isSendingCode" class="auth-reset__caption">{{ $t("Reset.caption") }}</span>
    <span v-if="isSendingCode" class="auth-reset__caption">{{ $t("Reset.captionChange") }}</span>
    <form
      v-if="!isSendingCode"
      class="auth-reset__form"
      v-on:submit.prevent="resetPassword"
    >
      <input
        type="text"
        name="email"
        v-model.trim="email"
        placeholder="Email"
        :class="{
          invalid:
            ($v.email.$dirty && !$v.email.required) ||
            ($v.email.$dirty && !$v.email.email)
        }"
      />
      <span
        class="auth-reset__invalid"
        v-if="$v.email.$dirty && !$v.email.required"
      >
        {{ $t("Errors.emailRequired") }}
      </span>
      <span
        class="auth-reset__invalid"
        v-else-if="$v.email.$dirty && !$v.email.email"
      >
        {{ $t("Errors.emailIncorect") }}
      </span>
      <button type="submit" name="button" class="btn btn--big">
        {{ $t("Reset.button") }}
      </button>
      <span class="auth-reset__msg" v-if="resetMsg">{{
        $t("Reset.resetMsg")
      }}</span>
    </form>
    <form class="auth-reset__form" v-on:submit.prevent="changePassword" v-if="isSendingCode">
      <input
        type="password"
        name="password"
        v-model.trim="password"
        v-bind:placeholder="$t('Auth.newPswd')"
        :class="{
          invalid:
            ($v.password.$dirty && !$v.password.required) ||
            ($v.password.$dirty && !$v.password.minLength)
        }"
      />
      <input
        type="tel"
        name="code"
        maxlength="6"
        minlength="6"
        v-model.trim="code"
        v-bind:placeholder="$t('Register.enterCode')"
      />
      <span
        class="auth-reset__invalid"
        v-if="$v.password.$dirty && !$v.password.required"
      >
        {{ $t("Errors.pswdRequired") }}
      </span>
      <span
        class="auth-reset__invalid"
        v-else-if="$v.password.$dirty && !$v.password.minLength"
      >
        {{ $t("Errors.pswdLength") }}
      </span>
      <button type="submit" name="button" class="btn btn--big">
       {{ $t("Reset.changePass") }} 
      </button>
      <span class="auth-reset__msg" v-if="resetMsg">{{
        $t("Reset.resetMsg")
      }}</span>
    </form>
  </div>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      email: "",
      password: "",
      code: "",
      resetMsg: false
    };
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  methods: {
    async resetPassword() {
      console.log("reset");
      if (this.$v.email.$error) {
        this.$v.$touch();
        return;
      }
      await this.$store.dispatch("modules/auth/resetPassword", this.email);
    },
    async changePassword() {
      console.log("change");
      if (this.$v.password.$error) {
        console.log(this.$v.$invalid);
        this.$v.$touch();
        return;
      }
      const data = {
        login: this.email,
        pass: this.password,
        code: this.code
      };
      await this.$store.dispatch("modules/auth/changePassword", data);
    }
  },
  computed: {
    resetStatus() {
      return this.$store.state.modules.auth.resetPassword;
    },
    isSendingCode() {
      return this.$store.state.modules.auth.isSendingEmailCode;
    }
  },
  watch: {
    resetStatus(event) {
      this.resetMsg = event;
    }
  }
};
</script>

<style lang="scss" scoped>
.auth-reset {
  &__caption {
    font-size: $font-size-lg;
    font-weight: 600;
    margin: 0 0 $spacer * 5;
    display: block;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__invalid {
    color: $danger-color;
    font-size: $font-size-xs;
    text-align: left;
    width: 100%;
    margin: 0 0 $spacer * 2;
  }

  &__msg {
    font-size: $font-size-xs;
    width: 100%;
    margin: $spacer * 2 0;
    color: $succes-color;
  }
}
</style>
