<template lang="html">
  <div class="">
    <CompanyInfo :infoCard="itemCompany" :params="params"></CompanyInfo>
    <MenuSecondary :menuLink="params" :financialLink="itemCompany.company.has_report" :newsLink="news.length"></MenuSecondary>
    <div class="container">
      <div class="row" v-if="pageType === 'summary'">
        <div class="col-xl-8 col-md-12">
          <Chart :dataProfile="itemCompany" :params="params"></Chart>
          <Profile :dataProfile="itemCompany" v-if="!isTabletLg"></Profile>
        </div>
        <div class="col-xl-4 col-md-12  pl-xl-1 pl-xs-0">
          <MarketData :infoCard="itemCompany"></MarketData>
          <Profile :dataProfile="itemCompany" v-if="isTabletLg"></Profile>
          <div v-if="news.length > 1 && !isTabletLg" :key="item" v-for="item in 2" das>
                  <NewsCard :news="news[item]"/>
                </div>
                <div v-if="news.length == 1  && !isTabletLg">
                  <NewsCard :news="news[0]"/>
                </div>
        </div>
      </div>

      <div class="" v-if="pageType === 'financial'">
        <CommonTables :tableData="financialArr"/>
      </div>

      <div class="row news-row" v-if="pageType==='news'">
            <div class="col-lg-12 col-md-12">
                <masonry
                  :cols="{default: 4, 1180: 3, 768: 2, 576: 1}"
                  :gutter="20"
                >
                    <div :key="index" v-for="(item, index) in news">
                        <NewsCard :news="news[index]"/>
                    </div>
                </masonry>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import CompanyInfo from "../../components/CompanyInfo.vue";
import MenuSecondary from "../../components/MenuSecondary.vue";
import Profile from "../../components/Profile.vue";
import Chart from "../../components/Chart.vue";
import NewsCard from "../../components/News/NewsCard";
import CompanyCard from "../../components/CompanyCard.vue";
import MarketData from "../../components/MarketData.vue";
import CommonTables from "../../components/CommonTables.vue";
import { I18N } from "../../config";
import axios from "axios";
import Vue from "vue";

export default {
  layout: "instruments",
  components: {
    CompanyInfo,
    MenuSecondary,
    Profile,
    Chart,
    CompanyCard,
    NewsCard,
    MarketData,
    CommonTables
  },
  methods: {},
  data() {
    return {
      TABLET_LG_WIDTH: 1200,
      isTabletLg: false
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      if (this.TABLET_LG_WIDTH > window.innerWidth) {
        this.isTabletLg = true;
      } else {
        this.isTabletLg = false;
      }
    });

    if (this.TABLET_LG_WIDTH > window.innerWidth) {
      this.isTabletLg = true;
    } else {
      this.isTabletLg = false;
    }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
    metaTitleData() {
      if (this.lang === "ru") {
        return (
          " Акции " +
          this.itemCompany.asset.name +
          " цена на сегодня, график и прогноз стоимости " +
          this.itemCompany.asset.ticker
        );
      } else if (this.lang === "en") {
        return (
          this.itemCompany.asset.name +
          " Stock Price for Today, Quote " +
          this.itemCompany.asset.ticker +
          " and History"
        );
      } else {
        return (
          this.itemCompany.asset.name +
          " Stock Price for Today, Quote " +
          this.itemCompany.asset.ticker +
          " and History"
        );
      }
    },
    metaDescriptionData() {
      if (this.lang === "ru") {
        return (
          "Курс акций компании " +
          this.itemCompany.asset.name +
          " на сегодня и информация о дивидендах онлайн, график котировок и прогноз изменения цены."
        );
      } else if (this.lang === "en") {
        return (
          this.itemCompany.asset.name +
          " stock price for today, dividend information, online schedule of quote and forecast of price changes - to help investors."
        );
      } else {
        return (
          this.itemCompany.asset.name +
          " stock price for today, dividend information, online schedule of quote and forecast of price changes - to help investors."
        );
      }
    }
  },
  head() {
    return {
      title: this.metaTitleData,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.metaDescriptionData
        }
      ]
    };
  },
  async asyncData({ store, params, app }) {
    var itemCompany;
    var newsToken;
    var paramsId;
    var financialArr = [];
    var reportList = [];
    var realtimeData;

    if (params.detail.includes("summary-")) {
      paramsId = params.detail.substr(8);
    } else if (params.detail.includes("financial-")) {
      paramsId = params.detail.substr(10);
    } else if (params.detail.includes("news-")) {
      paramsId = params.detail.substr(5);
    }
    await app.$api.get("/company", {code: paramsId})
        .then(data => {
          itemCompany = data;
        })
        .catch(err => {});
    await app.$api.get("/report", { company_id: itemCompany.asset.company_id})
        .then(data => {
          financialArr = data.data;
        })
        .catch(err => {});
    store.commit("modules/instruments/companyState", itemCompany);
    store.commit(
      "modules/instruments/pageTypeState",
      params.detail.split("-")[0]
    );

    await axios.post(`https://api.ifinik.com/api/auth`)
    .then(res => {
      newsToken = res.data;
    })
    let news = await axios.get(
      "https://api.ifinik.com/api/news-by-new-company-id?newCompanyId=" +
        itemCompany.company.old_id,
      {
        headers: {
          "Content-Type": "application/json",
          Accept: "*/*",
          "Access-Control-Allow-Origin": "*",
          "Cache-Control": "no-cache",
          "X-User-Token": newsToken
        }
      }
    );
    return {
      itemCompany: itemCompany,
      news: news.data,
      params: paramsId,
      pageType: params.detail.split("-")[0],
      financialArr: financialArr
    };
  }
};
</script>

<style lang="scss" scoped>
.container {
  @media #{$mobile} {
    padding: 0;
    overflow: hidden;
  }
}

.news-row {
  @media #{$mobile} {
    padding: 0 16px;
  }
}
</style>
