<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12  order-lg-1 order-2">
          <!-- <Chart></Chart>
          <Dividends></Dividends> -->
          <!-- <Profile></Profile> -->
        </div>
        <div class="col-lg-4 col-md-12  pl-lg-1 pl-3 order-lg-2 order-1">
          <!-- <CompanyCard></CompanyCard>
          <MarketData></MarketData> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MenuSecondary from '../../components/MenuSecondary.vue'
import Chart from '../../components/Chart.vue'
import Dividends from '../../components/Dividends.vue'
import Profile from '../../components/Profile.vue'
import CompanyCard from '../../components/CompanyCard.vue'
import MarketData from '../../components/MarketData.vue'

import { mapActions } from 'vuex'

export default {
    components: {
        MenuSecondary,
        Chart,
        Dividends,
        Profile,
        CompanyCard,
        MarketData
    },
    fetch({redirect}) {
        redirect('/')
    },
    methods: {
        ...mapActions([
            'getTicker'
        ])
    },
    mounted() {
        this.getTicker()
    }
};
</script>

<style>

</style>
